/* General Style */
html {
 height: 90%;}
body {
 background-attachment: fixed;
 margin: 0px/*ОТСТУП СТРАНИЦЫ СВЕРХУ*/;
 background-color: #fff;
 font: 12pt/1.1em 'Arial narrow';
 text-align: justify;
 color: #000000;}
td, input, select, textarea {
 font: 100% 'Arial narrow';}
body a {
 color: #00448a;
 text-decoration: none;}
body a:hover {
 text-decoration: underline;
 color: #0000FF;}
* {}
img {
 border: 0px;}
p {
 text-indent: 20px;
 font-size: 100%;}
h1 {
 font-size: 120%;
 color:#00448a;}
h2 {
 font-size: 110%;}
a.noun img {
 margin: 2px;}
ul, li {
 margin: 0px;
 padding: 0px;}
.clearfix:before, .clearfix:after {
 content: "";
 display: table;}
.clearfix:after {
 clear: both;}
.clearfix:before, .clearfix:after {
 content: "";
 display: table;}
:focus {
 outline: none;}
textarea {
 resize: none;}
hr {
 height: 1px;
 background: #000000;
 border: 0px;
 overflow: hidden;}
iframe, object, embed {
 max-width: 100%;}
/* ------------------------------------------------------------- */
/*WRAP*/
body {
 background: #d7d7d7;
 padding: 0;}
body.base {
 background: url('http://radiohome.ru/bg-235.ng') top center repeat fixed #FFFFFF;/*ОБЩИЙ ФОН СТРАНИЦЫ*/
 height: 100%;}

body > .container {
 max-width: 88%;/*ШИРИНА СТРАНИЦЫ*/
 min-height: 100%;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 position: relative;
 margin: 0 auto;
 text-align: justify;
 padding: 0 0 0px;
 width: inherit;}
#puzadpn {
 margin-top: 0px;}
/*-------------------------------------------------------------*/

/*HEADER*/
header {
 padding: 3px 5px;
 margin-bottom: 0px;
 background: rgba(0,0,0,0);
 overflow: auto;
 position: relative;
}

.logo {
 width: 20%;
 float: left;
 background: url('/.s/t/1256/.png') left center no-repeat;
 padding: 0 0 0 2px;
 min-height: 8px;}

.logo h1 {
 font-size: 120%;
 padding: 0;
 margin: 3px 0 3px 0;
 color: #fff;
 font-weight: bold;
 line-height: 0,8em;}

.logo h1 a {
 color: #000;
 text-decoration: none;
 text-shadow: 0 0 30px #A52A2A;}

.logo h1 a:hover {
 text-shadow: 0 0 20px #A52A2A;} /*НАЗВАНИЕ ЛОГОТИПА ПРИ НАВЕДЕНИИ*/

.logo h2 {
 padding: 0;
 margin: 3px 0;
 color: #76c1ff;
 font-size: 90%;}

ul.soc-icons {
 list-style-type: none;
 position: absolute;
 right: 20px;
 top: 50%;
 margin-top: -15px;
 padding: 0;}

ul.soc-icons li {
 display: inline-block;}

ul.soc-icons li a {
 margin: 0 0 0 10px;
 text-align: left;
 display: block;
 width: 30px;
 height: 30px;
 text-indent: -9999px;
 overflow: hidden;
 background-image: url('/.s/t/1256/4.png');
 background-color: #999999;}

ul.soc-icons li a:hover {background-color: #00448a;}

.i-yt {background-position: -120px 0;}
.i-in {background-position: -150px 0;}
.i-out {background-position: -180px 0;}
.i-reg {background-position: -210px 0;}
.i-profile {background-position: -240px 0;}

#uncheader object, #uncheader embed {max-width: inherit;}

/*------*/
/* Menus */
nav {
 padding: 1px; /*РАССТОЯНИЕ ВОКРУГ ТЕКСТА ГОРИЗОНТАЛЬНОГО МЕНЮ*/
 margin-bottom: 3px; /*РАССТОЯНИЕ ПОСЛЕ ГОРИЗОНТАЛЬНОГО МЕНЮ И НИЖЕ*/
 text-align: center; /*РАСПОЛОЖЕНИЕ ТЕКСТА ГОРИЗОНТАЛЬНОГО МЕНЮ*/
 background: #cccccc; /*ЦВЕТ ПОД ТЕКСТОМ ГОРИЗОНТАЛЬНОГО МЕНЮ*/
}

nav ul.uMenuRoot {
 list-style: none outside none;
 margin: 0 auto;
 padding: 0;
}
nav ul ul {
 background: none repeat scroll 0 0 #f5f5f5;
 left: -1px;
 opacity: 0;
 position: absolute;
 top: 100%;
 transition: all 0.5s ease-out 0.35s;
 visibility: hidden;
 white-space: nowrap;
 z-index: 1;
 text-align: left;}

nav > ul > ul {border-left: 1px solid #00448a;}
nav ul ul ul {
 left: 100%;
 padding-left: 1px;
 top: 0;}

nav ul.uMenuRoot > li {
 list-style: none; 
 display: inline-block; 
 margin: 0; 
 padding: 0;
 position: relative;
 border-left: 1px solid #000000;}

nav ul.uMenuRoot > li:first-child {border: none;}
nav ul.uMenuRoot > li:last-child {border-right: 1px solid #000000;}

nav ul.uMenuRoot > li.has-submenu:hover {border-left: 0px solid #00448a;}
nav ul.uMenuRoot > li > ul {border-left: 0px solid #00448a;}
nav li {
 float: left;
 list-style: none outside none !important;
 position: relative;}

nav li.has-submenu > a:after {
 content: "";
 display: block;
 position: absolute;
 right: 1px;
 top: 0;}

nav li a:hover + ul {
 opacity: 1;
 visibility: visible;}

nav li:hover > ul {
 opacity: 1;
 visibility: visible;
}
nav li li {float: none;}

nav li li a {
 padding: 0 15px; 
 display: block;
 line-height: 24px;
 text-decoration: none; 
 color: #555;}

nav li li:hover {
 background: #f5f5f5;}

nav li li:hover > a, nav li li:hover a:hover {
 background: #e3e3e3; 
 color: #000; 
 text-decoration: none;}
/* ----- */
/* ------------------Site Menus------------------ */
ul.uMenuRoot > li > a {
 font-size: 120%;
 text-decoration: none;
 display: block;
 background: #FFFFFF;
 color: #8B4513;/*ЦВЕТ ТЕКСТА*/
 font-weight:bold;/*ЖИРНОСТЬ*/
 padding: 0 3px;
 margin: 0 0 0 0;
 line-height: 20px; /*ВЫСОТА МЕНЮ ПОД ШАПКОЙ*/
}
nav li:hover > a, ul.uMenuRoot > li > a:hover, ul.uMenuRoot > li > .uMenuItemA {
 background: url('/.s/t/1256/.png') no-repeat center top transparent;
 background: #FAEBD7; 
}
.show-menu {
 position: absolute;
 top: 30px;
 right: 30px;
 width: 50px;
 height: 20px;
 cursor: pointer;
 background: #00448a;
 display: none;
 color: #fff;
 text-align: center;
 font-size: 90%;
 padding: 5px 10px;
 font-weight: bold;
}
.show-menu:hover {background: #e5e5e5;color: #000;}
/* --------- */
/* uCoz HEADER */
#uncheader {
 padding: 0px;
 background-repeat: no-repeat;
 background-position: 50% 0px;
 margin: 0px auto 7px auto; 
 width: 100%;
 position: relative;
}

.uCozIntroText {
 width: 55%;
 margin:0;
 position: absolute;
 right: 0;
 bottom: 20px;
 padding: 25px;
 background: rgba(0,0,0,0.66);
 color: #fff;
 font-weight: normal;
}

.uCozIntroText h1 {font-size: 190%; font-weight: normal;line-height: 1em;margin: 0 0 10px 0;color: #fff;}
.uCozIntroText p {font-size: 90%;margin: 0;text-indent: 0;}

/*-------------CONTAINERS------------*/
.content-wrap>section {
 float: right;/*ГЛОБАЛЬНОЕ РАСПОЛОЖЕНИЕ БЛОКА*/
 width: 71%;/*ШИРИНА НОВОСТНОЙ СТРАНИЦЫ*/
 background: #FFFFFF;
 margin-bottom: 50px;
}
.content-wrap.wide-page>section {
 float: center;
 width: 40px;
}
.content-wrap>section ul {margin: 0 0 0 40px;}
.content-wrap>aside {
 width: 27%;/*ШИРИНА БЛОКОВ*/
 float: left;/*ГЛОБАЛЬНОЕ РАСПОЛОЖЕНИЕ БЛОКА*/
 margin-bottom: 50px;
}
.content {padding: 0px; }

.content-wrap>section ul {margin: 0 30px 0 40px;}
.u-addform ul {margin: 0!important;}
/*----------*/

/* FOOTER */
footer {
 padding: 1px 1px;
 background: url('http://radiohome.ru/bg-235.png') top center repeat fixed #FFFFFF;/*ОБЩИЙ ФОН СТРАНИЦЫ*/
 color: #fff;
 font-size: 100%;
 position: absolute;
 left: 0;
 right: 0;
 bottom: 0;
}

.copyright {
 width: 30%;
 float: left;
 text-align: left;
}
.powered-by {
 width: 30%;
 float: right;
 text-align: right;
} 
footer a {
 color: #777;/*ЦВЕТ ССЫЛКИ*/
}
footer a:hover {
 color: #999;/*ЦВЕТ ССЫЛКИ ПРИ НАВЕДЕНИИ*/
}

.ulogin-btn span.ulb-mid {white-space: nowrap;}

/* Module Part Menu */
.catsTable {
 border-spacing: 0px !important /*МЕЖСЫЛОЧНОЕ РАССТОЯНИЕ В МЕНЮ КАТЕГОРИЙ*/
}
.catsTd {
 padding: 1px;
 background: #FFFFFF; /*ФОН КАТЕГОРИЙ*/
 border-bottom: 1px solid rgba(0,0,0,0.8);
 font-size: 106%;
 font-weight: normal;
 text-align: center;
}
.catName {
}
.catNameActive {
 background: #D3D3D3;
 font-weight: bold;}
a.catName:link {
 color: #000000;
}
a.catName:visited {
 color: #000;
}
a.catName:hover {
 color: #0000FF;
 background: #000000;/*ЦВЕТ ССЫЛКИ В КАТЕГОРИИ МЕНЮ ПРИ НАВЕДЕНИИ*/
}
a.catName:active {
 color: #000;
}
a.catNameActive:link {
 }
a.catNameActive:visited {
 color: #0000CD;
}
a.catNameActive:hover {
 color: #0000FF;
}
a.catNameActive:active {
 color: #000;
}
/* ----------------------------------------------------------- */

/*Container blocks styles*/

.block {
 margin-bottom: 0px; /*РАССТОЯНИЕ МЕЖДУ БЛОКАМИ*/
}
.blocktitle {
 font: 120% 'Arial narrow';
 color: #000000;
 background:#FFFFFF;
 padding: 1px; /*СВОБОДНОЕ РАССТОЯНИЕ ВОКРУГ ТЕКСТА НАЗВАНИЯ БЛОКА*/
 margin: 0px 0px 1px 0px;
 text-align: center;
 font-weight: bold;
}
.blockcontent {
 padding: 2px; /*СВОБОДНОЕ РАССТОЯНИЕ ВОКРУГ ТЕКСТА СОДЕРЖИМОГО БЛОКА*/ 
 margin: 0;
 text-align: left;
 background: #FFFFFF;
}
.blockcontent ul, .blockcontent p, .blockcontent>div {margin: 5;padding: 0px;/* РАССТОЯНИЕ МЕЖДУ ССЫЛКАМИ В ИНФОРМЕРАХ */}
.blockcontent .archUl {}
.blockcontent li {padding: 2px 30px; list-style: inside;}
.blockcontent li a {}
.blockcontent li a:hover {}
.blockcontent a {}
.blockcontent a:hover {color: #4682B4;} /* ЦВЕТ ССЫЛКИ В ИНФОРМЕРАХ ПРИ НАВЕДЕНИИ */
/*-----------------------*/

/* Entries Style */
.eBlock {
 padding: 0px;
 background: #FFFFFF; /*ЦВЕТ ФОНА НОВОСТИ*/
 table-layout: fixed;
}
.eTitle {
 font: normal 13pt/15px 'Arial Narrow';
 font-weight:bold;
 color: #0000AC;
 text-align: left;
 padding: -6px 10px 10px 1px;
 background: #FFFFFF;
 min-height: -10px;
}
.eTitle a {
 color: #0000CD; /* ЦВЕТ НАЗВАНИЯ НОВОСТИ */
 text-decoration: none;
}
.eTitle a:hover {
 color: #A0522D; /* ЦВЕТ НАЗВАНИЯ НОВОСТИ ПРИ НАВЕДЕНИИ */
}
.eMessage {padding: 2px !important;} /*СВОБОДНОЕ РАССТОЯНИЕ ВОКРУГ ТЕКСТА В НОВОСТИ*/
.eMessage p, .eText p {margin: 3px 0;font-size: 10pt; text-align: justify !important; line-height: 1.1em;text-indent: 20px; overflow: hidden;}
.eMessage,.eText,.cMessage {word-wrap: break-word;}

.eMessage li, .eText li {margin-left: 15px;}
.eMessage img, .eText img {max-width: 100%;}
.eText {}
.eDetails, .eDetails1, .eDetails2 {margin: 0px 0px;padding: 1px;font-size: 8pt; color: #000000;background: #000000;}
.eDetails a, .eDetails1 a, .eDetails2 a {color: #000000;}
.eDetails a:hover, .eDetails1 a:hover, .eDetails2 a:hover {color: #000000;}
.eDetails ul {margin-left: 0 !important;}

.eDetails .ed-sep, .eDetails1 .ed-sep, .eDetails2 .ed-sep {display: none; margin: 0;}

.e-reads, .e-author, .e-date, .e-comments, .e-add, .e-rating, .e-loads, .e-category {
 display: inline-block;
 margin-right: 15px;
 padding-left: 22px;
 vertical-align: middle;
}

.e-reads .ed-title, 
.e-author .ed-title, 
.e-date .ed-title, 
.e-comments .ed-title, 
.e-add .ed-title, 
.e-rating .ed-title, 
.e-loads .ed-title, 
.e-category .ed-title {display: none;}

.e-reads {background: url("/.s/t/1256/8.png") no-repeat scroll left center rgba(0, 0, 0, 0);}
.e-author, .e-add {background: url("/.s/t/1256/9.png") no-repeat scroll left center rgba(0, 0, 0, 0);}
.e-date {background: url("/.s/t/1256/10.png") no-repeat scroll left center rgba(0, 0, 0, 0);}
.e-comments {background: url("/.s/t/1256/11.png") no-repeat scroll left center rgba(0, 0, 0, 0);}
.e-rating {background: url("/.s/t/1256/12.png") no-repeat scroll left center rgba(0, 0, 0, 0);}
.e-loads {background: url("/.s/t/1256/13.png") no-repeat scroll left center rgba(0, 0, 0, 0);padding-left: 15px;}
.e-category {background: url("/.s/t/1256/14.png") no-repeat scroll left center rgba(0, 0, 0, 0);}

.vep-video-block img {max-width: 100%;}
/* ------------- */

/* Entry Manage Table */
.manTable {}
.manTdError {}
.manTd1 {}
.manTd2 {}
.manTd3 {}
.manTdSep {}
.manHr {}
.manTdBrief {}
.manTdText {}
.manTdFiles {}
.manFlFile {}
.manTdBut {}
.manFlSbm {}
.manFlRst {}
.manFlCnt {}

div[id^="imblock"] > span:first-child {width: 17px;display: inline-block;}
/* ------------------ */

/* Comments Style */
.cAnswer, .cMessage {font-family: 'Tahoma';font-size: 90%;}
.cBlock1, .cBlock2 {border-top: 1px dashed #ccc; padding: 5px 0px;}
.cBlock1 {}
.cBlock2 {}
.uc-content {text-align: left;}
/* -------------- */

/* Comments Form Style */
.commTable {}
.commTd1 {}
.commTd2 {}
.commFl {}
.smiles {}
.commReg {}
.commError {}
.securityCode {}
/* ------------------- */

/* Archive Menu */
.archUl {}
.archLi {}
a.archLink:link {}
a.archLink:visited {}
a.archLink:hover {}
a.archLink:active {}
/* ------------ */

/* Archive Style */
.archiveCalendars {}
.archiveDateTitle {}
.archEntryHr {}
.archiveeTitle li {}
.archiveEntryTime {}
.archiveEntryComms {}
a.archiveDateTitleLink:link {}
a.archiveDateTitleLink:visited {}
a.archiveDateTitleLink:hover {}
a.archiveDateTitleLink:active {}
.archiveNoEntry {}
/* ------------- */

/* Calendar Style */
.calTable {width: auto; margin: 0 auto;}
.calTable td {padding: 4px 2px;}
.calMonth {}
.calWday ,.calWdaySe, .calWdaySu {text-transform: uppercase; color: #00448a;}
.calWday {}
.calWdaySe {font-weight: bold;}
.calWdaySu {font-weight: bold;}
.calMday {}
.calMdayA {background: #00448a; color: #fff;}
.calMdayA a {color: #fff;}
.calMdayIs {}
.calMdayIsA {background: #00448a; color: #fff;}
.calMdayIsA a {color: #fff !important;}
a.calMonthLink:link,a.calMdayLink:link {font-weight: bold;}
a.calMonthLink:hover,a.calMdayLink:hover {}
/* -------------- */

/* Poll styles */
.pollBut {}

.pollBody {}
.textResults {}
.textResultsTd {}

.pollNow {}
.pollNowTd {}

.totalVotesTable {}
.totalVotesTd {}
/* ---------- */

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:blue;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:red;}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:green;}
/* ---------------- */

/* Other Styles */
.replaceTable {}
.legendTd {}
.codeMessage, .quoteMessage {padding: 5px;}
.bbcodeBlock, .bbquoteBlock {margin: 5px;}
.gTableError, .commError {color: #f00;}
[id^=cid] > i {display:none !important;}
ul.cat-tree {padding: 10px !important;margin-left: 10px !important;}
ul.cat-tree {list-style: disc inside !important;}
ul.cat-tree ul.cat-tree {padding-bottom: 0 !important; padding-right: 0 !important;}
#tb_gtype_1 .manTd1 {white-space: nowrap;}
.shop-tabs .postRest1 {border-top: #A7A6A6 1px solid !important; border-right: #A7A6A6 1px solid !important;}
span[id^="iCode"] {white-space: nowrap;}
#shop-basket li {padding: 0 0 0 45px !important;list-style: none;}
/* ------------ */

/*Pages switches*/
.catPages1, .catPages2 {margin: 4px 0px;}
.swchItemA span, .swchItem span, .swchItemA1 span, .swchItem1 span {padding: 3px;}
/*--------------*/


/* ===== forum Start ===== */
/* General forum Table View */
.forumContent {}
.forumContent {padding: 1px;background: #FFFFFF;}
.forumContent a {text-decoration: none;}
.forumContent a:hover {text-decoration: underline;}
.forumcontent td {color: #555555;font-size: 80% !important;}
a.fNavLink {color: #999;text-decoration: underline;padding: 3px 6px;}
a.fNavLink:hover {color: #fff; background: #00448a;}
.gTable {background: #333;}
.gTable td {background: #fff;padding: 5px 7px;}
td.gTableTop {font-size: 80% !important;text-transform:uppercase;color: #fff;padding: 3px;background: #FFFFFF;}
td.gTableTop a {color: #000000;}
td.gTableSubTop, td .postTdTop {background: #3f4747;font-size: 90% !important;color: #fff;padding: 1px 10px;}
td.gTableSubTop a, td .postTdTop a {color: #ffffff;}
.gTableBody {}
.gTableBody1 {}
.gTableBottom {}
.gTableLeft {}
td.gTableRight {background: #f5f5f5;}
.gTableError {}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {}
td.forumIcoTd,td.forumThreadTd,td.forumPostTd {background: #f5f5f5;}
.forumLastPostTd,.forumArchive {}

a.catLink:link {}
a.catLink:visited {}
a.catLink:hover {}
a.catLink:active {}

.lastPostGuest,.lastPostUser,.threadAuthor {}
.archivedForum{}
/* ------------- */

/* forum Titles & other */
.forum {}
.forumDescr,.forumModer {font: 80% 'Arial'; color: #a1a1a1;}
.forumViewed {}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {color: #00448a;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {color: #00448a;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {color: #00448a;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {color: #00448a;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {}
.forumBarKw {}
a.forumBarA:link {}
a.forumBarA:visited {}
a.forumBarA:hover {}
a.forumBarA:active {}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {}
.fastNavCat {}
.fastNavCatA {}
.fastNavForumA {}
#thread_search_field{width: 150px!important;margin-top: 6px;}
/* -------------------------- */

/* forum Page switches */
.switches {}
.pagesInfo {}
.switch {}
.switchActive {}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {}
td.threadIcoTd,td.threadPostTd,td.threadViewTd {background: #f5f5f5;}
.threadLastPostTd {}
.threadDescr {font: 10px 'Arial'; color: #a1a1a1;}
.threadNoticeLink {}
.threadsType {}
.threadsDetails {}
.forumOnlineBar {}

a.threadPinnedLink:link {}
a.threadPinnedLink:visited {}
a.threadPinnedLink:hover {}
a.threadPinnedLink:active {}

a.threadLink:link {font: 12px 'Arial';color: 00448a;}
a.threadLink:visited {font: 12px 'Arial';color: 00448a;}
a.threadLink:hover {font: 12px 'Arial';color: 00448a;}
a.threadLink:active {font: 12px 'Arial';color: 00448a;}

.postpSwithces {}
.thDescr {}
.threadFrmBlock {}
/* ------------------- */

/* forum Posts View */
.postTable {}
.postPoll {}
.postPoll td {border: 0px !important;}
.postFirst {border: 0px !important;}
.postRest1 {border: 0px !important;}
.postRest2 {border: 0px !important;}
.postSeparator {}

.postTdTop {}
.postBottom {font-size: 10px !important;}
.postBottom td {border: 0px;padding: 0px 5px !important;}
.postBottom img, .postBottom input {vertical-align: middle;}
.postUser {font-size: 12px; font-weight: bold;}
.postTdInfo {text-align: center;}
.postRankName {}
.postRankIco {}
.reputation {}
.signatureHr {}
.posttdMessage {text-align: justify;padding: 8px !important;line-height: 18px;}

.pollQuestion {}
.pollButtons,.pollTotal {}
.pollSubmitBut,.pollreSultsBut {}
.pollSubmit {}
.pollEnd {}

.codeMessage {}
.quoteMessage {}

.signatureView {}
.edited {}
.editedBy {}

.statusBlock {}
.statusOnline {}
.statusOffline {}
/* ------------------ */

/* forum AllInOne Fast Add */
.newThreadBlock {}
.newPollBlock {}
.newThreadItem {}
.newPollItem {}
/* ----------------------- */

/* forum Post Form */
.pollBut, .loginButton, .searchSbmFl, .commSbmFl, .signButton {}

.codeButtons {}
.codeCloseAll {}
.postNameFl,.postDescrFl {}
.postPollFl,.postQuestionFl {}
.postResultFl {}
.postAnswerFl {}
.postTextFl {}
.postUserFl {}

.pollHelp {}
.smilesPart td {border: 0px !important;}
/* ----------------- */
.funcLink {font: 15px 'Tahoma';color: #00448a;}
/* ====== forum End ====== */

/*--------------------- INPUTS start ---------------------*/
input[type=submit], input[type=reset], input[type=button] {
 color: #fff;
 border: none;
 padding: 3px 15px;
 font-size: 9pt;
 background: #00448a;
 cursor: pointer;
}
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {background: #ff2f0c;}
input[type=submit]:active, input[type=reset]:active, input[type=button]:active {}
input[type=text], input[type=password], textarea, select {background: #d7d7d7; border: none; font-size: 11px; color: #5e5e5e;padding: 3px; -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;}
#mchatBtn, input.codeButtons, input.button {padding-left: 0px;padding-right: 0px;}
.queryField {width: auto !important;}
.commFl {width: 100%;}
.manTable select {max-width: 300px;}
textarea.mchat {vertical-align: bottom;}
#MCaddFrm {margin: 0 10px !important;}
.myWinCont [type=submit] {color: #fff !important;}


/*--------------------- INPUTS end ---------------------*/

/*--------------------- POPUP start ---------------------*/
.popup {margin: 10px;text-align: left;
 padding: 0;}

.popup a {color: #00448a;}
.popup a:hover {color: #000;}
.popuptitle {height: 34px;
 line-height: 34px; 
 padding: 10px; 
 font-size: 16pt;
 background:#00448a;
 color: #fff; 
 margin-bottom: 7px;
}
.popuptitle2 {background: url(/.s/t/1256/15.png) top right no-repeat;padding-left: 15px;font-size: 16px; font-weight: bold;text-transform: uppercase; text-shadow: 0px 1px 0px #fff;color: #5e5e5e;}
.popupbody {padding: 10px 15px;font-size: 11px; font-family: 'Tahoma'; background: #fff;}
.popupbody a, .popupbody td {font-size: 11px; font-family: 'Tahoma';}
.popup .allUsersBtn, .popup .uSearchFlSbm {background: #00448a; border: 0px; color: #fff;font-size: 12px; font-family: 'Arial';border-radius: 8px;padding-top: 2px; padding-bottom: 2px;margin: 0px 5px;cursor: pointer;}
.popup .allUsersBtn:hover, .popup .uSearchFlSbm:hover {background: #3b9194;}
/*--------------------- POPUP end ---------------------*/

.gTable.cat-blocks {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 background-color: #fff;
}
.gTable.cat-blocks div {
 font-size: 15px!important;
 color: #00448A;
}
.cat-blocks div:hover {
 color: #000;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1000px) {
 .navbar-share {display: none;}
 body > .container {max-width: 96%;}
 .content-wrap>section {width: 71%;}
 .content-wrap>aside {width: 28%;}
 .content {padding: 10px;} 
 .entTd {display: block; clear: both;}
 #uCozHeaderMain {width: 100% !important;}
 
 nav {font-size: 90%;}
 
 ul.uMenuRoot > li > a {line-height: 40px;}
 ul.uMenuRoot li li a {line-height: 20px;}
 nav ul.uMenuRoot ul ul {
 display: block;
 padding-left: 0;
 position: static;
 }
 nav ul.uMenuRoot li:hover ul {
 opacity: 1;
 visibility: visible;
 } 
 nav li li a {padding: 5px 10px;display: block; }
 ul.uMenuRoot > li.has-submenu > a:after {
 content: "+";
 display: block;
 position: absolute;
 right: 5px;
 top: 0;
 }
 nav li.has-submenu > a:after {content: "";}
 ul.uMenuRoot ul ul a {margin-left: 40px !important;} 
 ul.uMenuRoot ul ul ul a {margin-left: 70px !important;} 
 .v-entry, .ve-screen {width:auto;}
 #uEntriesList {text-align: center;}
 #uEntriesList > li {padding: 5px; width: auto !important;}
}

@media screen and (max-width: 780px) {
 header {padding: 5px 20px; margin-bottom: 0;}
 .content-wrap>section, .forumContent {margin-top: 7px;}
 .logo {float: none; clear: both; padding: 10px 0 10px 70px; width: auto; margin-right: 80px;}
 .soc-icons,
 #uncheader{display: none;}
 .show-menu {display: block;}
 body > .container {padding-bottom: 68px;}
 #puzadpn {display: none;}
 
 nav {
 background: none repeat scroll 0 0 #fff;
 display: none;
 opacity: 0;
 visibility: hidden;
 text-align: left;
 padding: 10px;
 margin-bottom: 0;
 }
 nav.nav-opened {
 display: block;
 opacity: 1;
 visibility: visible;
 
 }
 nav ul.uMenuRoot {
 white-space: nowrap;
 margin: 0;
 display: block;
 }
 nav ul.uMenuRoot li {
 display: block;
 float: none;
 border: none;
 }
 ul.uMenuRoot > li > a {line-height: 20px; padding: 5px 10px; font-weight: bold;}
 nav ul.uMenuRoot > li:last-child {border-right: none;}
 nav ul.uMenuRoot > li.has-submenu:hover {border-left: none;}
 
 nav ul.uMenuRoot li a:hover, nav ul.uMenuRoot li a.uMenuItemA {background: none repeat scroll 0 0 #e3e3e3;}
 nav li:hover > a, ul.uMenuRoot > li > a:hover, ul.uMenuRoot > .uMenuItemA {background: #fff;}
 nav ul.uMenuRoot li.has-submenu a:after {
 content: "";
 display: inline;
 position: static;
 }
 nav ul.uMenuRoot ul {
 background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
 display: block;
 opacity: 1;
 padding-left: 0 !important;
 position: static;
 visibility: visible;
 }
 nav ul.uMenuRoot ul a {
 padding-left: 35px !important;
 }
 nav ul.uMenuRoot ul ul a {
 padding-left: 70px !important;
 } 
 
 .content-wrap>section {float: none; width: 100%;}
 .content-wrap>aside {width: 100%; float: none;}
 #uncheader {margin-bottom: 0px;}
 #uCozHeaderMain {background-size: cover !important; height: 250px !important;}
 .uCozIntroText {width: 100%;left: 0px;bottom: 0px;padding: 0;}
 .uCozIntroText h1 {margin: 20px 20px 10px 20px;}
 .uCozIntroText p {margin: 10px 20px 20px 20px;}
 
 .copyright, .powered-by {float: none; width: 100%; text-align: center; margin: 5px 0;}
 .eBlock {padding: 0;}
 
 .shop-tabs {border-bottom: 0!important;}
 .shop-tabs li {border-bottom: 1px solid #A7A6A6 !important;}
}
@media screen and (max-width: 480px) {
 .show-menu {
 position: static;
 width: auto;
 height: auto;
 }
 body > .container {padding-bottom: 75px;}
}
/*------ UI fix ------*/
.x-unselectable {
 position: relative;
}
#uCatsMenu7 {
 top: 100% !important;
 left: 0 !important;
}
#sFltLst {
 top: inherit !important;
 left: inherit !important;
 bottom: inherit !important;
}
/*------ UI fix ------*/