BODY {
FONT-FAMILY: verdana,arial,helvetica,sans-serif; 
FONT-SIZE: 10px;
PADDING-RIGHT: 0px; 
PADDING-LEFT: 0px; 
BACKGROUND: #fff; 
PADDING-BOTTOM: 0px; 
MARGIN: 0px;
COLOR: #000; 
PADDING-TOP: 8px; 
TEXT-ALIGN: center
}

a:link,a:active,a:visited,a.postlink{color:#006699;text-decoration:none}
a:hover{color:#dd6900}


#ipbwrapper {
	MARGIN: 10px auto; WIDTH: 99%; TEXT-ALIGN: left
}

#submenu {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: 0px; BACKGROUND: url(http://msevm.com/css/tile_sub-lite.gif); MARGIN: 0px; BORDER-LEFT: #fff 1px solid; COLOR: #3a4f6c; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 28px; TEXT-ALIGN: right
}

.menu2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(http://msevm.com/css/tile_sub-lite.gif); FLOAT: right; PADDING-BOTTOM: 7px; MARGIN: 0px; BORDER-LEFT: #dce3ee 1px solid; WIDTH: auto; PADDING-TOP: 7px; LETTER-SPACING: 0px
}

.menu {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(http://msevm.com/css/tile_sub-lite.gif); FLOAT: left; PADDING-BOTTOM: 7px; MARGIN: 0px; BORDER-LEFT: #dce3ee 1px solid; WIDTH: auto; PADDING-TOP: 7px; LETTER-SPACING: 0px
}


TABLE {
	FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #222; LINE-HEIGHT: 135%
}

.bodyline {
background:#ffffff;border:1px solid #98aab1
}

TABLE.b {
border-color: #bb88ff;
border-style: solid;
border-width: 1px;
}

TD.gray  {
BACKGROUND-COLOR: #eeeeee; FONT-SIZE: 12px;
TEXT-DECORATION: none; FONT-WEIGHT: bold
}

TD.gray2  {
BACKGROUND-COLOR: #eeeeee; 
}


;OLDRADIO.SU

#gd {
    background: #f5f5f5;   
    padding-top: 4px;
    font-size:12px;
    PADDING-RIGHT: 7px; PADDING-LEFT: 7px;
}

#gdw {
    background: #ffffff;   
    padding-top: 4px;
    font-size:12px;
    PADDING-RIGHT: 7px; PADDING-LEFT: 7px;
}


#bar {
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding-top: 5px;
    padding-bottom:4px;
}


.menur {
    border: 0 solid #ccc;
}

.menue {
    border: 0 solid #ccc;
    background: #e1e1e1;   

}


#bge {
    background: #eee;   
    padding-top: 4px;
    padding-bottom:4px;
    font-size:12px;
PADDING-RIGHT: 7px; PADDING-LEFT: 7px;
}

#bgr {
    background: #fff;   
    padding-top: 4px;
    padding-bottom:4px;
    font-size:8px;
    font-weight: normal;
PADDING-RIGHT: 7px; PADDING-LEFT: 7px;
}
