.main { font-family: "Times New Roman", Times, serif; 
	font-size: 100%; 
		font-style: normal; line-height: normal; 
			font-weight: normal; font-variant: normal; 
				text-transform: none;}
.header2 { font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px; 
			font-style: normal; 
				line-height: normal; 
					font-weight: bold; 
						font-variant: normal; 
							text-transform: none; 
								color: #999999; } 
.header3 { font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
		font-style: normal; 
			line-height: normal; 
				font-weight: normal; 
					font-variant: normal; 
						text-transform: none; 
							color: 00006A; } 
.header4 { font-family: "Times New Roman", Times, serif; 
	font-size: 16px; 
		font-style: normal; 
			line-height: normal; 
				font-weight: bold; 
					font-variant: normal; 
						text-transform: none;  } 
.header6 {  font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
		font-style: normal; 
			line-height: normal; 
				font-weight: bold; 
					font-variant: normal; 
						color: #CC0000; }
.header1 { font-family: "Times New Roman", Times, serif; 
	font-size: 24px; 
		font-style: normal; 
			font-weight: bold; 
				color: #ffff00; ; 
					line-height: normal; 
						font-variant: normal; text-transform: none; 							
							background-color: #4754F3} 
.closewindow { font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
		font-weight: bolder; ; text-decoration: underline; font-style: normal} 
.header0 { font-family: "Times New Roman", Times, serif; 
	font-size: 24px; 
		font-style: normal; 
			font-weight: bold; 
				color: #e2a500; ; 
					line-height: normal; 
						font-variant: normal; 
							text-transform: none}

/******* hyperlink and anchor tag styles *******/

a:link, a:visited{
	color: #005FA9;
	text-decoration: none;
}

a:hover{
	 color:#000000; text-decoration:none;
}
a:active { color:#000000; text-decoration:none;}

/************** header tag styles **************/

.h1{
 font: bold 120% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

.h2{
 font: bold 114% Arial,sans-serif;
 color: #006699;
 margin: 0px;
 padding: 0px;
}

.h3{
 font: bold 100% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

.h4{
 font: 100% Arial,sans-serif;
 color: #333333;
 margin: 0px;
 padding: 0px;
}

.h5{
 font: 100% Arial,sans-serif;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

/************ sectionLinks styles **************/

#pageNav{
	float: left;
	width:178px;
	padding: 0px;
	background-color: #F5f7f7;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	font: small Verdana,sans-serif;
}


#sectionLinks{
	margin: 0px;
	padding: 0px;
	font-size: 80%;

}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}

#sectionLinks a:link, #sectionLinks a:visited {
	display: block;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
	background-image:  url("bg_nav.jpg");
	font-weight: bold;
	padding: 3px 0px 3px 10px;
	color: #21536A;
}

#sectionLinks a:hover{
	border-top: 1px solid #cccccc;
	background-color: #DDEEFF;
	background-image: none;
	font-weight: bold;
	text-decoration: none;
}

/***********************************************/
/* Layout Divs                                 */
/***********************************************/
body1,td1 {
color: #000000;font-family:tahoma, verdana, helvetica; font-size: 11px; font-weight:none;
}
a { color:#006699; text-decoration:none; font-weight:bold;}
a:hover { color:#000000; text-decoration:none;}
a:active { color:#000000; text-decoration:none;}

.Menu
{width: 100%; height: 28px; padding:2 5 3 2; border-right: buttonshadow 1px solid; 
	border-top: #f5f5f5 1px solid; border-left: #f5f5f5 1px solid; border-bottom: buttonshadow 1px solid; 
		background-color: buttonface; cursor:hand; color:#000000;}
.Option
{width: 100%; height: 24px; padding:2 5 3 16; border: 1 1 1 1 solid #ffffff; background-color: #f5f5f5; 
	cursor:hand;}
.Options {padding:1 1 1 1}

/************* breadCrumb styles ***************/

#breadCrumb{
	padding: 5px 0px 5px 10px;
	font: small Verdana,sans-serif;
	color: #AAAAAA;
}

#breadCrumb a{
	color: #AAAAAA;
}

#breadCrumb a:hover{
	color: #005FA9;
	text-decoration: underline;
}