.menuTitle
{
    font-weight: bold;
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
}
.menuText
{
    font-size: 0.6em;
    font-weight: bold;
    color: #FFFFFF;
}
.ssi
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.ssi2
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.ssi3
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

.fsm
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

a.menuTextLink:visited, a.menuTextLink:link
{
    font-size: 0.6em;
    text-decoration: none; 
    color: #013DA4;
}
a.menuTextLink:Hover
{
    color: #000000;
}
#background-layer img {
    width:  100%;
}
/*****************************************************
Text and anchors used in the search
*****************************************************/
.searchPager
{
    font-size : 0.7em;
    font-weight: bold;
}
.searchItem
{
    background-color: #DDEEFF; 
}
.searchAlternatingItem
{
    background-color: #FFFFFF;
}
.computeroutput, .traceback, .pykeyword, .pystring, .pycomment, .pyfunction, .pyclass {
	background-color:white
	}
.computeroutput {
	color:teal
}
	
.traceback {
	color:red
}

.pykeyword {
	color:navy;
}

.pystring {
	color:olive
}

.pycomment {
	color:green;
	font-style:italic
	}
	
.pyfunction {
	color:teal;
}

.pyclass {
	color:blue;
}

/*****************************************************
Default separator style for PostList
*****************************************************/
td.flatViewSpacing
{
    height: 2px;
    background-color: #80B7FF;
}
/*****************************************************
Table Header and cell definitions
*****************************************************/
th
{
    background-image: url(./images/forumHeaderBackground.gif);
    background-color: #4455aa
}
td.forumHeaderBackgroundAlternate
{
    background-image: url(./images/forumHeaderBackgroundAlternate.gif);
    background-color: #EBEDF6;
}

.folder {
 PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; CURSOR: hand; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.folder:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; CURSOR: hand; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.leaf:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; CURSOR: hand; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.leaf {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; CURSOR: hand; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.folder:hover {
	CURSOR: hand
}
.leaf:hover {
	CURSOR: hand
}

/*****************************************************
Body
*****************************************************/
body 
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    /*background-color: #FFFFFF; */
    scrollbar-face-color: #DEE3E7;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #DEE3E7;
    scrollbar-3dlight-color: #D1D7DC;
    scrollbar-arrow-color:  #006699;
    scrollbar-track-color: #EFEFEF;
    scrollbar-darkshadow-color: #98AAB1;
}




/*****************************************************
Validation Text
*****************************************************/
.validationWarningSmall
{
    color: Red;
    font-size : 0.7em;
}

/*****************************************************
General Text
*****************************************************/
.normalTextSmall 
{ 
    font-size : 0.7em;
}

.normalTextSmall2 
{ 
    font-size : 0.8em;
}

.normalTextSmallBold
{ 
    font-size : 0.7em;
    font-weight: bold;
}

.normalTextSmaller
{
    font-size: 0.8em;
}

.normalTextSmall, .normalTextSmallBold, .normalTextSmaller
{ 
    color : #000000; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.normalTextSmall, .normalTextSmallBold, .normalTextSmaller
{ 
    color : #000000; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


/*****************************************************
Text used on tables with a background
*****************************************************/
.tableHeaderText
{
    color: white;
    font-size: 0.7em;
    font-weight:bold;
}
.tableHeaderText2
{
    color: white;
    font-size: 1.4em;
    font-weight:bold;
	background: #1FD79D;
}
.tableHeaderText21
{
    color: white;
    font-size: 1.8em;
    font-weight:bold;
	background: #1FD79D;
}
.tableHeaderTextComments
{
    color: white;
    font-size: 0.7em;
    font-weight:bold;
}
.tableHeaderNewsTopText
{
    color: #317326;
    font-size: 0.5em;
    font-weight:bold;
	background: #1FD79D;
}

/*****************************************************
Border used around tables
*****************************************************/
.tableBorder
{
    border: 1px #013DA4 solid; 
    /*background-color: #FFFFFF;*/
}
.tableBorderHeader
{
    border: 1px #013DA4 solid; 
    background-color: #FFFFFF;
}
.tableBorderLeft
{
    border: 1px #013DA4 solid; 
    background-color: #DAFFFF;
}
.tableBorderGreen
{
    border: 1px #013DA4 solid; 
    background-color: #FB7CFF;
}
.tableBorderContent
{
    border: 1px #013DA4 solid; 
}
.tableBorderContentRed
{
    border: 1px red solid; 
}
.tableBorderContentYellow
{
    border: 1px yellow solid; 
}
.tableBorderContentGreen
{
    border: 1px green solid; 
}

.tableBorderComments
{
    border: 1px #0007FC solid; 
    background-color: #DAFFFF;
}

/*****************************************************
Main forum colors
*****************************************************/
td.forumRow
{
    background-color: #DDEEFF;
}

td.forumRowWhite
{

    background-color: #FFFFFF;
}

td.forumRowBlue2
{
    background-color: #EFFFFF; 
}


td.forumAlternate
{
    background-color: #DAFFFF;
}

/*****************************************************
Background color and text used in threaded view
*****************************************************/
td.threadTitle
{
    background-color: #D4D9EC;
}

.threadDetailTextSmall
{
    color: #0055E7;
    font-size: 0.7em;
}

.threadDetailTextSmallBold
{
    color: #0055E7;
    font-size: 0.7em;
    font-weight: bold;
}

td.forumRowHighlight
{
    background-color: #D4D9EC;
}

select
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    background-color: #DAE7FD;
    border-color: Black;
}

textarea
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    background-color: White;
    border-color: Black;
}

/*****************************************************
Menu Controls
*****************************************************/
A.linkMenuSink
{
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

TD.popupMenuSink
{
    position: relative;
}

DIV.popupMenu
{
    border: 1px solid blue;
}

.code2 {
background-color: #DAFFFa;
font-family: monospace;
font-weight: bold;
color: black;
width:70%;
font-size: 16px; 
}

.code22 {
background-color: #DAFFFa;
font-family: monospace;
font-weight: bold;
color: black;
width:100%;
font-size: 16px; 
}

.code3 {
background-color: #FFFFFa;
font-family: monospace;
font-weight: bold;
color: black;
width:70%;
font-size: 16px; 
}

.code33 {
background-color: #0FFFFa;
font-family: monospace;
font-weight: bold;
color: black;
width:90%;
font-size: 16px; 
}



.code {
background-color: #cddcdc;
border: 1px black solid;
font-family: monospace;
color: black;
}


.fragments {white-space: pre ; font-family:monospace; color:maroon ; background-color: #dddddd ; margin-left:10%; margin-right:10%;}


