h1 {font: bold 13pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
color: #4E5F73;
display: inline;
}

h2 {
font: bold 12pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
color: #4E5F73;
display: inline;
}

h3 {
font: bold 12pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
color: #000000;
display: inline;
}

h4 {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
background-color: inherit;
color: #000000;
display: inline;
}

.content img {

background-color: #fff;
border: 1px solid #a9a9a9;
display: inline;
float: left;
margin: 2px 10px 5px 0px;
padding: 5px;
position: relative;
}

.once img {

background-color: #fff;
border: 1px solid #a9a9a9;
display: inline;
margin: 2px 2px 2px 2px;
padding: 5px;
position: relative;
}