.mstheme     { nav-banner-image: url(acorbanr.gif); separator-image: url(acorrule.gif); 
               list-image-1: url(acorbul1.gif); list-image-2: 
               url(acorbul2.gif); list-image-3: url(acorbul3.gif); 
               navbutton-horiz-pushed: url(acorhsel.gif); 
               navbutton-horiz-normal: url(acorhbtn.gif); 
               navbutton-horiz-hovered: url(acorhhov.gif); 
               navbutton-vert-pushed: url(acorvsel.gif); 
               navbutton-vert-normal: url(acorvbtn.gif); 
               navbutton-vert-hovered: url(acorvhov.gif); 
               navbutton-home-normal: url(acorhom.gif); 
               navbutton-home-hovered: url(acorhomh.gif); 
               navbutton-home-pushed: url(acorhom.gif); navbutton-up-normal: 
               url(acorup.gif); navbutton-up-hovered: url(acoruph.gif); 
               navbutton-up-pushed: url(acorup.gif); navbutton-prev-normal: 
               url(acorbck.gif); navbutton-prev-hovered: url(acorbckh.gif); 
               navbutton-prev-pushed: url(acorbck.gif); 
               navbutton-next-normal: url(acornxt.gif); 
               navbutton-next-hovered: url(acornxth.gif); 
               navbutton-next-pushed: url(acornxt.gif) }
.mstheme-bannertxt { font-size: 6; color: rgb(255,255,255); font-family: Times New Roman }
.mstheme-horiz-navtxt { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(255,255,255) }
.mstheme-vert-navtxt { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(255,255,255) }
.mstheme-navtxthome { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(255,255,255) }
.mstheme-navtxtup { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(255,255,255) }
.mstheme-navtxtprev { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(255,255,255) }
.mstheme-navtxtnext { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(255,255,255) }
ul           { list-style-image: url('acorbul1.gif') }
ul ul        { list-style-image: url('acorbul2.gif') }
ul ul ul     { list-style-image: url('acorbul3.gif') }
a:link       { color: rgb(153,51,0) }
a:visited    { color: rgb(102,102,102) }
a:active     { color: rgb(51,102,153) }
body         { color: rgb(0,0,0); background-color: rgb(255,255,255) }
h1           { color: rgb(0,0,102) }
h2, marquee  { color: rgb(0,0,102) }
h3           { color: rgb(0,0,102) }
h4           { color: rgb(0,0,102) }
h5           { color: rgb(0,0,102) }
h6           { color: rgb(0,0,102) }
button       { background-color: rgb(0,0,102); color: white; border-color: rgb(255,255,255) }
label, .MSTHEME-LABEL { color: rgb(0,0,0) }
textarea     { color: black; border-color: rgb(102,102,102) }
fieldset     { color: black; border-color: rgb(102,102,102) }
legend       { color: rgb(0,0,102) }
select       { color: black; border-color: rgb(102,102,102) }
table        { table-border-color-light: rgb(255,255,255); table-border-color-dark: 
               rgb(102,102,102); color: rgb(0,0,0); border-color: 
               rgb(102,102,102) }
caption      { color: rgb(0,0,102) }
th           { color: rgb(0,0,0); border-color: rgb(102,102,102) }
hr           { color: rgb(0,0,102) }
td           { border-color: rgb(102,102,102) }
.mstheme-bannertxt a:active { color: rgb(255,255,255) }
.mstheme-bannertxt a:link { color: rgb(255,255,255) }
.mstheme-bannertxt a:visited { color: rgb(255,255,255) }
.mstheme-bannertxt-g { font-size: 6; color: rgb(255,255,255); background-image: url('corbanr.gif'); 
               font-family: Times New Roman }
.mstheme-bannertxt-g a:active { color: rgb(255,255,255) }
.mstheme-bannertxt-g a:link { color: rgb(255,255,255) }
.mstheme-bannertxt-g a:visited { color: rgb(255,255,255) }
.mstheme-bannertxt-s { font-size: 6; color: rgb(255,255,255); font-family: Times New Roman }
.mstheme-bannertxt-s a:active { color: rgb(255,255,255) }
.mstheme-bannertxt-s a:link { color: rgb(255,255,255) }
.mstheme-bannertxt-s a:visited { color: rgb(255,255,255) }
.mstheme-horiz-navtxt a:active { color: rgb(51,51,102) }
.mstheme-horiz-navtxt a:link { color: rgb(51,51,102) }
.mstheme-horiz-navtxt a:visited { color: rgb(51,51,102) }
.mstheme-horiz-navtxt-g { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(51,51,102); 
               background-image: url('corhbtn.gif') }
.mstheme-horiz-navtxt-g a:active { color: rgb(51,51,102) }
.mstheme-horiz-navtxt-g a:link { color: rgb(51,51,102) }
.mstheme-horiz-navtxt-g a:visited { color: rgb(51,51,102) }
.mstheme-horiz-navtxt-gs { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(51,51,102); 
               background-image: url('corhsel.gif') }
.mstheme-horiz-navtxt-gs a:active { color: rgb(51,51,102) }
.mstheme-horiz-navtxt-gs a:link { color: rgb(51,51,102) }
.mstheme-horiz-navtxt-gs a:visited { color: rgb(51,51,102) }
.mstheme-navtxthome a:active { color: rgb(255,255,255) }
.mstheme-navtxthome a:link { color: rgb(255,255,255) }
.mstheme-navtxthome a:visited { color: rgb(255,255,255) }
.mstheme-navtxthome-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(255,255,255); 
               background-image: url('corhom.gif') }
.mstheme-navtxthome-g a:active { color: rgb(255,255,255) }
.mstheme-navtxthome-g a:link { color: rgb(255,255,255) }
.mstheme-navtxthome-g a:visited { color: rgb(255,255,255) }
.mstheme-navtxtnext a:active { color: rgb(255,255,255) }
.mstheme-navtxtnext a:link { color: rgb(255,255,255) }
.mstheme-navtxtnext a:visited { color: rgb(255,255,255) }
.mstheme-navtxtnext-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(255,255,255); 
               background-image: url('cornxt.gif') }
.mstheme-navtxtnext-g a:active { color: rgb(255,255,255) }
.mstheme-navtxtnext-g a:link { color: rgb(255,255,255) }
.mstheme-navtxtnext-g a:visited { color: rgb(255,255,255) }
.mstheme-navtxtprev a:active { color: rgb(255,255,255) }
.mstheme-navtxtprev a:link { color: rgb(255,255,255) }
.mstheme-navtxtprev a:visited { color: rgb(255,255,255) }
.mstheme-navtxtprev-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(255,255,255); 
               background-image: url('corbck.gif') }
.mstheme-navtxtprev-g a:active { color: rgb(255,255,255) }
.mstheme-navtxtprev-g a:link { color: rgb(255,255,255) }
.mstheme-navtxtprev-g a:visited { color: rgb(255,255,255) }
.mstheme-navtxtup a:active { color: rgb(255,255,255) }
.mstheme-navtxtup a:link { color: rgb(255,255,255) }
.mstheme-navtxtup a:visited { color: rgb(255,255,255) }
.mstheme-navtxtup-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(255,255,255); 
               background-image: url('corup.gif') }
.mstheme-navtxtup-g a:active { color: rgb(255,255,255) }
.mstheme-navtxtup-g a:link { color: rgb(255,255,255) }
.mstheme-navtxtup-g a:visited { color: rgb(255,255,255) }
.mstheme-topbar-font a:active { color: rgb(255,255,255) }
.mstheme-topbar-font a:link { color: rgb(255,255,255) }
.mstheme-topbar-font a:visited { color: rgb(255,255,255) }
.mstheme-topbar-font-g { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(255,255,255); 
               background-image: url('corglobl.gif') }
.mstheme-topbar-font-g a:active { color: rgb(255,255,255) }
.mstheme-topbar-font-g a:link { color: rgb(255,255,255) }
.mstheme-topbar-font-g a:visited { color: rgb(255,255,255) }
.mstheme-vert-navtxt a:active { color: rgb(51,51,102) }
.mstheme-vert-navtxt a:link { color: rgb(51,51,102) }
.mstheme-vert-navtxt a:visited { color: rgb(51,51,102) }
.mstheme-vert-navtxt-g { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(51,51,102); 
               background-image: url('corvbtn.gif') }
.mstheme-vert-navtxt-g a:active { color: rgb(51,51,102) }
.mstheme-vert-navtxt-g a:link { color: rgb(51,51,102) }
.mstheme-vert-navtxt-g a:visited { color: rgb(51,51,102) }
.mstheme-vert-navtxt-gs { font-family: Arial, Arial, Helvetica; font-size: 2; color: rgb(51,51,102); 
               background-image: url('corvsel.gif') }
.mstheme-vert-navtxt-gs a:active { color: rgb(51,51,102) }
.mstheme-vert-navtxt-gs a:link { color: rgb(51,51,102) }
.mstheme-vert-navtxt-gs a:visited { color: rgb(51,51,102) }
.mstheme     { navbutton-background-color: rgb(255,255,255); top-bar-button: 
               url(corglobl.gif) }
.mstheme-topbar-font { font-family: Arial, Arial, Helvetica; font-size: 1; color: rgb(255,255,255) }
body         { font-family: Arial, Arial, Helvetica; background-image: url('corbkgnd.gif') }
h1           { font-weight: normal; font-style: normal; font-size: 24pt; font-family: 
               Times New Roman }
h2           { font-weight: normal; font-style: normal; font-size: 18pt; font-family: 
               Times New Roman }
h3           { font-weight: normal; font-style: normal; font-size: 14pt; font-family: 
               Times New Roman }
h4           { font-weight: normal; font-style: normal; font-size: 12pt; font-family: 
               Times New Roman }
h5           { font-weight: normal; font-style: normal; font-size: 10pt; font-family: 
               Times New Roman }
h6           { font-weight: normal; font-style: normal; font-size: 8pt; font-family: 
               Times New Roman }
button       { font-size: 8pt; font-style: bold; font-family: Times New Roman; border-style: 
               solid; border-width: 1pt }
label, .MSTHEME-LABEL { font-size: 8pt; font-style: bold; font-family: Times New Roman }
textarea     { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal; 
               border-style: solid; border-width: 1pt }
fieldset     { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal; 
               border-style: solid; border-width: 1pt }
legend       { font-size: 8pt; font-style: normal; font-family: Times New Roman }
select       { font-size: 8pt; font-family: Arial, Arial, Helvetica; font-style: normal; 
               border-style: solid; border-width: 1pt }
table        { font-family: Arial, Arial, Helvetica; font-style: normal }
caption      { font-size: 14pt; font-style: normal; font-family: Times New Roman }
th           { font-family: Arial, Arial, Helvetica; font-style: normal }
marquee      { font-size: 14pt; font-family: Arial, Arial, Helvetica }
