
/*=== POPUP ===*/

div.opacity {
	background-color: #FFFFFF;
	font-size: 12px;
	color: #000000;
}


div.popwindow
{
position:fixed;
visibility: hidden;
}

div.window
{
display:none;
width:340px;
}

/*=== /POPUP ===*/