BODY {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
TD {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
P {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
UL {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
LI {
	FONT-FAMILY: Arial,Helvetica,sans-serif
}
A:hover {
	COLOR: #ff0000
}
A.leave {
	FONT-WEIGHT: normal; COLOR: blue
}
A.leave:visited {
	COLOR: blue
}
A.leave:active {
	COLOR: blue
}
A.leave:hover {
	COLOR: green
}
A.tnav {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
A.tnav:visited {
	COLOR: black
}
A.tnav:active {
	COLOR: black
}
A.tnav:hover {
	COLOR: red
}
A.ynav {
	FONT-WEIGHT: bold; COLOR: yellow; TEXT-DECORATION: none
}
A.ynav:visited {
	COLOR: yellow
}
A.ynav:active {
	COLOR: yellow
}
A.ynav:hover {
	COLOR: yellow
}
A.tsnav {
	FONT-WEIGHT: normal; COLOR: black; TEXT-DECORATION: none
}
A.tsnav:visited {
	COLOR: black
}
A.tsnav:active {
	COLOR: black
}
A.tsnav:hover {
	COLOR: red
}
A.lnav {
	FONT-WEIGHT: bold; COLOR: yellow; TEXT-DECORATION: none
}
A.lnav:visited {
	COLOR: yellow
}
A.lnav:active {
	COLOR: yellow
}
A.lnav:hover {
	COLOR: yellow
}
A.wnav {
	FONT-WEIGHT: normal; COLOR: white; TEXT-DECORATION: none
}
A.wnav:visited {
	COLOR: white
}
A.wnav:active {
	COLOR: white
}
A.wnav:hover {
	COLOR: white; TEXT-DECORATION: underline
}
A.purchase {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: monospace; TEXT-DECORATION: none
}
A.purchase:visited {
	
}
A.purchase:active {
	
}
A.purchase:hover {
	TEXT-DECORATION: underline
}
A.download {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: monospace; TEXT-DECORATION: none
}
A.download:visited {
	
}
A.download:active {
	
}
A.download:hover {
	TEXT-DECORATION: underline
}
SELECT.xyz {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial,Helvetica,sans-serif
}
#input {
	FONT-SIZE: 14pt; FONT-FAMILY: Courier New,Courier,monospace
}
#xyz {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.lnav {
	FONT-WEIGHT: bold; COLOR: yellow
}
.head {
	FONT-WEIGHT: bold; COLOR: #800000
}
