@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);.clearfix:before,
.fromrubric__item:before,
.partnercontent__item:before,
.priceru__title:before,
.shop__body:before,
.shop__offers:before,
.shop__offer:before,
.topicsource:before,
.topicauthor:before,
.topictags:before,
.newslist__item:before,
.newslist__item-body:before,
.clearfix:after,
.fromrubric__item:after,
.partnercontent__item:after,
.priceru__title:after,
.shop__body:after,
.shop__offers:after,
.shop__offer:after,
.topicsource:after,
.topicauthor:after,
.topictags:after,
.newslist__item:after,
.newslist__item-body:after {
  content: "";
  display: table;
}
.clearfix:after,
.fromrubric__item:after,
.partnercontent__item:after,
.priceru__title:after,
.shop__body:after,
.shop__offers:after,
.shop__offer:after,
.topicsource:after,
.topicauthor:after,
.topictags:after,
.newslist__item:after,
.newslist__item-body:after {
  clear: both;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.f-l.f-l {
  float: left;
}
.f-r.f-r {
  float: right;
}
.f-n.f-n {
  float: none;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
* {
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b {
  font-weight: bold;
}
strong {
  font-family: 'OpenSansbold';
}
dfn {
  font-style: italic;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
q {
  quotes: "\AB" "\BB" "\201E" "\201C";
}
p,
strong,
li {
  font-size: 16px;
  line-height: 24px;
}
ol,
ul {
  list-style: none;
  padding: 0;
}
ol li,
ul li {
  padding-left: 32px;
  position: relative;
  margin-bottom: 12px;
}
ol li:before,
ul li:before {
  display: inline-block;
  position: absolute;
  left: 0;
}
ul > li:before {
  content: '\2014';
  color: #b2b2b2;
}
ol {
  counter-reset: ol-counter;
}
ol li {
  padding-left: 24px;
}
ol li:before {
  font-family: 'OpenSansBold';
  counter-increment: ol-counter;
  content: counter(ol-counter) '.';
  color: #b2b2b2;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  font-size: 100%;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
select:focus,
input:focus,
textarea:focus,
button:focus {
  outline: #5b9dd9 auto;
  outline-offset: -1px;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
  border: 0;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url(/assets/static/ttf/OpenSans-Bold.3935f998ac0a0836297c9955f6a78184.ttf);
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url(/assets/static/ttf/OpenSans-Regular.f4dba6cc5b281267da6805ae2ca52905.ttf);
}
@font-face {
  font-family: 'OpenSansItalic';
  src: url(/assets/static/ttf/OpenSans-Italic.dc1723e23aea0b5282aadba95035be71.ttf);
}
@font-face {
  font-family: 'OpenSansLightItalic';
  src: url(/assets/static/ttf/OpenSans-LightItalic.6943fb6fd4200f3d073469325c6acdc9.ttf);
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url(/assets/static/ttf/OpenSans-Semibold.105600cb2957937e8470cb8c74d5716a.ttf);
}
@font-face {
  font-family: 'OpenSansLight';
  src: url(/assets/static/ttf/OpenSans-Light.a957943fff1355620393d35cb3d6c7d1.ttf);
}
@font-face {
  font-family: 'Roboto';
  src: url(/assets/static/ttf/RobotoCondensed-Regular.e6fd95f0cb839566476ec9b6df34849c.ttf);
}
html {
  font: 20px/1.4 "OpenSansRegular", Tahoma, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #fff;
  color: #231f1f;
  background-color: #eee;
}
a {
  color: #231f1f;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #fdb712;
}
input {
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.2s;
}
::-moz-selection {
  background: rgba(255,236,60,0.33);
  text-shadow: none;
}
::selection {
  background: rgba(255,236,60,0.33);
  text-shadow: none;
}
.vertelka_inline,
.price_inline {
  display: none;
}
.page {
  width: 1024px;
  padding: 0 22px;
}
.page-body {
  margin-bottom: 34px;
}
.page .content {
  width: 660px;
  margin-right: 20px;
  float: left;
}
.page .content .menu-underline {
  margin-top: 0;
  margin-left: -22px;
  width: calc(100% + 22px);
}
.page .right-sidebar {
  width: 300px;
  display: inline-block;
}
.partnercontent__title,
.vrez_right__title,
.vrez_left__title {
  font-size: 18px;
  font-family: 'OpenSansBold';
  margin: 0;
  line-height: 40px;
  margin-bottom: 7px;
}
h1,
.mtdetail__header .mtdetail__title,
.newslist__header {
  font-size: 32px;
  font-family: 'OpenSansBold';
  line-height: 40px;
  letter-spacing: 0.1px;
}
h2,
.expert-article-top__title,
.fromrubric__header,
.fromrubric__title {
  font-size: 24px;
  font-family: 'OpenSansBold';
  line-height: 32px;
}
h3,
.experts-list__fio {
  font-size: 18px;
  font-family: 'OpenSansBold';
  line-height: 24px;
}
h4,
.expert-article-top__fio,
.expert-article-top__position,
.priceru__title,
.priceru__cost {
  font-size: 16px;
  font-family: 'OpenSansBold';
  line-height: 24px;
}
.expert-detail__description,
.topic__lead,
.video-player,
.article-header,
.lifehacks-item__title,
.videogallery-player,
.newslist__date,
.newslist__title,
.reviewlist__title {
  font-size: 18px;
  line-height: 24px;
}
.expert-detail__description_bold,
.topic__lead_bold,
.video-player_bold,
.article-header_bold,
.lifehacks-item__title_bold,
.videogallery-player_bold,
.newslist__date_bold,
.newslist__title_bold,
.reviewlist__title_bold,
.news-announce__title,
.daily-number__title,
.mtdetail__title,
.tagpage__title {
  font-family: 'OpenSansBold';
}
.quote__fio,
.news-announce__rubric,
.news-announce__fio,
.lifehacks-item__rubric,
.mtdetail__rubric,
.mtdetail__fio,
.mtdetail__header .mtdetail__rubric,
.newslist__rubric,
.reviewlist__rubric {
  font-family: 'OpenSansBold';
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.news-announce__photo:hover,
.experts-list__photo:hover,
.expert-opinion:hover .expert-opinion__photo,
.expert-item__head:hover .expert-item__photo,
.main-theme-body,
.mtdetail__photo:hover,
.mtdetail__header,
.mtlist__item,
.reviewlist__item:hover .reviewlist__photo,
.reviewlist__item_video:hover .reviewlist__photo,
.reviewlist__item_expert .reviewlist__head:hover .reviewlist__photo {
  position: relative;
}
.news-announce__photo:hover:before,
.experts-list__photo:hover:before,
.expert-opinion:hover .expert-opinion__photo:before,
.expert-item__head:hover .expert-item__photo:before,
.main-theme-body:before,
.mtdetail__photo:hover:before,
.mtdetail__header:before,
.mtlist__item:before,
.reviewlist__item:hover .reviewlist__photo:before,
.reviewlist__item_video:hover .reviewlist__photo:before,
.reviewlist__item_expert .reviewlist__head:hover .reviewlist__photo:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.2);
}
.expert-detail__load-more,
.mtlist__load-more,
.newslist__load-more,
.reviewlist__load-more,
.tagpage__load-more {
  display: block;
  width: 640px;
  height: 40px;
  border: 2px solid #bbb;
  text-align: center;
  font-family: 'OpenSansBold';
  font-size: 14px;
  line-height: 32px;
}
.main-block__title,
.choose__title,
.expert-header__title,
.lifehacks-header__title,
.main-theme-header__title,
.main-theme-main__title,
.most-discussed-header__title.most-discussed-header__title,
.novelty-header__title,
.popular-electronics-header__title,
.videogallery-header__title,
.mtlist-main__title {
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  font-family: 'OpenSansBold';
  font-size: 32px;
  float: left;
  letter-spacing: 0.1px;
}
.stick-right {
  margin-left: -22px;
}
.stick-left {
  margin-right: -22px;
}
.ml-20 {
  margin-left: -20px;
}
.mr-20 {
  margin-right: -20px;
}
.is-shown {
  display: block;
}
.is-hidden,
.js-hidden {
  display: none !important;
}
.related-materials__item,
.reviewlist__item {
  width: 300px;
  height: 277px;
  display: inline-block;
  float: left;
}
.related-materials__photo,
.reviewlist__photo {
  width: 300px;
  height: 180px;
  background-size: cover;
  position: relative;
  background-position: center center;
}
.related-materials__title,
.reviewlist__title {
  max-width: 300px;
  margin-bottom: 0;
  position: relative;
}
.related-materials__date,
.reviewlist__date {
  font-size: 14px;
  font-family: 'OpenSansSemibold';
  color: #b2b2b2;
  margin: 13px 0;
  margin-top: 2px;
  position: relative;
}
.main-theme__item,
.mt__item {
  line-height: 24px;
  margin-bottom: 16px;
  display: block;
}
.main-theme__time,
.mt__time {
  color: #b2b2b2;
  font-size: 14px;
  line-height: 16px;
  font-family: 'OpenSansSemibold';
}
.main-theme__title,
.mt__title {
  font-family: 'OpenSansBold';
  font-size: 18px;
  color: #fff;
}
.main-theme-main,
.mtlist-main {
  display: block;
}
.main-theme-main__title,
.mtlist-main__title {
  color: #fff;
  line-height: 40px;
  float: none;
  margin-right: 0;
  margin-bottom: 24px;
}
.main-theme-main__btn,
.mtlist-main__btn {
  width: 147px;
  height: 40px;
  font-size: 18px;
  line-height: 36px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
.main-theme-main:hover .main-theme-main__btn,
.mtlist-main:hover .main-theme-main__btn {
  opacity: 0.7;
}
.main-theme-main:hover .main-theme-main__title,
.mtlist-main:hover .main-theme-main__title {
  color: #fdb712;
}
.mostread-header,
.news-header {
  font-size: 18px;
  line-height: 40px;
  font-family: 'OpenSansBold';
  margin-top: 3px;
  margin-bottom: 7px;
}
.mostread-bg,
.subscribe__bg,
.vrez_right__bg,
.vrez_left__bg,
.news-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 220px;
  height: calc(100% - 100px);
  background-image: url(/assets/static/png/hatch.7de5f0a8c797683dd5b569ae9cf91eb0.png);
  opacity: 0.5;
}
.mostread-title,
.news-title {
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
  display: inline-block;
  max-width: 240px;
}
.mostread-body,
.news-body {
  display: block;
  margin-bottom: 17px;
  position: relative;
  z-index: 1;
}
.mostread-body:last-child,
.news-body:last-child {
  margin-bottom: 0;
}
.mostread-views,
.popular-socials-comments {
  color: #b2b2b2;
  font-size: 14px;
}
.mostread-views:before,
.popular-socials-comments:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 9px;
  background-image: url(/assets/static/svg/comment-arrow.c23215e99d56b70d8874ca3413e94d13.svg);
  background-repeat: no-repeat;
}
.doublegallery__label,
.image__label {
  font-size: 14px;
  font-family: 'OpenSansSemibold';
  color: #b2b2b2;
  margin: 13px 0;
}
.quote {
  background-color: #f2f2f2;
  border-left: 2px solid #fdb712;
  margin-top: 40px;
}
.quote__text {
  margin: 0;
  font-family: 'OpenSansLightItalic';
  font-size: 18px;
  line-height: 28px;
  font-weight: 100;
  width: 500px;
}
.quote__photo,
.news-announce__card,
.mtdetail__card {
  margin-top: 18px;
  width: 40px;
  height: 40px;
  background-size: cover;
  float: left;
}
.quote__fio,
.quote__position,
.news-announce__fio,
.news-announce__position,
.mtdetail__fio,
.mtdetail__position {
  font-size: 14px;
  line-height: 20px;
  text-indent: 20px;
}
.quote__fio,
.news-announce__fio,
.mtdetail__fio {
  margin-top: 18px;
}
.eyecatch {
  background-color: #f2f2f2;
  border-left: 2px solid #fdb712;
  margin-top: 40px;
  margin: 0;
  font-family: 'OpenSansLightItalic';
  font-size: 18px;
  line-height: 28px;
  font-weight: 100;
}
.novelty-categories,
.reviewlist-categories,
.tagpage-categories {
  font-family: 'OpenSansBold';
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.2px;
  margin-bottom: 13px;
}
.novelty-categories__item,
.reviewlist-categories__item,
.tagpage-categories__item,
.novelty-categories__more,
.reviewlist-categories__more,
.tagpage-categories__more {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: text-top;
  cursor: pointer;
}
.novelty-categories__item:hover,
.reviewlist-categories__item:hover,
.tagpage-categories__item:hover,
.novelty-categories__more:hover,
.reviewlist-categories__more:hover,
.tagpage-categories__more:hover {
  color: #fdb712;
}
.novelty-categories__item+.novelty-categories__item:before,
.reviewlist-categories__item+.reviewlist-categories__item:before,
.tagpage-categories__item+.tagpage-categories__item:before,
.novelty-categories__more+.novelty-categories__more:before,
.reviewlist-categories__more+.reviewlist-categories__more:before,
.tagpage-categories__more+.tagpage-categories__more:before {
  content: '/ ';
}
.novelty-categories__item.active,
.reviewlist-categories__item.active,
.tagpage-categories__item.active,
.novelty-categories__more.active,
.reviewlist-categories__more.active,
.tagpage-categories__more.active {
  color: #fdb712;
}
.novelty-categories__more,
.reviewlist-categories__more,
.tagpage-categories__more {
  margin-left: 20px;
  color: #b2b2b2;
}
.experts-list__categories_large:after,
.related-materials__title:after,
.reviewlist__item_expert .reviewlist-body__text:after {
  content: '';
  display: block;
  width: 100%;
  height: 1.3em;
  position: absolute;
  background: linear-gradient(to right, rgba(255,255,255,0) 40%, #fff 80%);
  right: 0;
  bottom: 0;
}
.video-player,
.videogallery-player {
  width: 678px;
  height: 378px;
  color: #fff;
  cursor: pointer;
  position: relative;
  float: left;
  background-size: cover;
  padding: 22px;
}
.video-player__legend,
.videogallery-player__legend {
  position: absolute;
  bottom: 20px;
}
.video-player__play,
.videogallery-player__play,
.reviewlist__item_video .reviewlist__play {
  width: 40px;
  height: 40px;
  background-image: url(/assets/static/svg/play-button.70f752fea224e96b6772d4b8b6062d63.svg);
  margin-bottom: 10px;
}
.video-player__title,
.videogallery-player__title {
  font-family: 'OpenSansBold';
}
.video-player__description,
.videogallery-player__description {
  max-width: 500px;
}
.video-player:hover .videogallery-player__title,
.videogallery-player:hover .videogallery-player__title {
  color: #fdb712;
}
.comments {
  font-size: 14px;
  color: #b2b2b2;
  display: inline-block;
}
.comments:before {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: cover;
  background-image: url(/assets/static/svg/comment-shape.824a1fad1ad975ecbb5b53ce3d4c8938.svg);
  content: '';
  margin-bottom: -4px;
  margin-right: 7px;
}
.expert-opinion,
.expert-item,
.reviewlist__item_expert {
  width: 303px;
  height: 379px;
  display: inline-block;
  float: left;
}
.expert-opinion__body,
.expert-item__body,
.reviewlist__item_expert__body,
.expert-opinion__head,
.expert-item__head,
.reviewlist__item_expert__head,
.reviewlist__item_expert .reviewlist__head,
.reviewlist__item_expert .reviewlist__body {
  display: block;
}
.expert-opinion__head,
.expert-item__head,
.reviewlist__item_expert__head,
.reviewlist__item_expert .reviewlist__head {
  background-size: cover;
  width: 100%;
  height: 180px;
  position: relative;
  color: #231f1f;
}
.expert-opinion__head:hover,
.expert-item__head:hover,
.reviewlist__item_expert__head:hover,
.reviewlist__item_expert .reviewlist__head:hover {
  color: #231f1f;
}
.expert-opinion__photo,
.expert-item__photo,
.reviewlist__item_expert__photo,
.reviewlist__item_expert .reviewlist__photo {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: 1;
}
.expert-opinion__phone,
.expert-item__phone,
.reviewlist__item_expert__phone,
.reviewlist__item_expert .reviewlist__phone {
  width: 160px;
  height: 120px;
  position: absolute;
  top: -130px;
  right: 0;
  background-size: cover;
  box-shadow: inset 0 0 0 4px #ececec;
}
.expert-opinion__phone .rating,
.expert-item__phone .rating,
.reviewlist__item_expert__phone .rating,
.reviewlist__item_expert .reviewlist__phone .rating {
  background-color: #ececec;
  width: 76px;
  height: 76px;
}
.expert-opinion__phone .rating__rate,
.expert-item__phone .rating__rate,
.reviewlist__item_expert__phone .rating__rate,
.reviewlist__item_expert .reviewlist__phone .rating__rate {
  color: #fdb712;
  line-height: 38px;
  font-size: 32px;
}
.expert-opinion__phone .rating__max,
.expert-item__phone .rating__max,
.reviewlist__item_expert__phone .rating__max,
.reviewlist__item_expert .reviewlist__phone .rating__max {
  line-height: 38px;
  font-size: 16px;
  margin-top: -5px;
  color: #231f1f;
  opacity: 0.7;
}
.expert-opinion__fio,
.expert-item__fio,
.reviewlist__item_expert__fio,
.expert-opinion__position,
.expert-item__position,
.reviewlist__item_expert__position,
.reviewlist__item_expert .reviewlist__fio,
.reviewlist__item_expert .reviewlist__position {
  position: absolute;
  top: 28px;
  left: 118px;
  font-size: 14px;
  line-height: 20px;
  z-index: 1;
}
.expert-opinion__fio,
.expert-item__fio,
.reviewlist__item_expert__fio,
.reviewlist__item_expert .reviewlist__fio {
  top: 8px;
  text-transform: uppercase;
  font-family: 'OpenSansBold';
  letter-spacing: 1.2px;
}
.expert-opinion__body,
.expert-item__body,
.reviewlist__item_expert__body,
.reviewlist__item_expert .reviewlist__body {
  position: relative;
}
.expert-opinion__title,
.expert-item__title,
.reviewlist__item_expert__title,
.reviewlist__item_expert .reviewlist-body__title {
  font-family: 'OpenSansBold';
  font-size: 20px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 17px;
}
.expert-opinion__text,
.expert-item__text,
.reviewlist__item_expert__text,
.reviewlist__item_expert .reviewlist-body__text {
  font-size: 18px;
  line-height: 24px;
  position: relative;
  color: #231f1f;
  z-index: 1;
}
.expert-opinion__text:before,
.expert-item__text:before,
.reviewlist__item_expert__text:before,
.reviewlist__item_expert .reviewlist-body__text:before {
  width: 88px;
  height: 80px;
  background-image: url(/assets/static/svg/quote.f4aa1804340031f9039951ff1f09fe60.svg);
  display: block;
  content: '';
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -10px;
}
.news-announce__item,
.mtdetail__item {
  margin-bottom: 40px;
}
.news-announce__item_wide .news-announce__text,
.mtdetail__item_wide .news-announce__text {
  max-width: 490px;
}
.news-announce__date,
.mtdetail__date,
.news-announce__text,
.mtdetail__text,
.news-announce__photo,
.mtdetail__photo,
.tagpage__label {
  display: inline-block;
  float: left;
}
.news-announce__date,
.mtdetail__date,
.tagpage__label {
  font-family: 'OpenSansSemibold';
  font-size: 14px;
  line-height: 36px;
  color: #b2b2b2;
  margin-right: 30px;
  width: 110px;
}
.news-announce__text,
.mtdetail__text {
  max-width: 290px;
}
.news-announce__title,
.mtdetail__title,
.tagpage__title {
  display: block;
}
.news-announce__rubric,
.mtdetail__rubric {
  margin-top: 5px;
  font-size: 14px;
  color: #b2b2b2;
}
.news-announce__photo,
.mtdetail__photo {
  width: 180px;
  height: 120px;
  background-size: cover;
  background-position: center center;
  position: relative;
  float: right;
}
.news-announce__expert,
.mtdetail__expert {
  display: block;
  margin-bottom: 10px;
}
.news-announce__fio,
.mtdetail__fio,
.news-announce__position,
.mtdetail__position {
  text-indent: 12px;
}
.rating {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fdb712;
  color: #231f1f;
  text-align: center;
  font-family: 'Roboto';
}
.rating__body {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0;
}
.rating__rate {
  display: inline-block;
  line-height: 24px;
  font-size: 22px;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  letter-spacing: -1.5px;
}
.rating__max {
  font-size: 12px;
  line-height: 100%;
  margin-top: 8px;
  display: inline-block;
  vertical-align: top;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0.6;
  letter-spacing: -1px;
}
.share {
  display: inline-block;
  float: left;
}
.share__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid;
  position: relative;
  font-size: 14px;
  padding: 8px 16px;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}
.share__link_big {
  min-width: 140px;
  position: relative;
  text-indent: 0;
}
.share__link_with-counter {
  width: auto;
  max-width: 180px;
}
.share__link + .share__link {
  margin-left: 10px;
}
.share__icon {
  width: 40px;
  height: 40px;
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
}
.share__additional {
  padding-left: 28px;
}
.share__text,
.share__count {
  display: inline-block;
  height: 40px;
}
.share__text {
  width: 100px;
}
.share__count {
  min-width: 40px;
  font-family: 'OpenSansBold';
}
.share__fb .share__icon {
  background-image: url(/assets/static/svg/fb-symbol.50ee2662a2df42e20abfdce45479102a.svg);
}
.share__fb.share__link {
  border-color: #3c5a96;
  color: #3c5a96;
}
.share__vk .share__icon {
  background-image: url(/assets/static/svg/vk-symbol.d50cad31db35e72f79eb2f4919e2b97c.svg);
}
.share__vk.share__link {
  border-color: #4a739c;
  color: #4a739c;
}
.share__ok .share__icon {
  background-image: url(/assets/static/svg/ok-symbol.7d1b69a4888ec522fc83f241afdaa378.svg);
}
.share__ok.share__link {
  border-color: #e97238;
  color: #e97238;
}
.share__gplus .share__icon {
  background-image: url(/assets/static/svg/gplus-symbol.950dca41b4b02bc3c950499b686cc0e2.svg);
}
.share__gplus.share__link {
  border-color: #ea4335;
  color: #ea4335;
}
.share__tw .share__icon {
  background-image: url(/assets/static/svg/tw-symbol.41e656aaaa0df2fcdec6f3a2f4438ba7.svg);
}
.share__tw.share__link {
  border-color: #1dadea;
  color: #1dadea;
}
.share [data-rambler-share],
.share [data-rambler-share]>span,
.share [data-rambler-share]>label {
  line-height: 36px !important;
  margin: 0 !important;
}
.share [data-rambler-share]:before {
  width: 36px !important;
}
.share [data-rambler-share]>span {
  border: none !important;
}
.share.share [data-rambler-share]>label {
  margin-right: 0 !important;
}
.rambler-share[data-rambler-share] {
  margin: 0 10px 0 0 !important;
}
.swiper-controls {
  position: absolute;
  top: -60px;
  right: 0;
  font-size: 0;
}
.swiper-controls__item {
  display: inline-block;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background-image: url(/assets/static/svg/swiper-arrow.dafdfc991bcb9f1d03e885e87a52220e.svg);
  cursor: pointer;
}
.swiper-controls__item_back {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.swiper-controls__item:hover {
  opacity: 0.8;
}
.swiper-controls__item.swiper-button-disabled,
.swiper-controls__item_disabled,
.swiper-controls__item_disabled:hover {
  opacity: 0.5;
}
.tabs {
  zoom: 1;
}
.layout-1024 {
  max-width: 1024px;
  min-width: 1024px;
  margin: 0 auto;
  background-color: #fff;
}
.menu {
  float: left;
  margin-left: 20px;
  height: 42px;
}
.menu:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.menu__item {
  font-family: 'OpenSansBold';
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  margin-right: 20px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item_active {
  color: #fdb712;
}
.menu .promote-menu__item {
  background: url(/assets/static/png/50-pokemon-200.e0e602b780ea16dbe84a49e8e28d5b44.png);
  background-size: cover;
  background-position: center;
  background-color: #f3f3f3;
  width: 172px;
  height: 40px;
  padding: 4px 20px;
}
.contactspage__table {
  font-size: 16px;
  line-height: 24px;
}
.contactspage__table a {
  display: block;
  text-decoration: underline;
  color: #3c5a96;
}
.contactspage__table a:hover {
  color: #fdb712;
}
.contactspage__table tr {
  vertical-align: top;
  display: block;
  margin-bottom: 16px;
}
.contactspage__table tr td:first-child {
  color: #919191;
  min-width: 170px;
}
.contactspage__table tr td:last-child {
  padding-left: 42px;
}
.expert-article {
  zoom: 1;
  width: 640px;
  margin-left: 20px;
}
.expert-article .expert-article-top {
  margin-left: -20px;
  margin-right: 20px;
}
.expert-article .share {
  margin: 20px 0;
  margin-right: 10px;
}
.expert-article p {
  max-width: 620px;
}
.expert-detail {
  margin-left: -22px;
}
.expert-detail__card {
  width: 652px;
  height: 364px;
  padding: 25px 40px;
  margin-bottom: 38px;
  background-color: #32292f;
  color: #fff;
  position: relative;
  z-index: 1;
}
.expert-detail__header {
  margin-top: 0;
  margin-bottom: 0;
}
.expert-detail__position {
  color: #fdb712;
  font-family: 'OpenSansSemibold';
  font-size: 16px;
  line-height: 16px;
  margin-top: 3px;
}
.expert-detail__description {
  margin-top: 16px;
  margin-bottom: 24px;
  padding-left: 20px;
  border-left: 2px solid #fdb712;
  font-family: 'OpenSansSemibold';
  max-width: 412px;
}
.expert-detail__about {
  font-size: 16px;
  max-width: 372px;
}
.expert-detail__photo {
  width: 156px;
  height: 156px;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 120px;
  right: 24px;
}
.expert-detail__photo:after {
  position: absolute;
  display: block;
  content: '';
  width: 156px;
  height: 156px;
  bottom: -10px;
  right: -10px;
  z-index: -1;
  background-image: url(/assets/static/png/hatch.7de5f0a8c797683dd5b569ae9cf91eb0.png);
}
.expert-detail__link {
  border: 2px solid #fdb712;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 7px 25px;
  position: absolute;
  top: 40px;
  right: 24px;
}
.expert-detail .news-announce__body {
  margin-left: 22px;
  max-width: 630px;
}
.expert-detail__load-more {
  margin-bottom: 30px;
  margin-left: 22px;
  width: 630px;
}
.expert-detail .adv-superfooter {
  margin-left: 22px;
  width: 640px;
}
.experts-list {
  width: 680px;
  line-height: 24px;
}
.experts-list__header {
  margin-top: 20px;
  margin-bottom: 14px;
}
.experts-list__item {
  width: 320px;
  height: 130px;
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
}
.experts-list__item:last-child {
  float: none;
}
.experts-list__photo {
  width: 128px;
  height: 128px;
  background-size: cover;
  background-position: center center;
  float: left;
  margin-right: 12px;
}
.experts-list__count {
  position: absolute;
  top: 0;
  right: 31px;
  font-family: 'OpenSansSemibold';
  font-size: 16px;
  color: #919191;
}
.experts-list__count:after {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  width: 30px;
  height: 24px;
  background-image: url(/assets/static/svg/expert-articles.4d105800df936696cd6a9e979d03953b.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}
.experts-list__fio {
  max-width: 270px;
  display: block;
}
.experts-list__position {
  font-size: 14px;
}
.experts-list__categories {
  margin-top: 8px;
}
.experts-list__categories_large {
  max-height: 50px;
  overflow: hidden;
  position: relative;
}
.experts-list__categories_large:after {
  width: 50%;
  background: linear-gradient(to right, transparent -50%, #fff 25%);
}
.experts-list__categories_large.is-expanded {
  max-height: 300px;
  overflow: visible;
  z-index: 1;
}
.experts-list__categories_large.is-expanded .experts-list__rubric {
  background-color: #fff;
}
.experts-list__categories_large.is-expanded:after {
  display: none;
}
.experts-list__rubric {
  font-family: 'OpenSansSemibold';
  font-size: 16px;
  display: inline-block;
  margin-right: 5px;
}
.experts-list__rubric_more {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  z-index: 1;
  font-family: 'OpenSansSemibold';
  font-size: 16px;
  color: #919191;
}
.experts-list .adv-superfooter {
  width: 640px;
}
.footer {
  padding: 16px 18px 20px;
  font-size: 0;
}
.footer-menu {
  padding: 5px;
}
.footer .logo {
  width: 171px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url(/assets/static/svg/logo-big.525cd314d96f5a41c363ec2e893ba590.svg);
  float: left;
  display: inline-block;
  margin-left: 0;
}
.footer .share {
  float: right;
}
.footer hr {
  border-top: 1px solid #e6e8e6;
  margin-top: 10px;
  margin-bottom: 15px;
}
.footer-info {
  width: 100%;
  height: 72px;
  position: relative;
}
.footer-info:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.footer-info .copyright,
.footer-info .footer-links,
.footer-info .apps {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.footer-info .copyright {
  width: 240px;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 10px;
}
.footer-info .copyright .age-rate {
  width: 40px;
  height: 40px;
  border: 2px solid #b2b2b2;
  color: #919191;
  font-family: 'OpenSansBold';
  float: left;
  margin-right: 20px;
  font-size: 18px;
  line-height: 36px;
  text-indent: 3px;
}
.footer-links {
  margin-left: 45px;
  margin-top: 5px;
}
.footer .apps {
  position: absolute;
  right: 4px;
  top: 13px;
}
.footer .apps .app-apple,
.footer .apps .app-android {
  width: 140px;
  height: 48px;
  display: inline-block;
}
.footer .apps .app-apple {
  margin-right: 10px;
  background-image: url(/assets/static/svg/appstore.a381469b94762867cff157616628cb61.svg);
}
.footer .apps .app-android {
  background-image: url(/assets/static/svg/googleplay.fed345e7bd22970d75334b29a476a43b.svg);
}
.header {
  width: 100%;
  height: 80px;
  padding: 23px 18px;
  line-height: 40px;
  vertical-align: middle;
  position: relative;
  font-size: 0;
}
.header .logo {
  width: 171px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url(/assets/static/svg/logo-big.525cd314d96f5a41c363ec2e893ba590.svg);
  float: left;
  display: inline-block;
  margin-left: 5px;
}
.header .menu {
  margin-left: 45px;
}
.header .menu__item {
  margin-right: 32px;
  letter-spacing: 0.1px;
}
.header .search {
  right: 20px;
  position: absolute;
}
.header .search__icon {
  width: 22px;
  height: 22px;
  background-image: url(/assets/static/svg/search.43fd24d1b3e063ce4ce6332f9a90e093.svg);
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}
.header .search__input {
  width: 0;
  height: 50px;
  border: 0;
  padding: 0;
  font-size: 18px;
  transition: width 0.3s;
}
.header .search__input.js-expanded {
  width: 770px;
  padding-left: 10px;
  outline: none;
}
.header .search__close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 15px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url(/assets/static/svg/close.4125e9940ea4335f035dab86f79911b1.svg);
}
.expert-article-top {
  margin-top: 24px;
  width: 620px;
}
.expert-article-top__container {
  position: relative;
}
.expert-article-top__body {
  width: 360px;
  background-color: rgba(255,255,255,0.6);
  border: 4px solid #feb912;
  padding: 16px;
  position: relative;
  min-height: 190px;
  z-index: 1;
}
.expert-article-top__photo {
  width: 72px;
  height: 72px;
  background-size: cover;
  background-position: center center;
  float: left;
  margin-right: 16px;
}
.expert-article-top__fio {
  max-width: 200px;
}
.expert-article-top__position {
  font-family: 'OpenSansRegular';
  font-size: 14px;
}
.expert-article-top__title {
  clear: both;
  margin-top: 19px;
  margin-bottom: 0;
}
.expert-article-top__image {
  background-size: cover;
  background-position: center center;
  width: 320px;
  height: 240px;
  position: absolute;
  margin: auto 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.expert-article-top .share {
  margin-left: 0px;
}
.expert-article-top .share,
.expert-article-top .topic-comments {
  margin-top: 24px;
}
.adv-native {
  float: right;
  margin-left: 20px;
  margin-right: 60px;
  position: relative;
}
.adv-native__image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 360px;
  height: 220px;
}
.adv-native__tile {
  position: absolute;
  background-color: #fff;
  width: 320px;
  height: 140px;
  left: 160px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 12px 20px;
}
.adv-native__text {
  font-size: 20px;
  line-height: 28px;
  font-family: 'OpenSansSemibold';
  display: inline;
  margin-right: 10px;
}
.adv-native__mark {
  display: inline;
  color: #b2b2b2;
  font-size: 16px;
}
ul.contents > li:before {
  content: '\2014';
}
ul.contents li {
  margin-bottom: 6px;
}
ul.contents li.small {
  font-size: 70%;
  padding-left: 44px;
}
.doublegallery {
  margin-top: 34px;
  margin-bottom: 28px;
  width: 620px;
  height: 213px;
}
.doublegallery__item {
  width: calc(50% - 2px);
  float: left;
}
.doublegallery__item + .doublegallery__item {
  margin-left: 4px;
}
.doublegallery__photo {
  width: 308px;
  height: 180px;
  background-size: cover;
  position: relative;
  cursor: pointer;
}
.doublegallery__photo:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.doublegallery__photo:hover:before {
  background-color: rgba(0,0,0,0.4);
  background-image: url(/assets/static/svg/photo-zoom.224ebde7d8b2d791e61e85f263e28230.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}
.expert-opinion {
  float: none;
  margin-bottom: 30px;
}
.expert-opinion:hover .expert-opinion__photo:before {
  background-color: rgba(255,255,255,0.3);
}
.fromrubric {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 660px;
  height: 570px;
}
.fromrubric__header {
  margin-bottom: 18px;
}
.fromrubric__rubric {
  color: #fdb712;
  display: inline-block;
  margin-left: 10px;
}
.fromrubric__item {
  display: block;
  margin-bottom: 20px;
}
.fromrubric__photo {
  width: 240px;
  height: 160px;
  background-size: cover;
  display: inline-block;
  float: left;
  margin-right: 20px;
}
.fromrubric__title {
  margin-top: 10px;
}
#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  -ms-touch-action: none;
  touch-action: none; /* 50 */
  box-shadow: 0 0 3.125em rgba(0,0,0,0.75); /* 50 */
}
#imagelightbox-loading,
#imagelightbox-loading div {
  border-radius: 50%;
}
#imagelightbox-loading {
  width: 2.5em; /* 40 */
  height: 2.5em; /* 40 */
  background-color: #444;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 10003;
  top: 50%;
  left: 50%;
  padding: 0.625em; /* 10 */
  margin: -1.25em 0 0 -1.25em; /* 20 */ /* 40 */
  box-shadow: 0 0 2.5em rgba(0,0,0,0.75); /* 40 */
}
#imagelightbox-loading div {
  width: 1.25em; /* 20 */
  height: 1.25em; /* 20 */
  background-color: #fff;
  -webkit-animation: imagelightbox-loading 0.5s ease infinite;
  animation: imagelightbox-loading 0.5s ease infinite;
}
@-webkit-keyframes imagelightbox-loading {
  from {
    opacity: 0.5;
    -webkit-transform: scale(0.75);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  to {
    opacity: 0.5;
    -webkit-transform: scale(0.75);
  }
}
@-webkit-keyframes imagelightbox-loading {
  from {
    opacity: 0.5;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0.5;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
@keyframes imagelightbox-loading {
  from {
    opacity: 0.5;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0.5;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
#imagelightbox-overlay {
  background-color: #fff;
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.image {
  margin: 30px 0;
  margin-top: 34px;
}
.image__photo {
  width: 620px;
  height: 348px;
  background-size: cover;
}
.inner-menu {
  max-height: 30px;
  overflow: hidden;
}
.inner-menu .menu__item_more {
  color: #919191;
}
.inner-menu .menu__item_more:hover {
  color: #fdb712;
}
.inner-menu.is-expanded {
  max-height: 1000px;
  transition: max-height 0.5s ease;
}
.keynumber {
  position: relative;
}
.keynumber__text {
  position: relative;
  font-family: 'OpenSansLightItalic';
  font-size: 18px;
  line-height: 24px;
  margin: 60px 80px;
  width: 380px;
  z-index: 1;
}
.keynumber__digit {
  position: absolute;
  top: -50px;
  left: 0;
  font-family: 'OpenSansBold';
  color: #fdb712;
  opacity: 0.4;
  font-size: 140px;
  line-height: 140px;
}
.mostread {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.mostread-body {
  margin-bottom: 15px;
}
.mostread-title {
  margin-left: 0;
}
.mostread-bg {
  height: calc(100% - 80px);
  width: 228px;
}
.mostread-views:before {
  width: 20px;
  height: 10px;
  background-image: url(/assets/static/svg/eye.6ea84380144b02e025b515f3dfc03bc0.svg);
}
.js-article-old table td,
.js-article-old table th {
  padding: 5px;
}
.js-article-old table:not(.not-table) {
  background-color: #f2f2f2;
  margin-left: -42px;
  padding-left: 42px;
  padding-top: 10px;
  display: block;
  width: 662px;
}
.js-article-old table:not(.not-table),
.js-article-old table:not(.not-table) thead,
.js-article-old table:not(.not-table) tbody,
.js-article-old table:not(.not-table) tr,
.js-article-old table:not(.not-table) td,
.js-article-old table:not(.not-table) th {
  border: none;
}
.js-article-old table:not(.not-table) p,
.js-article-old table:not(.not-table) li,
.js-article-old table:not(.not-table) a {
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  text-align: left;
}
.js-article-old table:not(.not-table) ul {
  margin: 0;
}
.js-article-old table:not(.not-table) td,
.js-article-old table:not(.not-table) th {
  padding: 5px 10px;
}
.js-article-old table:not(.not-table) tr:last-child {
  margin-bottom: 20px;
}
.js-article-old iframe {
  max-width: 620px;
}
.partnercontent {
  margin-bottom: 40px;
}
.partnercontent__item {
  margin-bottom: 20px;
  display: block;
}
.partnercontent__photo {
  width: 60px;
  height: 42px;
  background-size: cover;
  float: left;
  display: inline-block;
  margin-top: 2px;
}
.partnercontent__text {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-family: 'OpenSansSemibold';
  width: 228px;
  margin-left: 12px;
}
.photogallery {
  width: 612px;
  height: 284px;
  font-size: 0;
  margin-top: 34px;
  margin-bottom: 30px;
}
.photogallery__body {
  position: relative;
}
.photogallery__item {
  background-size: cover;
  width: 205.5px;
  height: 140px;
  display: inline-block;
  margin-bottom: 4px;
}
.photogallery__item:first-child {
  width: 402px;
  height: 284px;
  margin-right: 4px;
  float: left;
}
.photogallery__item--hidden {
  display: none;
}
.photogallery__count {
  width: 205.5px;
  height: 140px;
  position: absolute;
  bottom: 4px;
  right: 0;
  font-size: 52px;
  line-height: 140px;
  font-family: 'OpenSansBold';
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
}
.priceru {
  width: 620px;
  height: 193px;
  margin-bottom: 40px;
  margin-top: 31px;
}
.priceru__header {
  border-bottom: 1px solid #fdb712;
  height: 26px;
}
.priceru__logo {
  background-image: url(/assets/static/svg/priceru.9a6e7a0f99833f19fd731b90faa565ce.svg);
  width: 52px;
  height: 16px;
  background-repeat: no-repeat;
}
.priceru__item {
  display: inline-block;
  float: left;
  margin-top: 27px;
  width: 196px;
  height: 168px;
}
.priceru__item + .priceru__item {
  margin-left: 16px;
}
.priceru__photo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  margin-right: 10px;
  width: 80px;
  height: 80px;
  float: left;
}
.priceru__photo:hover {
  opacity: 0.8;
}
.priceru__firmtitle {
  font-size: 14px;
  margin-bottom: 2px;
  line-height: 18px;
}
.priceru__title {
  font-family: 'OpenSansSemibold';
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 80px;
  line-height: 20px;
}
.priceru__cost {
  width: 196px;
  height: 40px;
  display: block;
  background: #fdb712;
  text-align: center;
  line-height: 36px;
}
.priceru__cost:hover {
  background: #ca920e;
  color: #231f1f;
}
.related-materials {
  width: 660px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.related-materials-header__title.related-materials-header__title {
  margin-top: 7px;
  margin-bottom: 18px;
}
.related-materials__title {
  max-height: 48px;
  overflow: hidden;
}
.related-materials .swiper-controls {
  top: 0;
}
.review {
  margin-top: 34px;
  font-size: 16px;
  width: 618px;
}
.review-header {
  height: 80px;
}
.review-header .rating {
  position: relative;
  display: inline-block;
  float: left;
  width: 80px;
  height: 80px;
}
.review-header .rating .rating__rate {
  line-height: 40px;
  font-size: 32px;
}
.review-header .rating .rating__max {
  line-height: 40px;
  font-size: 16px;
  margin-top: -5px;
}
.review-header .review__annotation,
.review-header .review__device-name {
  margin-left: 20px;
  display: inline-block;
}
.review-header .review__annotation {
  margin-top: 10px;
  color: #fdb712;
  font-family: 'OpenSansSemibold';
  font-size: 16px;
}
.review-header .review__device-name {
  font-family: 'OpenSansBold';
  font-size: 24px;
}
.review-header-hr.review-header-hr {
  margin-top: -1px;
  margin-bottom: 0;
}
.review-positive,
.review-negative {
  width: 298px;
  float: left;
}
.review-negative {
  margin-left: 22px;
  float: right;
}
.review-title {
  font-family: 'OpenSansBold';
  margin-bottom: 16px;
  margin-top: 23px;
}
.review__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.review__item {
  padding-left: 32px;
  position: relative;
  display: block;
  margin-bottom: 12px;
}
.review__item:last-child {
  margin-bottom: 0;
}
.review__item:before {
  content: '\2014';
  position: absolute;
  width: 20px;
  left: 0;
  color: #b2b2b2;
}
.review hr {
  border-color: #e6e8e6;
  margin: 20px 0;
}
.shop {
  width: 662px;
  border: 1px solid #eaeaea;
  border-left: none;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 42px;
  padding-top: 13px;
}
.shop__header {
  height: 40px;
  font-size: 18px;
  line-height: 2.22em;
  font-family: 'OpenSansSemibold';
  font-weight: bold;
}
.shop__item,
.shop__item__single {
  display: inline-block;
  float: left;
  margin-top: 19px;
  width: 300px;
  height: 229px;
  padding-bottom: 25px;
}
.shop__iteminfo {
  height: 80px;
  overflow: hidden;
}
.shop__photo {
  float: left;
  margin-right: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  width: 80px;
  height: 80px;
}
.shop__title {
  width: 192px;
  overflow: hidden;
  font-size: 16px;
  line-height: normal;
  font-family: 'OpenSansRegular';
  font-weight: 600;
}
.shop__offers {
  margin-top: 9px;
}
.shop__offer {
  font-size: 16px;
  padding-top: 10px;
  width: 252px;
}
.shop__firmname {
  float: left;
  width: 172px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.shop__cost {
  float: right;
  font-weight: bold;
}
.shop__showmore {
  height: 57px;
  margin-left: -42px;
  border-top: 1px #eaeaea solid;
  font-size: 16px;
}
.shop__showmore a {
  margin-left: 40px;
  display: block;
  height: 57px;
  line-height: 51px;
  color: #b2b2b2 !important;
}
.shop__item__single {
  width: 100%;
  height: 100%;
}
.shop__item__single .shop__iteminfo {
  width: 50%;
  float: left;
}
.shop__item__single .shop__offers {
  width: 50%;
  margin-top: 0px;
  float: right;
}
.shop__item__single .shop__offer {
  padding-top: 0px;
  padding-bottom: 10px;
}
.shop__item__single .shop__offer:last-child {
  padding-bottom: 0px;
}
.sticky_block {
  position: fixed;
  top: 0px;
  z-index: 200;
}
.stop_sticky {
  position: relative;
  z-index: 200;
}
.subscribe {
  margin-bottom: 40px;
  position: relative;
}
.subscribe__title {
  font-family: 'OpenSansBold';
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 22px;
  position: relative;
  z-index: 1;
}
.subscribe__form {
  overflow: hidden;
}
.subscribe__form_error .subscribe__error {
  height: auto;
}
.subscribe__form_error .subscribe__input {
  border: 2px solid #e97238;
}
.subscribe__bg {
  top: 50px;
  height: 80px;
}
.subscribe__input {
  border: 2px solid #e6e6e6;
  margin-bottom: 20px;
  font-size: 16px;
  width: 300px;
  height: 40px;
  z-index: 1;
  position: relative;
  background-color: transparent;
  padding-left: 16px;
}
.subscribe__input:focus {
  border: 2px solid #231f1f;
  outline: none;
}
.subscribe__submit {
  width: 300px;
  height: 40px;
  background-color: #fdb712;
  font-family: 'OpenSansBold';
  font-size: 16px;
  text-align: center;
}
.subscribe__submit:hover {
  opacity: 0.9;
}
.subscribe__submit:focus {
  outline: none;
}
.subscribe__error {
  margin-top: 15px;
  font-family: 'OpenSansSemibold';
  font-size: 14px;
  line-height: 20px;
  color: #b2b2b2;
  height: 0;
}
.table {
  zoom: 1;
  background-color: #f2f2f2;
  width: 662px;
  margin-top: 34px;
  margin-bottom: 42px;
  padding-top: 17px;
  padding-bottom: 15px;
}
.table tr {
  margin-bottom: 20px;
  display: inline-block;
  text-align: left;
  width: 100%;
}
.table thead tr {
  margin-bottom: 10px;
}
.table tbody tr:last-child {
  margin-bottom: 0;
}
.table td,
.table th {
  display: inline-block;
  margin-right: 20px;
  width: 100px;
  vertical-align: top;
}
.table td:last-child,
.table th:last-child {
  margin-right: 0;
}
.table th {
  font-size: 14px;
  line-height: 20px;
  font-family: 'OpenSansSemibold';
  width: 100px;
}
.table td {
  font-size: 12px;
  line-height: 16px;
}
.topicsource,
.topicauthor {
  margin-top: 7px;
}
.topicsource__label,
.topicauthor__label,
.topicsource__fio,
.topicauthor__fio,
.topicsource__source,
.topicauthor__source {
  display: inline-block;
  float: left;
  font-family: 'OpenSansSemibold';
  font-size: 16px;
  line-height: 20px;
  color: #b2b2b2;
}
.topicsource__fio,
.topicauthor__fio {
  color: #231f1f;
}
.topicsource__label,
.topicauthor__label {
  width: 50px;
  margin-right: 50px;
}
.topicsource__source,
.topicauthor__source {
  text-decoration: underline;
  color: #3c5a96;
}
.topictags {
  margin-top: 20px;
  margin-bottom: 30px;
}
.topictags__body {
  margin-left: 100px;
}
.topictags__label,
.topictags__item {
  float: left;
  font-family: 'OpenSansSemibold';
  font-size: 16px;
  line-height: 20px;
  color: #b2b2b2;
  margin-bottom: 20px;
}
.topictags__item {
  color: #231f1f;
  border: 1px solid #fdb712;
  margin-right: 10px;
  padding: 5px 7px;
  margin-top: -5px;
}
.topictags__label {
  display: inline-block;
  margin-right: 50px;
  width: 50px;
}
.topic {
  width: 640px;
  padding-left: 20px;
}
.topic-head {
  margin-left: -20px;
  font-size: 0;
  margin-top: 12px;
}
.topic__title {
  margin-top: 0;
}
.topic__title_date {
  display: inline;
  margin-right: 20px;
}
.topic-body {
  margin-top: -34px;
  max-width: 620px;
}
.topic-body a:not(.blacklink) {
  color: #3f88c5;
}
.topic-body a:not(.blacklink):hover {
  text-decoration: underline;
}
.topic-about {
  font-family: 'OpenSansSemibold';
  font-size: 14px;
  color: #919191;
  white-space: nowrap;
  display: inline-block;
}
.topic-about__photo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-size: cover;
  float: left;
  margin-right: 10px;
}
.topic-about__fio {
  float: left;
}
.topic .topic-share {
  margin-top: 24px;
  margin-bottom: 30px;
}
.topic .topic-share .share,
.topic .topic-share .topic-comments {
  margin-top: 0;
  margin-bottom: 0;
}
.topic .share {
  margin: 20px 0;
}
.topic-comments {
  margin: 20px 0;
  display: block;
  font-size: 14px;
  border: 2px solid #fdb712;
  height: 40px;
  padding: 8px;
  line-height: 20px;
  min-width: 140px;
  text-align: center;
  overflow: hidden;
}
.topic-comments__count {
  display: inline-block;
  font-family: 'OpenSansBold';
  text-indent: 5px;
}
.topic-top-image {
  background-size: cover;
  width: 662px;
  height: 420px;
  background-position: center;
}
.topic__lead {
  font-family: 'OpenSansSemibold';
  width: 620px;
  margin-bottom: 24px;
}
.topic .shop,
.topic .quote,
.topic .eyecatch,
.topic .table {
  margin-left: -42px;
}
.topic .quote {
  padding: 11px 0 17px 42px;
  margin-bottom: 34px;
}
.topic .eyecatch {
  padding: 11px 30px 17px 42px;
  margin-bottom: 34px;
}
.topic .table {
  padding-left: 42px;
}
.topic h2 {
  margin-top: 42px;
  margin-bottom: 15px;
}
.topic .adv-superfooter {
  width: 620px;
}
.topic_news .topic-body {
  width: 620px;
}
.video {
  margin-top: 34px;
  margin-bottom: 34px;
  width: 620px;
  height: 348px;
}
.video-player {
  width: 620px;
  height: 348px;
}
.video-player:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0,0,0,0);
}
.video-player:hover:before {
  background-color: rgba(0,0,0,0.2);
}
.video-player__title {
  font-size: 32px;
}
.video-player__play {
  margin-bottom: 20px;
}
.vrez_right,
.vrez_left {
  width: 300px !important;
  margin-bottom: 30px;
  position: relative;
}
.vrez_right a,
.vrez_left a {
  z-index: 1;
  position: relative;
  display: block;
  width: 240px;
  color: #231f1f !important;
  margin-bottom: 20px;
  font-family: 'OpenSansSemibold';
  font-size: 16px;
  line-height: 20px;
}
.vrez_right a:hover,
.vrez_left a:hover {
  color: #fdb712 !important;
  text-decoration: none !important;
}
.vrez_right__bg,
.vrez_left__bg {
  height: 80%;
}
.vrez_right {
  margin-right: -40px;
  float: right;
  margin-left: 40px;
}
.vrez_left {
  float: left;
  margin-right: 40px;
}
.adv-300x600 {
  width: 300px;
  height: 600px;
  background-image: url(/assets/static/png/banner_300x600.d17a252f7bd2d89d86c3d873d86999fe.png);
  background-size: cover;
  margin-bottom: 20px;
}
.adv-300x300 {
  width: 300px;
  height: 300px;
  background-image: url(/assets/static/png/banner_300x300.d27a39aee31e5026a3a7bb2248db5abf.png);
  background-size: cover;
  margin-bottom: 25px;
}
.adv-superfooter {
  width: 656px;
  height: 240px;
  background-image: url(/assets/static/png/banner_superfooter.7083a55b75fda506fbea78eb1415c83f.png);
  background-size: cover;
}
.adv-direct-1-item {
  width: 300px;
  height: 152px;
  background-image: url(/assets/static/png/YAdirect.e1e18eee94d4ae5a5c45e1e1b0f5a5b9.png);
  background-size: cover;
  margin-bottom: 20px;
}
.adv-direct-2-item {
  width: 656px;
  height: 160px;
  background-image: url(/assets/static/png/banner_direct_2item.a7c4f2e8cb237a9f4cf1487808b13845.png);
  background-size: cover;
  margin-bottom: 35px;
}
.adv-direct-3-item {
  width: 940px;
  height: 160px;
  background-image: url(/assets/static/png/banner_direct_3item.6ecfd3a3f9dfe5baf831ef291caf655c.png);
  background-size: cover;
  margin: 0px auto;
}
.adv-inpage {
  width: 620px;
  height: 348px;
  background-image: url(/assets/static/png/banner_inpage.85f7913e0fef2c3024f687e1fb24e3f3.png);
  background-size: cover;
  margin-bottom: 30px;
  margin-top: 34px;
}
.article {
  display: inline-block;
  width: 300px;
}
.article-image {
  width: 300px;
  height: 180px;
  background-size: cover;
  margin-bottom: 6px;
}
.article-header {
  font-family: 'OpenSansSemibold';
}
.article-body {
  display: block;
  margin-bottom: 20px;
}
.article-body:last-child {
  margin-bottom: 0;
}
.article-body_advertise .article-header:after {
  content: ' \420\435\43A\43B\430\43C\430';
  color: #b2b2b2;
}
.choose {
  width: 300px;
  height: 495px;
  float: right;
  margin-top: 8px;
}
.choose__title {
  float: none;
  margin-bottom: 16px;
}
.choose__body {
  display: block;
  background-image: url(/assets/static/jpg/choose.bccc8972ffca5536b519862766480ee6.jpg);
  background-size: cover;
  height: 441px;
}
.daily-number {
  width: 660px;
  height: 125px;
  margin-top: 8px;
}
.daily-number__item {
  display: inline-block;
  float: left;
  width: 315px;
  position: relative;
  padding-left: 32px;
}
.daily-number__item+.daily-number__item {
  margin-left: 10px;
}
.daily-number__item:hover .daily-number__digit {
  opacity: 0.2;
}
.daily-number__title {
  color: #231f1f;
  margin-bottom: 20px;
}
.daily-number__digit {
  position: absolute;
  font-family: 'OpenSansBold';
  font-size: 76px;
  top: 5px;
  left: 0;
  color: #fdb712;
}
.daily-number__text {
  font-family: 'OpenSansSemibold';
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  position: relative;
}
.expert {
  width: 1000px;
  height: 473px;
  margin-bottom: 33px;
  position: relative;
  margin-left: -20px;
  padding-left: 20px;
  padding-top: 20px;
  overflow: hidden;
}
.expert-header__title {
  margin-bottom: 18px;
  margin-top: 3px;
}
.expert-body {
  width: 980px;
  height: 379px;
  position: relative;
}
.expert-item__head:hover .expert-item__photo:before {
  background-color: rgba(255,255,255,0.3);
}
.expert-controls {
  position: absolute;
  top: -54px;
  right: 0;
  font-size: 0;
}
.expert-controls__item {
  display: inline-block;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background-image: url(/assets/static/svg/swiper-arrow.dafdfc991bcb9f1d03e885e87a52220e.svg);
  cursor: pointer;
}
.expert-controls__item_back {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.expert-controls__item:hover {
  opacity: 0.8;
}
.expert-controls__item_disabled,
.expert-controls__item_disabled:hover {
  opacity: 0.5;
}
.forum {
  width: 660px;
  overflow: auto;
}
.forum__heading {
  font-family: 'OpenSansBold';
  font-size: 24px;
  margin-bottom: 15px;
}
.forum__body {
  width: 640px;
  height: 185px;
}
.forum-column {
  display: inline-block;
  float: left;
  width: 310px;
}
.forum-column+.forum-column {
  margin-left: 24px;
}
.forum__item {
  margin-bottom: 20px;
}
.forum__time {
  font-size: 14px;
  line-height: 20px;
  color: #b2b2b2;
  width: 40px;
  float: left;
}
.forum__text {
  margin-left: 20px;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  width: 240px;
  float: left;
}
.forum__title {
  display: inline;
  margin-right: 10px;
}
.lifehacks {
  width: 1024px;
  height: 440px;
  background-color: #fff8f0;
  position: relative;
  overflow: hidden;
  margin-top: 13px;
}
.lifehacks-body {
  padding-left: 20px;
}
.lifehacks-header__title {
  margin-left: 20px;
  margin-top: 28px;
  margin-bottom: 20px;
}
.lifehacks-item {
  width: 320px;
  height: 324px;
  display: inline-block;
  float: left;
  font-family: 'OpenSansBold';
}
.lifehacks-item__photo {
  background-size: cover;
  width: 320px;
  height: 180px;
  position: relative;
  margin-bottom: 30px;
  background-position: center center;
}
.lifehacks-item__body {
  position: relative;
}
.lifehacks-item__title {
  margin-bottom: 10px;
}
.lifehacks-item__rubric {
  font-size: 14px;
}
.lifehacks-item:hover .lifehacks-item__rubric {
  color: #231f1f;
}
.lifehacks-controls {
  top: 20px;
  right: 20px;
}
.main-theme-header__title {
  margin-bottom: 15px;
}
.main-theme-body {
  width: 1024px;
  overflow: auto;
  background-size: cover;
  background-image: url(/assets/static/jpg/main-theme.18bd3caa9150f558a8da22c440900b05.jpg);
  padding: 22px;
}
.main-theme-body:before {
  background-color: rgba(0,0,0,0.4);
}
.main-theme__column {
  width: 245px;
  height: 100%;
  display: inline-block;
  float: left;
  position: relative;
}
.main-theme__column:first-child {
  width: 360px;
  height: 100%;
}
.main-theme__column+.main-theme__column {
  margin-left: 58px;
}
.main-theme__item:hover .main-theme__title {
  color: #fdb712;
}
.most-discussed {
  background-color: #f2f2f2;
  padding-bottom: 20px;
  width: 1024px;
}
.most-discussed-header__title.most-discussed-header__title {
  margin-left: 42px;
  margin-top: 30px;
  margin-bottom: 18px;
}
.most-discussed-body {
  padding: 0 42px 0 22px;
  background-color: #f2f2f2;
  height: 604px;
}
.most-discussed__item {
  background-color: #f2f2f2;
  display: inline-block;
  float: left;
  width: 300px;
  height: 280px;
  margin-left: 20px;
  margin-bottom: 22px;
}
.most-discussed__photo {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center center;
}
.most-discussed__title {
  display: block;
  background-color: #fff;
  width: 276px;
  height: 122px;
  margin: 0 auto;
  margin-top: -40px;
  padding: 9px 12px 17px 12px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'OpenSansSemibold';
}
.most-discussed__text {
  display: inline;
  margin-right: 10px;
}
.most-discussed__comments {
  display: inline-block;
}
.news {
  width: 340px;
  overflow: hidden;
  margin-right: 20px;
  float: left;
  position: relative;
  margin-top: 10px;
}
.news-time,
.news-date {
  color: #b2b2b2;
  font-size: 14px;
  width: 43px;
  float: left;
  text-align: right;
  padding-right: 8px;
}
.news-date {
  text-align: left;
  padding-right: 0;
}
.news-all {
  font-size: 18px;
  line-height: 40px;
  color: #b2b2b2;
  display: block;
  position: relative;
  z-index: 1;
  margin-left: 60px;
  margin-top: -15px;
  padding-bottom: 5px;
}
.news-body_top {
  border-left: 4px solid #fdb712;
}
.news-body_top:before {
  content: '\41D\43E\432\43E\441\442\44C   \434\43D\44F';
  display: block;
  color: #fdb712;
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
}
.news-body_top .news-time {
  display: none;
}
.news-body_top .news-title {
  max-width: 283px;
  margin-left: 10px;
}
.news-body_advertise .news-title:after {
  content: ' \420\435\43A\43B\430\43C\430';
  color: #b2b2b2;
}
.novelty {
  width: 656px;
  height: 495px;
  margin-top: 30px;
}
.novelty-header__title {
  margin-right: 16px;
  margin-bottom: 12px;
}
.novelty-body {
  width: 656px;
  height: 440px;
}
.novelty-container {
  height: 440px;
}
.novelty-item {
  color: #fff;
  display: inline-block;
  position: relative;
  float: left;
  margin-bottom: 4px;
  width: 216px;
  height: 228px;
  background-size: cover;
  background-position: center center;
}
.novelty-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
.novelty-item__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 20px;
}
.novelty-item__text {
  display: none;
}
.novelty-item:nth-child(1),
.novelty-item:nth-child(2) {
  width: 326px;
  height: 208px;
}
.novelty-item:nth-child(1) .novelty-item__text,
.novelty-item:nth-child(2) .novelty-item__text {
  display: inline-block;
  max-width: 216px;
  font-size: 18px;
  line-height: 24px;
}
.novelty-item+.novelty-item {
  margin-left: 4px;
}
.novelty-item:nth-child(3) {
  margin-left: 0;
}
.novelty-item:last-child {
  width: 216px;
}
.novelty-item:hover .novelty-item__overlay {
  background-color: rgba(0,0,0,0.5);
}
.novelty-item_advertise:after {
  content: '\420\435\43A\43B\430\43C\430';
  position: absolute;
  left: 20px;
  top: 10px;
  color: #fdb712;
  font-size: 16px;
}
.novelty-item__title {
  font-family: 'OpenSansBold';
  font-size: 18px;
  position: absolute;
  bottom: 20px;
}
.novelty .rating {
  position: relative;
  float: right;
}
.popular-electronics {
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: 'OpenSansBold';
}
.popular-electronics-header__title {
  margin-bottom: 16px;
}
.popular-electronics-row {
  width: 980px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 4px;
  background: linear-gradient(to bottom, #fff8f0 50%, #f2f2f2);
}
.popular-electronics__column {
  display: inline-block;
  float: left;
  width: 260px;
  position: relative;
  padding: 22px 0;
}
.popular-electronics__column+.popular-electronics__column {
  margin-left: 24px;
}
.popular-electronics__column_main {
  color: #fff;
  width: 371px;
  padding: 22px 40px;
  margin-right: 20px;
}
.popular-electronics__column_main .popular-electronics__title {
  color: #fff;
}
.popular-electronics__column_main .popular-electronics__title:hover {
  color: #fdb712;
}
.popular-electronics__column:nth-child(2):before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -67px;
  width: 0;
  height: 0;
  border-image: linear-gradient(to bottom, #fff8f0 50%, #f2f2f2);
  border-bottom: 320px solid;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}
.popular-electronics__photo {
  background-size: cover;
  width: 376px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}
.popular-electronics__section,
.popular-electronics__item {
  position: relative;
  z-index: 1;
}
.popular-electronics__section {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 300px;
}
.popular-electronics__rubric {
  font-size: 18px;
  opacity: 0.5;
  margin-top: 10px;
  margin-bottom: 7px;
}
.popular-electronics__title {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  display: block;
  width: 260px;
}
.popular-socials {
  counter-reset: popularSocials;
}
.popular-socials-header {
  font-family: 'OpenSansBold';
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 7px;
  margin-top: 0;
}
.popular-socials-body {
  display: block;
  margin-bottom: 14px;
}
.popular-socials-body:last-child {
  margin-bottom: 0;
}
.popular-socials-counter {
  font-family: 'OpenSansBold';
  font-size: 52px;
  line-height: 44px;
  float: left;
  padding-left: 10px;
  color: #ececec;
  counter-increment: popularSocials;
}
.popular-socials-counter:before {
  content: counter(popularSocials);
}
.popular-socials-title {
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
  display: inline-block;
  max-width: 240px;
}
.top-news {
  width: 660px;
  height: 260px;
  position: relative;
  margin-bottom: 20px;
}
.top-news-caption {
  width: 400px;
  height: 236px;
  font-size: 18px;
  line-height: 24px;
  border: 4px solid #feb912;
  padding: 27px 37px;
  position: relative;
  background-color: rgba(255,255,255,0.6);
  z-index: 1;
}
.top-news-caption__header {
  font-family: 'OpenSansBold';
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 7px;
  display: block;
}
.top-news-caption__header:after {
  content: '';
  width: 44px;
  height: 15px;
  background-image: url(/assets/static/svg/topnews-arrow.454231eb1c6371c748296309ec964ab6.svg);
  display: inline-block;
  margin-left: 10px;
}
.top-news-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 380px;
  height: 240px;
  background-size: cover;
}
.videogallery {
  margin-top: 37px;
  margin-bottom: 20px;
}
.videogallery-header__title {
  margin-bottom: 17px;
}
.videogallery-body {
  width: 1024px;
  height: 378px;
}
.videogallery-list {
  width: 346px;
  height: 378px;
  background-color: #231f1f;
  padding: 20px;
  display: inline-block;
}
.videogallery-list__item {
  color: #fff;
  display: block;
  width: 305px;
  height: 64px;
}
.videogallery-list__item+.videogallery-list__item {
  margin-top: 24px;
}
.videogallery-list__photo {
  width: 88px;
  height: 64px;
  background-size: cover;
  float: left;
}
.videogallery-list__title {
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  max-width: 207px;
  float: left;
  display: inline-block;
}
.mtdetail {
  margin-right: 20px;
  margin-top: 3px;
}
.mtdetail__header {
  margin-left: -22px;
  background-size: cover;
  background-position: center center;
  width: 662px;
  height: 280px;
  padding: 24px 22px;
  position: relative;
  color: #fff;
  margin-bottom: 38px;
}
.mtdetail__header:before {
  background-color: rgba(0,0,0,0.4);
}
.mtdetail__header-content {
  position: absolute;
  bottom: 24px;
  left: 22px;
}
.mtdetail__header .mtdetail__rubric {
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 12px;
}
.mtdetail__header .mtdetail__title {
  margin-bottom: 0;
  display: inline;
  margin-right: 18px;
}
.mtdetail__status {
  display: inline;
  padding: 5px 8px;
  border: 1px solid #fdb712;
  font-size: 16px;
  vertical-align: super;
}
.mtdetail .adv-superfooter {
  width: 640px;
}
.mtlist__header {
  margin-bottom: 14px;
}
.mtlist__item {
  margin-left: -22px;
  background-size: cover;
  background-position: center center;
  width: 662px;
  overflow: auto;
  margin-bottom: 20px;
}
.mtlist__item:before {
  background-color: rgba(0,0,0,0.4);
}
.mtlist-body {
  height: 100%;
  padding: 15px 22px;
  position: relative;
}
.mtlist__column {
  width: 245px;
  height: 100%;
  display: inline-block;
  float: left;
}
.mtlist__column:first-child {
  width: 320px;
  height: 100%;
}
.mtlist__column+.mtlist__column {
  margin-left: 20px;
}
.mtlist-main:hover .mtlist-main__title {
  color: #fdb712;
}
.mtlist-main:hover .mtlist-main__btn {
  opacity: 0.7;
}
.mtlist-main__title {
  font-size: 24px;
  line-height: 32px;
}
.mtlist .adv-superfooter {
  margin-top: 40px;
  width: 640px;
}
.mt__item:hover .mt__title {
  color: #fdb712;
}
.newslist__header {
  margin-bottom: 18px;
  margin-top: 24px;
}
.newslist__item {
  margin-bottom: 24px;
  max-width: 640px;
}
.newslist__date {
  margin-bottom: 20px;
}
.newslist__title {
  font-family: 'OpenSansBold';
  width: 540px;
  float: left;
  margin-bottom: 13px;
}
.newslist__time {
  font-size: 18px;
  font-family: 'OpenSansSemibold';
  float: right;
  color: #b2b2b2;
}
.newslist__rubric,
.reviewlist__rubric {
  color: #b2b2b2;
  font-size: 14px;
}
.newslist .adv-superfooter {
  margin: 30px 0;
}
.reviewlist {
  width: 690px;
}
.reviewlist-header__title {
  float: left;
  margin-right: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.reviewlist-categories {
  margin-top: 29px;
}
.reviewlist-categories__item {
  margin-right: 0;
}
.reviewlist__item {
  margin-right: 40px;
  margin-bottom: 36px;
  height: auto;
  position: relative;
}
.reviewlist__photo {
  margin-bottom: 6px;
}
.reviewlist__title {
  margin-top: 6px;
}
.reviewlist__text {
  display: inline;
  margin: 8px 0;
  margin-right: 10px;
  font-size: 18px;
}
.reviewlist__date {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-family: 'OpenSansSemibold';
  font-weight: normal;
}
.reviewlist__rubric {
  margin-top: 8px;
}
.reviewlist .rating {
  position: relative;
  float: right;
  margin-top: -6px;
}
.reviewlist .adv-direct-2-item {
  width: 640px;
  margin-bottom: 40px;
}
.reviewlist .adv-superfooter {
  width: 640px;
  margin-top: 40px;
}
.reviewlist__item_video .reviewlist__title {
  max-width: 300px;
  display: inline;
  margin-right: 10px;
}
.reviewlist__item_video .reviewlist__rubric {
  margin-top: 10px;
}
.reviewlist__item_video .reviewlist__photo {
  position: relative;
}
.reviewlist__item_video .reviewlist__play {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
}
.reviewlist__item_expert .rating {
  margin-top: 0;
  top: 0;
}
.reviewlist__item_expert .reviewlist__head:hover .reviewlist__photo:before {
  background-color: rgba(255,255,255,0.3);
}
.reviewlist__item_expert .reviewlist-body__title {
  margin-bottom: 0;
}
.reviewlist__item_expert .reviewlist-body__text {
  margin-top: 10px;
  padding-top: 10px;
  margin-left: -10px;
  padding-left: 10px;
  max-height: calc(4em + 10px);
  overflow: hidden;
  position: relative;
}
.reviewlist__item_expert .reviewlist-body__text:before {
  top: 0;
  left: 0;
}
.reviewlist__item_expert:hover .reviewlist__photo:before {
  display: none;
}
.tagpage {
  padding-right: 20px;
}
.tagpage__label {
  margin-top: 10px;
}
.tagpage__title {
  max-width: 500px;
  float: left;
  margin-top: 0;
}
.tagpage .topictags__body {
  margin-left: 142px;
}
.tagpage-categories {
  margin-left: 136px;
}
.tagpage-container {
  margin-bottom: 40px;
}
.tagpage__label,
.tagpage .news-announce__date {
  font-family: 'OpenSansSemibold';
  font-size: 18px;
  line-height: 24px;
}
.tagpage .news-announce__item_wide .news-announce__text {
  max-width: 400px;
}
.tagpage .adv-direct-2-item {
  width: 640px;
}
.tagpage .adv-superfooter {
  width: 640px;
}

/*# sourceMappingURL=application.css.map*/