/* begin Page */


body
{
  margin: 0 auto;
  padding: 0;
  background-color: #D4CCAA;
  background-image: url('../images/Page-BgTexture.jpg');
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: top left;
}

.Main
{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}





.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size:1px;
}


/* end Page */

/* begin Box, Sheet */
.Sheet
{
  overflow: hidden;
  min-width:71px;
  min-height:71px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  width: 900px;
}


.Sheet-body
{
  position: relative;
  z-index: 0;
  margin: 18px;
}

.Sheet-tl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  width: 69px;
  height: 69px;
  background-image: url('../images/Sheet-s.png');
}

.Sheet-tr
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 69px;
  height: 69px;
}

.Sheet-tr div
{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -69px;
  width: 138px;
  height: 138px;
  background-image: url('../images/Sheet-s.png');
}

.Sheet-bl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 69px;
  height: 69px;
}

.Sheet-bl div
{
  position: absolute;
  z-index: -1;
  top: -69px;
  left: 0;
  width: 138px;
  height: 138px;
  background-image: url('../images/Sheet-s.png');
}

.Sheet-br
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 69px;
  height: 69px;
}

.Sheet-br div
{
  position: absolute;
  z-index: -1;
  top: -69px;
  left: -69px;
  width: 138px;
  height: 138px;
  background-image: url('../images/Sheet-s.png');
}

.Sheet-tc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 0;
  left: 69px;
  right: 69px;
  height: 69px;
}

.Sheet-tc div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 138px;
  background-image: url('../images/Sheet-h.png');
}

.Sheet-bc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  bottom: 0;
  left: 69px;
  right: 69px;
  height: 69px;
}

.Sheet-bc div
{
  position: absolute;
  z-index: -1;
  top: -69px;
  left: 0;
  width: 100%;
  height: 138px;
  background-image: url('../images/Sheet-h.png');
}

.Sheet-cl
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 69px;
  left: 0;
  width: 69px;
  bottom: 69px;
}

.Sheet-cl div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 138px;
  height: 100%;
  background-image: url('../images/Sheet-v.png');
}

.Sheet-cr
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 69px;
  right: 0;
  width: 69px;
  bottom: 69px;
}

.Sheet-cr div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: -69px;
  width: 138px;
  height: 100%;
  background-image: url('../images/Sheet-v.png');
}

.Sheet-cc
{
  position: absolute;
  overflow:hidden;
  z-index: -2;
  top: 69px;
  left: 69px;
  right: 69px;
  bottom: 69px;
  background-image: url('../images/Sheet-c.png');
}


.Sheet
{
  margin-top: -18px !important;
}
/* end Box, Sheet */

/* begin Header */
div.Header
{
  margin: 0 auto;
  position: relative;
  z-index:0;
  width: 864px;
  height: 175px;
}



div.Header-jpeg
{
  position: absolute;
  z-index:-1;
  top: 0;
  left: 0;
  width: 864px;
  height: 175px;
  background-image: url('../images/Header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}
/* end Header */

/* begin Logo */
.logo
{
  display : block;
  position: absolute;
  left: {LogoLeft}px;
  top: {LogoTop}px;
  width: {LogoWidth}px;
}

h1.logo-name
{
  display: block;
  text-align: {HorizontalAlign};
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover
{
{LogoNameFont}
  padding:0;
  margin:0;
  color: {NameFontColor} !important;
}

.logo-text
{
  display: block;
  text-align: {HorizontalAlign};
}

.logo-text, .logo-text a
{
{LogoSloganFont}
  padding:0;
  margin:0;
  color: {TextFontColor} !important;
}

/* end Logo */

/* begin Menu */
/* menu structure */

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
  text-align:left;
  text-decoration:none;
  outline:none;
  letter-spacing:normal;
  word-spacing:normal;
}

.artmenu, .artmenu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.artmenu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background:none;
}

.artmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.artmenu li li
{
  float: none;
}

.artmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background:none;
}

.artmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.artmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.artmenu:after, .artmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.artmenu, .artmenu ul
{
  min-height: 0;
}

.artmenu ul
{
  background-image: url(../images/spacer.gif);
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.artmenu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}


/* menu structure */

.nav
{
  position: relative;
  margin: 0  auto;
  width: 864px;
  height: 25px;
  z-index: 100;
}

.artmenu
{
  padding: 0px 0px 0px 0px;
}


.nav .l, .nav .r, .nav .r div
{
  top: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 25px;
}

.nav .l
{
  left: 0;
  right: 0px;
}


.nav .r
{
  right: 0;
  width: 0px;
}


.nav .r div
{
  width: 864px;
  right: 0;
}


.nav .l, .nav .r div
{
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url('../images/nav.png');
}

/* end Menu */

/* begin MenuItem */
.artmenu ul li
{
  clear: both;
}

.artmenu a , .artmenu a span
{
  height: 25px;
  display: block;
}


.artmenu a
{
  cursor: pointer;
  text-decoration: none;
  margin-right: 0px;
  margin-left: 0px;

}
.artmenu a span span
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  padding: 0 12px;
  margin: 0 0px;
  line-height: 25px;
  text-align: center;
  background-image: url('../images/item-center.png');
  background-position: left top;
  background-repeat: repeat-x;

}




.artmenu a:hover span span
{
  color: #FFFFFF;
  background-position: left -25px;
}

.artmenu li:hover a span span
{
  color: #FFFFFF;
  background-position: left -25px;
}


.artmenu a.active span span
{
  color: #141613;
  background-position: left -50px;
}

/* end MenuItem */

/* begin MenuSeparator */
.nav .separator
{
  display: block;
  width: 1px;
  height: 25px;
  background-image: url('../images/item-separator.png');
}

/* end MenuSeparator */

/* begin MenuSubItem */
.artmenu ul a
{
  display:block;
  text-align: center;
  white-space: nowrap;
  height: 21px;
  width: 176px;
  overflow:hidden;
  line-height: 21px;
  margin-right: auto;


  background-image: url('../images/subitem-bg.png');
  background-position: left top;
  background-repeat: repeat-x;

  border-width: 0px;
  border-style: solid;
  border-color: {PassiveBorderColor};
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.artmenu ul a, .artmenu ul a:link, .artmenu ul a:visited, .artmenu ul a:hover, .artmenu ul a:active, .nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 21px;
  color: #474024;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.artmenu ul ul a
{
  margin-left: auto;
}

.artmenu ul li a:hover
{
  color: #F8F7F1;
  border-color: {HoveredBorderColor};
  background-position: 0 -21px;
}

.artmenu ul li:hover>a
{
  color: #F8F7F1;
  border-color: {HoveredBorderColor};
  background-position: 0 -21px;
}

.nav .artmenu ul li a:hover span, .nav .artmenu ul li a:hover span span
{
  color: #F8F7F1;
}

.nav .artmenu ul li:hover>a span, .nav .artmenu ul li:hover>a span span
{
  color: #F8F7F1;
}


/* end MenuSubItem */

/* begin ContentLayout */
.contentLayout
{
  margin-bottom: 10px;
  width: 864px;
  position: relative;
}
/* end ContentLayout */

/* begin Box, Block */
.Block
{
  overflow: hidden;
  min-width:1px;
  min-height:1px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.Block-body
{
  position: relative;
  z-index: 0;
  margin: 7px;
}


.Block-cc
{
  position: absolute;
  overflow:hidden;
  z-index: -2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url('../images/Block-c.png');
}


.Block
{
  margin: 0px;
}

/* end Box, Block */

/* begin BlockHeader */
.BlockHeader
{
  position: relative;
  overflow: hidden;
  height: 30px;
  z-index: 0;
  line-height: 30px;
  padding: 0 5px;
  margin-bottom: 0px;

}

.BlockHeader-text
{
  white-space : nowrap;
  color: #990001;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}


.BlockHeader .l, .BlockHeader .r, .BlockHeader .r div
{
  top: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 30px;
}

.BlockHeader .l
{
  left: 0;
  right: 0px;
}


.BlockHeader .r
{
  right: 0;
  width: 0px;
}


.BlockHeader .r div
{
  width: 864px;
  right: 0;
}






/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent
{
  overflow: hidden;
  min-width:1px;
  min-height:1px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.BlockContent-body
{
  position: relative;
  z-index: 0;
  margin: 5px;
}


.BlockContent-body
{
  color:#000000;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.BlockContent-body a:link
{
  color: #000000;
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.BlockContent-body a:visited, .BlockContent-body a.visited
{
  color: #000000;
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.BlockContent-body a:hover, .BlockContent-body a.hover
{
  color: #26588C;
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}


.BlockContent-body ul
{
  list-style-type: none;
  color: #990001;
  margin:0;
  padding:0;
}

.BlockContent-body li
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  text-decoration: none;
}

.BlockContent-body ul li
{
  padding:0px 0 0px 18px;
  background-image: url('../images/BlockContentBullets.png');
  background-repeat:no-repeat;
  margin:0.5em 0 0.5em 0;
  line-height:1.2em;
}

/* end Box, BlockContent */

/* begin Box, Post */
.Post
{
  overflow: hidden;
  min-width:1px;
  min-height:1px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.Post-body
{
  position: relative;
  z-index: 0;
  margin: 10px;
}


.Post
{
  margin: 10px;
}


/* Start images */
a img
{
  border: 0;
}

.article img, img.article
{
  border-style: solid;
  border-width: 0px;
  border-color: #B7A971;
  margin: 1em;
}

.metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin:2px;
}
/* Finish images */

/* Start tables */

.article table, table.article
{
  border-collapse: collapse;
  margin: 1px;
  width:auto;
}

.article table, table.article .article tr, .article th, .article td
{
  background-color:Transparent;
}

.article th, .article td
{
  padding: 2px;
  border: solid 1px #000000;
  vertical-align: top;
  text-align:left;
}

.article th
{
  text-align:center;
  vertical-align:middle;
  padding: 7px;
}



/* Finish tables */
/* end Box, Post */

/* begin PostHeaderIcon */
.PostHeaderIcon-wrapper
{
  text-decoration:none;
  margin: 0.2em 0;
  padding: 0;
  font-weight:normal;
  font-style:normal;
  letter-spacing:normal;
  word-spacing:normal;
  font-variant:normal;
  text-decoration:none;
  font-variant:normal;
  text-transform:none;
  text-align:left;
  text-indent:0;
  line-height:inherit;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #373B35;
}

.PostHeaderIcon-wrapper, .PostHeaderIcon-wrapper a, .PostHeaderIcon-wrapper a:link, .PostHeaderIcon-wrapper a:visited, .PostHeaderIcon-wrapper a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #373B35;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.PostHeader a:link
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #5C522E;
}

.PostHeader a:visited, .PostHeader a.visited
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #596156;
}

.PostHeader a:hover, .PostHeader a.hovered
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #C09C1B;
}
/* end PostHeader */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.PostContent
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  color: #000000;
}

/* Start Content link style */

a
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: ;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color:#4800FF;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color:#4800FF;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #990000;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #000000;
}
/* Finish Content headings Fonts & Colors  */

/* end PostContent */

/* begin PostBullets */
/* Start Content list */

ul
{
  list-style-type: none;
  color: #373B35;
  margin:0;
  padding:0;
}

li
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
}



.Post ul li
{
  padding:0px 0 0px 13px;
  background-image: url('../images/PostBullets.png');
  background-repeat:no-repeat;
  margin:0.5em 0 0.5em 0;
  line-height:1.2em;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */

blockquote p
{
  color:#141613;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

blockquote
{
  border-color:#D4CCAA;
  border-width: 1px;
  border-style: solid;

  margin:10px 10px 10px 50px;
  padding:5px 5px 5px 41px;

  background-color:#FFFFFF;

  background-image:url('../images/PostQuote.png');
  background-position:left top;
  background-repeat:no-repeat;
}



/* Finish blockuote */
/* end PostQuote */

/* begin Button */
button.Button, a.Button
{
  position:relative;
  display:inline-block;
  width: auto;
  outline:none;
  border:none;
  background:none;
  line-height:34px;
  margin:0;
  padding:0;
  overflow: visible;
  cursor: default;
  text-decoration: none !important;
}


/*This HACK needed for ie7 (button position)*/
*:first-child+html button.Button, *:first-child+html a.Button
{
  display:list-item;
  list-style-type:none;
  float:left;
}


.Button .btn
{
  position: relative;
  overflow: hidden;
  display: block;
  width: auto;
  z-index: 0;
  height: 34px;
  color: #000000;
  white-space: nowrap;
  float: left;
}

.Button .t
{
  height:34px;
  white-space: normal;
  padding: 0 21px;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  line-height: 34px;
  text-decoration: none !important;
}

input, select
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.Button .active
{
  color: #FCF9ED;
}

.Button .hover,  a.Button:hover
{
  color: #BDC3BB;
  text-decoration: none !important;
}

.Button .active .r
{
  top: -68px;
}

.Button .hover .r
{
  top: -34px;
}

.Button .r
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 11px;
  height: 102px;
}


.Button .r span
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width:411px;
  height: 102px;
}


.Button .active .l
{
  top: -68px;
}

.Button .hover .l
{
  top: -34px;
}

.Button .l
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  right: 11px;
  height: 102px;
}


.Button .l, .Button .r span
{
  background-image: url('../images/Button.png');
}

/* end Button */

/* begin Footer */
.Footer
{
  position:relative;
  z-index:0;
  overflow:hidden;
  width: 864px;
  margin: 0px auto 0px auto;
  
}

.Footer .Footer-inner
{
  height:1%;
  position: relative;
  z-index: 0;
  padding: 16px;
  text-align: left;
  background-image: url('../images/footerline.png');
  background-repeat: no-repeat;
  
}

.Footer .Footer-background
{
  position:absolute;
  z-index:-1;
  background-repeat:no-repeat;
  background-image: url('../images/Footer.png');
  width: 864px;
  height: 100px;
  bottom:0;
  left:0;
}



.rss-tag-icon
{
  position: relative;
  display:block;
  float:left;
  background-image: url('../images/livemarks.png');
  background-position: center right;
  background-repeat: no-repeat;
  margin: 0 5px 0 0;
  height: 32px;
  width: 24px;
}




.Footer .Footer-text p
{
  margin: 0;
  text-align: center;
}

.Footer .Footer-text
{
  display:inline-block;
  color:#000000;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  
}

.Footer .Footer-text a:link
{
  text-decoration: none;
  color: #000000;
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.Footer .Footer-text a:visited
{
  text-decoration: none;
  color: #000000;
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.Footer .Footer-text a:hover
{
  text-decoration: none;
  color: #000000;
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.page-footer, .page-footer a, .page-footer a:link, .page-footer a:visited, .page-footer a:hover
{
  font-family:Arial;
  font-size:10px;
  letter-spacing:normal;
  word-spacing:normal;
  font-style:normal;
  font-weight:normal;
  text-decoration:underline;
  color:#B3911A;
}

.page-footer
{
  margin:1em;
  text-align:center;
  text-decoration:none;
  color:#887A44;
}
/* end PageFooter */

/* begin LayoutCell */
.contentLayout .sidebar1
{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  overflow: hidden;
  width: 215px;
}

/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .content
{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  overflow: hidden;
  width: 476px;
}

/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .sidebar2
{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  overflow: hidden;
  width: 172px;
}

/* end LayoutCell */



.contentLayout li
{
  float: none;
}

table.moduletable th
{
  font-size: 140%;
  padding: .5em 0em;
}

#footer
{
  text-align: center;
}

.breadcrumbs
{
  display: block;
  padding: .7em 0em;
}

.contentpaneopen span.small, .contentpaneopen td.createdate, .contentpaneopen td.modifydate
{
  font-size: 75%;
  padding-bottom: 1em;
}

.article_column
{
  padding-right: .2em;
}

.column_separator 
{
  padding-left: .4em;
}

.pagination span
{
  padding: 2px;
}

.pagination a
{
  padding: 2px;
}

div.offline
{
  background: #fffebb;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2em;
  padding: 5px;
}

span.pathway
{
  display: block;
  margin: 0 20px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
}

/* headers */
table.moduletable th, legend
{
  margin: 0;
  font-weight: bold;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1.5em;
  padding-left: 0px;
  margin-bottom: 10px;
  text-align: left;
}

/* form validation */
.invalid
{
  border-color: #ff0000;
}

label.invalid
{
  color: #ff0000;
}


/** overlib **/

.ol-foreground
{
  background-color: #f6f6f6;
}

.ol-background
{
  background-color: #666;
}

.ol-textfont
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.ol-captionfont
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #f6f6f6;
  font-weight: bold;
}

.ol-captionfont a
{
  color: #0B55C4;
  text-decoration: none;
  font-size: 12px;
}

/* spacers */
span.article_separator
{
  display: none;
}

.article_column
{
  padding-right: 5px;
}

.column_separator
{
  border-left: 1px dashed #e0e0e0;
  padding-left: 10px;
}

td.buttonheading img
{
  border: none;
}

.clr
{
  clear: both;
}

td.greyline
{
  width: 20px;
  background: url(http://pcspravka.ru/images/mw_line_grey.png) 50% 0 repeat-y;
}

div#maindivider
{
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
  overflow: hidden;
  height: 1px;
}

table.blog span.article_separator
{
  display: none;
}

/* edit button */
.contentpaneopen_edit
{
  float: left;
}

/* table of contents */
table.contenttoc
{
  margin: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  float: right;
}

table.contenttoc td
{
  padding: 0 5px;
}


/* content tables */
td.sectiontableheader
{
  background: #efefef;
  color: #333;
  font-weight: bold;
  padding: 4px;
  border-right: 1px solid #fff;
}
--------------------------------------------------------------------------------------------------------------------------------------
tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td
{
  /*padding: 4px;*/
}

td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2
{
  /*padding: 3px;*/
}


/* content styles */
table.contentpaneopen, table.contentpane
{
  margin: 0;
  padding: 0;
  width: auto;
}

table.contentpaneopen li
{
  margin-bottom: 5px;
}

table.contentpaneopen fieldset
{
  border: 0;
  border-top: 1px solid #ddd;
}

table.contentpaneopen h3
{
  margin-top: 25px;
}

table.contentpaneopen h4
{
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.highlight
{
  background-color: #fffebb;
}

/* module control elements */
table.user1user2 div.moduletable
{
  margin-bottom: 0px;
}

div.moduletable, div.module
{
  margin-bottom: 25px;
}

div.module_menu h3
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #eee;
  margin: -23px -4px 5px -5px;
  padding-left: 10px;
  padding-bottom: 2px;
}

div.module_menu
{
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

div.module_menu div div div
{
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 15px;
  width: auto;
}

div.module_menu div div div div
{
  background: none;
  padding: 0;
}

div.module_menu ul
{
  margin: 10px 0;
  padding-left: 20px;
}

div.module_menu ul li a:link, div.module_menu ul li a:visited
{
  font-weight: bold;
}

#leftcolumn div.module
{
  padding: 0 10px;
}

#leftcolumn div.module table
{
  width: auto;
}

/* forms */
table.adminform textarea
{
  width: 540px;
  height: 400px;
  font-size: 1em;
  color: #000099;
}

div.search input
{
  width: 145px;
  border: 1px solid #ccc;
  margin: 15px 0 10px 0;
}

form#form-login
{
  text-align: left;
}

form#form-login fieldset
{
  border: 0 none;
  margin: 0;
  padding: 0.2em;
}

form#form-login ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form#form-login ul li
{
  background-image: none;
  padding: 0;
}

#modlgn_username, #modlgn_passwd
{
  width: 90%;
}

#form-login-username, #form-login-password, #form-login-remember
{
  display: block;
  margin: 0;
}

form#com-form-login
{
  text-align: left;
}

form#com-form-login fieldset
{
  border: 0 none;
  margin: 0;
  padding: 0.2em;
}

form#com-form-login ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form#com-form-login ul li
{
  background-image: none;
  padding: 0;
}

/* thumbnails */
div.mosimage
{
  margin: 5px;
}

div.mosimage_caption {
  font-size: .90em;
  color: #666;
}

div.caption
{
  padding: 0 10px 0 10px;
}

div.caption img
{
  border: 1px solid #CCC;
}

div.caption p
{
  font-size: .90em;
  color: #666;
  text-align: center;
}

/* Parameter Table */
table.paramlist
{
  margin-top: 5px;
}

table.paramlist td.paramlist_key
{
  width: 128px;
  text-align: left;
  height: 30px;
}

div.message
{
  font-weight: bold;
  font-size: 14px;
  color: #c30;
  text-align: center;
  width: auto;
  background-color: #f9f9f9;
  border: solid 1px #d5d5d5;
  margin: 3px 0px 10px;
  padding: 3px 20px;
}

/* Banners module */

/* Default skyscraper style */
.banneritem img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Text advert style */

.banneritem_text
{
  padding: 4px;
  font-size: 11px;
}

.bannerfooter_text
{
  padding: 4px;
  font-size: 11px;
  background-color: #f7f7f7;
  text-align: right;
}

/* System Messages */
/* see system general.css */

.pagination span
{
  padding: 2px;
}

.pagination a
{
  padding: 2px;
}

/* Polls */
.pollstableborder
{
  margin-top: 8px;
}


.pollstableborder td
{
  text-align: left;
  
}

/* WebLinks */
span.description
{
  display: block;
  padding-left: 30px;
}

/* Frontend Editing*/
fieldset
{
  border: 1px solid #ccc;
  margin-top: 15px;
  padding: 15px;
}

legend
{
  margin: 0;
  padding: 0 10px;
}

td.key
{
  border-bottom: 1px solid #eee;
  color: #666;
}

/* Tooltips */

.tool-tip
{
  float: left;
  background: #ffc;
  border: 1px solid #d4d5aa;
  padding: 5px;
  max-width: 200px;
}

.tool-title
{
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: bold;
  margin-top: -15px;
  padding-top: 15px;
  padding-bottom: 5px;
  background: url(http://pcspravka.ru/images/selector-arrow.png) no-repeat;
}

.tool-text
{
  font-size: 100%;
  margin: 0;
}

/* System Standard Messages */
#system-message
{
  margin-bottom: 20px;
}

#system-message dd.message ul
{
  background: #c3d2e5 url(http://pcspravka.ru/images/notice-info.png) 4px center no-repeat;
  border-top: 3px solid #de7a7b;
  border-bottom: 3px solid #de7a7b;
  margin:0px;
  padding-left: 40px;
  text-indent:0px;
}

/* System Error Messages */
#system-message dd.error ul
{
  color: #c00;
  background: #e6c0c0 url(http://pcspravka.ru/images/notice-alert.png) 4px center no-repeat;
  border-top: 3px solid #DE7A7B;
  border-bottom: 3px solid #DE7A7B;
  margin: 0px;
  padding-left: 40px;
  text-indent: 0px;
}

/* System Notice Messages */
#system-message dd.notice ul
{
  color: #c00;
  background: #efe7b8 url(http://pcspravka.ru/images/notice-note.png) 4px center no-repeat;
  border-top: 3px solid #f0dc7e;
  border-bottom: 3px solid #f0dc7e;
  margin: 0px;
  padding-left: 40px;
  text-indent: 0px;
 }

#syndicate
{
  float: left;
  padding-left: 25px;
}

/* Component Specific Fixes */

#component-contact table td
{
  padding: 2px 0;
}

.breadcrumbs img
{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.mceToolbarTop {
  white-space: normal;
}