/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp * {
  margin: 0px;
  padding: 0px;
  outline: none;
}

.markItUp a:link,
.markItUp a:visited {
  color: #000;
  text-decoration: none;
}

.markItUp  {
  margin: 5px 0 5px 0;
}

.markItUpContainer  {
  padding: 0;
}

.markItUpEditor {
  width: 98%;
  padding: 1%;
  height: 130px;
  position: relative;
  display: block;
  clear: both;
  line-height: 18px;
  overflow: auto;
}

.markItUpPreviewFrame {
  overflow: auto;
  background-color: #FFFFFF;
  border: 1px solid #3C769D;
  width: 99.9%;
  height: 150px;
  margin: 5px 0;
}

.markItUpFooter {
  cursor: n-resize;
}

.markItUpResizeHandle {
  overflow: hidden;
  width: 22px; 
  height: 5px;
 margin: 2px auto;
  background-image: url(images/handle.png);
  cursor: n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
  list-style: none;
  float: left;
  position: relative;
}

.markItUpHeader ul li ul{
  display: none;
}

.markItUpHeader ul li:hover > ul{
  display: block;
}

.markItUpHeader ul .markItUpDropMenu {
  background: transparent url(images/menu.png) no-repeat 115% 50%;
  margin-right: 5px;
}

.markItUpHeader ul .markItUpDropMenu li {
  margin-right: 0px;
}

.markItUpHeader ul .markItUpSeparator {
  margin: 0 10px;
  width: 1px;
  height: 16px;
  overflow: hidden;
  background-color: #CCC;
}

.markItUpHeader ul ul .markItUpSeparator {
  width: auto; 
  height: 1px;
  margin: 0px;
}

/* next rows of buttons */
.markItUpHeader ul ul {
  display: none;
  position: absolute;
  top: 18px; 
  left: 0px;	
  background: #F5F5F5;
  border: 1px solid #3C769D;
  height: inherit;
  padding: 0;
}

.markItUpHeader ul ul li {
  float: none;
  border: none;
  border-bottom: 1px solid #3C769D;
}

.markItUpHeader ul ul .markItUpDropMenu {
  background: #F5F5F5 url(images/submenu.png) no-repeat 100% 50%;
}

/* next rows of buttons */
.markItUpHeader ul ul ul {
  position: absolute;
  top: -1px;
  left: 150px;
}

.markItUpHeader ul ul ul li {
  float: none;
}

.markItUpHeader ul a {
  display: block;
  width: 16px; 
  height: 16px;
  text-indent: -10000px;
  background-repeat: no-repeat;
  padding: 3px;
  margin: 0px;
}

.markItUpHeader ul ul a {
  display: block;
  padding-left: 0px;
  text-indent: 0;
  width: 120px; 
  padding: 5px 5px 5px 25px;
  background-position: 2px 50%;
}

.markItUpHeader ul ul a:hover  {
  color: #FFF;
  background-color: #3C769D;
}