.leftmenu    { font-size: 10pt; text-align: left; margin-left:3; margin-right:3; padding-top:0; padding-bottom:0 }


.podpis_pic  { font-style: italic; text-align: center }
.podpis      { font-size: 10pt; font-style: italic; font-weight: bold; text-align: right; 
               margin-top: 0; margin-bottom: 0 }
.latestnews  { font-size: 10pt;   }
.bottom      { background-image: url('images/footerbg.gif') }
/*.top         { color: #FFFFFF; background-color: #000000; background-image: url('images/bodybg.gif') }*/
 /* CSS Document */

/* for XHTML structure */
body{
	margin: 0;
	
	
	font-family: Arial;
	color: #474747;
	font-size: 12px;
}

#bigframe{
	background-image: url('images/bodybg.gif');
	background-position: top left;
	background-repeat: repeat-x;
	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	
	 
}


#main{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	
	text-align: center;
	
}

#header{
	height: 143px;
	width: 992px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

#logo{
	width: 218px;
	float: left;
}

#banner{
	width: 774px;
	float: right;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

#bannertext{
	width: 760px;
	float: left;
	text-align: left;
	background-image: url('images/bannerbg.gif');
	background-position: top left;
	background-repeat: no-repeat;
	height: 109px;
	margin-top: 16px;
	
	padding: 12px 16px 0px 16px;
}

#navi{
	height: 27px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 992px;
	float: right;

}

#googlenavi{
	margin-top: 4px;
	height: 21px;
	float: right;

	
}

#haku{
	width: 210px;
	float: right;
	height: 27px;
	
	background-image: url('images/searchbg.gif');
	background-position: top left;
	background-repeat: no-repeat;
}

#navigointi{
	width: 782px;
	float: right;
	height:27px;
}


#content{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 987px; margin-left:15; margin-right:auto; margin-top:auto; margin-bottom:auto
}

#a{
	float: left;
	width: 200px;
	margin-left:5px; margin-right:5px; margin-top:16px; margin-bottom:50px
}

#b{
	float: left;
	width: 551px;
	margin: 16px 18px 50px 18px;
	text-align:left;
}

#c{
	width: 200px;
	float: right;
	margin: 16px 0px 50px 0px;
}

#d{
	width: 951px;
	float: left;
	margin: 0px 18px 0px 18px;
}

#x{
	width: 751px;
	margin: 16px 18px 50px 18px;
	float: right;
	text-align:left;
}

#y{
	width: 769px;
	margin: 0px 18px 0px 0px;
	float: left;
	text-align:left;
}

#z{
	width: 987px;
}

#footer{
	background-color: #ffffff;
	clear:both;
	height: 82px;
	margin-top: 50px;
	background-image: url('images/footerbg.gif');
	background-position: top left;
	background-repeat: repeat-x;
}

#footertext{
	padding-top: 28px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 992px;
	
	font-family: Arial;
	color: #888888;
	font-weight: normal;
	font-size: 11px;
	text-decoration:none;
}

#copyright{
	width: 582px;
	text-align: center;
	float: left;
}

#copyright div{
	float: left;
	text-align: center;
	clear:both;
}

#some{
	width: 210px;
	float: right;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

#left{
	float: left;
	width: 218px;
	margin: 0;
}

#basic{
	float: left;
	width: 569px;
	background-color: red;
	margin: 0;
}

#right{
	width: 200px;
	float: right;
	margin: 0;
	
	text-align:right;
}


#basic2{
	float: right;
	width: 770px;
	background-color: red;
}

/* for joomla */

#mod_search_searchword{
	border: none;
	height: 19px;
	background: transparent;
	font-size: 11px;
	font-weight: normal;
	width: 180px;
	margin: 4px 0px 0px 0px;
	padding-left: 10px;
}


div.search{
	
	
}

ul#mainlevel-nav
{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.8em;
}

ul#mainlevel-nav li
{
	background-image: none;
	padding-left: 0px;
	padding-right: 0px;
	float: left;
	margin: 0;
	font-size: 11px;
	line-height: 21px;
	white-space: nowrap;
	border-right: 1px solid #cccccc;
}

ul#mainlevel-nav li a
{
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: #333333;
	background: transparent;
}

#buttons>ul#mainlevel-nav li a { width: auto; }

	ul#mainlevel-nav li a:hover
{
	color: #fff;
	background: #b0da11;
}

.maintitle {
	color: #ffffff;
	font-size: 40px;
	padding-left: 15px;
	padding-top: 20px;
}

.error {
  font-style: italic;
  text-transform: uppercase;
  padding: 5px;
  color: #cccccc;
  font-size: 14px;
  font-weight: bold;
}

.back_button {
	float: left;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  border: 3px double #cccccc;
  width: auto;
  background: url(images/button_bg.png) repeat-x;
  padding: 0px 10px;
  line-height: 20px;
  margin: 1px;
}

.pagenav {
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  border: 3px double #cccccc;
  width: auto;
  background: url(images/button_bg.png) repeat-x;
  padding: 0px 10px;
  line-height: 20px;
  margin: 1px;
}


/* Joomla core stuff */
a:link, a:visited {
	color: #428ce7;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #428ce7;
	text-decoration: none;
	font-weight: normal;
}

.blogsection{
	font-weight: normal;
}

table.contentpaneopen {
  width: 100%;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px;
	
	font-family: serif;
	font-size: 12pt;
	color: #474747; text-align:justify
}

table.contentpaneopen td {
   /*padding-right: 5px;*/
   padding: 0;
}

table.contentpaneopen td.componentheading {
	padding-left: 4px;
}

table.contentpane {
  width: 100%;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px;
	
	font-family: Arial;
	font-size: 12px;
	color: #474747;
}


table.contentpane td {
	margin: 0px;
	padding: 0px;
}

table.contentpane td.componentheading {
	padding-left: 4px;
}

table.contentpaneopen fieldset {
	border: 0px;
	border-bottom: 1px solid #eee;
}

.button {
  color: #b0da11;
  font-family: Arial, Hevlvetica, sans-serif;
  text-align: center;
  font-size: 11px;
  font-weight: normal;
  border: 3px double #cccccc;
  width: auto;
  background: url(images/button_bg.png) repeat-x;
  padding: 0px 5px;
  line-height: 18px !important;
  line-height: 16px;
  height: 26px !important;
  height: 24px;
  margin: 1px;
}

.inputbox {
	padding: 2px;
	border:solid 1px #cccccc;
	background-color: #ffffff;
	font-size: 12px;
	color: #474747;
}

.componentheading {
	font-family: Trebuchet MS;
	font-size: 20px;
	
	color: #b0da11;
	font-weight: bold;
}

.contentcolumn {
	padding-right: 5px;
}

.contentheading{
	font-family: Trebuchet MS;
	font-size: 20px;
	
	color: #b0da11;
	font-weight: bold;
}

.contentpagetitle {
	font-family: Trebuchet MS;
	font-size: 20px;
	
	color: #b0da11;
	font-weight: bold;
	text-align:left;
}

table.searchinto {
	width: 100%;
	font-family: Arial;
	color: #474747;
	font-size: 12px;
}

table.searchintro td {
	font-weight: bold;
	font-family: Arial;
	color: #474747;
	font-size: 12px;
	
}

table.moduletable{
	background-image: url('images/modulebg.gif');
	background-position:   left top;
	background-repeat: no-repeat;
	
	width: 200px;
	
	text-align:left;
	font-family:Arial;
	font-size: 11px;
	line-height: 1.5em;
	color: #474747;
	
	border-spacing: 0px;
	border-collapse: collapse; margin-left:15px; margin-right:0px; margin-top:0px; margin-bottom:20px; padding-left:10px; padding-right:10px; padding-top:0px; padding-bottom:0px
}


div.moduletable{
	padding: 0px;
	background-image: url('images/modulebg.gif');
	background-position:    left top;
	background-repeat: none;
	
	text-align:left;
	font-family:Arial;
	font-size: 11px;
	line-height: 1.5em;
	color: #474747;
	
	text-align: left;  margin-right:0px; margin-top:0px; margin-bottom:6px; margin-left:15
	
}

div.moduletable h3 {
	background-image: url('images/arrow.gif');
	background-position: top left;
	background-repeat: no-repeat;
	
	color: #c4e34f;
	text-align: left;
	font-family: Trebuchet MS;
	
	
	margin-left: 43px;
	padding-left: 43px;
	height: 36px;
	line-height: 36px;
	
	font-weight: bold;
	font-size: 14px;
	margin: 0;
}

div.moduletable p{
	font-family: Trebuchet MS;
	
	text-align:left;
	font-family:Arial;
	font-size: 11px;
	line-height: 1.5em;
	color: #474747;
	
	text-align:left;
	margin-left:15; margin-right:0; margin-top:0; margin-bottom:0; padding-left:10px; padding-right:10px; padding-top:10px; padding-bottom:0px
}

table.moduletable th{
	background-image: url('images/arrow.gif');
	background-position: top left;
	background-repeat: no-repeat;
	background-color: #FF00FF;
	
	color: #c4e34f;
	text-align: left;
	font-family: Trebuchet MS;
	
	/*padding-left: 43px;*/
	height: 36px;
	line-height: 36px;
	
	font-weight: bold;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

div.moduletable table{
	font-family: Arial;
	font-size: 11px;
	text-align:left;
	padding: 0px 10px 0px 10px;
}

table.moduletable td {
	font-family: Arial;
	font-size: 11px;
	
	text-align: left;
	font-weight: normal; margin-left:15 
}


div.moduletable form{
	margin: 0;
 	padding: 0;
}

div.moduletable div{
font-size: 11px;
	text-align:left; margin-left:15 

	
}

.sectiontableheader{
  font-weight: bold;
  background: #f0f0f0;
  padding: 4px;
}

.sectiontablefooter{

}

.sectiontableentry1{
	background-color : #ffffff;
}

.sectiontableentry2{
	background-color : #f9f9f9;
}

.small {
	color: #b0da11;
	font-size: 11px;
}

.createdate{
	height: 35px;
	padding-bottom: 0px;
	color: #b0da11;
	font-size: 11px;
}

.modifydate{
	height: 15px;
	padding-top: 10px;
	color: #b0da11;
	font-size: 11px;
}

.pagenav_prev{
	font-weight: normal;
	font-size: 11px;
}

.pagenav_next{
	font-weight: normal;
	font-size: 11px;
}

.blog_more{
	font-family: Arial;
	font-size: 12px;
}

.blogsection{
	font-size: 12px;
}

h1{
	font-family: Trebuchet MS;
	font-size: 20px;
	
	color: #b0da11;
	font-weight: bold;
}

h2{
	font-family: Trebuchet MS;
	font-size: 16px;
	
	color: #666666;
	font-weight: bold;
}

h3{
	font-family: Trebuchet MS;
	font-size: 14px;
	
	color: #666666;
	font-weight: bold;
}

table.contenttoc {
  border: 1px solid #cccccc;
  padding: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
}

table.contenttoc td {
  padding: 2px;
}

table.contenttoc th {
  background: url(images/subhead_bg.png) repeat-x;
  color: #666666;
	text-align: left;
	padding-top: 2px;
	padding-left: 4px;
	height: 21px;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
}

a:link.mainlevel, a:visited.mainlevel {
	display: block;
	background: url('images/naviarrow.gif');
	background-position: top left;
	background-repeat: no-repeat;
	
	border-bottom: 1px solid #e6e9eb; /* ei toimi kaksirivisissä */
	
	
	
	vertical-align: middle;
	font-size: 11px;
	font-weight: normal;
	color: #474747;
	text-align: left;
	
	line-height: 21px;
	padding-left: 18px;
	
	/*padding-top: 5px;
	padding-left: 18px;
	height: 20px !important;
	height: 25px;*/
	text-decoration: none;
}

a:hover.mainlevel {
	background: url('images/naviarrow.gif');
	background-position: top left;
	background-repeat: no-repeat;
	font-weight: normal;
	
	color: #999999;
	
	border-bottom: 1px solid #e6e9eb;
}

a.mainlevel#active_menu {
	color:#999999;
	font-weight: normal;
}

a:hover.mainlevel#active_menu {
	color: #999999;
	font-weight: normal;
}

a:link.sublevel, a:visited.sublevel {
	padding-left: 1px;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
	color: #b0da11;
	text-align: left;
}

a:hover.sublevel {
	color: #900;
	text-decoration: none;
}

a.sublevel#active_menu {
	color: #333;
}

.highlight {
	background-color: Yellow;
	color: Blue;
	padding: 0;
}
.code {
	background-color: #ddd;
	border: 1px solid #bbb;
}

form {
/* removes space below form elements */
	margin: 0;
 	padding: 0;
}

div.mosimage {
  border: 1px solid #ccc;
}

.mosimage {
  border: 1px solid #cccccc;
  margin: 5px
}

.mosimage_caption {
  margin-top: 2px;
  background: #efefef;
  padding: 1px 2px;
  color: #666;
  font-size: 10px;
  border-top: 1px solid #cccccc;
}

span.article_seperator {
	display: block;
	height: 1.5em;
}