img.preview{
display: none;
width:160px;
height:175px;
}


.view{
float: left;
opacity: 0;
}

/*
.album{
margin: 10px 10px 10px 10px;

height: 230px;

background: #dcdcdc;
box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.2);
}
*/
.photo{
margin: 1px 1px 1px 1px;
/*box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.4);*/
height: 175px;
width: 160px;
}


.album a{
text-decoration: none;
}


.album p{

font: 12px 'MerriweatherRegular',serif;
color: #434343;
text-align:center;
padding:0px 5px 0px 5px;
}


.album img{
margin: 7px 7px 7px 7px;
width:140px;
}


.album {
    margin: 10px 10px 10px 10px;
    position:relative;
    height: 200px;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}        
 
.album:before,
.album:after {
    content:"";
    position:absolute;
    z-index:-2;
}
 
      