﻿/* =Responsive Structure
----------------------------------------------- */
@media (max-width: 1200px) {
	/* Disable fixed navigation buttons */
  img.preview{
  display: none;
  width:130px;
  height:140px;
  }

  .photo{
  margin: 1px 1px 1px 1px;
  height: 140px;
  width: 130px;
  }


  .album img{
  margin: 7px 7px 7px 7px;
  width:120px;
  }
  
  .album{
  height:175px;
  }
}

@media (max-width: 1140px) {
	body {
		padding: 0px;
	}
	#page {
		margin: 0 auto;
	}

  
}

@media (max-width: 1000px) {
	/* Disable body padding */
	body {
		padding: 0;
	}
	/* And a full-width comment form */
  #page {
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
	max-width: 100%;
  }
  
  img.preview{
  display: none;
  width:100px;
  height:110px;
  }

  .photo{
  margin: 1px 1px 1px 1px;
  height: 110px;
  width: 100px;
  }


    .album img{
  margin: 7px 7px 7px 7px;
  width:100px;
  }
  
  .album{
  height:150px;
  }
  
  #speart{
  width:210px;
  
  }

}


@media(max-width: 940px){

.rightimg{
height:95px;
width:135px;
}

}

@media(max-width: 900px){

.rightimg{
display:none;
}

.podpiska{
width:100px;
}

}

@media (max-width: 850px) {

#speart{
  width:150px;
  
  }
/*
#logo{
width:300px;
}
*/
#logo{
width:500px;
}

#logorus{
width:300px;
}

.rightimg{
height:75px;
width:110px;
}

}


@media (max-width: 770px) {

#speart{
display:none;
  
}
/*
#logo{
width:280px;
}
*/


#logorus{
width:280px;
}

.one-fourth {
display: none;

}

.three-fourth {
width:100%;
}

 .guest {
display: none;
}

img{
//display:none;
max-width: 500px;
height: auto;
}

#counter{
display:none;
}

.fresh{
display:none;
}

.one-third{
width: 45%;
}

}

@media (max-width: 520px) {

img{
//display:none;
max-width: 420px;
height: auto;
}

#logo{
 width:400px;
 }

body{
line-height: 21px;
font-size:15px;
}

.h16{
font-weight: bold;
font-size: 12px;
}

h1{
font-size: 20px;
}

#txtDefaultHtmlArea{
width: 420px;
}


}



@media (max-width: 482px) {
	
  img.preview{
  display: none;
  width:70px;
  height:78px;
  }



  .photo{
  margin: 1px 1px 1px 1px;
  height: 78px;
  width: 70px;
  }
  
  .album img{
  margin: 7px 7px 7px 7px;
  width:70px;
  }
  
  .album{
  height:120px;
  }
  
  .album p{
  font: 10px 'MerriweatherRegular',serif;
  padding:0px 3px 0px 3px;
  }
  
  .friendsabout {
display: none;
}
  
img{
//display:none;
max-width: 380px;
height: auto;
}


body{
line-height: 21px;
font-size:15px;
}

.h16{
font-weight: bold;
font-size: 11px;
}

h1{
font-size: 18px;
}

#txtDefaultHtmlArea{
width: 380px;
}

  
}

@media (max-width: 322px) {
/*
  #logo{
 width:180px;
 }
*/
 #logo{
 width:300px;
 }

  #logorus{
 width:180px;
 }

img{
//display:none;
max-width: 200px;
height: auto;
}


body{
line-height: 20px;
font-size:13px;
}

.h16{
font-weight: bold;
font-size: 9px;
}

.h14{
font-weight: bold;
font-size: 13px;
}

h1{
font-size: 17px;
}

#txtDefaultHtmlArea{
width: 200px;
}

}


@media (max-width: 297px) {

img{
//display:none;
max-width: 170px;
height: auto;
}

#logo{
 width:270px;
 }


#txtDefaultHtmlArea{
width: 170px;
}

.gallerybox {
display: none;
}

}


@media (max-width: 242px) {
/*
  #logo{
 width:160px;
 }
*/

#logo{
 width:200px;
 }

  #logorus{
 width:130px;
 }  

img{
//display:none;
max-width: 140px;
height: auto;
}

body{
line-height: 18px;
font-size:11px;
}

#txtDefaultHtmlArea{
width: 140px;
}


}