﻿*{
margin: 0;  
padding: 0;


}

html{
height:100%;
}
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	
}*/

:focus {/* remember to define focus styles! */
	outline: 0;
}

body {
	background: #fff;
	line-height: 1;
	height:100%;
	min-height:100%;
	position:relative;
}




.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}

img{
//display:none;
}

body{
	//font: 18px 'MerriweatherRegular', serif;
        font-family: Trebuchet, Verdana, Tahoma;
	font-weight: normal;
	line-height: 25px;

	//background: url(/template/img/speart1year.png)  repeat; 
//background-size: contain;

	background:#dcdcdc;
	//color: #6b6b6b;
        color: #000000;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	
}

/* Headings */

.h16 {
	font-family: Trebuchet, Verdana, Tahoma;
	font-weight: bold;
	color: #ca6d6d;
	text-align:center;
        font-size: 14px; 
	line-height: 14px;
}

.h16 a { 
	color: inherit; 

}

.h14 {
	font-family: Trebuchet, Verdana, Tahoma;
	font-weight: bold;
	color: #ca6d6d;
	text-align:center;
        font-size: 20px; 
	line-height: 22px; 
	
}

.h14 a { 
	color: inherit; 

}

.h68 {
	font-family: Trebuchet, Verdana, Tahoma;
	font-weight: bold;
	color: #ca6d6d;
	text-align:center;
        font-size: 13px; 
	line-height: 12px; 
	
}

h1, h2,h3,h4,h5,h6 {
	font-family: Trebuchet, Verdana, Tahoma;
	font-weight: bold;
	color: #ca6d6d;
	text-align:center;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
	color: inherit; 

}

h1 { 
	font-size: 26px; 
	line-height: 28px; 
	margin-bottom: 14px;
}
h2 { 
	font-size: 28px; 
	line-height: 30px; 
	margin-bottom: 10px; 
}
h3 { 
	font-size: 24px; 
	line-height: 26px; 
	margin-bottom: 15px; 
} 
h4 { 
	font-size: 20px; 
	line-height: 22px; 
	margin-bottom: 4px; 
} 
h5 { 
	font-size: 17px; 
	line-height: 19px; 
}						
h6 { 
	font-size: 14px; 
	line-height: 14px; 
}


p {
	margin-bottom: 20px;
}

.digest{
line-height: 14px;
font-size: 11px; 
}


a {
	color: #ca6d6d;
	text-decoration: none;
	-webkit-transition-property:color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
}
a:hover {
	text-decoration: none;
	color: #585858;
}


span.hidden-link {
	
	color: #ca6d6d;
	text-decoration: none;
	-webkit-transition-property:color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
	cursor: pointer; /*-указатель в виде пальца-*/
}


span.hidden-link:hover {
	
	text-decoration: none;
	color: #585858;
}


.stro {
color: #b91818;

}

.entry-title   {
     
}


.com {
width: 160px;
}

.podpiska {
width: 140px;
}

.one {
width:99%;

}

.one-half {
	width:46.00%;
}
.one-third {
	width:28.00%;

}
.two-third {
	width:65.33%;
}
.one-fourth {
	width:22%;

}
.three-fourth {
	width:74%;
}
.one-fifth {
	width:16.8%;
}
.two-fifth {
	width:37.6%;
}
.three-fifth {
	width:58.4%;
}
.four-fifth {
	width:67.2%;
}
.one-sixth {
	width:13.33%;
}
.five-sixth {
	width:82.67%;
}
.one-half, .one-third, .two-third, .three-fourth, .one-fourth, .one-fifth, .two-fifth, .three-fifth, .four-fifth, .one-sixth, .five-sixth {
	position:relative;
	margin-right:4%;
	float:left;
	height:100%;

}
.last {
	margin-right:0 !important;
	clear:right;
	height:100%;

}

/*-----------------------------------------------------------------------------------*/
/*	STRUCTURE
/*-----------------------------------------------------------------------------------*/

#branding {
	height:200px;
	position: relative;
	z-index: 9999;
}

#primary {
	width: 100%;
	height:100%;
	
}

#page {
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
	background: #f8f0f0;
	max-width: 950px;
	margin: 0 auto;
	min-height:100%;


	
	border: 1px solid #f8f8f8;
	-moz-box-shadow: inset 0 0 25px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 0 25px 0 rgba(0,0,0,0.15);
	box-shadow: inset 0 0 25px 0 rgba(0,0,0,0.15);
  
	
  
  
  
}

#content {
	margin: 30px 39px;
	width: auto;
	height:100%;
	
}

#main {
	clear: both;
	padding: 8px 0 0 0;
	height:100%;
	
}



#colophon {

	clear: both;
	text-align:center;
	background-color: #191919;
	/*margin: 40px -1px -1px;*/
	max-width: 950px;
	height:65px;
	bottom:0;
	margin:-65px auto;
}

#colophon h6{
color:#E1B2C2;
}





#speart{
background: url(/template/img/speart1year.png)  no-repeat; 
background-size: contain;

position:absolute;
right:20px;
top:10px;
width:250px;
height:220px;
display:none;
}

#logo{
background: url(/template/img/2458.png)  no-repeat; 
background-size: contain;
//background-color: #E9E3EA;
position:absolute;
//left:30px;
//top:50px;
//width:350px;
//height:100px;

left:0px;
top:30px;
width:600px;
height:140px;

}

#logorus{
//background: url(/template/img/labrus.png)  no-repeat; 
//background-size: contain;

position:absolute;
//left:60px;
//top:80px;
//width:350px;
//height:100px;

}

#translate{

background-size: contain;
position:absolute;
left:30px;
top:180px;
/*width:250px;
height:220px;
*/

}



.img-radius {
background-size: auto;
width:200px;
height:200px;
 border:3px solid #85A0C9;
 border-radius: 30px;
 -webkit-border-radius: 30px;
 -moz-border-radius: 30px;
}

#counter{
position:relative;
left:20px;
bottom:-17px;
width:20px;
height:20px;

}

#counter2{
display:none;
position:relative;
left:100px;
bottom:3px;
width:20px;
height:20px;

}

#counter3{
display:none;
position:relative;
left:100px;
bottom:3px;
width:20px;
height:20px;

}

#rss{
position:relative;
background: url(/template/img/rss.png)  no-repeat;
background-size: cover;
margin: -4px;
width:22px;
height:22px;

}

.postpreview{
background-color: #E9E3EA;
padding:10px 10px 10px 10px;
margin: 0px 0px 15px 10px;
border-radius:6px; 
-webkit-border-radius:6px; 
-moz-border-radius:5px; 
-khtml-border-radius:10px;
}



#postpreviewdigest{
background-color: #E9E3EA;
padding:10px 10px 3px 10px;
margin: 0px 0px 0px 10px;
border-radius:6px; 
-webkit-border-radius:6px; 
-moz-border-radius:5px; 
-khtml-border-radius:10px;
}







.fresh{

}

.admincomment{
background-color: #e8d9eb;
}

.usercomment{
background-color: #E9E3EA;
}

.comment{
font-size: 15px; 
font-style: italic; 
line-height: 1.5;
}

.molnia{
height:200px;
/*background: url(/img/gallery524.jpg)  no-repeat;*/ 
background: url(/img/fizalis.jpg)  no-repeat;
/*background: url(/img/most.jpg)  no-repeat;*/
/*background: url(/gallery/photo/4/4412/5405/10779/20141201014258676dc17a.JPG)  no-repeat;*/
background-size: cover;
padding:10px 15px 0px 15px;
margin: 10px 10px 35px 10px;
//background-size: auto;

border:3px solid #A4A3EE;
border-radius: 30px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
}

.rightimg{
height:100px;
width:140px;
/*background: url(/img/gallery524.jpg)  no-repeat;*/ 
background-size: cover;
//padding:10px 15px 0px 15px;
//margin: 10px 10px 35px 10px;
//background-size: auto;
//border:3px solid #A4A3EE;
border:3px solid #ffffff;
border-radius: 30px;
-webkit-border-radius: 18px;
-moz-border-radius: 18px;

-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.diogen{
height:200px;
background: url(/img/2043.jpg)  no-repeat; 
background-size: cover;
padding:10px 15px 0px 15px;
margin: 10px 10px 35px 10px;
//background-size: auto;

border:3px solid #A4A3EE;
border-radius: 30px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
}

.friend{
height:200px;
background: url(/img/gallery524.jpg)  no-repeat; 
background-size: cover;
padding:10px 15px 0px 15px;
margin: 10px 10px 35px 10px;
//background-size: auto;

border:3px solid #A4A3EE;
border-radius: 30px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
}



.rightpanel{
background-color: #E9E3EA;
padding:10px 15px 10px 15px;
margin: 0px 10px 15px 0px;
border-radius:6px; 
-webkit-border-radius:6px; 
-moz-border-radius:5px; 
-khtml-border-radius:10px;
}

.tree{
font-weight: bold;
font-size: 13px; 
line-height: 14px; 
}

#b_q{
font-weight: bold;
font-size: 12px;
font-style: italic; 
line-height: 15px; 
}

.friendsabout{
}

.gallerybox{
}

.guest{
}

#home{
background-color: #ffffff;
}

.nicEdit-main{

}