/* My style */

@media (max-width:728px){
    body {color: #000000;
	  /* margin: 0; */
	  /* padding: 0; */
	  width: 90%;
	  background-image: none;}
    h1,h2,h3 {font-size: 100%;}
    .image img {max-width: 100%;}
    iframe{max-width: 100%;}
    object{max-width: 100%;}
    .desc{font-size: 90%;}
    .lastmod{font-size: 80%;}
    
    pre{font-size: 90%;}
    p.quoted {border-left: 1px solid #666;
	      font-style: italic;
	      font-size:80% }
    .latex-inline {display: inline;
		   margin: 1px;
		   float: none;
		   position: relative;
		   vertical-align: middle;
		   border-style: none;
		   max-width: 100%;}
    
    /* .latex-display {display: block; */
    /* 		   margin: 25px; */
    /* 		   float: none; */
    /* 		   left: 15%; */
    /* 		   position: relative; */
    /* 		   vertical-align: middle; */
    /* 		   border-style: none; */
    /* 		   max-width: 100%;} */
    
    .muse-table {border: 0px solid #000000; 
		 max-width: 100%;
		 border-collapse: collapse; 
		 border-width: thin; 
		 padding: 0px; 
		 margin: 0px; 
		 margin-left:auto;
		 margin-right:auto;}
    table.image {max-width: 100%;}
    table {max-width: 100%;}

    div#content {
	width:90%;
	margin: auto;}
}

@media  screen {
    body {max-width: 100%;
	color: #000000;
	font-family:  georgia,serif, Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
	background-color: #ffffff;
	/* padding: 10; */
	/* margin: 10; */
	/* background-image: url("./img/tca_bar.png"); */
	/* background-repeat: no-repeat; */
	/* background-attachment: fixed; */
	/* margin-left: 30px; */
    }
    
    /* *p::first-letter { */
    /*     font-weight: bold; */
    /*     font-size: 200%; */
    /* } */
    
    a {text-decoration: none;
       font-weight: none;}

    a:link {color:#0a00f2;
	    /*       underline: none;*/
	    text-decoration: none;
	    font-weight: none;}
    a:visited {color: #5a008e;}
    a:active {color: #8b2252;}
    a:hover {color: #000000;
	     background: #b4eeb4;}
    
    a.hand{font-size: 150%;
	   text-decoration: none;}
    
    h1 {border-bottom: 1px solid #bbb;
	padding: 0;
	margin: 0;
	text-align: left;}
    
    h2 {border-bottom: 0px solid #bbb;
	padding: 0;
	margin:0;
	background: transparent;}
    
    h3 {padding: 2px;
	margin-top: 5px;
	border:0;}
    
    a.img {border-width: 0; 
	   background: white;}
    
    .image img {max-width: 100%;}
    
    iframe{max-width: 100%;}
    
    .copy {text-align:center; 
	   font-size:80%}
    
    .news {border: thin solid #c0c0c0; 
	   background: #fffd96; }
    
    table.header {border-bottom: 0px solid #ccccff;}
    
    p.image {border: 0px solid #000000;
	     max-width:90%;}
    
    table.image {border: 0px solid #000000; 
		 max-width: 100%; 
		 padding: 0px; 
		 margin: 0px; 
		 margin-left:auto; 
		 margin-right:auto;}
    
    .image-caption{font-size: 12px;} 
    
    
    .muse-table {border: 0px solid #000000; 
	     width: 50%; 
	     border-collapse: collapse; 
	     border-width: thin; 
	     padding: 0px; 
	     margin: 0px; 
	     margin-left:auto;
	     margin-right:auto;
		}
    
    .latex-inline {display: inline;
		   margin: 1px;
		   float: none;
		   position: relative;
		   vertical-align: middle;
		   border-style: none;}
    
    .latex-display {display: block;
		    position: relative;
		    border-style: none;
		    max-width: 100%;}
    
    table.image {font-weight: small;} 
    
    pre {font-size: 90%;
	 padding: 0.5em;
	 width: 90%;
	 overflow: auto;
	 background-color: #ffffff; 
	 border: #999 1px dashed;
	 -webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	 border-radius: 4px;
	 white-space: pre-wrap;}
    
    
    hr {border: 0;
	border-top: 1px solid #bbb}
    
    
    span.red {color: red; }
    span.yellow {color: black; background-color: #ffff00;}
    span.black {color: black; }
    
    .lastmod {font-style: italic;
              color: #b4785c;
              font-size:80%}
    
    ul {list-style: square;}
    
    p.quoted {border-left: 1px solid #666;
	      padding: 10px;
	      font-style: italic;
	      font-size:90% 
			    margin: 5px 20px;}
    
    code  {border: #ccc 1px dashed;
	   padding: 0.025em;}
    
    .desc { font-style: italic;
	    color: #b83434; 
	    margin: 0px 10px .5em;}
    
    .tca-image {float: right; 
		margin: 1%;}
    
    
    select.choose {background-color: #ffffff;
		   margin: 0;
		   padding: 0;
		   font-family: serif, Verdana,Arial,Helvetica,sans-serif;}
    
    div#nav {
	background-color: transparent;
	margin: 0; 
	padding: 0; 
	list-style-type:none;
	overflow:hidden;
	text-align:right;
	width: 100%;
	border:0;}
    
    
    div#content {
	width: 90%;
	margin: auto;}

}
