/*
Theme Name: discover
Theme URI: http://antthemes.com/?page_id=1963
Description: A very neat and clean orange and white business theme. The theme is fully responsive that looks great on any device. The theme supports widgets. And features theme-options, threaded-comments and multi-level dropdown menu. A simple and neat typography. Uses WordPress custom menu, header image, and background. discover is WooCommerce Compatible. Get free support on http://antthemes.com/forum
Version: 1.7.29
Author: Manishg
Author URI: http://antthemes.com/
Tags: orange,threaded-comments,light,two-columns,theme-options,white
License: GNU General Public License, v2 (or newer)
License URI: http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 *
 * discover WordPress Theme, Copyright (C) 2013 Manish Gori
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * Note: see the "license.htm" page for copyright and 
 * license information for bundled resources, including images
*/

@import "css/reset.css";

/* General */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

body {
	background: #ccc;
	font: normal 12px Verdana, sans-serif;
	color: #777;
	line-height:18px;
	border-top: 4px solid #fd7800;
}
	
a {
	color: #000;
	outline: 0;
}
	
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:active,
a:hover {
	color: #ccc;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	color: #000;
	margin-bottom: 18px;
}

h1 { font-weight: normal; font-size: 30px; line-height: 36px;  }
h2 { font-weight: normal; font-size: 24px; line-height: 30px;  }
h3 { font-weight: normal; font-size: 18px; line-height: 24px; }
h4 { font-weight: normal; font-size: 12px; line-height: 18px; }

hr {
	background-color: #c6c6c6;
	border:0;
	height: 1px;
	margin-bottom: 18px;
	clear:both;
}

div.hr {
  height: 1px;
  background: #c6c6c6;
}

div.hr2 {
  height: 1px;
  background: #c6c6c6;
}

div.hr hr, div.hr2 hr {
  display: none;
}

p {
	padding: 0 0 0.5em;
	line-height:1.6em;
}
ul {
	list-style: square;
	margin: 0 0 18px 0;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style:upper-alpha;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom:0;
}
dl {
	margin:0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
	color: #000;
}
cite,
em,
i {
	font-style: italic;
	border: none;
}
big {
	font-size: 131.25%;
}
ins {
	background: #FFFFCC;
	border: none;
	color: #333;
}
del {
	text-decoration: line-through;
	color: #555;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;	
}
abbr,
acronym {
	border-bottom: 1px solid #666;
	cursor: help;
}
ins {
	text-decoration: none;
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
	font-size: 10px;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

p,
ul,
ol,
dd,
pre,
hr {
	margin-bottom:10px;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom:0;
}
pre,
kbd,
tt,
var {
	font-size: 15px;
	line-height: 21px;
}
code {
	font-size: 13px;
}
strong,
b,
dt,
th {
	color: #000;
}


/* main_container */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#wrapper {
	padding: 0px 0px;
	margin-top: 20px;
}

/* header*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#search-header{
	margin-top:15px;
	padding-bottom:13px;
}

#search-header #search{
	background: #222;

}

#search-header #search #s{
	background: #222;
	font-size:12px;
	color: #aaa;
}

#header_container{
	padding-bottom: 25px;
	padding-top: 0px;
	background: #fff;
}

#header {

}

#header2 {

}

#content_container{
	padding-top: 15px;
}

#left-col {
	padding: 10px 20px;
	padding-left: 0px;
	background: #fff;

}


/*footer*/	
/*////////////////////////////////////////////////////////////////////////////////////////////*/


#footer {
	padding: 5px 20px;
	background: #ddd;
}

#footer-container{
	padding: 5px 20px;
	background: #303030;
	border-top: 8px solid #000;
	font-size:11px;
}

#footer-info {
	color:#ccc;
	text-align:left;
	background: #1b1b1b;
	padding: 20px 0;
}


#footer-info a{
	text-decoration:none;
	color: #fff;
}

#footer-info a:hover{
	color: #ebebeb;
}

#copyright{float: left;}

.scroll-top {
	text-align:right;
}

#footer-widget{
	padding: 8px 0px 8px 0px;
	color:#6f6f6f;
}

#footer-widget #search {
	width:120px;
	height:28px;
	background: #222;
	margin-left: 0px;
	position: relative;
	border: 1px solid #666;
}

#footer-widget #search #s {
	width:110px;
	height:23px;
	border:0px;
	margin-left:7px;
	margin-right:10px;
	margin-top:3px;
	color:#fff;
	display: inline;
	background: #222;
	float: left;
}

#footer-widget #calendar_wrap {
	padding: 8px 0px;
}

#footer-widget #wp-calendar td{
	padding:2px;
	background: #000;
	color: #fff;
}


#footer-widget .textwidget {
	padding: 5px 0px;
	line-height: 23px;
}


#footer-widget .widget_tag_cloud a{
	text-decoration: none;
	margin: 5px;
	line-height: 24px;
	margin-left: 0px;
	color: #6f6f6f;
}

#footer-widget .widget_tag_cloud a:hover{
	color: #fff;
}

#footer-widget .widget-container ul li a	{
	color:#fd7800;
}

#footer-widget .widget-container ul li a:hover	{
	color: #ccc;
}

#footer-widget .widget-container h3 {
	color: #a5a5a5;
	text-transform: uppercase;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 0px;
	font-size: 25px;
	padding-bottom: 8px;
	font-weight: bold;
}

#footer-widget .widget-container ul li {
	padding: 5px 0px;
	background: none;
	}
	
#footer-widget ul {
	margin-left: 0px;
	}	

#footer-bar1 {
	padding-right: 40px;
}
#footer-bar2 {
	padding-right: 40px;
}
#footer-bar3 {
}
#footer-bar4 {
}

span#follow-box{
	position: absolute;
	right: 100px;	
}

span#follow-box img{
	margin: 0 2px;
}

/*logo*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#logo {
	margin: 0px 0px 0px 0px;
}

#logo2 {
	margin: 0px 0px 0px 0px;
	float: left;
}

#logo img{
	border: none;
}

#logo2{
	text-decoration: none;
	font-size: 42px;
	letter-spacing: -1pt;
	font-weight: bold;
	font-family:arial, "Times New Roman", Times, serif;
	text-align: left;
	line-height: 57px;
	padding-left: 0px;
}

#logo2 a, #slogan{
	color: #fd7800;
}

#slogan{
	text-align: left;
	padding-left: 0px;
}

/*search*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#search {
	width:180px;
	height:28px;
	border: 1px solid #ccc;
	margin-left: 10px;
	position: relative;
}

#sidebar #search {
	margin-top: 20px;
}

#search #searchsubmit {
	background:url(images/go-btn.png) no-repeat top right;
	width:28px;
	height:28px;
	border:0px;
	position:absolute;
	right: -35px;
}

#search #s {
	width:170px;
	height:23px;
	border:0px;
	margin-left:7px;
	margin-right:10px;
	margin-top:3px;
	color:#000;
	display: inline;
	float: left;
}

/*menu bar*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#menu_container{
	padding-top: 0px;
}


/*responsive menu*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

/* default style */
.selectnav { display: none; }

/* small screen */
@media screen and (max-width: 600px) {
  .js #nav { display: none; }
   .js #nav2 { display: none; }
  .js .selectnav { display: block; }
}


/*welcome*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/
#welcome_container h1{
	margin-top: 0px;
}

/*homepage boxes*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#box_container{
	padding-top: 35px;
	padding-bottom: 15px;
}

.box-head {
	float: left;
	padding-bottom: 20px;
}

.box-head img{

}

.title-head{
	padding-top:2px;
}

.title-box{
	color: #333;
	line-height: 15px;
	text-transform: uppercase;
}

.title-box h1 {
	font-size: 25px;
	margin-bottom: 3px;
}

.box-content {
	float: left;
	padding-top: 10px;
	line-height: 20px;
}


/* POST */
/*////////////////////////////////////////////////////////////////////////////////////////////*/


.post {
	overflow: hidden;
	-ms-word-wrap: break-word;
word-wrap: break-word;
	
}

.post-shadow{
	background: url("images/post_shadow.png") no-repeat bottom;
	height: 9px;
	margin-bottom: 25px;
}

.post ol{
	margin-left: 20px;
}

.post ul {
	margin-left: 15px;
}
.post-entry ul { margin: 0 0 10px 10px; }
.post-entry ul li {
	display: block;
	margin: 5px 0;
	padding: 0 0 0 20px;
	background: url(images/bullet.png) no-repeat 0 7px;
}

.post-entry ol {
	list-style: decimal;
	margin: 0 0 18px 1.6em;
}
.post-entry ol li { 
	list-style: decimal;
 }

.post-entry {
	padding-bottom: 10px;
	padding-top: 10px;
	overflow: hidden;

}

.post-head {
	margin-bottom: 5px;
	padding-top: 15px;
}

.post-head h1 a, .post-head h1 {
	text-decoration:none;
	color:#000;
	margin: 0px;
	font-size: 27px;
}

.post-head h1 a:hover {
	color:#777;
}


.post-head-notfound h1, .post-head-404 h1, .post-head-archive h1, .post-head-search h1 {
	margin-bottom: 10px;
	font-weight:normal;
	text-decoration:none;
	color:#000;
	font-size: 27px;
}

.post-thumb img {
	border: 0px solid #ebebeb;
}

.post-entry img{
	margin-bottom: 10px;
	height:auto;
  	max-width:100% !important;
}

.meta-data{
	line-height: 16px;
	padding: 6px 3px;
	margin-bottom: 3px;
	font-size: 11px;
	border-bottom: 1px solid #e9e9e9;
}

.meta-data a{
	color: #fd7800;
}

.meta-data a:hover{
	color: #777;
}

.read-more {
color: #000;
	background: #fff;
	  padding: 4px 12px;
	  border: 1px solid #ddd;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;	  
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-transform: capitalize;
	  cursor: pointer;
	  margin-top: 20px;
	  line-height: 21px;
}

.read-more:hover{
	background: #fff;
	color: #666;	
}

.clear {
	clear:both;
}

.sticky {
    border-bottom: 1px solid #000;
}

.entry-thumbnail img {
	display: block;
	margin: 0 auto 10px;
}

/* content */
/*////////////////////////////////////////////////////////////////////////////////////////////*/
#content_container table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
	
}
#content_container tr th,
#content_container thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 10px;
}
#content_container tr td {

	padding: 6px 10px;
}
#content_container tr.odd td {
	background: #f2f7fc;
}

/* sidebar*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#sidebar {
	padding:0px 20px 20px 0px;
}

#sidebar ul  {
	list-style: none;
}

#sidebar { word-wrap: break-word;}

/* Buttons */
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	padding: 5px 15px;
}

/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
	font-weight: normal;
	font-size: 16px;
}
.commentlist {
	list-style: none;
	margin: 0;
	border-left: 1px solid #bababa;
}
.commentlist li.comment {
	border-bottom: 1px solid #bababa;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 30px;

}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}

#comments .comment-body ul { margin: 0 0 10px 10px; }
#comments .comment-body ul li {
	display: block;
	margin: 5px 0;
	padding: 0 0 0 20px;
	background: url(images/bullet.png) no-repeat 0 7px;
}

#comments .comment-body ol {
	margin: 5px 0 15px 20px;
}
#comments .comment-body ol li { 
	margin: 5px 0;
	list-style: decimal;
	padding: 0 0 0 5px;
 }

.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	padding: 4px;
	border: 1px solid #e6e1db;
	float: left;
	margin-right: 8px;
}
.comment-author .fn a{
	text-decoration: none;
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color:#999999;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color:#999999;
}
.commentlist .even {
}
.commentlist .bypostauthor {

}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a {
	background:#ebebeb; text-decoration:none; width:53px; height:23px; display:block; text-align:center; color: #777;
}
.reply a:hover {
	background-color:#d2d2d2;
	
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #bababa;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}


/* Comments form */
input[type=submit] {
	color: #000!important;
	cursor: pointer;
	display:block;
	border: 1px solid #ddd;
	background-color: #fff!important;
}
#respond {
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
	font-weight: normal;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 95%;
	border:1px solid #ccc;
	background: #fff;
	padding: 5px;
	color: #000;
}
#respond textarea {
	width: 95%;
	border:1px solid #ccc;
	background: #fff;
	color: #000;
	padding: 5px;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}

/*contact form*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.contactform label {
	float:left;
	width:100px;
	font-size:12px;
	padding-top:4px;
	margin-right: 10px;
	color: #333;
	display:block;
	}
	
.contactform input {
	padding:5px;
	width:350px;
	border:1px solid #ebebeb;
	color: #666;
	}
	
.contactform textarea {
	color: #666;
	height:100px;
	width:350px;
	padding:5px;
	border:1px solid #ebebeb;
	}

.contactform p {
	margin-bottom:10px;
}	

.contactform .submit input {
	width: auto;
	padding: 5px 18px;
	background: #ebebeb;
	border: 0;
	font-size: 14px;
	color: #777;
	float: right;
	margin-right: 145px;
}	

.contactform .submit input:hover {
	background-color:#d2d2d2;
	cursor:pointer;
}

.needsfilled {
	background:#d2d2d2;
	color:white;
}

#sidebar-contact{
	padding-left: 10px;
}

/*gallery-wp*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#gallery-wp a{
	text-decoration: none;
	font-size: 18px;
}

.gallery-caption {
	margin: 0 0 5px;
}

/*--navigation--*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.navigation {
	float: left;
	width: 100%;
	margin: 20px 0;
}


.navigation .alignleft a {
	float: left;
}

.navigation .alignright a {
	float: right;
}

#nav-single {
    overflow:hidden;
    margin-top:20px;
    margin-bottom:10px;
}
.nav-previous {
    float: left;
    width: 50%;
}
.nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--slider--*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#slider_container {
	background: #fff;
}

#slider_container h1{
	color: #000;
}

#slider_container p{
	color: #000;
}

.flex-caption{
background: #232323;	
color: #fff;
padding: 7px;
}

.flexslider p{
	margin: 0px;
}


/*--wp-pagenavi--*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.wp-pagenavi {
	color: #464646;
	margin-top: 30px;
}

.wp-pagenavi a {
	margin-left: 3px;
	padding: 3px 7px;
	text-decoration: none;
}

.wp-pagenavi a.page {
	padding: 2px 5px; 
	margin: 2px;
	text-decoration: none;
	background: #f6f6f6;
}

.wp-pagenavi span.current {
	padding: 2px 5px; 
	margin: 2px;
	font-weight: bold;
	background: #000;
	color: #fff;
}
.wp-pagenavi span.extend {
	padding: 2px 5px; 
	margin: 2px;
	background: #f6f6f6;
	text-decoration: none;
}

.wp-pagenavi span.pages {
	padding: 2px 5px; 
	margin: 2px;
	background: #f6f6f6;
}

/*--sub head and breadcrumbs--*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

#subhead_container{
	padding: 7px 0px;
}

#subhead h1{
	color: #000;
	padding-top: 10px;
	padding-left: 0px;
	font-size: 30px;
}

#breadcrumbs {
	padding-left: 25px;
	margin-bottom: 15px;
	color: #9e9e9e;
	margin:0 auto;
	width: 964px;
	font-size: 10px;
}

#breadcrumbs a{
	text-decoration: none;
	color: #9e9e9e;
}

/*--widget-formatting*/
/*////////////////////////////////////////////////////////////////////////////////////////////*/

/*general*/

.widget-container-primary {
	background: #fff;
	padding-bottom: 20px;

}

.widget-container-primary ul li a	{
	text-decoration:none;
	color:#fd7800;
}

.widget-container-primary ul li a:hover	{
	text-decoration:none;
	color:#333;
}

.widget-container-primary h3 {
	color: #fff; 
	overflow: hidden;
	font-size: 18px;
	font-weight: 500;
	padding: 0;
	margin: 0;
}

.widget-container-primary .widget-title{
	color: #333;
	display:block;
	padding: 10px;
	margin-bottom: 10px;
}

.widget-container-primary .widget-title span{
		
}

.widget-container-primary ul li {
	padding: 0px 0px 0px 20px;
	margin-left: 12px;
	margin-right: 15px;
}

.widget-container-primary ul li {
	background: url("images/bullet.png") no-repeat 0px 7px;
}

.widget-container-primary ul li ul li{
	margin-left: 12px;
}

/*widgets*/

.textwidget {
	padding: 5px 11px;
}

#calendar_wrap {
	text-align: left;
	padding: 8px 15px;
	margin: 0;
}

#wp-calendar {
	text-align:	left;
	margin-top:	5px;
	width:	100%;
}

#footer-widget #wp-calendar a{
	color: #fd7800;
}

#footer-widget #wp-calendar a:hover{
	color: #ccc;
}

#wp-calendar caption{
	font-weight: normal;
	font-size: 14px;
	margin-bottom: .4em;
}

#wp-calendar td{
	padding:10px;
}

#wp-calendar #today{
	font-weight: bold; color: #000;
}
#wp-calendar th{
	color: #000;
}

.widget_tag_cloud a{
	text-decoration: none;
	margin: 5px;
	line-height: 24px;
	
}

/*Alignments */
/*////////////////////////////////////////////////////////////////////////////////////////////*/

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 22px;
	margin-top: 9px;
}

.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 22px;
	margin-top: 8px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter
{
	margin-bottom: 10px;
}


.wp-caption {
	border: none;
	background: #f1f1f1;
	color: #888;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	margin-bottom: 15px;
	padding: 4px;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	max-width:96%;
}
.wp-caption img {
	border:0 none;
	margin: 0px;
	height:auto;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption p.wp-caption-text {
	font-size:11px;
	line-height:18px;
	margin:0;
	padding:0 4px 5px;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-smiley {
	margin:0;
}

/* WooCommerce compatibility styles */

.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page #content .quantity input.qty {
	margin-bottom: 0;
}

.woocommerce-tabs .panel {
	background: none;
	border: none;
}

.woocommerce h1 {
	font-size: 24px;
	line-height: 27px;
}

.woocommerce h2 {
	font-size: 18px;
	line-height: 24px;
}

.woocommerce h3 {
	font-size: 14px;
	line-height: 21px;
	margin-top: 0;
}

.button.alt { color: #fff !important; }

.woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li, .woocommerce-pagination ul li {
	background: none;
	list-style: none;
	padding-left: 0;
}

.woocommerce #payment ul.payment_methods li input, .woocommerce-page #payment ul.payment_methods li input,
.woocommerce #payment ul.payment_methods li label, .woocommerce-page #payment ul.payment_methods li label { display: inline; }

