
.zag1{
	font-family : Tahoma;
	font-size : 11px;
	color : #000000;
	font-weight : bold;
}
.zag2{
	font-family : Tahoma;
	font-size : 16px;
	color : #000000;
	letter-spacing : 1px;
	font-weight : bold;
}
.zag3{
	font-family : Tahoma;
	font-size : 13px;
	color : #000000;
	letter-spacing : 1px;
	font-weight : bold;
}
.text1{
	color : Black;
	font-family : Tahoma;
	font-size : 11px;
	text-align : justify;
	font-weight : normal;
}
.programlisting{
	color : Black;
	font-family : Tahoma;
	font-size : 11px;
	font-weight : normal;
}
.example{
	color : Black;
	font-family : Tahoma;
	font-size : 11px;
	font-weight : normal;
}
.screen{
	color : Black;
	font-family : Tahoma;
	font-size : 11px;
	font-weight : normal;
}
.shell{
	color : Black;
	font-family : Tahoma;
	font-size : 11px;
	font-weight : normal;
}
.hrf1{
	color : Black;
	font-family : Tahoma;
	font-size : 11px;
	text-decoration : none;
    font-weight : bold;
}
a.hrf1:hover{
	text-decoration : underline;
}
.hrf2{
	color : #ff0000;
	font-family : Tahoma;
	font-size : 12px;
	font-weight : bold;
	text-decoration : none;
}
a.hrf2:hover{
	text-decoration : underline;
}
.hrf3{
	color : Black;
	font-family : Tahoma;
	font-size : 11px;
	text-decoration : none;
}
.alt{
	font-family : Tahoma;
	font-size: 30px;
	text-align : center;
	color : #ff0000;
	text-decoration : none;
}
.td_s{
	background: #c4c4c4;	
}
.td_b{
	background: #000000;	
}
h1{
	font-family : Tahoma;
	font-size : 14px;
	color : #000000;
	letter-spacing : 1px;
	font-weight : bold;
}
h2{
	font-family : Tahoma;
	font-size : 12px;
	color : #000000;
	letter-spacing : 1px;
	font-weight : bold;
}
.form1{font-family:Tahoma; font-size:10px;}
