@media all and (min-width: 2560px) {
	
	#elementNavigation.fixed .tabs{
		width: 483px;
	}

}

@media all and (min-width: 1921px) {
	#tableContainer .column:nth-child(2){
		width: 1124px;
	}
}

@media all and (max-width: 1700px) {

	#elementTools{
		width: 340px;
	}

	#files .item .icon{
		width: 22%;
	}

	#elementTools.fixed .fixContainer{
		width: 305px;
	}

}

@media all and (max-width: 1600px) {
	
	#catalogElement .product{
		width: 33.333333% !important;
	}

	#catalogElement .product:nth-child(4n+4){
		border-right: 1px solid #e7e8ea !important;
	}

	#catalogElement .product:nth-child(3n+3){
		border-right: 0 !important;
	}

	#files .item{
		width: 33.33333%
	}

	#files .item .icon{
		width: 20%;
	}

	#complect .complectListItem{
		width: 33.33333%;
	}

	#complect .complectListItem:nth-child(4n):after{
		display: block;
	}

	#complect .complectListItem:nth-child(3n):after,
	#complect .complectListItem:last-child:after{
		display: none;
	}

}

@media all and (max-width: 1520px) {
	
	#elementTools{
		width: 345px;
	}

	#tableContainer #elementNavigation{
		display: none;
	}

	#elementSmallNavigation{
		display: block;
	}
	
	#files .item .icon{
		width: 14%;
	}

}

@media all and (max-width: 1340px) {
	
	#elementSmallNavigation .tab:first-child{
		padding-left: 0px;
		border-left: 0px;
		margin-left: 0px;
	}

	#elementSmallNavigation .tab {
	    /*padding-right: 0px;*/
	    border-right: 0px;
	    margin-left: 24px;
	}
}

@media all and (max-width: 1280px) {
	
	#elementTools{
		width: 335px;
	}

    .counter-price{
        display: none;
    }

	#elementTools .addCart{
		line-height: 55px;
		width: 190px;
		height: 55px;
	}

	#files .item .icon{
		width: 18%;
	}

}

@media all and (max-width: 1100px) {
	
	#tableContainer #elementTools{
		display: none;
	}

    .counter-price{
        display: none;
    }

	#smallElementTools{
		overflow: hidden;
		display: block;
	}

	#elementContainer .elementProperties{
		display: none;
	}

	.ya-share-label{
		display: none;
	}
}

@media all and (min-width: 1000px) and  (max-width: 1100px) {
    #addbutton span{
        display: none;
    }
    #smallElementTools .addCart .icon{
        padding-right: 0;
    }
}

@media all and (max-width: 1023px) {
	
	#files .item{
		width: 50%;
	}

	#files .item .icon{
		width: 14%;
	}

}

@media all and (max-width: 1000px) {
	
	.pictureSlider{
		margin-top: 24px;
	}

	#smallElementTools{
		border-top: 1px solid #e7e8ea;
		margin-top: 24px;
	}

	#smallElementTools .mainTool,
	#smallElementTools .secondTool{
		margin-top: 24px;
	}

	#smallElementTools .mainTool{
		width: 40%;
	}

    .counter-price{
        display: none;
    }

	#smallElementTools .secondTool{
		margin-top: 24px;
		width: 60%;
	}

	#elementContainer .mainContainer .col{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 24px;
		display: block;
		width: 100%;
	}

	#smallElementTools .row{
		margin-bottom: 12px;
		float: left;
		width: 50%;
	}

	#complect .heading{
		border: none;
	}
}

@media all and (max-width: 800px) {

	#catalogElement .product{
		width: 50% !important;
	}

	#catalogElement .product:nth-child(3n+3){
		border-right: 1px solid #e7e8ea !important;
	}

	#catalogElement .product:nth-child(2n+2){
		border-right: 0 !important;
	}

	#files .item .icon{
		width: 25%;
	}	
	
	#reviews .reviewTable {
		display: block;
	}

	#reviews .reviewTable .reviewColumn{
		display: block;
	}

	#reviews .reviewTable .reviewColumn:first-child{
		margin-bottom: 24px;
		text-align: left;
	}

	#catalogReviews .heading .reviewAddButton{
		display: none;
	}

	#showallReviews{
		margin: 0 0 0 24px;
	}

	#zoomerMoreImagesContainer{
		display: none !important;
	}

	#zoomerBigPrevMore,
	#zoomerBigNextMore{
		display: none !important;
	}

	#imageContainerSlider{
		height: 100% !important;
	}

	#complect .complectListItem{
		width: 50%;
	}

	#complect .complectListItem:after{
		display: none;
	}

	#elementProperties .stats td{
		padding: 12px 0px;
	}

}

@media all and (max-width: 700px) {

	#smallElementTools .mainTool{
		width: 60%;
	}

	#smallElementTools .secondTool{
		margin-top: 30px;
		width: 40%;
	}

	#smallElementTools .row{
		float: unset;
		width: 100%;
	}

    .counter-price{
        display: block;
    }

	#stores th,
	#stores td{
		display: none;
	}

	#stores th.name,
	#stores td.name,
	#stores th.amount,
	#stores td.amount{
		display: table-cell;
	}

	#stores th.name,
	#stores td.name{
		width: auto !important;
	}

	#storeMap{
		display: none;
	}

	#video .item{
		width: 100% !important;
		float: unset;
	}

	.reviewAddButton{
		display: none;
	}

	#reviews .reviewTable .reviewColumn:first-child{
		width: 100%;
	}

	#reviews .rating{
		margin-left: 0px;
	}

	#tableContainer .column:nth-child(2),
	#video .item:last-child{
		padding-bottom: 0px;
	}

}

@media all and (max-width: 680px) {
	
	.secondTool .addCompare,
	.secondTool .fastBack{
		display: none;
	}

	#files .item{
		width: 100%;
	}
}

@media all and (max-width: 620px) {
	#elementSmallNavigation{
		display: none;
	}
}

@media all and (max-width: 550px) {

    #smallElementTools .mainTool{
        padding-right: 0;
    }

	#smallElementTools .mainTool,
	#smallElementTools .secondTool{
		float: unset;
		width: 100%;
	}

	#moreImagesCarousel{
		display: none;
	}

	#elementProperties .stats .right{
		width: 0px !important
	}

	#elementProperties .stats .analog{
		display: none;
	}

	#elementProperties .stats .name{
		min-width: 230px;
		width: 60%;
	}

}
@media all and (max-width: 480px) {
	#catalogElement .product{
		width: 100% !important;
	}

	#catalogElement .product:nth-child(2n+2){
		border-right: 1px solid #e7e8ea !important;
	}

	#catalogElement .product:nth-child(1n+1){
		border-right: 0 !important;
	}

	#catalogReviews .heading .ratingContainer{
		display: none;
	}

	#complect .complectListItem{
		width: 100%;
	}

}