/**
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   all styles) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 *   By default this file is not used in Pixture Reloaded, however it is included
 *   here in case you need to add some styles.
 */
 

.region-sidebar-first {
    width: 27%;
    margin-left: -100%;
}
.sidebar-first .content-inner {
    margin-left: 27.5%;
    margin-right: 0px;
}

/*DIV.content-inner {
    padding: 0px 0px 0px 5px;
}
/*.sidebar {
padding: 0px 10px 0px 5px !important;
/*padding-right: 10px !important;
/*margin: */

