BODY { font: 11px verdana, arial, sans-serif; color: #3D3D3D; }

TD, TH, .BOD, FONT { font: 11.5px verdana, arial, sans-serif; color: #3D3D3D; }

A:link, A:active { font: 11px verdana, arial, sans-serif; color: #000080; text-decoration: none; }

A:hover { font: 11px verdana, arial, sans-serif; color: #333399; text-decoration: underline; }

A:visited { font: 11px verdana, arial, sans-serif; color: #000080; text-decoration: none; }

select, input, textarea { font: 11px verdana, arial, sans-serif; color: #3D3D3D; }

A.small:link, A.small:visited, A.small:active { font: 10px verdana, arial, sans-serif; color: #000080; text-decoration: none; }

A.small:hover { font: 10px verdana, arial, sans-serif; color: #4F0000; text-decoration: underline; }

A.newsarc:link, A.newsarc:visited, A.newsarc:active { font: 11px verdana, arial, sans-serif; color: #4E4E4E; text-decoration: underline; }

A.newsarc:hover { font: 11px verdana, arial, sans-serif; color: #262626; text-decoration: underline; }

.boxtitle  		{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 16px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}

h1 { font: 13px verdana, arial, sans-serif; color: #3D3D3D; FONT-WEIGHT: bold;}

.datalist {FONT-WEIGHT: bold; float:left; width:24%; text-align:center;}

.list {
	color: #505050;
	background: #FFF;
	text-align: left;
	margin: 4px 0 4px 0;
	padding: 0.1em 0 0.1em 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	display:block;
}
.list:hover {
   color: #EE8300;
   background: #EEE;
   text-decoration:none;
}

hr {
  	color: #BDD6EF;
	background-color: #BDD6EF;
	height: 1px;
}
.dataname {	width:80px;
	float:left;
	cursor: pointer;}

