*
{
margin:0px;
padding:0px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
outline-style:none;
vertical-align:top;
}

HTML {}

BODY
{
background:url(../i/bg.jpg) no-repeat center -30px #c6dfe3;

}

DIV.cf
{
background:url(../i/bg_.jpg) no-repeat center bottom;

}

DIV.cl
{
clear:left;
}

DIV.cr
{
clear:right;
}

DIV#home
{
margin:0px auto;
width:950px;
}


DIV#home DIV#top
{
margin:60px 0px 0px 0px;
padding:0px 30px;
background:#FFFFFF;
}

DIV#home DIV#top img.collage
{
margin:15px 0px 0px 0px;
}

DIV#home DIV#content
{
padding:25px 35px 0;
background:#FFFFFF;
}

DIV#home DIV#footer
{
margin:25px 0px 0px 0px;
padding:0px 12px 25px 12px;
}

DIV#home table.c, DIV#home table.m
{
margin:0px 0px;
padding:0px 0px;
width:100%;
border:0px none;
border-collapse:collapse;
}

DIV#home table.m
{
width:auto;
float:right;
}

DIV#home table.c td, DIV#home table.m td
{
border:0px none;
}

DIV#home table.c td.logo
{
width:115px;
padding-right:15px;
}

DIV#home DIV#top table.c td.menu
{
width:auto;
font-size:11px;
color:#5aaf00;
padding:18px 0px 0px 0px;
}

DIV#home DIV#footer table.c td.menu
{
width:auto;
text-align:right;
}

DIV#home table.c td.list3
{
width:33%;
padding-right:15px;
}

DIV#home table.c td.list2
{
width:50%;
padding-right:15px;
}

DIV#home table.c td.menu img
{
margin:0px 5px 0px 20px;
position:relative;
top:-2px;
}

DIV#home table.c td.menu a
{
font-size:13px;
color:#333333;
display:block;
height:23px;
float:left;
margin-right:8px;
padding:6px 0px 0px 12px;
text-decoration:underline;
}

DIV#home table.c td.menu a span
{
display:block;
height:29px;
width:6px;
float:right;
background:none;
margin-left:6px;
position:relative;
top:-6px;
}

DIV#home table.c td.menu a:hover
{
color:#FFFFFF;
text-decoration:none;
background:url(../i/menu_hover_left.gif) no-repeat left top;
}

DIV#home table.c td.menu a:hover span
{
background:url(../i/menu_hover_right.gif) no-repeat right top;
}

DIV#top A.logo
{
background:url(../i/logo.gif) no-repeat left top;
width:246px;
height:69px;
display:block;
text-indent:-9999px;
margin-left:5px;
}

DIV#content DIV.box
{
margin-bottom:30px;
}

DIV#content DIV.list
{

}

DIV#content DIV.list SPAN
{
font-size:11px;
color:#787878;
}

DIV#content DIV.black_list SPAN
{
background:url(../i/icons/bullet_black.gif) no-repeat -3px 0px;
}

DIV#content DIV.silver_list SPAN
{
background:url(../i/icons/bullet_silver.gif) no-repeat -3px 0px;
}

DIV#content DIV.blue_list SPAN
{
background:url(../i/icons/bullet_blue.gif) no-repeat -3px 0px;
}

DIV#content DIV.list SPAN
{
display:block;
margin:2px 0px 5px 0px;
padding:0px 0px 0px 15px;
}

DIV#content DIV.silver_list A
{
color:#008fc4;
text-decoration:underline;
}

DIV#content DIV.silver_list A:hover
{
color:#00669b;
text-decoration:none;
}

DIV#content DIV.blue_list A
{
color:#005682;
text-decoration:underline;
}

DIV#content DIV.blue_list A:hover
{
color:#00669b;
text-decoration:none;
}

DIV#content H2
{
font-weight:normal;
font-size:22px;
color:#5aaf00;
padding:0px 0px 4px 0px;
margin:0px 0px 5px 0px;
border-bottom:1px solid #d7d7d7;
}

DIV#content P, DIV#content LI
{
margin:0px 0px 7px 0px;
padding:0px;
font-size: 14px;
}


DIV#footer table td
{
font-size:11px;
color:#003d5d;
height:50px;
vertical-align:bottom;
}

DIV#footer table td.mt
{
text-align:right;
}

DIV#footer table td a
{
font-size:11px;
color:#003d5d;
text-decoration:underline;
}

DIV#home DIV#footer table td.menu a
{
color:#003d5d;
margin-right:10px;
text-decoration:underline;
}

DIV#footer table td a:hover, DIV#home DIV#footer table td.menu a:hover
{
text-decoration:none;
}

DIV.panel
{
height:34px;
border-bottom:1px solid #ececec;
background:#f5f5f5;
margin-top:1px;
}

DIV.panel a
{
display:block;
margin:10px 0px 0px 12px;
padding:2px 13px 0px 22px;
border-right:1px solid #c7c7c7;
float:left;
height:14px;
font-size:11px;
color:#5aaf00;
text-decoration:none;
}

DIV.panel a:hover
{
text-decoration:underline;
}

DIV.panel DIV.pages, DIV.paper-files DIV.file DIV.panel DIV.pages
{
position:relative;
top:-1px;
font-size:13px;
}

DIV.panel DIV.pages A, DIV.paper-files DIV.file DIV.panel DIV.pages A
{
display:block;
margin:10px 0px 0px 0px;
padding:2px 8px 0px 8px;
border-right:1px solid #c7c7c7;
float:left;
height:18px;
color:#5aaf00;
text-decoration:none;
width:auto;
font-size:13px;
}

DIV.panel DIV.pages A.end, DIV.paper-files DIV.file DIV.panel DIV.pages A.end
{
border-right:none;
}

DIV.panel DIV.pages A:hover, DIV.paper-files DIV.file DIV.panel DIV.pages A:hover
{
text-decoration:underline;
}

DIV.panel DIV.pages SPAN, DIV.paper-files DIV.file DIV.panel DIV.pages SPAN
{
display:block;
margin:10px 0px 0px 0px;
padding:2px 8px 0px 8px;
border-right:1px solid #c7c7c7;
float:left;
height:18px;
font-size:13px;
color:#666666;
}

DIV.panel DIV.pages SPAN.pages, DIV.paper-files DIV.file DIV.panel DIV.pages SPAN.pages
{
display:block;
margin:10px 0px 0px 12px;
padding:2px 13px 0px 22px;
border:none;
float:left;
height:18px;
font-size:13px;
color:#666666;
font-weight:bold;
background:url(../i/icons/page_white_stack.gif) no-repeat 0px 0px;
}

DIV.panel DIV.pages SPAN.current, DIV.paper-files DIV.file DIV.panel DIV.pages SPAN.current
{
color:#666666;
font-weight:bold;
height:18px;
font-size:13px;
}

DIV.panel a.predmets
{
float:none;
display:inline;
border:none;
padding:0px;
margin:0px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
color:#000000;
font-style:italic;
}

DIV.panel a.predmet
{
float:none;
display:inline;
border:none;
border:none;
padding:0px;
margin:0px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
font-style:italic;
}

DIV.panel H1
{
margin:0px 0px 0px 0px;
padding:6px 0px 0px 0px;
font-size:18px;
font-weight:normal;
color:#5aaf00;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
display:inline;
font-style:italic;
}

DIV.panel span.sl
{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
color:#555555;
}

DIV.panel div.to
{
padding:7px 0 0 14px;
}

DIV.paper-all
{
margin:19px 0px 0px 0px;
padding:0px 0px 20px 10px;
}

DIV.paper-all H1
{
font-weight:normal;
font-size:22px;
color:#00AFF0;
margin-bottom:10px;
padding-left:40px;
padding-top:4px;
background:url(../i/icons/1279966214_book_open.gif) no-repeat 0px 0px;
}

DIV.paper-all DIV.paper-info
{
margin-bottom:15px;
background:url(../i/paper-info-bg.gif) no-repeat left top;
height:70px;
width:370px;
padding:15px 0px 0px 15px;
line-height:17px;
color:#777777;
float:left;
}

DIV.paper-all DIV.paper-info SPAN
{
color:#333333;
}

DIV.paper-about, DIV.paper-contents, DIV.paper-files
{
margin-bottom:15px;
padding:0px 0px 0px 0px;
color:#777777;
}

DIV.paper-about SPAN, DIV.paper-contents SPAN, DIV.paper-files SPAN
{
color:#000000;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:20px;
font-weight:normal;
padding:5px 10px;
}

DIV.paper-about DIV, DIV.paper-contents DIV, DIV.paper-files DIV.files
{
padding:5px 10px;
color:#777777;
}

DIV.paper-all A.download
{
background:url(../i/download_zip.gif) no-repeat left top;
padding:11px 10px 9px 50px;
font-weight:bold;
text-decoration:none;
margin:0px 0px 25px 5px;
color:#FFFFFF;
float:left;
height:22px;
width:177px;
font-size:16px;
font-family:Georgia, "Times New Roman", Times, serif;
}

DIV.paper-all A.download:hover
{
background:url(../i/download_zip.gif) no-repeat left bottom;
}


DIV.paper-files DIV.files DIV.file
{
margin-top:5px;
border:1px solid #cdcdcd;
background-color:#eeeeee;
padding:8px 10px 10px 33px;
background-position:10px 7px;
background-repeat:no-repeat;
font-size:11px;
color:#595959;
}

DIV.paper-files DIV.files DIV.file SPAN, div#content DIV.paper-files DIV.files DIV.file H2
{
font-weight:bold;
font-size:11px;
color:#595959;
display:inline;
padding:0px;
margin:0px;
border:none;
}

DIV.paper-files DIV.file A
{
float:right;
display:block;
margin-left:6px;
height:16px;
margin-left:15px;
padding:0 0 0 21px;
font-size:11px;
}

DIV.paper-files DIV.file H1
{
background:none;
}

DIV.paper-files DIV.file A:hover
{
text-decoration:none;
}

DIV.paper-files DIV.file A.open
{
background:url(../i/icons/page_white_text.gif) no-repeat;
}

DIV.paper-files DIV.file A.load
{
background:url(../i/icons/disk.gif) no-repeat;
}

DIV.paper-files DIV.file DIV.fileview
{
background:#FFFFFF;
border:1px solid #aaaaaa;
padding:10px;
margin:15px 0px 0px 0px;
color:#595959;
}



DIV#paper_list
{

}

DIV#paper_list DIV.paper
{
background:url(../i/icons/page_white_text.gif) no-repeat 12px 0px;
margin:19px 0px 0px 0px;
border-bottom:1px solid #ebebeb;
padding:0px 0px 20px 34px;
}

DIV#paper_list DIV.paper H2
{
padding:0px 0px 0px 0px;
margin:0px 0px 6px 0px;
border:none;
}

DIV#paper_list DIV.paper H2 A.title
{
font-size:14px;
color:#5aaf00;
font-weight:bold;
text-decoration:none;
}

DIV#paper_list DIV.paper A.title:hover
{
text-decoration:underline;
}

DIV#paper_list DIV.paper SPAN
{
color:#666666;
font-size:11px;
display:block;
margin-bottom:6px;
}

DIV#paper_list DIV.paper SPAN.type
{
background:url(../i/icons/bullet_feed.gif) no-repeat -4px -1px;
color:#999999;
display:block;
float:left;
margin:0px 15px 0px 0px;
padding:0px 0px 0px 11px;
}

DIV#paper_list DIV.paper SPAN.date
{
background:url(../i/icons/bullet_silver.gif) no-repeat -4px -1px;
color:#999999;
display:block;
float:left;
margin:0px 15px 0px 0px;
padding:0px 0px 0px 11px;
}

DIV#paper_list DIV.paper A.download
{
background:url(../i/icons/bullet_disk.gif) no-repeat -3px -1px;
color:#999999;
font-size:11px;
display:block;
float:left;
margin:0px 15px 0px 0px;
padding:0px 0px 0px 15px;
text-decoration:none;
}

DIV#paper_list DIV.paper A.download:hover
{
text-decoration:none;
color:#666666;
}

div.multi
{
	float: left;
	margin: 4px 0px 0px 7px;
}