/* NEW CHANGE */

#sp_home
{
width:680px;
margin:0 auto;
background:url("../i/ajax-loader.gif") no-repeat scroll -1000px -100px #EDEDED;
}


DIV#popwindow DIV#sp_footerExchange
{
border-top:1px solid #cbcbcb;
padding:12px 10px 12px 0px;
}

DIV#popwindow A.sp_button
{
height:34px;
width:101px;
padding:0px;
float:right;
text-decoration:none;
background:url(../i/package/button2.gif) top no-repeat;
cursor:pointer;
}

DIV#popwindow A.sp_button:hover
{
background:url(../i/package/button2.gif) bottom no-repeat;
}

DIV#popwindow A.sp_button_green
{
height:34px;
width:154px;
padding:0px;
float:right;
text-decoration:none;
background:url(../i/package/button1.gif) top no-repeat;
cursor:pointer;
margin-right:10px;
}

DIV#popwindow A.sp_button_green:hover
{
background:url(../i/package/button1.gif) bottom no-repeat;
}

DIV#popwindow A.sp_button_3
{
height:34px;
width:304px;
padding:0px;
float:right;
text-decoration:none;
background:url(../i/package/button3.gif) top no-repeat;
cursor:pointer;
margin-right:10px;
}

DIV#popwindow A.sp_button_3:hover
{
background:url(../i/package/button3.gif) bottom no-repeat;
}

DIV#popwindow DIV#sp_ajax_div2
{
height:21px;
padding:10px 13px 0px 12px;
float:right;
margin-left:11px;
margin-right:5px;
color:#FF0000;
width:290px;
text-align:right;
}

DIV#popwindow DIV.sp_ajax-loading
{
background:url(../i/ajax-loader.gif) no-repeat right 9px;
}

.sp_top
{
width:100%;
height:173px;
background:url(../i/package/top.jpg) top no-repeat;
}

.sp_top div
{
padding:16px 0px 0px 237px;
font-size:30px;
color:#89b617;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
}

.sp_center
{
width:100%;
height:352px;
background:url(../i/package/center_bg.gif) top no-repeat #FFFFFF;
}


.sp_center_b1
{
float:left;
width:168px;
color:#709512;
font-size:17px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
padding:60px 0px 0px 20px;
}

.sp_center_b1 span
{
display:block;
width:100%;
height:53px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
color:#000000;
font-size:12px;
font-weight:normal;
}

.sp_center_b1 span.sp_bonus
{
display:block;
width:135px;
height:16px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
color:#709512;
font-size:12px;
font-weight:normal;
background:url(../i/package/bonus.gif) left top no-repeat #FFFFFF;
padding-left:22px;
}

.sp_a
{
float:left;
width:246px;
text-decoration:none;
text-align:center;
}

.sp_title
{
font-family:"Tahoma", Arial, Helvetica, sans-serif;
color:#000000;
font-size:27px;
font-weight:bold;
display:block;
width:100%;
margin-top:20px;
}

.sp_a:hover .sp_title, .sp_active .sp_title
{
color:#89b617;
}

.sp_about
{
font-family:"Tahoma", Arial, Helvetica, sans-serif;
color:#292929;
font-size:14px;
display:block;
width:100%;
margin-top:7px;
}

.sp_cost
{
font-family:"Tahoma", Arial, Helvetica, sans-serif;
color:#000000;
font-size:22px;
display:block;
width:100%;
}

.sp_cost strong
{
font-family:"Tahoma", Arial, Helvetica, sans-serif;
color:#000000;
font-size:22px;
font-weight:bold;
}

.sp_cost2
{
font-family:"Tahoma", Arial, Helvetica, sans-serif;
color:#929292;
font-size:11px;
display:block;
width:100%;
margin-top:13px;
}

#sbutton1, #sbutton2
{
display:block;
width:115px;
height:30px;
margin:164px 0px 0px 73px;
}

.sp_a .sp_select_active
{
background:url(../i/package/select_active.gif) top no-repeat;
}

.sp_a .sp_select_noactive
{
background:url(../i/package/select.gif) top no-repeat;
}

.sp_a:hover .sp_select_noactive
{
background:url(../i/package/select.gif) bottom no-repeat;
}

.sp_f
{
float:left;
margin:10px 0 0 16px;
}

.sp_flogin
{
text-decoration:underline;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:12px;
color:#636363;
background:url(../i/package/user.gif) top left no-repeat;
padding-left:22px;
}

.sp_ffree
{
text-decoration:underline;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:12px;
color:#636363;
}

.sp_center_activate
{
width:100%;
height:291px;
background:url(../i/package/center_bg2.gif) 0px 0px no-repeat #FFFFFF;
}

.sp_center2_left
{
width:416px;
float:left;
padding:25px 0px 0px 18px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:14px;
color:#292929;
}

.spt
{
display:block;
margin:0px 0px 4px 0px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:20px;
color:#000000;
line-height:30px;
}

.spt strong
{
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:30px;
color:#89b617;
font-weight:bold;
line-height:21px;
}

.spc
{
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:20px;
color:#000000;
font-weight:bold;
line-height:12px;
}

.spc2
{
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:10px;
color:#7e7e7e;
font-weight:normal;
line-height:18px;
}

.spsms_box
{
margin:28px 0 0 40px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:14px;
color:#292929;
}

.spsms
{
display:block;
margin:0px 0px 11px 0px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.spsmstext, .spsmsnumber
{
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:24px;
color:#89b617;
line-height:10px;
font-weight:bold;
}

.spform
{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.spsmsb1
{
float:left;
height:35px;
width:85px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
margin-top:11px;
}

.spsmsb2
{
float:left;
height:35px;
width:163px;
margin-top:5px;
}

.spsmsb2 input
{
border: solid 1px #9b9b9b;
height:28px;
padding:3px 6px;
width:140px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}

.spsmsb3
{
float:left;
height:35px;
width:125px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:12px;
color:#9d9d9d;
margin-top:7px;
}

.spsms2
{
display:block;
margin:0px 0px 4px 0px;
padding:5px 0px 0px 0px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:13px;
color:#000000;
}


.sp_center2_right
{
width:235px;
float:left;
padding:18px 0px 0px 10px;
}

.sp_plus
{
background:url(../i/package/plus.gif) 0px 5px no-repeat #FFFFFF;
margin-bottom:10px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:11px;
color:#4b4b4b;
padding-left:28px;
margin-left:4px;
}

.sp_plus_bonus
{
background:url(../i/package/bonus.gif) 0px 5px no-repeat #FFFFFF;
margin-bottom:10px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:11px;
color:#4b4b4b;
padding-left:28px;
margin-left:4px;
}

.sp_info
{
background:url(../i/package/info.gif) 0px 4px no-repeat #FFFFFF;
padding-left:32px;
padding-top:3px;
margin-top:5px;
height:69px;
}

.sp_info a
{
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:12px;
color:#4b4b4b;
line-height:22px;
text-decoration:underline;
}

.sp_info a:hover
{
text-decoration:none;
}

#sp_info
{
display:none;
}

#sp_info1
{
height:14px;
overflow:hidden;
text-align:right;
}

#sp_info1 a
{
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-decoration:underline;
}

#sp_info1 a:hover
{
text-decoration:none;
}

#sp_info2
{
height:170px;
overflow:auto;
border: 1px solid silver;
}

#sp_info_plus
{
height:186px;
}


.sp_center_activate2
{
width:100%;
height:291px;
background:#FFFFFF;
}

.spformt
{
float:left;
height:35px;
width:80px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
margin-top:11px;
}

.spformi
{
float:left;
height:35px;
width:250px;
margin-top:5px;
}

.spformi input
{
border: solid 1px #9b9b9b;
height:28px;
padding:3px 6px;
width:250px;
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-size:18px;
color:#000000;
}






.sp_flogin:hover, .sp_ffree:hover
{
text-decoration:none;
}


DIV#popwindow DIV#content
{
padding:20px 20px 30px 20px;
background:#FFFFFF;
}

DIV#popwindow DIV#top SPAN
{
font-size:14px;
font-weight:bold;
display:block;
}

DIV#popwindow DIV#content table 
{
border:0 none;
border-collapse:collapse;
margin:0;
padding:0;
width:100%;
}

DIV#popwindow DIV#content table td 
{
border:0 none;
}

DIV#popwindow DIV#content table td.left 
{
text-align:right;
width:143px;
padding-right:12px;
padding-top:4px;
white-space:nowrap;
font-size:14px;
font-weight:bold;
color:#007bbb;
}

DIV#popwindow DIV#content table td.left  DIV
{
font-size:14px;
font-weight:bold;
color:#007bbb;
position:relative;
display:block;
z-index:1100;
}

DIV#popwindow DIV#content table td.right
{
padding-bottom:13px;
}


.sp_center_b1 .sp_bonus_min
{
height:16px;
}