#yap-yandex_ad_1-horizontal .yap-title-font-size {
text-decoration: none! important;
line-height:normal !important;
}

div[data-ad="yandex_ctx_story"] .yap-title-font-size {
	text-decoration: none !important;
	line-height:normal !important;
}
