
div.header-sys-msg {
	width: 100%;
	background-color: rgb(244, 242, 176);
	font-family: Arial, Helvetica, Tahoma, Verdana;
	font-size: 14px;
	line-height: 18px;
	color: rgb(68, 68, 68);
	padding: 5px 0px 7px;
	text-align: center;
	border-bottom-color: rgb(103, 187, 88);
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

div.header-sys-msg > div {
	text-align: left;
}

div.header-sys-msg > div > div {
	padding-left: 20px;
	margin-right: 50px;
}

div.header-sys-msg-btn {
	position: absolute;
	right: 10px;
	top: 2px;
}

div.header-sys-msg-btn > a {
	font-family: Tahoma;
	font-size: 12px;
	color: #55b1e8;
}

div.header-sys-msg-btn > a > i {
	font-size: 20px;
	float: right;
	display: inline-block;
	color: rgb(136, 136, 136);
	width: 40px;
	text-align: right;
	cursor: pointer;
	margin-top: 2px;
}

.b-page-header-v2 {
	width: 100%;
	background: url("//cs.pikabu.ru/images/header_bg13.gif") #f0f0f0 repeat-x bottom;
}

.b-page-header-v2 > div {
	max-width: 1260px;
	text-align: center;
	margin: 0 auto;
}

.b-page-header-v2 > div > table.header-table {
	background: none !important;
	border-spacing: 0;
}

.b-page-header-v2.header-ad-branding > div > table.header-table {
	background: url('//s.pikabu.ru/images/backgr_div_new.png') repeat-x bottom !important;
}

td.header-logo {
	width: 20%;
	vertical-align: top;
	padding-top: 2px;
	text-align: left;
	overflow: hidden;
}
td.header-logo > a {
	text-underline: none;
}
td.header-logo > a > div {
	width: 160px;
}

td.header-logo > a > div > #logo {
	z-index: 2;
	width: 155px;
	float: left;
	position: absolute;
	top: 5px;
	left: 3%;
}

td.header-logo > a > div > #logo_shadow {
	width: 155px;
	z-index: 1;
	position: absolute;
	top: 5px;
	display: none;
	left: 3%
}

td.header-nav > table {
	width: 100%;
	height: 72px;
}

td.header-nav-top {
	width: 100%;
	height: 20px;
	padding-top: 5px;
	vertical-align: top;
}

td.header-nav-bottom {
	vertical-align: bottom;
	height: 32px;
}

td.header-nav-bottom > ul.menu {
	padding-top: 0;
	height: 28px;
}

td.header-nav-bottom > ul.menu > li.menu-item-default {
	position: relative;
	width: 86px;
}

td.header-nav-bottom > ul.menu > li.menu-item-default.large > a {

}

td.header-nav-bottom > ul.menu > li.menu-item-default > a {
	position: absolute;
	z-index: 2;
}

td.header-nav-right {
	vertical-align: bottom;
	height: 22px;
	text-align: right;
	padding-right: 0;
	padding-bottom: 4px;
}

div.header-message-signup {
	position: fixed;
	z-index: 300;
	top: 0;
	right: 0;
	color: white;
	text-shadow: 0 1px 0 grey;
	background-color: #87d67f;
	background: -webkit-linear-gradient(top, #87d67f 0px, #6bc865 100%);
	background: -o-linear-gradient(top, #87d67f 0px, #6bc865 100%) transparent;
	background: -moz-linear-gradient(center top, #87d67f 0px, #6bc865 100%) repeat scroll 0 0 transparent;
	border-top: 1px solid #aae298;
	font: 13px Tahoma, Arial, sans-serif;
	padding: 9px 16px 2px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 4px;
	display: none;
	height: 25px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

div.header-message-signup > a {
	color: #FFF;
	text-decoration: none;
	border-bottom: 1px dotted;
}

div.header-message-err {
	position: fixed;
	z-index: 300;
	top: 0;
	right: 0;
	color: white;
	text-shadow: 0 1px 0 grey;
	-moz-box-shadow: inset 0 1px 0 0 #f5978e;
	-webkit-box-shadow: inset 0 1px 0 0 #f5978e;
	box-shadow: inset 0 1px 0 0 #f5978e;
	background-color: #f24537;
	border: 1px solid #d02718;
	color: #ffffff;
	text-shadow: 1px 1px 0 #810e05;
	font: 13px Tahoma, Arial, sans-serif;
	padding: 9px 16px 2px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 4px;
	height: 25px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	display: none;
}

div.menu-cont {
	position: relative;
}

div.menu-cont div.header-nav-top {
	height: 40px;
	margin-top: -70px;
}

div.menu-cont div.header-nav-top {
	height: 40px;
	margin-top: -70px;
}

div.menu-cont div.header-nav-top > ul {
	margin-right: 1%;
}

div.menu-cont div.header-nav-top > ul > li > a {
	color: #555;
}

div.header-search-box {
	padding: 0 0 0 4px;
	white-space: nowrap;
}

div.header-search-box > form {
	padding: 0;
	margin: 0;
	display: inline;
}

div.header-search-box > form > div {
	vertical-align: middle;
	padding-right: 0;
	margin: 0;
}

div.header-search-box > form > div > input {
	border-radius: 0;
}

table.menu-table {
	margin-right: 0;
	width: 300px;
	margin-left: 5px;
}

table.menu-table td.menu-table-uname {
	text-align: left;
}

table.menu-table td.menu-table-uname a#logout {
	float: right;
	margin-right: 20px;
}

table.menu-table td.menu-table-uname .menu-ban-info {
	font-size: 10px;
}

table.menu-table td.menu-table-uname .menu-ban-info a {
	color: #5190B8;
	text-decoration: underline;
}

div.menu-adult-switch {
	padding: 10px 0 0 10px;
	font: 12px Tahoma, Arial;
	white-space: nowrap;
}

div.menu-adult-switch > a > img {
	padding: 2px 1px 0 0;
	vertical-align: top;
	float: left;
	margin-right: 4px;
}

div.menu-adult-switch > div {
	float: left;
}

div.menu-adult-switch > div > .menu-adult-btn {
	padding: 0 5px 2px 2px;
}

div.menu-adult-switch > div > .menu-adult-btn > a {
	text-decoration: none;
	border-bottom: 1px dotted;
	color: #5190B8;
}

div.menu-adult-switch > div > .set_straw_ch {
	width: 33px;
	border: 1px solid #cccccc;
	padding: 0 5px 2px 5px;
}

div.menu-adult-switch > div > .set_straw_ch > a {
	text-decoration: none;
	color: #5190B8;
}

div.menu-adult-switch > div > .set_straw_ch > img {
	float: right;
	vertical-align: middle;
	position: relative;
	top: 6px;
}

ul.menu-list > li {
	height: 18px;
	background: url("//cs.pikabu.ru/images/menu_all_transparent_w_subs.png") no-repeat;
}

ul.menu-list > li > span {
	display: block;
}

ul.menu-list > li > span > span {
	padding-left: 0;
}

ul.menu-list > li.menu-item-rating {
	background: url("//cs.pikabu.ru/images/menu_all_transparent_new.png") no-repeat 0 -3px;
}

ul.menu-list > li.menu-item-subs {
	background-position: 0 -134px;
}

ul.menu-list > li.menu-item-setup {
	background-position: 0 -17px;
}

ul.menu-list > li.menu-item-myfeed {
	background-position: 0 -172px;
}

ul.menu-list > li.menu-item-mynews {
	background-position: 0 -34px;
}

ul.menu-list > li.menu-item-mymsg {
	background-position: 0 -50px;
}

ul.menu-list > li.menu-item-mycomm {
	background-position: 0 -65px;
}

ul.menu-list > li.menu-item-myvote {
	background-position: 0 -82px;
}

ul.menu-list > li.menu-item-mysaved {
	background-position: 0 -99px;
}

ul.menu-list > li.menu-item-mcalls {
	background-position: 0 -115px;
}

ul.menu-list > li.menu-item-xroom {
	background: url("//cs.pikabu.ru/images/shield_tick.png") no-repeat 14px 2px;
}

ul.menu-list > li.menu-item-stat {
	background: url("//cs.pikabu.ru/images/stat_icon.png") no-repeat  14px 5px;
}

ul.menu-list > li.menu-item-chat {
	background-position: 0 -151px;
}

ul.menu-list > li.menu-item-empty {
	height: 6px;
	font-size: 1px;
	background-image: none;
}

ul.menu-list > li.menu-item-chat > span {
	display: inline;
	color: #989898;
	padding: 0 0 0 8px;
	font: 10px Tahoma, Arial;
}

td.menu-box-bottom {
	background: url("//cs.pikabu.ru/images/menu_elements_top_bottom.png") no-repeat 0 -38px;
	height: 7px;
}

table.menu-auth-tabs {
	width: 300px;
	height: 28px;
	margin: 20px 0 0 5px;
	border: 0;
	padding: 0;
	font: 13px Tahoma, Arial;
}

table.menu-auth-tabs .menu-auth-tab-signin {
	width: 150px;
	background: url("//cs.pikabu.ru/images/headerall_new_14.png") no-repeat 0 -109px;
	cursor: pointer;
	text-align: center;
	padding-bottom: 2px;
	color: #9D9D9D;
}

table.menu-auth-tabs .menu-auth-tab-signup {
	width: 150px;
	background: url("//cs.pikabu.ru/images/headerall_new_14.png") no-repeat 0 -142px;
	cursor: pointer;
	text-align: center;
	padding-bottom: 2px;
	color: #468fa9;
	text-shadow: 0 1px 0 white;
}

table.menu-auth-form {
	width: 300px;
	margin: 0 0 0 5px;
	font: 12px Tahoma, Arial;
	color: #686969;
	text-shadow: 0 1px 0 white;
}

div.menu-auth-form {
	width: 298px;
	background: -o-linear-gradient(top, #FFFFFF 0px, #EFEFEF 100%) transparent;
	background: -webkit-linear-gradient(top, white 0, #EFEFEF 100%);
	background: -moz-linear-gradient(center top , #FFFFFF 0px, #EFEFEF 100%) repeat scroll 0 0 transparent;
	border-left: 1px solid #CFCFCF;
	border-right: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	border-radius: 0 0 3px 3px;
}

div.menu-auth-form {
	width: 298px;
	background: -o-linear-gradient(top, #FFFFFF 0px, #EFEFEF 100%) transparent;
	background: -webkit-linear-gradient(top, white 0, #EFEFEF 100%);
	background: -moz-linear-gradient(center top , #FFFFFF 0px, #EFEFEF 100%) repeat scroll 0 0 transparent;
	border-left: 1px solid #CFCFCF;
	border-right: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	border-radius: 0 0 3px 3px;
}

div.menu-auth-block {
	padding: 15px 20px 10px 22px;
	height: auto;
	position: relative;
}

div.menu-auth-block2 {
	height: 40px;
}

div.menu-auth-block2 .menu-auth-rem {
	float: left;
	padding: 10px 0 5px 0;
}

div.menu-auth-block2 .menu-auth-rem > input {
	vertical-align: middle;
}

div.menu-auth-block2 .menu-auth-submit {
	float: right;
	padding: 10px 2px 5px 0;
}

div.menu-auth-block2 .menu-auth-submit > img {
	display: none;
	vertical-align: middle;
}

div.menu-auth-block2 .menu-auth-submit > input {
	width: 50px;
	height: 22px;
	padding: 0 0 2px;
}

div.menu-auth-msg {
	clear: both;
	display: none;
	padding: 0 0 4px 0;
}

div.menu-auth-msg  > span {
	color: red;
}

div.menu-reg-block {
	padding: 15px;
	display: none;
	text-align: center;
}

td.menu-reg-captcha > img {
	cursor: pointer;
	margin-top: -1px;
	vertical-align: middle;
}

td.menu-reg-msg {
	display: none;
	text-align: center;
}

div.menu-reg-submit > input.submit_button_reg {
	width: 162px;
	margin: 5px 0 0 -3px;
	padding: 5px 0;
}

div.menu-reg-submit > img {
	display: none;
	vertical-align: middle;
}

div.menu-reg-err {
	display: none;
	padding: 0;
	margin: 0;
}

div.menu-add-btn {
	position: relative;
	margin: 20px 0 0 5px;
	width: 302px;
}

div.menu-add-btn > a {
	text-decoration: none;
}

div.menu-add-btn > a > div {
	display: block;
}

div.menu-add-btn > a > div > img {
	display: inline-block;
	line-height: 19px;
	vertical-align: middle;
	position: relative;
	margin-left: -20px;
	margin-top: -1px;
	-webkit-animation: motorback 0.2s ease-out;
	-moz-animation: motorback 0.2s ease-out;
	-o-animation: motorback 0.2s ease-out;
	animation: motorback 0.2s ease-out;
}

div.menu-add-btn > a > div > div {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 5px 10px;
	text-decoration: none;
	text-align: center;
	line-height: 19px;
	font: 19px Tahoma, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

div.menu-add-btn > a:hover img {
	-webkit-animation: motor 0.3s ease-out;
	-moz-animation: motor 0.3s ease-out;
	-o-animation: motor 0.3s ease-out;
	animation: motor 0.3s ease-out;
	transition: all 0.2s;
}

div.menu-add-btn > a:active img {
	opacity: 0.8;
}

div.menu-block,
table.menu-block {
	width: 300px;
	margin-top: 15px;
	border: 1px solid #d7d7d7;
	height: auto;
	border-radius: 3px;
}

div.menu-block-branding {
	margin-top: 15px;
	border: 1px solid #d7d7d7;
	height: auto;
	border-radius: 3px;
}

div.menu-block-branding > table,
div.menu-block > table {
	width: 100%;
	border-spacing: 0;
}

td.menu-block-title {
	text-align: left;
	background-color: #efefef;
	border-radius: 2px 2px 0 0;
}

div.menu-block-branding td.menu-block-title {
	text-align: left;
	background-color: #f9f9f9;
	border-bottom: 0;
	padding-bottom: 0;
}

span.menu-block-title-right {
	float: right;
}

span.menu-block-title-right > a {
	color: #5190b8;
	text-decoration: underline;
}

td.menu-best-comm {
	vertical-align: top;
	padding: 0 10px 15px 15px;
}

div.menu-block-branding td.menu-best-comm {
	background-color: #f9f9f9;
}

td.menu-best-comm > div.menu-story-link {
	padding-top: 10px;
}

td.menu-best-comm > div.menu-story-link > a {
	font-family: Tahoma, Arial;
	color: #5190b8;
	font-size: 12px;
}

td.menu-best-comm > div.menu-comm-head {
	padding: 0;
	white-space: normal;
}

td.menu-best-comm > div.menu-comm-head > h6 {
	margin: 0;
	padding: 0;
	font: bold 13px Tahoma, Arial;
	float: left;
}

td.menu-best-comm > div.menu-comm-desc {
	width: 260px;
	overflow: hidden;
}

td.menu-block-small-txt {
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 5px;
	height:20px;
}

td.menu-block-small-txt > img {
	padding-bottom: 2px;
	padding-left: 7px;
	vertical-align: middle;
}

tr.menu-discussed-item > td {
	vertical-align: top;
}

tr.menu-discussed-item > td > div {
	word-break: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	width: 90%;
	padding: 8px 10px 3px 15px;
}

td.menu-subs-item {
	vertical-align: top;
	padding: 5px 10px 5px 15px;
	font: 12px Tahoma, Arial;
}

td.menu-subs-item > div.menu-subs-tabs {
	color: rgb(104, 105, 105);
	margin: 6px 0 8px 0;
}

td.menu-subs-item > div.menu-subs-tabs > span > a {
	color: #686969;
	text-decoration: none;
}

td.menu-subs-item > div.menu-subs-tabs div.menu-subs-more {
	padding: 3px 0;
	float: right;
}

td.menu-subs-item > div.menu-subs-tabs div.menu-subs-more > a {
	color: #5190b8;
	border-bottom: 1px dotted;
	text-decoration: none;
}

td.menu-subs-item > div.menu-subs-tabs div.subs_list_item {
	padding: 3px 0;
	width: 100%;
}

td.menu-subs-item > div.menu-subs-tabs div.subs_list_item > a {
	color: #5190b8;
}

td.menu-subs-item > div.menu-subs-tabs div.subs_list_item > div.unsub_item_wrap {
	float: right;
	display: none;
}

td.menu-subs-item > div.menu-subs-tabs div.subs_list_item > div.unsub_item_wrap > a {
	color: #5190b8;
	font-size: 11px;
}

td.menu-subs-item > div.menu-subs-tabs div.subs_list_item > div.unsub_item_wrap > a > img {
	opacity: 0.6;
}

.subs_list_item {
margin: 4px 0
}

a.menu-unsubscribe-btn {
	display: none;
	float: right;
	padding-right: 5px;
}

a.menu-new-comm-info {
	padding-top: 2px;
	font: 12px Tahoma, Arial;
	text-transform: lowercase;
}

div.promo-block {
	font-size: 12px;
	padding: 10px;
}

div.menu-top-tags {
	width: 300px;
	margin-top: 15px;
	height: auto;
	border-radius: 3px;
}

div.menu-top-tags > table {
	width: 100%;
	border-spacing: 0;
}

div.menu-top-tags .menu-top-tags-cont {
	vertical-align: top;
	padding: 10px 10px 0 15px;
}

div.menu-top-tags .menu-top-tags-cont > div {
	margin-top: 8px;
}

div.menu-top-tags .menu-top-tags-cont > div > a {
	text-decoration: none;
}

div.menu-top-tags .menu-top-tags-links {
	vertical-align: top;
	padding: 0 0 15px 15px;
}

div.menu-top-tags .menu-top-tags-empty {
	font: 12px Tahoma, Arial;
	color: #777;
	padding: 10px 0 15px 15px;
}

div.menu-top-tags .menu-top-tags-empty a {
	color: #555;
	white-space: nowrap;
}

td.footer-links {
	vertical-align: middle;
}

td.footer-links * {
	vertical-align: top;
}

td.footer-links span {
	color: #686969;
	font: 12px Tahoma, Arial;
	margin-left: 40px;
}

td.footer-links a {
	padding: 0;
}

table.footer-table {
	width: 100%;
	border-spacing: 0;
}

div.footer-fornex {
	margin-left: -11px;
}

div.footer-fornex > span {
	margin-left: 32px;
}

table.footer-table-bottom {
	position: relative;
	background: url("//cs.pikabu.ru/images/brand/wot/footer_bg_opacity2.png") repeat;
}

div.footer-social {
	vertical-align: top;
	margin-bottom: 10px;
}

div.footer-social {
	vertical-align: top;
	margin-bottom: 10px;
}

div.footer-social span,
div.footer-social img {
	vertical-align: middle;
	width: 16px;
	height: 16px;
}

div.footer-social a {
	text-decoration: underline;
}

div.footer-contact img {
	vertical-align: middle;
	padding-right: 4px;
}

div.footer-contact a {
	text-decoration: underline;
}

div.footer-contact div {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px
}


div.footer-contact div a {
	color: inherit
}

div.footer-counter-liveinternet {
	text-align: right;
	margin-right: -55px;
}

div.footer-pechenka {
	position: absolute;
}

div.footer-pechenka > div {
	position: absolute;
	z-index: 9;
	bottom: 88px;
	right: -120px;
}

div.story-page-show-mode {
	margin: 25px 0 25px 95px;
	border-left: solid 1px #cfcfcf;
	border-right: solid 1px #cfcfcf;
	border-top: solid 1px #dfdfdf;
	border-bottom: solid 1px #c5c5c5;
	padding: 10px 0 10px 185px;
	width: 387px;
	cursor: pointer;
}

div.story-page-show-mode > a {
	color: #777;
	font-size: 13px;
	font-family: Tahoma, sans-serif;
	text-shadow: 0 1px 0 white;
	text-decoration: none;
}

div.story-page-show-mode > img {
	position: relative;
	left: 5px;
	display: none;
	vertical-align: middle;
}

.user-profile-tools {
	margin-top: 10px;
}

.user-profile-tools a {
	border-bottom: 1px dotted;
	text-decoration: none;
	font: 12px Tahoma, Arial;
	color: #606060;
}

.user-profile-tools img {
	vertical-align: middle;
	display: none;
	margin-left: 10px;
}

.fb-widget-below-comments {
    background-color: transparent;
    padding: 20px 0 5px 0px;
    margin-left: -7px;
    font-family: Tahoma, arial, sans-serif;
	color: #2e2e2e;
}

.fb-widget-below-comments table td.img {
    width: 45px;
    vertical-align: top;
}

.fb-widget-below-comments table td.img div {
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 2px;
    height: 52px;
}

.fb-widget-below-comments table td div img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.fb-widget-below-comments table td.header {
    vertical-align: top;
}

.fb-widget-below-comments table td.header div {
    margin-left: 4px;
}

.fb-widget-below-comments table td.header a {
    font-size: 19px;
    text-decoration: none;
    font-weight: bold;
    color: #3b5998;
    -webkit-font-smoothing: antialiased;
}

.fb-widget-below-comments table td.header .fb-like {
    margin-top: 7px;
    margin-left: 0;
	/* z-index: 100; */
}

.button_subscribe {
	font: 13px normal Tahoma, Arial;
	padding: 5px 8px;
	height: auto;
	line-height: normal !important;
	text-shadow: none;
	width: 96px;
	border-radius: 2px;
}

.button_unsubscribe {
	border: 1px solid #D7D7D7;
	color: #686969;
	border-radius: 2px;
	background-color: #F3F3F3;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	font: 13px normal Tahoma, Arial;
	padding: 4px 8px;
	height: auto;
	line-height: normal !important;
	text-shadow: none;
	width: 96px;
}


.button_unsubscribe:hover {
	background-color: #e8e8e8;
	border-color: #cfcfcf;
}

.button_unsubscribe:active {
	background-color: #e0e0e0;
	border-color: #c7c7c7;
}

.profile_wrap {
	width: 90%;
	margin-left: 15px;
	height: auto;
	margin-top: 15px;
	padding: 15px;
	background: #f0f1eb;
	border-radius: 3px;
	text-align: left;
	font-family: Tahoma, Arial;
	font-size: 12px;
	color: #606060;
}

.profile_wrap > table {
	width: 100%;
	vertical-align: top;
}

.profile_additional_wrap {
	width: 90%;
	margin-left: 24px;
	padding: 5px 0;
	text-align: right;
	font-family: Tahoma, arial, sans-serif;
	font-size: 12px;
}

.profile_info_avatar {
	width: 92px;
	margin-bottom: 7px;
}

.profile_wrap > table tr td:first-child {
	width: 105px;
	vertical-align: top;
}

.profile_wrap > table tr td:nth-child(2) {
	vertical-align: top;
}

.profile_wrap > table tr td:nth-child(2) > div {
	padding-top: 0px;
	line-height: 15px;
	font-size: 12px;
	color: #606060;
}

.profile_wrap > table tr td:nth-child(2) > div > a {
	color: #777;
	font-family: Tahoma, Arial;
	font-size: 21px;
	text-decoration: none;
}

.profile_wrap > table tr td:nth-child(3) {
	width: 215px;
	vertical-align: top;
}

.awards_wrap {
	width: 190px;
	text-align: right;
	margin-top: -5px;
	float: right
}

.awards_wrap > div {
	float: right;
	margin-right: 3px;
	width: 100%;
}

.awards_wrap > div a {
	font: 12px Tahoma, Arial;
	color: inherit;
}

.note_wrap {
	width: 90%;
	margin-left: 15px;
	margin-top: -5px;
	height: auto;
	padding: 0px 13px 15px 17px;
	background: #f0f1eb;
}

.note_wrap > span {
	display: none;
	color: #aaa;
	vertical-align: middle;
}

.note_wrap > span[data-role="complete"] {
	font-family: Tahoma, Arial;
	font-size: 13px;
	vertical-align: middle;
}
.note_wrap > span[data-role="complete"] > i {
	color: #79c36c;
	font-size: 16px;
	vertical-align: middle;
}

.note_wrap > input[type="text"] {
	width: 98%;
	max-width: 792px;
	margin-top: 0px;
	height: 22px;
	line-height: 20px;
	padding: 3px 8px 1px 1px;
	border-left: 0px solid;
	border-top: 0px solid;
	border-right: 0px solid;
	text-align: left;
	font-family: Tahoma, Arial;
	font-size: 12px;
	color: #999;
	border-bottom: 1px solid #dddddd;
	outline: none;
	background-color: transparent;
	transition: width 0.3s ease-out;
	-webkit-transition: width 0.3s ease-out;
}

.note_wrap > input[type="button"] {
	width: 1px;
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	height: 26px !important;
	line-height: 26px !important;
	font-size: 13px !important;
	vertical-align: middle;
	margin-left: 5px;
	padding: 0;
}

.note_wrap.note_wrap_focus > input[type="text"] {
	width: 85%;
	width: calc(98% - 100px);
	width: -webkit-calc(98% - 100px);
	width: -moz-calc(98% - 100px);
	width: -ms-calc(98% - 100px);
	width: -o-calc(98% - 100px);
}

.note_wrap.note_wrap_focus > input[type="button"] {
	width: 95px;
	opacity: 1;
	display: inline-block;
	padding: 0 5px;
}

.note_wrap > input[type="button"].note_save_button_hide {
	display: none !important;
}

div.story_head a.story_authors {
	font-size: 10px;
	color: #777777;
	text-decoration: underline;
	margin-left: 5px;
}

.right_menu_ads {
	margin: 15px 0px 0 14px;
	width: 300px;
	height: auto;
	font-family: Tahoma;
}

.ad_faq .question {
	color: #666;
	font-size: 120%;
	margin-bottom: 5px;
	width:auto;
	height: auto;
	background: none
}

.ad_faq .answer {
	margin-bottom: 30px;
	line-height: 1.5;
}

.ad_faq a {
	color: #5190b8;
	text-decoration: none;
}

.advantages {
	margin: 0;
}

.advantages li {
	margin: 5px 0 0 0;
}

.social-group-wrap {
	display: inline;
	font-size: 11px;
	padding: 0 4px 1px;
	margin: 0 2px;
	line-height: 12px;
	font-family: tahoma, arial, sans-serif;
}
.social-group-wrap.social-state--1 {
	color: #a94442;;
	background-color: #f2dede;

}
.social-group-wrap.social-state-0 {
	color: #BBBBBB;
	background-color: #f9f9f9;
}
.social-group-wrap.social-state-1 {
	color: #3c763d;
	background-color: #dff0d8;
}
.social-group-wrap.social-state-2 {
	color: #8a6d3b;
	background-color: #fcf8e3;
}

.payment-method-inactive {
	opacity: 0.5;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	pointer-events: none;
}

div.ya-block.ya-advert {
	margin-bottom: 20px;
	position: relative;
	margin-left: -11px;
}

.stories div.ya-block.ya-advert {
	margin-left: -14px;
}

div.ya-block.ya-advert .yap-adv__body.yap-body {
	font-size: 13px;
}

div.ya-block.ya-advert .yap-adv__domain.yap-domain_with-path-true {
	font-size: 13px !important;
	margin-top: 6px !important;
}

div.ya-block.ya-advert .yap-adv__domain.yap-domain_with-path-true + .yap-body {
	margin-top: 6px !important;
}

div.ya-block.ya-advert .yap-adv__domain.yap-domain_with-path-true + .yap-body + .yap-contacts {
	margin-top: 4px !important;
}

div.ya-block.ya-advert .yap-adv__contacts.yap-contacts {
	margin-top: 5px !important;
}

div.ya-block.ya-advert .yap-adv__contacts.yap-contacts * {
	font-size: 13px;
}

div.ya-block.ya-advert .yap-adv__row-button,
div.ya-block.ya-advert .yap-adv__row-content {
	top: 0;
	position: absolute !important;
	padding-top:10px !important;
}

div.ya-block.ya-advert .yap-adv__row-picture {
	position: relative!important;
	width: 238px !important;
	margin-left: 15px !important;
	margin-top: 95px;
	margin-bottom: 0 !important;
}


div.ya-block.ya-advert .yap-adv__row-button {
	display:none !important;
}

div.ya-block.ya-advert .yap-adv__row-warning {
	width: 238px !important;
	margin-top: 0 !important;
}

div.ya-block.ya-advert .yap-block.yap-layout {
	border: 0 !important;
	width: 620px !important;
	height: auto !important;
}

div.ya-block.ya-advert .yap-block__logo {
	padding-top: 5px;
	left: 13px;
	bottom: 0 !important;
	right: auto !important;
}

div.ya-block.ya-advert .yap-contacts__item,
div.ya-block.ya-advert .yap-sitelinks__sitelink {
	margin-bottom: 2px!important;
	display: inline !important;
	margin-right: 10px;
}

div.ya-block.ya-advert .yap-adv__adtune.yap-adtune {
	margin-top: 5px;
}

.rules .container {
	max-width: 700px;
	min-width: 550px;
	color: #666;
	font: 13px Tahoma, Arial;
	text-align: left;
	padding-left: 100px;
}

.rules .container a {
	text-decoration: none;
	color: #217CB6;
}

.rules .container h1 {
	color: #7b7b7b;
	font-size: 22px;
	padding-bottom: 20px;
	padding-top: 30px;
}

.rules .container h1 .no {
	color: #bd1313;
}

.rules .container h2 {
	color: #555;
	font-size: 19px;
	margin: 10px 0
}

.rules .container h3 {
	color: #555;
	font-size: 16px;
	margin: 10px 0
}

.rules .container div {
	padding-bottom: 10px;
}

.rules .container div h3 .no {
	color: #bd1313;
	font-size: inherit;
}

.rules .container .menu div {
	margin: 3px 0;
	padding-bottom: 0;
}

.rules .container .more {
	margin: 30px 0;
	background-color: #f3f3f3;
	width: auto;
	padding: 10px
}

.ya-advert-2 > yatag > yatag:only-child {
	max-width: 300px !important;
	min-width: 300px !important;
}
.ya-advert-2 td > yatag[data-id]:only-child > yatag > yatag:nth-child(2)  {
	padding-left: 0 !important;
}
.ya-advert-2 {
	margin-bottom: 20px;
}