p {  font: 8pt Verdana, Arial, Helvetica, sans-serif}
.data { color: #FFFFFF}
.anounce { font-weight: normal}
.hotnews {font: 8pt Verdana, Arial, Helvetica, sans-serif; color: #0F1215}
.copy { color: #FFFFFF}
td {font: 8pt Verdana, Arial, Helvetica, sans-serif}
h1.titl { font-family:arial,helvetica; font-size:14pt; color:#000080; font-style: bold; text-align: center; line-height:25px }
h2 { font-family:arial,helvetica; font-size:13pt; color: sans-serif}
h3 { font-family:arial,helvetica; font-size:12pt; color: sans-serif}
h4 { font-family:arial,helvetica; font-size:10pt; color: sans-serif}
p.pe  { font-size: 10pt; font-family: Arial; color: #000000; text-align: justify; text-indent:20px; }