a.cat  { 
	font-size: 10pt; 
	font-family: Arial; 
	font-weight:800; 
	color: #3095c5; 
	text-decoration: none;
        text-align: left;
        }
td.table  {
	font-size: 10pt;
	font-family: Arial;
	text-align: center;
	border: 1 solid #000000;
	}
td  {
	font-size: 10pt;
	font-family: Arial;
	}
tr.titl {
	background-color: #F0F0F0;
	text-align: center;
	}

h1.titl { 
	font-family:arial,helvetica; 
	font-size:14pt;
	color:#0E50CB;
	font-style: bold;
	text-align: center; 
	line-height:25px
	}
h2.titl { 
	font-family:arial,helvetica; 
	font-size:12pt; 
	color:#0E50CB; 
	font-style: bold; 
	text-align: center; 
	}
h2.menu { 
	font-family:arial,helvetica; 
	font-size:10pt; 
	color:#FFFFFF; 
	font-style: bold; 
	margin-left: 5pt }
h2.cent { 
	font-family:arial,helvetica; 
	font-size:10pt; 
	color:#0E50CB; 
	font-style: bold; 
	margin-left: 5pt }
h2.rit { 
	font-family:arial,helvetica; 
	font-size:10pt; 
	color:#FFFFFF; 
	font-style: bold; 
	text-align: center; 
	line-height:20px }
font.menu  { 
	font-size: 10pt; 
	font-family: Arial; font:400; 
	color: #0E50CB; 
	margin-left: 5pt }
p.menu  { 
	font-size: 10pt; 
	font-family: Arial; 
	font-weight:800; 
	color: #0E50CB; 
	margin-left: 5pt }
p.bl  { 
	font-size: 10pt; 
	font-family: Arial; 
	font-weight:800; 
	color: #000000; 
	margin-left: 20pt }
p.sub  { 
	font-size: 10pt; 
	font-family: Arial; 
	font-weight:800; 
	color: #000000; 
	margin-left: 3pt }
p.pe  { 
	font-size: 10pt; 
	font-family: Arial; 
	color: #000000; 
	text-align: justify; 
	text-indent:20px; }
p.fig  { 
	font-size: 10pt; 
	font-family: Arial; 
	font-weight:800; 
	color: #000000; 
	text-align: center;
	}
a.list  { 
	font-size: 12px; 
	font-family: Arial; 
	font-weight:800; 
	color: #0E50CB; 
	text-decoration: none;  
	text-indent: 5pt;
	text-align: left
	}
a:hover.list  { 
	font-size: 12px; 
	font-family: Arial; 
	font-weight:800; 
	color: #00FF00; 
	text-decoration: none;  
	text-indent: 5pt; }
a.list2  { 
	font-size: 10px; 
	font-family: Arial; 
	font-weight:800; 
	color: #0E50CB; 
	text-decoration: none;  
	text-indent: 5pt;
	text-align: left
	}
a:hover.list2  { 
	font-size: 10px; 
	font-family: Arial; 
	font-weight:800; 
	color: #00FF00; 
	text-decoration: none;  
	text-indent: 5pt; }

INPUT.button { 
	color: #FFFFFF; 
	font-family: arial,helvetica; 
	font-size: 11px; 
	font-weight: 600; 
	border: 1 solid; 
	background-color: #677CB4; 
	cursor: hand; }
select.button { 
	color: #000000; 
	font-family: arial,helvetica; 
	font-size: 12px; 
	font-weight: 500; 
	background-color: #FFFFFF; }

a  { 
	font-size: 10pt; 
	font-family: Arial; 
	font-weight:800; 
	color: #0E50CB; 
	text-decoration: none;
	text-align: left
	}
a:hover  { 
	font-size: 10pt; 
	font-family: Arial; 
	font-weight:800; 
	color: #FF0000; 
	text-decoration: none;
	text-align: left
	}
a.menu  { 
	font-size: 10pt; 
	font-family: Arial; 
	font-weight:800; 
	color: #FFFFFF; 
	text-decoration: none;  
	text-indent: 5pt;
	text-align: left
	}
a:hover.menu  { 
	font-size: 10pt; 
	font-family: Arial; 
	font-weight:800; 
	color: #00FF00; 
	text-decoration: none;  
	text-indent: 5pt; }
a.news  { 
	font-size: 10pt; 
	font-family: Arial; 
	font-weight:400; 
	color: #0E50CB; 
	text-decoration: none; }
a:hover.news  { 
	font-size: 10pt; 
	font-family: Arial; 
	font-weight:400; 
	color: #FF0000; }

ul.map  { 
	list-style-image: url(/img/ds/folder.gif) 
	}

li.list  { 
	list-style-image: url(/im/ds/str.gif);
	margin: 0px 0px;
	}
li.list2 { 
	list-style-image: url(/im/ds/str2.gif);
	margin: 0px 5px;
	}

#tops
{
	margin-top: 20px;
}
#inputs
{
	margin-top: 16px;
}
inputs{

	background-color: #FFFFFF;
	height: 18;
	border: 0px;
	font-family: arial;
	font-size : 12;
	color : #9E9D9D;
#menutexts
{
	font-family: arial;
	font-size:11px;
	color : #ffffff;
	text-decoration: none;
	
}
INPUT.buttons { 
	color: #FFFFFF; 
	font-family: arial,helvetica; 
	font-size: 11px; 
	font-weight: 400; 
	border: 0 solid; 
	background-color: #677CB4; 
	cursor: hand; 
}
#searchText {
border:none; 
}
