/* General Style */
a:link {text-decoration:none; color:#EA424E;}
a:active {text-decoration:none; color:#EA424E;}
a:visited {text-decoration:none; color:#EA424E;}
a:hover {text-decoration:underline; color:#959595;}

td, body {font-family:verdana,arial,helvetica; font-size:8pt;}
form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:verdana,arial,helvetica;}
.copy {font-size:7pt;}

a.noun:link {text-decoration:none; color:#FFFFFF}
a.noun:active {text-decoration:none; color:#FFFFFF}
a.noun:visited {text-decoration:none; color:#FFFFFF}
a.noun:hover {text-decoration:none; color:#959595}

hr {color:#DD9999;height:1px;}
label {cursor:pointer;cursor:hand}

.blocktitle {font-family:Verdana,Sans-Serif;color:#C24747;font-size:12px;}

a.menu1:link {text-decoration:underline; color:#CECECE}
a.menu1:active {text-decoration:underline; color:#CECECE}
a.menu1:visited {text-decoration:underline; color:#CECECE}
a.menu1:hover {text-decoration:underline; color:#DD9999}
.menuTd {padding-left:12px;padding-right:10px; background: url('/.s/t/621/22.gif') no-repeat 0px 3px;}

.mframe {border-left:1px solid #E5E7EA; border-right:1px solid #E5E7EA;}
.colgray {border-right:1px solid #E5E7EA;}
.colwhite {border-right:1px solid #CECECE;}
.msep {border-top:1px solid #CECECE;}
/* ------------- */

/* Menus */
ul.uz, ul.uMenuRoot {list-style: none; margin: 0 0 0 0; padding-left: 0px;}
li.menus {margin: 0; padding: 0 0 0 11px; background: url('/.s/t/621/23.gif') no-repeat 0px 3px; margin-bottom: .6em;}
/* ----- */

/* Site Menus */
.uMenuH li {float:left;padding:0 5px;}


.uMenuV .uMenuItem {font-weight:normal;}
.uMenuV li a:link {text-decoration:none; color:#FFFFFF}
.uMenuV li a:active {text-decoration:none; color:#FFFFFF}
.uMenuV li a:visited {text-decoration:none; color:#FFFFFF}
.uMenuV li a:hover {text-decoration:none; color:#959595}

.uMenuV .uMenuItemA {font-weight:bold;}
.uMenuV a.uMenuItemA:link {text-decoration:none; color:#000000}
.uMenuV a.uMenuItemA:visited {text-decoration:none; color:#000000}
.uMenuV a.uMenuItemA:hover {text-decoration:underline; color:#000000}
.uMenuV .uMenuArrow {position:absolute;width:10px;height:10px;right:0;top:3px;background:url('/.s/img/wd/1/ar1.gif') no-repeat 0 0;}
.uMenuV li {margin: 0; padding: 0 0 0 11px; background: url('/.s/t/621/23.gif') no-repeat 0px 3px; margin-bottom: .6em;}
/* --------- */

/* Module Part Menu */
.catsTd {padding: 0 0 6px 11px; background: url('/.s/t/621/23.gif') no-repeat 0px 3px;}
.catName {font-family:verdana,Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNameActive {font-family:verdana,Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNumData {font-size:7pt;color:#EA424E;}
.catDescr {font-size:7pt; padding-left:10px;}
a.catName:link {text-decoration:none; color:#000000;}
a.catName:visited {text-decoration:none; color:#000000;}
a.catName:hover {text-decoration:none; color:#959595;}
a.catName:active {text-decoration:none; color:#000000;}
a.catNameActive:link {text-decoration:none; color:#959595;}
a.catNameActive:visited {text-decoration:none; color:#959595;}
a.catNameActive:hover {text-decoration:none; color:#000000;}
a.catNameActive:active {text-decoration:none; color:#959595;}
/* ----------------- */

/* Entries Style */
.eBlock {}
.eTitle {font-family:Verdana,Arial,Sans-Serif;font-size:13px;font-weight:bold;color:#EA424E; padding: 0 0 0 14px; background: url('/.s/t/621/24.gif') no-repeat 0px 2px;}
.eTitle a:link {text-decoration:underline; color:#EA424E;}
.eTitle a:visited {text-decoration:underline; color:#EA424E;}
.eTitle a:hover {text-decoration:underline; color:#959595;}
.eTitle a:active {text-decoration:underline; color:#000000;}

.eMessage {text-align:justify;padding-bottom:5px;}
.eText {text-align:justify;padding-bottom:5px;padding-top:5px;border-top:1px solid #DD9999}
.eDetails {border-top:1px dashed #DDDDDD;border-bottom:1px dashed #DDDDDD;font-family:Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding-bottom:5px;padding-top:3px;text-align:left;font-size:7pt;}
.eDetails1 {border-top:1px dashed #DDDDDD;border-bottom:1px dashed #DDDDDD;font-family:Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}
.eDetails2 {border-bottom:1px dashed #DDDDDD;font-family:Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}

.eRating {font-size:7pt;}

.eAttach {margin: 16px 0 0 0; padding: 0 0 0 15px; background: url('/.s/t/621/25.gif') no-repeat 0px 0px;}
/* ------------- */

/* Entry Manage Table */
.manTable {}
.manTdError {color:#FF0000;}
.manTd1 {}
.manTd2 {}
.manTd3 {}
.manTdSep {}
.manHr {}
.manTdBrief {}
.manTdText {}
.manTdFiles {}
.manFlFile {}
.manTdBut {}
.manFlSbm {}
.manFlRst {}
.manFlCnt {}
/* ------------------ */

/* Comments Style */
.cAnswer {padding-left:15px;padding-top:4px;font-style:italic;}

.cBlock1 {background:#F1F2F3; border:1px solid #DD9999;}
.cBlock2 {background:#F1F2F3; border:1px solid #DD9999;}
/* -------------- */

/* Comments Form Style */
.commTable {}
.commTd1 {color:#000000;}
.commTd2 {}
.commFl {color:#EA424E;width:100%;background:#FEFAFA;border:1px solid #DD9999;}
.smiles {border:1px inset;background:#FFFFFF;}
.commReg {padding: 10 0 10 0px; text-align:center;}
.commError {color:#FF0000;}
.securityCode {color:#EA424E;background:#FEFAFA;border:1px solid #DD9999;}
/* ------------------- */

/* Archive Menu */
.archUl {list-style: none; margin:0; padding-left:0;}
.archLi {padding: 0 0 3px 10px; background: url('/.s/t/621/26.gif') no-repeat 0px 4px; font-family:Tahoma,Arial,Sans-Serif;}
a.archLink:link {text-decoration:underline; color:#EA424E;}
a.archLink:visited {text-decoration:underline; color:#EA424E;}
a.archLink:hover {text-decoration:none; color:#000000;}
a.archLink:active {text-decoration:none; color:#000000;}
/* ------------ */

/* Archive Style */
.archiveCalendars {text-align:center;color:#0000FF;}
.archiveDateTitle {font-weight:bold;color:#EA424E;padding-top:15px;}
.archEntryHr {width:250px;color:#DDDDDD;}
.archiveeTitle li {margin-left: 15px; padding: 0 0 0 15px; background: url('/.s/t/621/27.gif') no-repeat 0px 4px; margin-bottom: .6em;}
.archiveEntryTime {width:65px;font-style:italic;}
.archiveEntryComms {font-size:9px;color:#C3C3C3;}
a.archiveDateTitleLink:link {text-decoration:none; color:#EA424E}
a.archiveDateTitleLink:visited {text-decoration:none; color:#EA424E}
a.archiveDateTitleLink:hover {text-decoration:underline; color:#EA424E}
a.archiveDateTitleLink:active {text-decoration:underline; color:#EA424E}
.archiveNoEntry {text-align:center;color:#0000FF;}
/* ------------- */

/* Calendar Style */
.calMonth {background: #474747;color:#C2C2C2;border:1px outset #C2C2C2;}
.calWday {color:#FFFFFF; background:#939393; width:18px;border:1px outset #C2C2C2;}
.calWdaySe {color:#FFFFFF; background:#252525; width:18px;border:1px outset #C2C2C2;}
.calWdaySu {color:#FFFFFF; background:#252525; width:18px; font-weight:bold;border:1px outset #C2C2C2;}
.calMday {background:#D7D7D7;border:1px inset #C2C2C2;}
.calMdayA {background:#A82F38;font-weight:bold;}
.calMdayIs {background:#EEEEEE;font-weight:bold;border:1px inset #C2C2C2;}
.calMdayIsA {border:1px solid #EA424E; background:#FFFFFF;font-weight:bold;}
a.calMonthLink:link {text-decoration:none; color:#FFFFFF;}
a.calMonthLink:visited {text-decoration:none; color:#FFFFFF;}
a.calMonthLink:hover {text-decoration:underline; color:#FFFFFF;}
a.calMonthLink:active {text-decoration:underline; color:#EA424E;}

a.calMdayLink:link {text-decoration:none; color:#EA424E;}
a.calMdayLink:visited {text-decoration:none; color:#EA424E;}
a.calMdayLink:hover {text-decoration:underline; color:#EA424E;}
a.calMdayLink:active {text-decoration:underline; color:#000000;}
/* -------------- */

/* Poll styles */
.pollBut {width:110px;}

.pollBody {padding:7px; margin:0px; background:#FFFFFF}
.textResults {background:#EBE0E0}
.textResultsTd {background:#FFFFFF}

.pollNow {border-bottom:1px solid #EBE0E0; border-left:1px solid #EBE0E0; border-right:1px solid #EBE0E0;}
.pollNowTd {}

.totalVotesTable {border-bottom:1px solid #EBE0E0; border-left:1px solid #EBE0E0; border-right:1px solid #EBE0E0;}
.totalVotesTd {background:#FFFFFF;}
/* ---------- */

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:blue;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:red;}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:green;}
/* ---------------- */

/* Other Styles */
.replaceTable {background:#FFFFFF;height:100px;width:300px;border:1px solid #A82F38;}
.replaceBody {background:#474747;} 

.legendTd {font-size:7pt;}
/* ------------ */

/* ===== forum Start ===== */

/* General forum Table View */
.gTable {background:#474747}
.gTableTop {padding:2px;color:#FFFFFF;font-weight:bold;height:23px;padding-left:17px;font-size:10pt;background: url('/.s/t/621/30.gif') #A82F38;}
.gTableSubTop {padding:2px;background: url('/.s/t/621/31.gif') #FFFFFF;color:#000000;height:20px;font-size:10px;}
.gTableBody {padding:2px;background:#CECECE;}
.gTableBody1 {padding:2px;background:#FFFFFF;}
.gTableBottom {padding:2px;background:#CECECE;}
.gTableLeft {padding:2px;background:#CECECE;font-weight:bold;color:#EA424E}
.gTableRight {padding:2px;background:#CECECE}
.gTableError {padding:2px;background:#CECECE;color:#FF0000;}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {padding:2px;background:#FFFFFF}
.forumIcoTd,.forumThreadTd,.forumPostTd {padding:2px;background:#CECECE}
.forumLastPostTd,.forumArchive {padding:2px;font-size:7pt;}

a.catLink:link {text-decoration:none; color:#FFFFFF;}
a.catLink:visited {text-decoration:none; color:#FFFFFF;}
a.catLink:hover {text-decoration:underline; color:#FFFFFF;}
a.catLink:active {text-decoration:underline; color:#FFFFFF;}

.lastPostGuest,.lastPostUser,.threadAuthor {font-weight:bold}
.archivedForum{font-size:7pt;color:#FF0000;font-weight:bold;}
/* ------------- */

/* forum Titles & other */
.forum {font-weight:bold;font-size:9pt;}
.forumDescr,.forumModer {color:#858585;font-size:7pt;}
.forumViewed {font-size:9px;}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {text-decoration:none; color:#EA424E;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {text-decoration:none; color:#EA424E;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {text-decoration:underline; color:#B56C6C;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {text-decoration:underline; color:#EA424E;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {font-weight:bold;font-size:7pt;}
.forumBarKw {font-weight:normal;}
a.forumBarA:link {text-decoration:none; color:#000000;}
a.forumBarA:visited {text-decoration:none; color:#000000;}
a.forumBarA:hover {text-decoration:none; color:#EA424E;}
a.forumBarA:active {text-decoration:underline; color:#EA424E;}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {font-size:7pt;}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {background:#F0C6C6;}
.fastNavCat {background:#F9E6E6;}
.fastNavCatA {background:#F9E6E6;color:#0000FF}
.fastNavForumA {color:#0000FF}
/* -------------------------- */

/* forum Page switches */
.switches {background:#474747;}
.pagesInfo {background:#FFFFFF;padding-right:10px;font-size:7pt;}
.switch {background:#FFFFFF;width:15px;font-size:7pt;}
.switchActive {background: #EA424E;font-weight:bold;color:#FFFFFF;width:15px}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {text-decoration:none; color:#000000;}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {text-decoration:none; color:#000000;}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {text-decoration:underline; color:#FF0000;}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {text-decoration:underline; color:#FF0000;}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {padding:2px;padding:2px;background:#FFFFFF}
.threadIcoTd,.threadPostTd,.threadViewTd {padding:2px;background:#CECECE}
.threadLastPostTd {padding:2px;font-size:7pt;}
.threadDescr {color:#858585;font-size:7pt;}
.threadNoticeLink {font-weight:bold;}
.threadsType {padding:2px;background:#373737;height:20px;font-weight:bold;font-size:7pt;color:#FFFFFF;padding-left:40px;}
.threadsDetails {padding:2px;background:#373737;height:20px;color:#FFFFFF;}
.forumOnlineBar {padding:2px;background: url('/.s/t/621/31.gif') #FFFFFF;height:20px;color:#EA424E;}

a.threadPinnedLink:link {text-decoration:none; color:#0000FF;}
a.threadPinnedLink:visited {text-decoration:none; color:#0000FF;}
a.threadPinnedLink:hover {text-decoration:none; color:#FF0000;}
a.threadPinnedLink:active {text-decoration:underline; color:#FF0000;}

a.threadLink:link {text-decoration:none; color:#EA424E;}
a.threadLink:visited {text-decoration:none; color:#EA424E;}
a.threadLink:hover {text-decoration:underline; color:#000000;}
a.threadLink:active {text-decoration:underline; color:#000000;}

.postpSwithces {font-size:7pt;}
.thDescr {font-weight:normal;}
.threadFrmBlock {font-size:7pt;text-align:right;}
/* ------------------- */

/* forum Posts View */
.postTable {}
.postPoll {background:#FFFFFF;text-align:center;}
.postFirst {background:#FDF4F4;border-bottom:3px solid #A82F38;}
.postRest1 {background:#F7EEEE;}
.postRest2 {background:#FDF4F4;}
.postSeparator {height:3px;background:#EA424E;}

.postTdTop {background: url('/.s/t/621/31.gif') #FFFFFF;height:20px}
.postBottom {background: #FFFFFF;height:20px}
.postUser {font-weight:bold;}
.postTdInfo {text-align:center;padding:5px;background:#CECECE}
.postRankName {margin-top:5px;}
.postRankIco {margin-bottom:5px;margin-bottom:5px;}
.reputation {margin-top:5px;}
.signatureHr {margin-top:20px;color:#A82F38;}
.posttdMessage {padding:5px;background:#FFFFFF}

.pollQuestion {text-align:center;font-weight:bold;} 
.pollButtons,.pollTotal {text-align:center;}
.pollSubmitBut,.pollreSultsBut {width:140px;font-size:7pt;}
.pollSubmit {font-weight:bold;}
.pollEnd {text-align:center;height:30px;}

.codeMessage {background:#FFFFFF;font-size:9px;}
.quoteMessage {background:#FFFFFF;font-size:9px;}

.signatureView {font-size:7pt;} 
.edited {padding-top:30px;font-size:7pt;text-align:right;color:gray;}
.editedBy {font-weight:bold;font-size:8pt;}

.statusBlock {padding-top:3px;}
.statusOnline {color:#0000FF;}
.statusOffline {color:#FF0000;}
/* ------------------ */

/* forum AllInOne Fast Add */
.newThreadBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newPollBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newThreadItem {padding: 0 0 0 8px; background: url('/.s/t/621/32.gif') no-repeat 0px 4px;}
.newPollItem {padding: 0 0 0 8px; background: url('/.s/t/621/32.gif') no-repeat 0px 4px;}
/* ----------------------- */

/* forum Post Form */
.pollBut, .loginButton, .searchSbmFl, .commSbmFl, .signButton {font-size:7pt;background: #474747;color:#C2C2C2;border:1px outset #C2C2C2;}

.codeButtons {font-size:7pt;background: #474747;color:#C2C2C2;border:1px outset #C2C2C2;}
.codeCloseAll font-size:7pt;background: #474747;color:#C2C2C2;border:1px outset #C2C2C2;font-weight:bold;}
.postNameFl,.postDescrFl {background:#FEFAFA;border:1px solid #EA424E;width:400px}
.postPollFl,.postQuestionFl {background:#FEFAFA;border:1px solid #EA424E;width:400px}
.postResultFl {background:#FEFAFA;border:1px solid #EA424E;width:50px}
.postAnswerFl {background:#FEFAFA;border:1px solid #EA424E;width:300px}
.postTextFl {background:#FEFAFA;border:1px solid #EA424E;width:550px;height:150px}
.postUserFl {background:#FEFAFA;border:1px solid #EA424E;width:300px}

.pollHelp {font-weight:normal;font-size:7pt;padding-top:3px;}
.smilesPart {padding-top:5px;text-align:center}
/* ----------------- */

/* ====== forum End ====== */