/* CSS Document */
.chromestyle{
width: 99%;

font-weight: bold;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
 content: ".";
 display: block;
 height: 0px;
 clear: both;
visibility: hidden;
}

.chromestyle ul{
border: 0px solid #BBB;
width: 96px;

 /*THEME CHANGE HERE*/
padding: 2px 0px 0px 0px;
margin: 0;
text-align: center; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline ;
}

.chromestyle ul li a{
color: #494949;
padding: 10px 0px 0px;
margin: 0;
text-decoration: none;
border-right: 0px solid #DADADA;
}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/

}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #BBB; /*THEME CHANGE HERE*/
border-bottom-width: 1px;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
background-color: #ffffff;
width: 200px;
visibility: hidden;
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BBB; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
font-weight: bold;
color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #F0F0F0;
}
