.wysibb .ve-tlb-bold {
	background:url(./img/icons-0.png) 0 0 no-repeat!important;
}
.wysibb .ve-tlb-italic {
	background:url(./img/icons-0.png) 0 -40px no-repeat!important;
}
.wysibb .ve-tlb-underline {
	background:url(./img/icons-0.png) 0 -20px no-repeat!important;
}
.wysibb .ve-tlb-strike {
	background:url(./img/icons-0.png) 0 -120px no-repeat!important;
}
.wysibb .ve-tlb-link {
	background:url(./img/icons-0.png) 0 -80px no-repeat!important;
}
.wysibb .ve-tlb-unlink {
	background:url(./img/icons-0.png) 0 -100px no-repeat!important;
}
.wysibb .ve-tlb-img {
	background:url(./img/icons-0.png) 0 -60px no-repeat!important;
}
.wysibb .ve-tlb-quote {
	background:url(./img/icons-0.png) 0 -140px no-repeat!important;
}
.wysibb .ve-tlb-spoiler {
	background:url(./img/icons-0.png) 0 -160px no-repeat!important;
}
.wysibb .ve-tlb-list {
	background:url(./img/icons-0.png) 0 -180px no-repeat!important;
}
.wysibb .ve-tlb-bbcode {
	background:url(./img/icons-0.png) 0 -200px no-repeat!important;
}
.wysibb .wysibb-toolbar .modeSwitch .wysibb-toolbar-btn{
	width:46px;
}
.wysibb .ve-tlb-numlist {
	background:url(./img/icons-0.png) 0 -220px no-repeat!important;
}
.wysibb .ve-tlb-textleft {
	background:url(./img/icons-0.png) 0 -240px no-repeat!important;
}
.wysibb .ve-tlb-textcenter {
	background:url(./img/icons-0.png) 0 -260px no-repeat!important;
}
.wysibb .ve-tlb-textright {
	background:url(./img/icons-0.png) 0 -280px no-repeat!important;
}
.wysibb .ve-tlb-offtopic {
	background:url(./img/icons-0.png) 0 -300px no-repeat!important;
}
.wysibb .ve-tlb-code {
	background:url(./img/icons-0.png) 0 -320px no-repeat!important;
}
.wysibb .ve-tlb-spoiler {
	background:url(./img/icons-0.png) 0 -340px no-repeat!important;
}
.wysibb .ve-tlb-sub {
	background:url(./img/icons-0.png) 0 -360px no-repeat!important;
}
.wysibb .ve-tlb-sup {
	background:url(./img/icons-0.png) 0 -380px no-repeat!important;
}
.wysibb .ve-tlb-colorpick {
	background: url(./img/icons-0.png) 5px -436px!important;
	width:30px;
	height:24px;
}
.wysibb .ve-tlb-table {
	background: url(./img/icons-0.png) 0 -460px!important;
}
.wysibb .ve-tlb-smilebox {
	background: url(./img/icons-0.png) 0 -480px!important;
}
.wysibb .ve-tlb-video {
	background: url(./img/icons-0.png) 0 -500px!important;
}
.wysibb .ve-tlb-hide {
	background: url(./img/icons-0.png) 0 -540px!important;
}
.wysibb .ve-tlb-size {
	display:block !important;
	background:url(./img/icons-0.png) 0 -521px!important;
	height:20px;
}
.wysibb .ve-tlb-hr {
	background: url(./img/icons-0.png) 0 -580px!important;
}
.wysibb .ve-tlb-textjustify {
	background: url(./img/icons-0.png) 0 -561px!important;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-dropdown ins.ar {
	display:block;
	position:absolute;
	right:3px;
	top:3px;
	width:8px;
	height:24px;
	background: url(./img/icons-0.png) -8px -400px;
	cursor:default;
}
.wysibb .wbb-br {
	display:none !important;
}
.wysibb .wbb-select .sar {
	display:block;
	position:absolute;
	right:3px;
	top:4px;
	width:8px;
	height:22px;
	background: url(./img/icons-0.png) -8px -420px;
	cursor:default;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container {
	margin:4px 4px 4px 0;
	border-right: 1px solid #ddd;
	padding:0 8px 0 4px;
	display:inline-block;*display:inline;zoom: 1;
}
.wysibb .wbb-dropdown {
	padding:1px 10px 1px 2px;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn {
	display:inline-block !important;
/* 	display:inline; */
	zoom: 1;
	background-color:transparent!important;
	min-width:24px;
	position:relative;
	vertical-align: middle;
	padding:0px 1px;
	border: 1px solid transparent;
	cursor:pointer;
	margin:0 0 0 1px;
	line-height: 24px;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:hover {
	border:1px solid #bbb;
	border-radius:3px;
	background:#fff;
}


.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-inner {
	display:block !important;
	height:20px;
	min-width:20px;
	margin:2px;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select {
	width:100px;
	padding: 1px 1px 1px 5px;
}

.wysibb-toolbar-btn.wbb-dropdown.on:hover,
.wysibb-toolbar-btn.wbb-dropdown.on {
	padding:0px 1px !important;
	padding-right:10px !important;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-dropdown:hover,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-dropdown.on {
	padding-right:10px;
	background-position: 14px -399px;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on:hover {
	cursor:default;
	background:#ccc;
	box-shadow:inset 0px 0px 3px #aaa;
	border:1px solid #999;
	border-radius:3px;
}

.wbb-select .val {
	height:24px;
	line-height:24px;
	font-weight:bold;
	font-size:11px!important;
	display:block !important;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right:10px;
	background-color:transparent!important;
}
.wysibb {
	border:1px solid #ddd;
	position:relative;
	background:#fff;
	font-family:Arial,Verdana,Tahoma;
}

.wysibb .wysibb-toolbar {
	background:#f4f4f4!important;
	background-image: linear-gradient(bottom, #eee 50%, #fafafa 100%);
	background-image: -o-linear-gradient(bottom, #eee 50%, #fafafa 100%);
	background-image: -moz-linear-gradient(bottom, #eee 50%, #fafafa 100%);
	background-image: -webkit-linear-gradient(bottom, #eee 50%, #fafafa 100%);
	background-image: -ms-linear-gradient(bottom, #eee 50%, #fafafa 100%);
	border-bottom:1px solid #ddd;
	position:relative;
	padding:0 60px 0 4px;
}
.wysibb .wysibb-toolbar .modeSwitch{
	text-align:center;
	position:absolute;
	right:0;
	top:0px;
	border:0;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-tooltip {
	display:none !important;
	background:#333;
	border:1px solid #fff;
	position:absolute;
	line-height:20px;
	font-size:11px;
	padding:3px 10px;
	bottom:30px;
	left:0;
	color:#fff;
	border-radius:3px;
	white-space:nowrap;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-tooltip ins{
	width:0;
	height:0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #333;
	position:absolute;
	bottom:-5px;
	left:3px;
}

.wbb-ufontfamily {
	width:60px !important;
}

/* mxCherry - IE fix START */
.wysibb-toolbar-btn-hovered {
	background-color: white !important;
	border: 1px solid #BBB !important;
}
/* .wysibb-toolbar-btn-hovered span.btn-inner {
	height: 18px !important;
} */
.ve-tlb-bbcode {
	border: none !important;
}
.ve-tlb-colorpick .cp-line {
	overflow: hidden;
}
.wysibb-toolbar-btn-hovered span.btn-tooltip {
	display: block !important;
}
.wysibb-toolbar-btn-hovered span.btn-tooltip ins {
	display: none;
}
.wysibb-toolbar .on {
	padding-right: 1px !important;
}
.wbb-dropdown-ie {
	width: 42px !important;
}
.wysibb-toolbar-ie .on .val {
	margin-left: 4px !important;
	height: 26px !important;
	padding-top: 1px !important;
}
.wysibb .wbb-list .option {
	color: #333;
}
.wysibb .val {
	color:#333!important;
}
.wysibb-body {
	background: white;
	color: black;
}
.wysibb-text textarea {
	background: white;
	color: black;
}
