/****************************************************************
(C) 2008 Kishore Nallan for DesignShack
http://www.kishorelive.com
kishore.nc@gmail.com
*****************************************************************/

#ru_keyboard, #en_keyboard { 
	width: 520px; 
}
#en_keyboard, #en_lang { 
	display: none; 
}

#ru_spacebar input, #en_spacebar input { 
	width: 180px; 
	margin: 0 auto; 
	margin-left: 40px; 
}

#ru_shift, #ru_shifton, #en_shift, #en_shifton { 
	width: 70px; 
	text-align: left; 
}

#ru_row0_shift, #ru_row1_shift, #ru_row2_shift, #ru_row3_shift, #en_row0_shift, #en_row1_shift, #en_row2_shift, #en_row3_shift {
	display: none;
}

#ru_shifton, #en_shifton { 
	border-left: 3px solid #000; 
	border-top: 3px solid #000; 
}
