/* General Style */
a:link {text-decoration:underline; color:#4D6D91;}
a:active {text-decoration:underline; color:#4D6D91;}
a:visited {text-decoration:underline; color:#4D6D91;}
a:hover {text-decoration:underline; color:#ff0000;}

td, body {font-family:verdana,arial,helvetica; font-size:8pt;}
form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:verdana,arial,helvetica;}
.copy {font-size:7pt;}

a.noun:link {text-decoration:none; color:#4D6D91}
a.noun:active {text-decoration:none; color:#4D6D91 }
a.noun:visited {text-decoration:none; color:#4D6D91}
a.noun:hover {text-decoration:none; color:#000000}

hr {color:#000000;height:1px;border-top:1px;}
label {cursor:pointer;cursor:hand}

.blocktitle {font-family:Arial,Sans-Serif;color:#BBBBBB;font-size:12px;text-transform:capitalize;font-weight:bold;}
/* ------------- */

/* Menus */
ul.uz, ul.uMenuRoot {list-style: none; margin: 0 0 0 0; padding-left: 0px;}
li.menus {margin: 0; padding: 0 0 0 13px; background: url('/.s/t/101/11.gif') no-repeat 0px 3px; margin-bottom: .6em;}
/* ----- */

/* Site Menus */
.uMenuH li {float:left;padding:0 5px;}


.uMenuV .uMenuItem {font-weight:bold;}
.uMenuV li a:link {text-decoration:none; color:#7BA5D7}
.uMenuV li a:active {text-decoration:none; color:#7BA5D7}
.uMenuV li a:visited {text-decoration:none; color:#7BA5D7}
.uMenuV li a:hover {text-decoration:none; color:#4D6D91}

.uMenuV a.uMenuItemA:link {text-decoration:none; color:#4D6D91}
.uMenuV a.uMenuItemA:visited {text-decoration:none; color:#4D6D91}
.uMenuV a.uMenuItemA:hover {text-decoration:none; color:#4D6D91}

.uMenuV .uMenuArrow {position:absolute;width:10px;height:10px;right:0;top:3px;background:url('/.s/img/wd/1/ar1.gif') no-repeat 0 0;}
.uMenuV li {margin: 0; padding: 0 0 0 13px; background: url('/.s/t/101/12.gif') no-repeat 0px -2px; margin-bottom: .6em;}
/* --------- */

/* Module Part Menu */
.catsTd {padding: 3px 3px 3px 3px;text-decoration:none; color: #6D6D6D;border: 1px #999999 dashed; background:#ffffff;width:240px; }
.catsTd:hover {background:#0094E0;}
.catName {font-family:Tahoma,Arial,Sans-Serif;font-size:14px;font-weight:bold; margin-bottom:15px;margin-top:15px;color: #6D6D6D }
.catNameActive {font-family:Tahoma,Arial,Sans-Serif;font-size:14px;font-weight:bold;margin-bottom:15px;margin-top:15px;color: #6D6D6D}
.catNumData,.catNumData:hover {font-size:10pt;color:#000000; font-align:right;}
.catDescr {font-size:7pt; padding-left:10px;}
a.catName:link {text-decoration:none; color:#6D6D6D}
a.catName:visited {text-decoration:none; color:#4D6D91;}
a.catName:hover {text-decoration:underline;background:#0094E0;color:#FFFFFF;font-weight:bold;}
a.catName:active {text-decoration:underline; color:#000000;}
a.catNameActive:link {text-decoration:underline; color:#6D6D6D}
a.catNameActive:visited {text-decoration:underline; color:#6D6D6D}
a.catNameActive:hover {text-decoration:underline; ;background:#0094E0;color:#FFFFFF;font-weight:bold;}
a.catNameActive:active {text-decoration:underline; color:#000000;}
/* ----------------- */

/* Entries Style */
.eBlock {}
.eTitle {font-family:Arial,Sans-Serif;font-size:14px;font-weight:bold;color:#4D6D91;padding: 0 0 0 20px; background: url('http://cxema.my1.ru/Home/14.gif') no-repeat 1px 3px;}
.eMessage {text-align:justify;padding-bottom:5px;}
.eText {text-align:justify;padding-bottom:5px;padding-top:5px;border-top:1px solid #ACC6E5}

.eDetails {border-top:1px dashed #DDDDDD;border-bottom:1px dashed #DDDDDD;font-family:Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding-bottom:5px;padding-top:3px;text-align:left;font-size:7pt;}
.eDetails1 {border-top:1px dashed #DDDDDD;border-bottom:1px dashed #DDDDDD;font-family:Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}
.eDetails2 {border-bottom:1px dashed #DDDDDD;font-family:Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}

.eRating {font-size:7pt;}
.eAttach {margin: 16px 0 0 0; padding: 0 0 0 15px; background: url('/.s/t/101/15.gif') no-repeat 0px 0px;}
/* ------------- */

/* Entry Manage Table */
.manTable {}
.manTdError {font-size:18pt;color:#FF0000;}
.manTd1 {font-size:12pt;color:#0000FF;}
.manTd2 {}
.manTd3 {}
.manTdSep {}
.manHr {}
.manTdBrief {}
.manTdText {}
.manTdFiles {}
.manFlFile {}
.manTdBut {}

.mainmenuB {border:0px; background:url('/Home/Button/MenuBUTTON.png') no-repeat; width:200px !important; text-align:center; height:25px; color:#000000; padding:5px 0 5px 0; text-decoration: none; cursor:pointer; font-size:14pt; }
.mainmenuB:hover {background-position:0 -35px;}
.mainmenuB:active {background-position:0 -70px; padding:6px 0 4px 0;}
.mainmenuB:disabled {background-position:0 -105px; color:#f7f7f7; text-shadow: 0px 0px 0px #C3C3C3;}

.mainmenuP {border:0px; background:url('/Home/Button/MenuBUTTONLong.png') no-repeat; width:400px !important; text-align:center; height:25px; color:#000000; padding:5px 0 5px 0; text-decoration: none; cursor:pointer; font-size:11pt; }
.mainmenuP:hover {background-position:0 -35px;}
.mainmenuP:active {background-position:0 -70px; padding:6px 0 4px 0;}
.mainmenuP:disabled {background-position:0 -105px; color:#f7f7f7; text-shadow: 0px 0px 0px #C3C3C3;}

.ColorG {border:0px; background:url('/Home/Button/ColorButton.png') no-repeat; width:270px !important; text-align:center; height:44px; color:#000000; text-decoration: none; cursor:pointer; font-size:14pt;padding:12px 0 0 0;text-shadow: -1px 0 grey, 0 1px grey, 1px 0 black, 0 -1px black; }
.ColorG:hover {background-position:-270px 0px;}
.ColorR {border:0px; background:url('/Home/Button/ColorButton.png') no-repeat; background-position:0 -54px; width:270px !important; text-align:center; height:42px; color:#000000; text-decoration: none; cursor:pointer; font-size:14pt; padding:12px 0 0 0; text-shadow: -1px 0 grey, 0 1px grey, 1px 0 black, 0 -1px black;}
.ColorR:hover {background-position:-270px -54px;}
.ColorF {border:0px; background:url('/Home/Button/ColorButton.png') no-repeat; background-position:0 -108px; width:270px !important; text-align:center; height:42px; color:#000000; text-decoration: none; cursor:pointer; font-size:14pt;padding:12px 0 0 0; text-shadow: -1px 0 grey, 0 1px grey, 1px 0 black, 0 -1px black;}
.ColorF:hover {background-position:-270px -108px;}
.ColorB {border:0px; background:url('/Home/Button/ColorButton.png') no-repeat; background-position:0 -162px; width:270px !important; text-align:center; height:42px; color:#000000; text-decoration: none; cursor:pointer; font-size:14pt; padding:12px 0 0 0; text-shadow: -1px 0 grey, 0 1px grey, 1px 0 black, 0 -1px black;}
.ColorB:hover {background-position:-270px -162px;}
.ColorY {border:0px; background:url('/Home/Button/ColorButton.png') no-repeat; background-position:0 -216px; width:270px !important; text-align:center; height:42px; color:#000000; text-decoration: none; cursor:pointer; font-size:14pt; padding:12px 0 0 0; text-shadow: -1px 0 grey, 0 1px grey, 1px 0 black, 0 -1px black;}
.ColorY:hover {background-position:-270px -216px;}

.DownloadLocal, .DownloadURL, .Screen { background:url('/Home/Button/result.png') no-repeat;font-size:16pt;}
.DownloadLocal{ background-position: 0px 0px; width: 48px; height: 48px;}
.DownloadURL{background-position: 0px -49px; width:48px; height: 48px;}
.Screen{background-position: 0px -98px; width: 48px; height: 48px; }

#toTop { 
 position: fixed; /* зафиксировать позицию кнопки на окне браузера, а не на странице сайта. Обязательна, чтобы кнопка не перемещалась со страницей, при прокрутке */ 
 bottom: 20px; /* отступ от нижнего края на верх станицы */ 
 right: 20px; /* отступ от правого края на лево */ 
 background: none; /* задаем, что фона нет, в противном случае, если не зададим при наведении будет выделять картинку, при условии что картинка формата PNG/GIF с прозрачными областями. Если хотите сделать фон, то возьмите параметры из примера ниже */ 
 cursor: pointer;
opacity:0.6;} 


#toTop:hover{opacity:1;}
#tenKnopok{opacity:0.3;}
#tenKnopok:hover {opacity:1;}
#Close6 { 
 position: fixed; /* зафиксировать позицию кнопки на окне браузера, а не на странице сайта. Обязательна, чтобы кнопка не перемещалась со страницей, при прокрутке */ 
top: 50%; /* отступ от нижнего края на верх станицы */ 
 left: 0px; /* отступ от правого края на лево */ 
 background: none; /* задаем, что фона нет, в противном случае, если не зададим при наведении будет выделять картинку, при условии что картинка формата PNG/GIF с прозрачными областями. Если хотите сделать фон, то возьмите параметры из примера ниже */ 
 cursor: pointer;
} 


.noemail, .user_blue, .user_yellow_edit, .address_book2_add, .camera_add, .exit, .folder_violet, .gnome_emblem_photos{
 background: url(/Home/Button/sprites.png) no-repeat;
}

.noemail{
 background-position: -40px -107px ;
 width: 23px;
 height: 18px;
}

.user_blue{
 background-position: -1px -34px ;
 width: 32px;
 height: 32px;
}

.user_yellow_edit{
 background-position: 0 -69px ;
 width: 32px;
 height: 32px;
}

.address_book2_add{
 background-position: -36px -67px ;
 width: 32px;
 height: 32px;
}

.camera_add{
 background-position: -1px -2px ;
 width: 32px;
 height: 32px;
}

.exit{
 background-position: -35px 0;
 width: 32px;
 height: 32px;
}

.folder_violet{
 background-position: -36px -33px ;
 width: 32px;
 height: 32px;
}

.gnome_emblem_photos{
 background-position: -4px -106px ;
 width: 32px;
 height: 32px;
}


.back_2, .folder_saved_search, .pdf, .preferences_composer, .system_software_installer, .user_helpdesk_faq{
 background: url(/Home/Button/spritesbig.png) no-repeat;
}

.back_2{
 background-position: -405px -103px ;
 width: 32px;
 height: 32px;
}

.folder_saved_search{
 background-position: -402px -50px ;
 width: 48px;
 height: 48px;
}

.pdf{
 background-position: -400px 0;
 width: 48px;
 height: 48px;
}

.preferences_composer{
 background-position: 0 0;
 width: 128px;
 height: 128px;
}

.system_software_installer{
 background-position: -272px 0;
 width: 128px;
 height: 128px;
}

.user_helpdesk_faq{
 background-position: -123px 0;
 width: 150px;
 height: 150px;
}


.video{background: url(/Home/Button/Chat_ICO.png)no-repeat;
 background-position: -50px 0px;
 width: 48px;
 height: 48px;
}

.video:hover{background: url(/Home/Button/Chat_ICO.png)no-repeat;
 background-position: -50px -48px;
 width: 48px;
 height: 48px;
}

.application_xml{background: url(/Home/Button/Chat_ICO.png)no-repeat;
 background-position: -201px 0px;
 width: 48px;
 height: 48px;
}

.application_xml:hover {background: url(/Home/Button/Chat_ICO.png)no-repeat;
 background-position: -201px -48px;
 width: 48px;
 height: 48px;
}

.image{background: url(/Home/Button/Chat_ICO.png)no-repeat;
 background-position: -102px 0px;
 width: 48px;
 height: 48px;
}

.image:hover{background: url(/Home/Button/Chat_ICO.png)no-repeat;
 background-position: -102px -48px;
 width: 48px;
 height: 48px;
}

.reload{background: url(/Home/Button/Chat_ICO.png)no-repeat;
 background-position: 0 0;
 width: 48px;
 height: 48px;
}

.reload:hover{background: url(/Home/Button/Chat_ICO.png)no-repeat;
 background-position: 0 -48px;
 width: 48px;
 height: 48px;
}

.settings{background: url(/Home/Button/Chat_ICO.png)no-repeat;
 background-position: -251px 0;
 width: 48px;
 height: 48px;
}

.settings : hover{background: url(/Home/Button/Chat_ICO.png)no-repeat;
 background-position: -251px -48px;
 width: 48px;
 height: 48px;
}

.smiley{background: url(/Home/Button/Chat_ICO.png)no-repeat;
 background-position: -152px 0;
 width: 48px;
 height: 48px;
}

.smiley:hover{background: url(/Home/Button/Chat_ICO.png)no-repeat;
 background-position: -152px -48px;
 width: 48px;
 height: 48px;
}




.manFlSbm, .manFlRst {border:0px; background:url('/Home/button.png') no-repeat; width:134px !important; height:30px; color:#fff; padding:0 0 5px 0; cursor:pointer; text-shadow: 0px -1px 0px #DE7300;}
.manFlSbm:hover, .manFlRst:hover {background-position:0 -30px;}
.manFlSbm:active, .manFlRst:active {background-position:0 -60px; padding:1px 0 4px 0;}
.manFlSbm:disabled {background-position:0 -90px; color:#f7f7f7; text-shadow: 0px 0px 0px #C3C3C3;}

.manFlRst {}
.manFlCnt {}
/* ------------------ */

/* Comments Style */
.cAnswer {padding-left:15px;padding-top:4px;font-style:italic;}
.cBlock1 {border:1px solid #ACC6E5;background:#FFFFFF;}
.cBlock2 {border:1px solid #ACC6E5;background:#F3F7FC;}
.cxBlock {border:1px solid #ACC6E5;background:#F7F9FD;}
.cxBlock:hover {border:1px solid #ACC6E5;background:#D1E1FA;}
/* -------------- */

/* Comments Form Style */
.commTable {}
.commTd1 {color:#4D6D91;font-weight:bold;}
.commTd2 {}
.commFl {width:100%;background:#FAFCFE;border:1px solid #ACC6E5;}
.smiles {border:1px inset;background:#FAFCFE;}
.commReg {padding: 10 0 10 0px; text-align:center;}
.commError {color:#FF0000;}
.securityCode {background:#FAFCFE;border:1px solid #ACC6E5;color:#0000FF;}
/* ------------------- */

/* Archive Menu */
.archUl {list-style: none; margin:0; padding-left:0;}
.archLi {padding: 0 0 3px 10px; background: url('/.s/t/101/13.gif') no-repeat 0px 4px; font-family:Tahoma,Arial,Sans-Serif;}
.archActive {font-weight:bold;}
/* ------------ */

/* Archive Style */
.archiveCalendars {text-align:center;color:#0000FF;}
.archiveDateTitle {font-weight:bold;color:#4D6D91;padding-top:15px;}
.archEntryHr {width:250px;color:#DDDDDD;}
.archiveeTitle li {margin-left: 15px; padding: 0 0 0 15px; background: url('/.s/t/101/11.gif') no-repeat 0px 4px; margin-bottom: .6em;}
.archiveEntryTime {width:65px;font-style:italic;}
.archiveEntryComms {font-size:9px;color:#C3C3C3;}
a.archiveDateTitleLink:link {text-decoration:none; color:#4D6D91}
a.archiveDateTitleLink:visited {text-decoration:none; color:#4D6D91}
a.archiveDateTitleLink:hover {text-decoration:underline; color:#4D6D91}
a.archiveDateTitleLink:active {text-decoration:underline; color:#4D6D91}
.archiveNoEntry {text-align:center;color:#0000FF;}
/* ------------- */

/* Calendar Style */
.calMonth {font-weight:bold;border:1px solid #ACC6E5; }
.calWday {border:1px solid #ACC6E5; background:#E7EEF8; width:17px;}
.calWdaySe {border:1px solid #ACC6E5; background:#E7EEF8; width:17px; font-weight:bold;}
.calWdaySu {border:1px solid #ACC6E5; background:#E7EEF8; width:17px; font-weight:bold; color:#FF0000;}
.calMday {border:1px solid #ACC6E5; background:#FFFFFF;}
.calMdayA {border:1px solid #ACC6E5; background:#F8E6DF;font-weight:bold;}
.calMdayIs {border:1px solid #4D6D91; background:#E7EEF8;font-weight:bold;}
.calMdayIsA {border:1px solid #4D6D91; background:#F8E6DF;font-weight:bold;}
a.calMonthLink:link,a.calMdayLink:link {text-decoration:none; color:#4D6D91;}
a.calMonthLink:visited,a.calMdayLink:visited {text-decoration:none; color:#4D6D91;}
a.calMonthLink:hover,a.calMdayLink:hover {text-decoration:underline; color:#4D6D91;}
a.calMonthLink:active,a.calMdayLink:active {text-decoration:underline; color:#000000;}
/* -------------- */

/* Poll styles */
.pollBut {width:110px;}

.pollBody {padding:7px; margin:0px; background:#FFFFFF}
.textResults {background:#D0DFF0}
.textResultsTd {background:#FFFFFF}

.pollNow {border-bottom:1px solid #D0DFF0; border-left:1px solid #D0DFF0; border-right:1px solid #D0DFF0;}
.pollNowTd {}

.totalVotesTable {border-bottom:1px solid #D0DFF0; border-left:1px solid #D0DFF0; border-right:1px solid #D0DFF0;}
.totalVotesTd {background:#FFFFFF}
/* ---------- */

/* User Group Marks */





a.groupModer:link,a.groupModer:visited {font-size:14px;font-weight:bold;color:blue;padding: 4px 4px 4px 4px; }
a.groupAdmin:link,a.groupAdmin:visited {font-size:14px;font-weight:bold;color:red;padding: 4px 4px 4px 4px;}
a.groupVerify:link,a.groupVerify:visited {font-size:14px;color:green;padding: 4px 4px 4px 4px;}
a.groupUser:link,a.groupUser:visited {font-size:14px;color:#4D6D91;padding: 4px 4px 4px 4px;}
a.groupOther3:link,a.groupOther3:visited {font-size:15px;font-weight:bold;color:#000000;text-shadow:2px 2px 10px #7b08b7,-3px -3px 10px red;padding: 4px 4px 4px 4px;}
a.groupFriends:link,a.groupFriends:visited {font-size:14px;font-weight:bold;color:#7b08b7;padding: 4px 4px 4px 4px;}
/* ---------------- */

/* Other Styles */
.replaceTable {background:#F5F9FD;height:100px;width:300px;border:1px solid #597798;}
.legendTd {font-size:7pt;}
/* ------------ */

/* ===== forum Start ===== */

/* General forum Table View */
.gTable {background:#000}
.gTableTop {background:#666 url(../Home/TITLE/BLEK-F.gif);color:#BBB;font-weight:bold;margin:1px;padding:10px;}
.gTableSubTop {padding:2px;background:#ACC6E5;color:#000000;height:25px;font-size:10px;background-image: url('/.s/t/101/26.gif');}
.gTableBody {padding:2px;background:#F5F9FD;}
.gTableBody1 {padding:2px;background:#FFFFFF;}
.gTableBottom {padding:2px;background:#F5F9FD;}
.gTableLeft {padding:2px;background:#E7EEF8;font-weight:bold;color:#737373}
.gTableRight {padding:2px;background:#F5F9FD}
.gTableError {padding:2px;background:#F5F9FD;color:#FF0000;}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {padding:2px;background:#FFFFFF}
.forumIcoTd,.forumThreadTd,.forumPostTd {padding:2px;background:#EFF3FE}
.forumLastPostTd,.forumArchive {padding:2px;font-size:7pt;}

a.catLink:link {text-decoration:none; color:#E2EBF5;}
a.catLink:visited {text-decoration:none; color:#E2EBF5;}
a.catLink:hover {text-decoration:underline; color:#E2EBF5;}
a.catLink:active {text-decoration:underline; color:#E2EBF5;}

.lastPostGuest,.lastPostUser,.threadAuthor {font-weight:bold}
.archivedForum{font-size:7pt;color:#FF0000;font-weight:bold;}
/* ------------- */

/* forum Titles & other */
.forum {font-weight:bold;font-size:9pt;}
.forumDescr,.forumModer {color:#858585;font-size:7pt;}
.forumViewed {font-size:9px;}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {text-decoration:none; color:#4D6D91;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {text-decoration:none; color:#4D6D91;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {text-decoration:underline; color:#6F8EB3;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {text-decoration:underline; color:#4D6D91;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {font-weight:bold;font-size:7pt;}
.forumBarKw {font-weight:normal;}
a.forumBarA:link {text-decoration:none; color:#000000;}
a.forumBarA:visited {text-decoration:none; color:#000000;}
a.forumBarA:hover {text-decoration:none; color:#4D6D91;}
a.forumBarA:active {text-decoration:underline; color:#4D6D91;}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {font-size:7pt;}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {background:#C7D7EF;}
.fastNavCat {background:#E7EEF8;}
.fastNavCatA {background:#E7EEF8;color:#0000FF}
.fastNavForumA {color:#0000FF}
/* -------------------------- */

/* forum Page switches */
.switches {background:#B4CBE7;}
.pagesInfo {background:#FFFFFF;font-size:7pt;}
.switch {background:#FFFFFF;width:15px;font-size:7pt;}
.switchActive {background:#E7EEF8;font-weight:bold;color:#4D6D91;width:15px}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {text-decoration:none; color:#000000;}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {text-decoration:none; color:#000000;}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {text-decoration:underline; color:#FF0000;}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {text-decoration:underline; color:#FF0000;}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {padding:2px;padding:2px;background:#FFFFFF}
.threadIcoTd,.threadPostTd,.threadViewTd {padding:2px;background:#EFF3FE}
.threadLastPostTd {padding:2px;font-size:7pt;}
.threadDescr {color:#858585;font-size:7pt;}
.threadNoticeLink {font-weight:bold;}
.threadsType {padding:2px;background:#EFF3FE;height:25px;font-weight:bold;font-size:7pt;color:#4D6D91;padding-left:40px;}
.threadsDetails {padding:2px;background:#EFF3FE;height:25px;color:#4D6D91;}
.forumOnlineBar {padding:2px;background:#EFF3FE;height:25px;color:#4D6D91;}

a.threadPinnedLink:link {text-decoration:none; color:#0000FF;}
a.threadPinnedLink:visited {text-decoration:none; color:#0000FF;}
a.threadPinnedLink:hover {text-decoration:none; color:#FF0000;}
a.threadPinnedLink:active {text-decoration:underline; color:#FF0000;}

a.threadLink:link {text-decoration:none; color:#4D6D91;}
a.threadLink:visited {text-decoration:none; color:#4D6D91;}
a.threadLink:hover {text-decoration:underline; color:#000000;}
a.threadLink:active {text-decoration:underline; color:#000000;}

.postpSwithces {font-size:7pt;}
.thDescr {font-weight:normal;}
.threadFrmBlock {font-size:7pt;text-align:right;}
/* ------------------- */

/* forum Posts View */
.postTable {}
.postPoll {background:#EEF2F7;text-align:center;}
.postFirst {background:#F5F9FD;border-bottom:3px solid #597798;}
.postRest1 {background:#EEF2F7;}
.postRest2 {background:#F5F9FD;}
.postSeparator {height:3px;background:#8394B2;}

.postTdTop,.postBottom {background:#D1DCEB;height:20px;}
.postUser {font-weight:bold;}
.postTdInfo {text-align:center;padding:5px;}
.postRankName {margin-top:5px;}
.postRankIco {margin-bottom:5px;margin-bottom:5px;}
.reputation {margin-top:5px;}
.signatureHr {margin-top:20px;color:#597798;}
.posttdMessage {padding:5px;font-size:12px;}

.postPoll {padding:5px;}
.pollQuestion {text-align:center;font-weight:bold;} 
.pollButtons,.pollTotal {text-align:center;}
.pollSubmitBut,.pollreSultsBut {width:140px;font-size:7pt;}
.pollSubmit {font-weight:bold;}
.pollEnd {text-align:center;height:30px;}

.codeMessage {background:#FFFFFF;font-size:9px;}
.quoteMessage {background:#FFFFFF;font-size:9px;}

.signatureView {font-size:7pt;} 
.edited {padding-top:30px;font-size:7pt;text-align:right;color:gray;}
.editedBy {font-weight:bold;font-size:8pt;}

.statusBlock {padding-top:3px;}
.statusOnline {color:#0000FF;}
.statusOffline {color:#FF0000;}
/* ------------------ */

/* forum AllInOne Fast Add */
.newThreadBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newPollBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newThreadItem {padding: 0 0 0 8px; background: url('/.s/t/101/27.gif') no-repeat 0px 4px;}
.newPollItem {padding: 0 0 0 8px; background: url('/.s/t/101/27.gif') no-repeat 0px 4px;}
/* ----------------------- */

/* forum Post Form */
.codeButtons {font-size:7pt;background:#FAFCFE;border:1px solid #ACC6E5;}
.codeCloseAll {font-size:7pt; color:#4D6D91;font-weight:bold;background:#FAFCFE;border:1px solid #ACC6E5;}
.postNameFl,.postDescrFl {background:#FAFCFE;border:1px solid #ACC6E5;width:400px}
.postPollFl,.postQuestionFl {background:#FAFCFE;border:1px solid #ACC6E5;width:400px}
.postResultFl {background:#FAFCFE;border:1px solid #ACC6E5;width:50px}
.postAnswerFl {background:#FAFCFE;border:1px solid #ACC6E5;width:300px}
.postTextFl {background:#FAFCFE;border:1px solid #ACC6E5;width:550px;height:150px}
.postUserFl {background:#FAFCFE;border:1px solid #ACC6E5;width:300px}

.pollHelp {font-weight:normal;font-size:7pt;padding-top:3px;}
.smilesPart {padding-top:5px;text-align:center}
/* ----------------- */

/* ====== forum End ====== */

.block_title{background:#666 url(../Home/TITLE/BLEK.gif);color:#BBB;font-weight:bold;margin:1px;padding:5px;}

















.sl{background:#666 url(../Home/TITLE/sl.gif);width:5px}
.sr{background:#666 url(../Home/TITLE/sr.gif);width:5px}
.st1{background:#666 url(../Home/TITLE/s2.gif);height:25px;width:160px}
.s_b{background:#666 url(../Home/TITLE/s5.gif);height:25px;width:160px}

b.unread {text-decoration:underline; color:#ff0000; font-weight:bold;font-size:12pt;}
#mchatIfm2 {height:800px !important}
.commSbmFl, .loginButton, .searchSbmFl, .allUsersBtn , .uSearchFlSbm{background: #aaaaaa url(/Home/bg-button.png) repeat-x; color:#ffffff;border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;" x-webkit-speech="" }
.tOnline {font-size:9pt; color:#ff0000;}
.gOnline {font-size:9pt}
.uOnline {font-size:9pt}



.catDescr {font-size:2pt;}
.catDescr:hover {font-size:10pt;}




/* uWnd newlook */ 
div[id*="_uwndWnd"] .xw-tr, div[id*="_uwndWnd"] .xw-br {background-image:url('http://cxema.my1.ru/Ajaks/right-corners.png');padding-right:5px;} 
div[id*="_uwndWnd"] .xw-tl, div[id*="_uwndWnd"] .xw-bl {background-image:url('http://cxema.my1.ru/Ajaks/left-corners.png');padding-left:5px;} 

div[id*="_uwndWnd"] .xw-bc {background-image:url('http://cxema.my1.ru/Ajaks/top-bottom.png');} 
div[id*="_uwndWnd"] .xw-tc {background-image:url('http://cxema.my1.ru/Ajaks/top-bottom.png');} 
div[id*="_uwndWnd"] .xw-hdr-text {color:#FFF;} 
div[id*="_uwndWnd"] .xw-ml {background-image:url('http://cxema.my1.ru/Ajaks/left.png');padding-left:5px;} 
div[id*="_uwndWnd"] .xw-mr {background-image:url('http://cxema.my1.ru/Ajaks/right.png');padding-right:5px;} 
div[id*="_uwndWnd"] .xw-mc {border:0;background:transparent url('http://cxema.my1.ru/Ajaks/middle.png');} 
div[id*="_uwndWnd"] .xw-body, div[id*="_uwndWnd"] .myWinCont {border:0;} 
div[id*="_uwndWnd"] {-moz-box-shadow:0 2px 5px rgba(0,0,0,.5);box-shadow:0 2px 5px rgba(0,0,0,.5);-webkit-box-shadow:0 2px 5px rgba(0,0,0,.5);-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;} 
div[id*="_uwndWnd"] .xw-tc {overflow:visible;} 
div[id*="_uwndWnd"] .xt-close {background-image:url('http://cxema.my1.ru/Ajaks/close.png');height:36px;width:36px;z-index:333;position:absolute;top:-22px;right:-20px;} 
div[id*="_uwndWnd"] .xt-close-over {background-position:0 -36px;} 
div[id*="_uwndWnd"] .xw-blank {opacity:.6 !important;background-color:#238dde;margin:0px -1px 0;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-radius-bottomleft:5px;-webkit-border-radius-bottomright:5px;} 
div[id*="_uwndTop"] .x-sh, div[id*="_uwndWnd"] .xw-bl[style="display:none;"] {display:none !important;}
.outputPM {color:#FF0000;}
.inputPM {color:#5D9D9d;}

 input[type="search"]{ 
 border:1px solid #C0CAD5; 
 font-family:tahoma,tahoma,verdana,arial,sans-serif,Lucida Sans; 
 font-size:11px; 
 padding:3px; 
 color: rgb(119, 119, 119); 
 }
.catPages1 {color:#ffffff;border:0px;margin-bottom:10px;margin-top:10px;}
 .catPages1 a:link,
 .catPages1 a:visited,
 .catPages1 a:hover,
 .catPages1 a:active {text-decoration:none;
 color: #6D6D6D;border: 1px #999999 dashed;
 background:#ffffff;
 padding:3px 10px;
 font-size:11px;
 font-weight:bold;}
 .catPages1 a:hover {background:#0094E0;color:#FFFFFF;font-weight:bold;}
 .catPages1 b {text-decoration:none;background:#0094E0;padding:3px 10px;color:#fefefe;font-size:11px;}
 
 .catPages2 {color:#ffffff;border:0px;margin-bottom:10px;margin-top:10px;}
 .catPages2 a:link,
 .catPages2 a:visited,
 .catPages2 a:hover,
 .catPages2 a:active {text-decoration:none;
 color: #6D6D6D;border: 1px #999999 dashed;
 background:#ffffff;
 padding:3px 10px;
 font-size:11px;
 font-weight:bold;}
 .catPages2 a:hover {background:#0094E0;color:#FFFFFF;font-weight:bold;}
 .catPages2 b {text-decoration:none;background:#0094E0;padding:3px 10px;color:#fefefe;font-size:11px;}
 
 .pagesBlockuz1 {color:#ffffff;border:0px;margin-bottom:10px;margin-top:10px;}
 .pagesBlockuz1 a:link,
 .pagesBlockuz1 a:visited,
 .pagesBlockuz1 a:hover,
 .pagesBlockuz1 a:active {text-decoration:none;
 color: #6D6D6D;border: 1px #999999 dashed;
 background:#ffffff;
 padding:3px 10px;font-size:11px;
 font-weight:bold;}
 .pagesBlockuz1 a:hover {background:#0094E0;color:#FFFFFF;font-weight:bold;}
 .pagesBlockuz1 b {text-decoration:none;background:#0094E0;padding:3px 10px;color:#fefefe;font-size:11px;}
 
 .pagesBlockuz2 {color:#ffffff;border:0px;margin-bottom:10px;margin-top:10px;}
 .pagesBlockuz2 a:link,
 .pagesBlockuz2 a:visited,
 .pagesBlockuz2 a:hover,
 .pagesBlockuz2 a:active {text-decoration:none;
 color: #6D6D6D;border: 1px #999999 dashed;
 background:#ffffff;
 padding:3px 10px;font-size:11px;
 font-weight:bold;}
 .pagesBlockuz2 a:hover {background:#0094E0;color:#FFFFFF;font-weight:bold;}
 .pagesBlockuz2 b {text-decoration:none;background:#0094E0;padding:3px 10px;color:#fefefe;font-size:11px;}
 
 .pagesBlock1 {color:#ffffff;border:0px;margin-bottom:10px;margin-top:10px;}
 .pagesBlock1 a:link,
 .pagesBlock1 a:visited,
 .pagesBlock1 a:hover,
 .pagesBlock1 a:active {text-decoration:none;
 color: #6D6D6D;border: 1px #999999 dashed;
 background:#ffffff;
 padding:3px 10px;
 font-size:11px;
 font-weight:bold;}
 .pagesBlock1 a:hover {background:#2c2c2c;color:#FFFFFF;font-weight:bold;}
 .pagesBlock1 b {text-decoration:none;background:#0094E0;padding:3px 10px;color:#fefefe;font-size:11px;}
 
 .pagesBlock2 {color:#ffffff;border:0px;margin-bottom:10px;margin-top:10px;}







.swchItem1 ,.pmCatLink,.pmCatLinkActive{color:#ffffff;border:0px;margin-bottom:10px;margin-top:10px;}

 .pmCatLink:link,
 .pmCatLink:visited,
 .pmCatLink:hover,
 .pmCatLink:active,
 .pmCatLinkActive:link,
 .pmCatLinkActive:visited,
 .pmCatLinkActive:hover,
 .pmCatLinkActive:active,
 .swchItem1:link,
 .swchItem1:visited,
 .swchItem1:hover,
 .swchItem1:active {text-decoration:none; color: #6D6D6D;border: 1px #999999 dashed; background:#ffffff; padding:3px 10px;font-size:11px; font-weight:bold;}
 .swchItem1:hover,.pmCatLink:hover,.pmCatLinkActive:hover {background:#0094E0;color:#FFFFFF;font-weight:bold;}