/* wysibb */
.wysibb-body ul, .wysibb-body ol{padding:0 0 0 30px; }
.wysibb-text textarea{resize:vertical !important; }

/* TOOLBAR */
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-text{text-transform:uppercase; font-family:sans-serif,Verdana,Tahoma;
	font-weight:bold; line-height:20px; text-align:center; }
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:hover span.btn-tooltip{display:block!important; }
.wysibb .wysibb-toolbar .wysibb-toolbar-container:last-child .btn-tooltip,
.wysibb .wysibb-toolbar .wysibb-toolbar-container:nth-last-child(2) .btn-tooltip{left:auto!important; right:0; }
.wysibb .wysibb-toolbar .wysibb-toolbar-container:last-child .btn-tooltip > ins,
.wysibb .wysibb-toolbar .wysibb-toolbar-container:nth-last-child(2) .btn-tooltip > ins{left:auto!important; right:5px; }
/* END TOOLBAR */

/* CONTENT */
.wysibb-text{margin:0px; }
.wysibb-text textarea{border:0px; outline:none; padding:8px; background:#FFFFFF; box-sizing:border-box; }
.wysibb-text .wysibb-text-iframe{max-width:100%; width:100%; margin:0; }
.wysibb-body{text-align:left; min-width:0 !important; overflow:auto !important; padding:8px; }
.wysibb-body fieldset{padding:10px; }
/* END CONTENT */

/* DEFAULT STYLES */
.codetop{ background:#eee; border:1px dashed #78c5ed; border-bottom:1px solid #ccc; padding:2px 5px; }
.codemain{padding:10px; background:#f4fbff; border-left:1px dashed #78c5ed; border-right:1px dashed #78c5ed; border-bottom:1px dashed #78c5ed; }
.quote{border:1px solid #0004e4; border-left:3px solid #0004e4; padding:15px; margin-left:30px; }
.quote blockquote{margin:0; }
.wbbtab{margin-left:30px; }
/* END DEFAULT STYLES */

/* DROPDOWN */
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-dropdown{padding-right:10px; }
.wbb-smilebox .wbb-list{max-height:140px !important; }
.wbb-list{display:none; position:absolute; top:24px; left:-1px; border:1px solid #bbb; box-shadow:0px 0px 3px #aaa; width:190px; padding:5px;
	background:#fff; max-height:225px; overflow:auto; z-index:2; line-height:1.3; }
/* END DROPDOWN */

/* COLORPICKER */
.ve-tlb-colorpick .cp-line{display:block; position:absolute; width:20px; height:3px; background:black; bottom:3px; left:7px; }
.wbb-list .sc{width:16px; height:16px; margin:0 0 1px 1px; display:inline-block; *display:inline; zoom:1; cursor:pointer; border:1px solid #fff; }
.wbb-list .sc:hover{border:1px solid #333; }
.wbb-list .nc{height:24px; line-height:24px; text-align:center; color:#666; margin:0 1px 5px 1px; }
.wbb-list .nc:hover{background:#eee; }
.wbb-list .pl{display:block; height:5px; }
/* END COLORPICKER */

/* TABLE PICKER */
.tbl-sel{border:1px solid #ddd; position:absolute; cursor:pointer; }
.tbl-sel:hover{background:#eee; }
.wbb-table td{border:1px dashed #DDD; padding:3px; margin:5px; min-width:5px; min-height:15px; }
/* TABLE PICKER */

/* SELECT */
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-select .wbb-list{width:160px; padding:0; max-height:190px; }
.wbb-select .option{display:block; padding:3px 10px; white-space:nowrap; cursor:pointer; }
.wbb-select .option:hover{background:#dff0ff; }
.wbb-select .option.selected{background:#cce7fe; border-top:1px solid #96cdfe; border-bottom:1px solid #96cdfe; }
/* END SELECT */

/* SMILEBOX TOOLBAR */
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-smilebox .wbb-list{width:156px; }
.smile{/*height:24px; width:24px;*/ line-height:20px; padding:5px 7px; display:inline-block;*display:inline;zoom:1; cursor:pointer;
	vertical-align:middle; }
/* END SMILEBOX TOOLBAR */

/* MODAL WINDOW */
#wbbmodal{font:12px/1.2 Arial,Verdana; position:fixed; text-align:center; bottom:0; left:0; top:0; right:0; overflow:auto; -webkit-overflow-scrolling:touch; background:rgba(255,255,255,0.7); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7Fffffff,endColorstr=#7Fffffff); zoom:1; z-index:11005; }
#wbbmodal .wbbm{background:#fff; text-align:left; min-width:400px; max-width:800px; min-height:200px; max-height:800px; margin:50px auto;
	border:1px solid #bbb; box-shadow:0px 0px 10px #999; }
#wbbmodal .wbbm-title{color:#333; position:relative; padding:5px 10px; border-bottom:1px solid #ccc; }
#wbbmodal .wbbm-title .wbbm-title-text{font-size:1.6em; line-height:2em; margin:0; padding:0; }
#wbbmodal .wbbm-title .wbbclose{display:block; text-transform:uppercase; position:absolute; right:15px; top:15px; font-size:21px;
	font-weight:bold; cursor:pointer; color:#888; }
#wbbmodal .wbbm-title .wbbclose:hover{color:red; }
#wbbmodal .wbbm-content{}
#wbbmodal .wbbm .wbbm-tablist{width:160px; float:left; padding:20px 5px; }
#wbbmodal .wbbm .wbbm-tablist ul{list-style-type:none; padding:0; margin:0; }
#wbbmodal .wbbm .wbbm-tablist ul li{height:14px; padding:10px 10px 10px 20px; cursor:pointer; margin:5px 0; position:relative;
	border-radius:3px; }
#wbbmodal .wbbm .wbbm-tablist ul li.on, #wbbmodal .wbbm .wbbm-tablist ul li.on:hover{background:#666; color:#fff; cursor:default; }
#wbbmodal .wbbm .wbbm-tablist ul li:hover{background:#eee; }
#wbbmodal .wbbm-cont{padding:20px; min-height:100px; }
#wbbmodal .wbbm-content{min-height:100px; }
#wbbmodal .hastabs .wbbm-bottom,#wbbmodal .hastabs .wbbm-cont{margin-left:170px; border-left:1px solid #ccc; }
#wbbmodal .wbbm-bottom{border-top:1px solid #ccc; padding:10px; background:#f1f1f1; }
#wbbmodal button{display:inline-block;*display:inline;zoom:1; font-size:0.9em; font-weight:bold; }
#wbbmodal .wbb-button{background:#0055e4; background-image:linear-gradient(bottom, #0054e4 50%, #005fff 67%); color:#fff; line-height:26px;
	border:1px solid #0055e4; border-radius:3px; padding:2px 10px; cursor:pointer;
	background-image:-webkit-linear-gradient(bottom, #0054e4 50%, #005fff 67%);
	background-image:-moz-linear-gradient(bottom, #0054e4 50%, #005fff 67%);
	background-image:-ms-linear-gradient(bottom, #0054e4 50%, #005fff 67%);
	background-image:-o-linear-gradient(bottom, #0054e4 50%, #005fff 67%); }
#wbbmodal .wbb-button:hover{background:#005fff; border:1px solid #0049C4; }
#wbbmodal .wbb-cancel-button{background:#f5f5f5; color:#333; line-height:26px; border:1px solid #ddd; border-radius:3px; padding:2px 10px;
	cursor:pointer; margin-left:15px; }
#wbbmodal .wbb-cancel-button:hover{background:#fff; border:1px solid #ccc; }
#wbbmodal .wbb-remove-button{background:#db0000; color:#fff; line-height:26px; border:1px solid #ca0000; border-radius:3px; padding:2px 10px;
	cursor:pointer; float:right; }
#wbbmodal .wbb-remove-button:hover{background:#f80000; border:1px solid #be0000; }
#wbbmodal .wbbm-inp-row{margin-bottom:15px; }
#wbbmodal .wbbm-inp-row label{display:block; font-weight:bold; margin-bottom:3px; }
#wbbmodal .wbbm-inp-row input{height:26px; padding:0px 3px; line-height:24px; font-size:12px; width:100%; border:1px solid #aaa; outline:none;
	box-sizing:border-box; }
#wbbmodal .wbbm-inperr{color:red; font-size:10px; display:block; }
#wbbmodal .wbbm-brdred{border-color:red !important; }

/* IMAGE UPLOAD */
#wbbmodal #imguploader{text-align:center; }
#wbbmodal #imguploader.drag{border:3px dashed #ccc; }
#wbbmodal #imguploader.drag.dragover{background:#feffe4; }
#wbbmodal #imguploader.drag.wbb-loading{padding:40px 0; }
#wbbmodal #imguploader.drag .p{font-size:2em; color:#aaa; margin-top:15px; }
#wbbmodal #imguploader.drag .p2{color:#AAA; }
#wbbmodal #imguploader.drag .fileupload{margin:15px 0; }
#wbbmodal .fileupload{margin:40px 0; position:relative; }
#wbbmodal .dragupload{margin:10px 0 15px 0; position:relative; }
#wbbmodal .fileupload input.file{opacity:0; filter:alpha(opacity=0); width:230px; height:32px !important; position:absolute; top:2px; left:50%;
	margin-left:-115px; display:block; }
.loader{margin:30px 0; }
.upl-error{color:red; display:block; }
.powered{display:none; position:absolute; bottom:-18px; right:5px; font-size:10px; }
/* END IMAGE UPLOAD */
/* MODAL WINDOW */


/* PHPBB3 */
.content-phpbb3{font-size:13px; }

/* uCoz adds START */
#_uwbb-add-smiles-button{display:block; text-align:center; background:#f5f5f5; color:#333; line-height:26px; border:1px solid #ddd; border-radius:3px; padding:2px 10px; cursor:pointer; margin-top:5px; }
#_uwbb-add-smiles-button:hover{background:#fff; border:1px solid #ccc; }
#_uwbb-wait-add-smiles{display:block; height:32px; width:32px; background:url("/.s/img/ma/m/i2.gif") 8px 8px no-repeat; margin:auto; }
.wbb-fontsize{width:35px !important; }
.wbb-fontsize .btn-tooltip{/*display:none !important;*/ }
.wbb-cp .wbb-list .nc{display:none; }
/* uCoz adds END */

.wbbm-cont div{clear:none !important; }
.wbbm-cont input[type="file"]{max-width:100px; }
.wysibb-body-ie p{margin:0; }
