div .collapsiblock a{background:url(/modules/collapsiblock/expanded.png) no-repeat right;display:block;}div .collapsiblockCollapsed a{background:url(/modules/collapsiblock/collapsed.png) no-repeat right;}
.fake-leaf{font-size:8pt;font-style:italic;}li.start-collapsed ul{display:none;}
input.button{border:solid #d1dbec;background-color:#fbfcfe;}.genre{color:#6C7A8D;}p.genre{margin-bottom:0pt;}a.genre{margin-bottom:0pt;margin-top:0pt;font-size:120%;}.genren{color:#8d6e00;}a.genren{margin-bottom:0pt;margin-top:0pt;font-weight:normal;}h8{color:#00008B;margin-top:4pt;font-size:120%;}h9{color:#3b008b;margin-top:4pt;font-size:120%;}h10{color:#292929;margin:19px 0;font-weight:normal;font-size:18px;border-bottom:1px solid #aaaaaa;display:block;}.size{color:#bbbbbb;}#sidebar-right{word-wrap:break-word;overflow:hidden;}img.bb-image{max-width:100%;max-height:100%;}.kw12{font-size:12px;}.kw14{font-size:14px;}.kw16{font-size:16px;}.kw18{font-size:18px;}.kw20{font-size:20px;}.kw22{font-size:22px;}.kw24{font-size:24px;}.kw26{font-size:26px;}.kw28{font-size:28px;}.kw30{font-size:30px;}.dlrlang{color:#640000;}.bcover{width:160px;height:260px;display:inline-block;padding:10px}.dlrenc{color:#00641C;}
<style>
BODY{text-align:justify}p.book{text-indent:20px;margin-bottom:0pt;margin-top:0pt;font-size:inherit;font-weight:inherit;}H1.book{font-size:160%;font-style:normal;font-weight:bold;text-align:left;}H2.book{font-size:100%;font-style:normal;font-weight:bold;text-align:left;padding-left:1em;}H3.book{font-size:110%;font-style:normal;font-weight:bold;text-align:center;padding-top:11px;padding-bottom:6px;}H4.book{font-size:100%;font-style:italic;font-weight:bold;text-align:left;}.epigraph{margin-right:5em;margin-left:25%;}BLOCKQUOTE.book{margin:0 1em 0.2em 4em}H5.book{font-size:100%;font-style:italic;font-weight:bold;padding-left:2.5em;text-align:left;padding-top:9px;}DIV.book{text-align:justify}DIV.poem{margin:0.6em 0 0.6em 50px}DIV.stanza{margin:0.6em 0}</style>


div.toboggan-container{text-align:center;}div.toboggan-login-link-container{text-align:left;}div.toboggan-login-link-container a{text-decoration:none;}div.toboggan-block-message{text-align:left;}div.user-login-block{text-align:left;}div.user-login-block a{text-align:left;}

.node-unpublished{background-color:#fff4f4;}.preview .node{background-color:#ffffea;}#node-admin-filter ul{list-style-type:none;padding:0;margin:0;width:100%;}#node-admin-buttons{float:left;margin-left:0.5em;clear:right;}td.revision-current{background:#ffc;}.node-form .form-text{display:block;width:95%;}.node-form .container-inline .form-text{display:inline;width:auto;}.node-form .standard{clear:both;}.node-form textarea{display:block;width:95%;}.node-form .attachments fieldset{float:none;display:block;}.terms-inline{display:inline;}


.quote-msg{margin:1em 2em 1em 2em;padding:1em;border:1px solid #DDD;background-color:#F6F6F6;}.quote-author{display:block;font-weight:bold;margin:0 0 1em 0;}


#switchtheme-switch-form div{width:100%;}#switchtheme-switch-form div.form-item{float:left;width:auto;margin:0;padding:0;}#switchtheme-switch-form #edit-submit{float:left;width:auto;margin-left:3px;}


fieldset{margin-bottom:1em;padding:.5em;}form{margin:0;padding:0;}hr{height:1px;border:1px solid gray;}img{border:0;}table{border-collapse:collapse;}th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}.clear-block:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.clear-block{display:inline-block;}/*_\*/
* html .clear-block{height:1%;}.clear-block{display:block;}/* End hide from IE-mac */



body.drag{cursor:move;}th.active img{display:inline;}tr.even,tr.odd{background-color:#eee;border-bottom:1px solid #ccc;padding:0.1em 0.6em;}tr.drag{background-color:#fffff0;}tr.drag-previous{background-color:#ffd;}td.active{background-color:#ddd;}td.checkbox,th.checkbox{text-align:center;}tbody{border-top:1px solid #ccc;}tbody th{border-bottom:1px solid #ccc;}thead th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}.breadcrumb{padding-bottom:.5em}div.indentation{width:20px;height:1.7em;margin:-0.4em 0.2em -0.4em -0.4em;padding:0.42em 0 0.42em 0.6em;float:left;}div.tree-child{background:url(/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/misc/tree-bottom.png) no-repeat 11px center;}div.tree-child-horizontal{background:url(/misc/tree.png) no-repeat -11px center;}.error{color:#e55;}div.error{border:1px solid #d77;}div.error,tr.error{background:#fcc;color:#200;padding:2px;}.warning{color:#e09010;}div.warning{border:1px solid #f0c020;}div.warning,tr.warning{background:#ffd;color:#220;padding:2px;}.ok{color:#008000;}div.ok{border:1px solid #00aa00;}div.ok,tr.ok{background:#dfd;color:#020;padding:2px;}.item-list .icon{color:#555;float:right;padding-left:0.25em;clear:right;}.item-list .title{font-weight:bold;}.item-list ul{margin:0 0 0.75em 0;padding:0;}.item-list ul li{margin:0 0 0.25em 1.5em;padding:0;list-style:disc;}ol.task-list li.active{font-weight:bold;}.form-item{margin-top:1em;margin-bottom:1em;}tr.odd .form-item,tr.even .form-item{margin-top:0;margin-bottom:0;white-space:nowrap;}tr.merge-down,tr.merge-down td,tr.merge-down th{border-bottom-width:0 !important;}tr.merge-up,tr.merge-up td,tr.merge-up th{border-top-width:0 !important;}.form-item input.error,.form-item textarea.error,.form-item select.error{border:2px solid red;}.form-item .description{font-size:0.85em;}.form-item label{display:block;font-weight:bold;}.form-item label.option{display:inline;font-weight:normal;}.form-checkboxes,.form-radios{margin:1em 0;}.form-checkboxes .form-item,.form-radios .form-item{margin-top:0.4em;margin-bottom:0.4em;}.marker,.form-required{color:#f00;}.more-link{text-align:right;}.more-help-link{font-size:0.85em;text-align:right;}.nowrap{white-space:nowrap;}.item-list .pager{clear:both;text-align:center;}.item-list .pager li{background-image:none;display:inline;list-style-type:none;padding:0.5em;}.pager-current{font-weight:bold;}.tips{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-size:0.9em;}dl.multiselect dd.b,dl.multiselect dd.b .form-item,dl.multiselect dd.b select{font-family:inherit;font-size:inherit;width:14em;}dl.multiselect dd.a,dl.multiselect dd.a .form-item{width:10em;}dl.multiselect dt,dl.multiselect dd{float:left;line-height:1.75em;padding:0;margin:0 1em 0 0;}dl.multiselect .form-item{height:1.75em;margin:0;}.container-inline div,.container-inline label{display:inline;}ul.primary{border-collapse:collapse;padding:0 0 0 1em;white-space:nowrap;list-style:none;margin:5px;height:auto;line-height:normal;border-bottom:1px solid #bbb;}ul.primary li{display:inline;}ul.primary li a{background-color:#ddd;border-color:#bbb;border-width:1px;border-style:solid solid none solid;height:auto;margin-right:0.5em;padding:0 1em;text-decoration:none;}ul.primary li.active a{background-color:#fff;border:1px solid #bbb;border-bottom:#fff 1px solid;}ul.primary li a:hover{background-color:#eee;border-color:#ccc;border-bottom-color:#eee;}ul.secondary{border-bottom:1px solid #bbb;padding:0.5em 1em;margin:5px;}ul.secondary li{display:inline;padding:0 1em;border-right:1px solid #ccc;}ul.secondary a{padding:0;text-decoration:none;}ul.secondary a.active{border-bottom:4px solid #999;}#autocomplete{position:absolute;border:1px solid;overflow:hidden;z-index:100;}#autocomplete ul{margin:0;padding:0;list-style:none;}#autocomplete li{background:#fff;color:#000;white-space:pre;cursor:default;}#autocomplete li.selected{background:#0072b9;color:#fff;}html.js input.form-autocomplete{background-image:url(/misc/throbber.gif);background-repeat:no-repeat;background-position:100% 2px;}html.js input.throbbing{background-position:100% -18px;}html.js fieldset.collapsed{border-bottom-width:0;border-left-width:0;border-right-width:0;margin-bottom:0;height:1em;}html.js fieldset.collapsed *{display:none;}html.js fieldset.collapsed legend{display:block;}html.js fieldset.collapsible legend a{padding-left:15px;background:url(/misc/menu-expanded.png) 5px 75% no-repeat;}html.js fieldset.collapsed legend a{background-image:url(/misc/menu-collapsed.png);background-position:5px 50%;}* html.js fieldset.collapsed legend,* html.js fieldset.collapsed legend *,* html.js fieldset.collapsed table *{display:inline;}html.js fieldset.collapsible{position:relative;}html.js fieldset.collapsible legend a{display:block;}html.js fieldset.collapsible .fieldset-wrapper{overflow:auto;}.resizable-textarea{width:95%;}.resizable-textarea .grippie{height:9px;overflow:hidden;background:#eee url(/misc/grippie.png) no-repeat center 2px;border:1px solid #ddd;border-top-width:0;cursor:s-resize;}html.js .resizable-textarea textarea{margin-bottom:0;width:100%;display:block;}.draggable a.tabledrag-handle{cursor:move;float:left;height:1.7em;margin:-0.4em 0 -0.4em -0.5em;padding:0.42em 1.5em 0.42em 0.5em;text-decoration:none;}a.tabledrag-handle:hover{text-decoration:none;}a.tabledrag-handle .handle{margin-top:4px;height:13px;width:13px;background:url(/misc/draggable.png) no-repeat 0 0;}a.tabledrag-handle-hover .handle{background-position:0 -20px;}.joined + .grippie{height:5px;background-position:center 1px;margin-bottom:-2px;}.teaser-checkbox{padding-top:1px;}div.teaser-button-wrapper{float:right;padding-right:5%;margin:0;}.teaser-checkbox div.form-item{float:right;margin:0 5% 0 0;padding:0;}textarea.teaser{display:none;}html.js .no-js{display:none;}.progress{font-weight:bold;}.progress .bar{background:#fff url(/misc/progress.gif);border:1px solid #00375a;height:1.5em;margin:0 0.2em;}.progress .filled{background:#0072b9;height:1em;border-bottom:0.5em solid #004a73;width:0%;}.progress .percentage{float:right;}.progress-disabled{float:left;}.ahah-progress{float:left;}.ahah-progress .throbber{width:15px;height:15px;margin:2px;background:transparent url(/misc/throbber.gif) no-repeat 0px -18px;float:left;}tr .ahah-progress .throbber{margin:0 2px;}.ahah-progress-bar{width:16em;}#first-time strong{display:block;padding:1.5em 0 .5em;}tr.selected td{background:#ffc;}table.sticky-header{margin-top:0;background:#fff;}#clean-url.install{display:none;}html.js .js-hide{display:none;}#system-modules div.incompatible{font-weight:bold;}#system-themes-form div.incompatible{font-weight:bold;}span.password-strength{visibility:hidden;}input.password-field{margin-right:10px;}div.password-description{padding:0 2px;margin:4px 0 0 0;font-size:0.85em;max-width:500px;}div.password-description ul{margin-bottom:0;}.password-parent{margin:0 0 0 0;}input.password-confirm{margin-right:10px;}.confirm-parent{margin:5px 0 0 0;}span.password-confirm{visibility:hidden;}span.password-confirm span{font-weight:normal;}

ul.menu{list-style:none;border:none;text-align:left;}ul.menu li{margin:0 0 0 0.5em;}li.expanded{list-style-type:circle;list-style-image:url(/misc/menu-expanded.png);padding:0.2em 0.5em 0 0;margin:0;}li.collapsed{list-style-type:disc;list-style-image:url(/misc/menu-collapsed.png);padding:0.2em 0.5em 0 0;margin:0;}li.leaf{list-style-type:square;list-style-image:url(/misc/menu-leaf.png);padding:0.2em 0.5em 0 0;margin:0;}li a.active{color:#000;}td.menu-disabled{background:#ccc;}ul.links{margin:0;padding:0;}ul.links.inline{display:inline;}ul.links li{display:inline;list-style-type:none;padding:0 0.5em;}.block ul{margin:0;padding:0 0 0.25em 1em;}

#permissions td.module{font-weight:bold;}#permissions td.permission{padding-left:1.5em;}#access-rules .access-type,#access-rules .rule-type{margin-right:1em;float:left;}#access-rules .access-type .form-item,#access-rules .rule-type .form-item{margin-top:0;}#access-rules .mask{clear:both;}#user-login-form{text-align:center;}#user-admin-filter ul{list-style-type:none;padding:0;margin:0;width:100%;}#user-admin-buttons{float:left;margin-left:0.5em;clear:right;}#user-admin-settings fieldset .description{font-size:0.85em;padding-bottom:.5em;}.profile{clear:both;margin:1em 0;}.profile .picture{float:right;margin:0 1em 1em 0;}.profile h3{border-bottom:1px solid #ccc;}.profile dl{margin:0 0 1.5em 0;}.profile dt{margin:0 0 0.2em 0;font-weight:bold;}.profile dd{margin:0 0 1em 0;}

.video-left{float:left;}.video-right{float:right;}.video-center{display:block;margin:0 auto;}body#video_filter{padding:2em;}

#forum .description{font-size:0.9em;margin:0.5em;}#forum td.created,#forum td.posts,#forum td.topics,#forum td.last-reply,#forum td.replies,#forum td.pager{white-space:nowrap;}#forum td.posts,#forum td.topics,#forum td.replies,#forum td.pager{text-align:center;}#forum tr td.forum{padding-left:25px;background-position:2px 2px;background-image:url(/misc/forum-default.png);background-repeat:no-repeat;}#forum tr.new-topics td.forum{background-image:url(/misc/forum-new.png);}#forum div.indent{margin-left:20px;}.forum-topic-navigation{padding:1em 0 0 3em;border-top:1px solid #888;border-bottom:1px solid #888;text-align:center;padding:0.5em;}.forum-topic-navigation .topic-previous{text-align:right;float:left;width:46%;}.forum-topic-navigation .topic-next{text-align:left;float:right;width:46%;}

#edit-openid-identifier{background-image:url(/modules/openid/login-bg.png);background-position:0% 50%;background-repeat:no-repeat;padding-left:20px;}div#edit-openid-identifier-wrapper{display:block;}html.js #user-login-form div#edit-openid-identifier-wrapper,html.js #user-login div#edit-openid-identifier-wrapper{display:none;}html.js #user-login-form li.openid-link,html.js #user-login li.openid-link{display:block;list-style:none;}#user-login-form ul{margin-top:0;}#user-login ul{margin:0 0 5px;}#user-login ul li{margin:0;}#user-login-form li.openid-link,#user-login-form li.user-link,#user-login li.openid-link,#user-login li.user-link{display:none;}#user-login-form li.openid-link a,#user-login li.openid-link a{background:transparent url(/modules/openid/login-bg.png) no-repeat 0 2px;padding:0 20px;}
.forum-links li{list-style-type:none;display:inline}h2{border-bottom:1px solid #B1B1B1;margin:7px 0}.pager li{list-style-type:none;display:inline}#user-login-form{text-align:left}#user-login-form .form-item{margin-top:0.5em;margin-bottom:0.5em}.forum-post-panel-main{border-left:none}.forum-post-panel-main img{max-width:500px}.forum-post-footer{border-top:none}.post-info{border-bottom:none}.comment_forbidden,.comment_forbidden span{font-size:0.7em}#avtor img{max-width:300px;height:auto}#avtor{overflow:auto;max-height:400px;min-height:50px;margin-bottom:5px;margin-top:5px;padding-right:10px;padding-left:10px;border:1px solid #a7d7f9;background-color:#e9e9e9;border-radius:5px}.greenb{color:green !important;font-weight:bold !important}.wikib{color:#9a0000 !important;font-weight:bold !important}.blueb{color:#0645ad !important;font-weight:bold !important}.dlrlang{color:#640000}.dlrlang2{color:#8E0000}.oneotz{overflow:auto;margin-bottom:5px;margin-top:5px;padding:10px;border:1px solid #a7d7f9;background-color:#F3F3F3;border-radius:5px}.oneotzb{overflow:auto;margin-bottom:5px;margin-top:5px;padding:10px 0;border-top:1px solid #a7d7f9;border-bottom:1px solid #a7d7f9;background-color:#F3F3F3;border-radius:5px}.font1_2{font-size:1.2em}.rating{font-size:1.2em;font-style:italic;color:#424242}.ratingb{font-size:1.1em;font-style:italic;color:#424242}.red{color:#610000 !important}.green{color:#006100 !important}h1{display:block;font-size:1.6em;-webkit-margin-before:0.67em;-webkit-margin-after:0.67em;-webkit-margin-start:0px;-webkit-margin-end:0px;font-weight:bold}.sres{background-color:#F4EFBB}.gmatch{vertical-align:top;font-size:0.9em}.gstring{color:#8d6e00}.newotza,.polka,#notebook{width:500px;height:110px}.ceditor input{margin:2px;border:1px solid #c7c7c7}#Countstat190 p{margin:2px}#Countstat190{margin:2px}#min_viewContainerCounterTwo{height:10px !important;}
