.linkclass{
   color: black;
   border-bottom-width:1px;
   text-decoration: none;
   border-bottom-style:dotted;
}
.linkclass:hover{
   color: green;
   border-bottom-width:0px;
   border-bottom-style:dotted;
}

.vad{
   color: #051128;
   border-bottom-width:1px;
   text-decoration: none;
   border-bottom-style:dotted;
}
.vad:hover{
   color: #FC6C0E;
   border-bottom-width:0px;
   border-bottom-style:dotted;
}