﻿/*************************************

  MyBB.ru
  Система блогов на форум © Alex_63
  Стиль (CSS)
  08.12.2015

*************************************/

.blog-entries {
  border: none 0 transparent !important;
  background: transparent !important;
}

.post.blog-entry:first-of-type {
  margin-top: 0px !important;
}

.post.blog-entry:not(:last-child) {
  margin-bottom: 1em;
}

.post.blog-entry>.container {
  padding: 1.1em;
  border-style: solid !important;
  border-width: 1px !important;
}

.blog-entry .post-content {
  max-height: 290px;
}

.blog-entry .lnkview {
  text-align: right;
  font-size: 1.1em;
}

.blogname .Name {
  font-size: 1.3em;
  font-weight: 700;
}

.blogname .num_cmt {
  float: right;
}

.postinfo {
  margin-top: 6px;
  border-bottom: solid 1px #cccccc;
  padding-bottom: 3px;
}

.blogname .post_author {
  font-size: 1.2em;
  font-style: italic;
  padding-right: 2em;
}

.blogs-post .post-body,
.blogs-post .post-links,
.blogs-post .post-links ul,
.blogs-post h3>span {
  margin-left: 0px !important;
}

.pst-links {
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid 1px #cccccc;
  text-align: center;
}

.pst-links li {
  float: none !important;
  clear: both !important;
  display: inline-block !important;
  margin: 0 6px;
}

span.send-date {
  float: right;
  font-weight: normal !important;
  font-size: 1em !important;
  background-image: none  !important;
}

.posthead-inner {
  padding: 0 !important;
}

#viewcomments .post:first-of-type {
  margin-top: 0px !important;
}

#viewcomments .pa-avatar>img {
  width: auto;
  max-height: 30px;
  float: left;
  vertical-align: middle !important;
  margin-right: 10px;
  border-radius: 3px;
  margin-top: -6px;
}

#viewcomments .pa-author {
  margin-top: 7px;
}

#viewcomments .post-author {
  margin-top: -2em;
}

#viewcomments .post-body, 
#viewcomments .post-links, 
#viewcomments .post-links>ul, 
#viewcomments .post>h3>span {
  margin-left: 0 !important;
}

#viewcomments .post >h3> span {
  padding: 13px;
}

#viewcomments .post-author {
  margin-top: -3.2em;
}

#viewcomments .post >h3> span > strong {
  display: none;
}

#pun-blogs .subscribelink {
  display: none !important;
}

.posthead-inner {
  border-left-color: transparent !important;
}