/* Extra additions
-------------------------------------------------------------*/

#poll-special table.poll1 {width:auto}
#poll-special td {border:0}
.punbb .post-content img.postimg {max-width:100%; margin:0.4em 0}
#poll-special td {text-align:left !important; cursor:default !important}
#poll-special td.tac {text-align:center !important}
#poll-special td.tar {text-align:right !important}
div.pa-respect span {font-size:0.9em; vertical-align:top}
div.post-rating p {float:right !important; border:0 !important; padding:3px !important}
div.post-vote p {float:right !important; border:0 !important; padding:3px 13px !important; margin-right:5px !important}
div.post-rating a {cursor:pointer !important}
div.post-rating a, div.post-vote a {font-size:130% !important; text-decoration:none !important}
.post-content table {border-collapse:collapse; margin:0 0 0.8em}
.post-content td {border-width:1px !important; border-style:solid !important; padding:0.4em 0.5em !important; overflow:hidden}
.post-content td p:last-child {padding-bottom:0}
.post-content .highlight-text {background-color:#ff0; color:#000}
.post-content .spoiler-box > div {background:url('/img/plus.png') no-repeat left center; cursor:pointer; padding-left:18px}
.post-content .spoiler-box > div.visible {background-image:url('/img/minus.png')}
.post-content .spoiler-box > blockquote {padding-top:1.4em; display:none}
.post-content .spoiler-box > blockquote.visible {display:block}
.post-content hr {opacity:0.5; -moz-opacity:0.5; -khtml-opacity:0.5; filter:alpha(opacity=50); margin-bottom:0.8em}
.post-content abbr {cursor:help}
#form-buttons table, .punbb .formal textarea {width:99%}
#form-buttons td {padding:0; line-height:0; background-position:center; background-repeat:no-repeat; border:0; cursor:pointer !important}
#form-buttons td img {height:26px; width:100%}
td#button-font {background:url('/i/form_buttons.3.png') no-repeat 50% 5px}
td#button-size {background:url('/i/form_buttons.3.png') no-repeat 50% -21px}
td#button-bold {background:url('/i/form_buttons.3.png') no-repeat 50% -47px}
td#button-italic {background:url('/i/form_buttons.3.png') no-repeat 50% -73px}
td#button-underline {background:url('/i/form_buttons.3.png') no-repeat 50% -99px}
td#button-strike {background:url('/i/form_buttons.3.png') no-repeat 50% -125px}
td#button-left {background:url('/i/form_buttons.3.png') no-repeat 50% -151px}
td#button-center {background:url('/i/form_buttons.3.png') no-repeat 50% -177px}
td#button-right {background:url('/i/form_buttons.3.png') no-repeat 50% -203px}
td#button-link {background:url('/i/form_buttons.3.png') no-repeat 50% -229px}
td#button-spoiler {background:url('/i/form_buttons.3.png') no-repeat 50% -255px}
td#button-image {background:url('/i/form_buttons.3.png') no-repeat 50% -281px}
td#button-video {background:url('/i/form_buttons.3.png') no-repeat 50% -307px}
td#button-hide {background:url('/i/form_buttons.3.png') no-repeat 50% -333px}
td#button-quote {background:url('/i/form_buttons.3.png') no-repeat 50% -359px}
td#button-code {background:url('/i/form_buttons.3.png') no-repeat 50% -385px}
td#button-color {background:url('/i/form_buttons.3.png') no-repeat 50% -411px}
td#button-smile {background:url('/i/form_buttons.3.png') no-repeat 50% -437px}
td#button-keyboard {background:url('/i/form_buttons.3.png') no-repeat 50% -463px}
td#button-table {background:url('/i/form_buttons.3.png') no-repeat 50% -489px}
td#button-addition {background:url('/i/form_buttons.3.png') no-repeat 50% -515px}

.punbb .formal fieldset {min-width:0;}
@-moz-document url-prefix() {.punbb .formal fieldset {display:table-column}}
.punbb .formal span.input {padding-right:0 !important}
#formkey, #formetc {display:none}
#color-area, #table-area, #keyboard-area {width:auto}
#keyboard-area {text-align:center; padding-bottom:4px}
#imageup-area {width:170px}
#imageattach-area {width:770px; height:200px; padding:0px !important}
#smilies-area, #video-area {width:450px}
#image-area {width:550px}
#color-area * {border:0}
#color-area table {width:320px; height:20px; padding:0; margin:0}
#table-area table {width:auto !important; padding:0; margin:0; border-collapse:collapse}
#table-area div {margin-top:1em; text-align:center}
#table-layout {margin-right:0.5em}
#table-area td {background-color:#fff; width:20px; height:20px; border-width:1px !important; border-style:solid !important; border-color:#dadada !important}
#table-area td.selected {background-color:#c8c8ff}
#color-area td, #table-area td {margin:0; padding:0; line-height:0}
#color-area td img, #table-area td img {width:20px; height:20px; cursor:pointer !important}
#font-area, #size-area, #color-area, #table-area, #smilies-area, #image-area, #imageup-area, #imageattach-area, #keyboard-area, #video-area, #addition-area {position:absolute; right:6px; top:43px}
#font-area div, #size-area div, #color-area div, #table-area div, #addition-area div, #smilies-area div a, #smilies-area img {cursor:pointer !important}
#font-area span, #font-area img, #size-area span, #size-area img {display:block; position:relative; top:0; left:0}
#font-area span, #font-area img {height:15px}
#size-area span, #size-area img {height:24px}
#font-area span, #size-area span {padding:1px 0}
#addition-area div {height:24px; vertical-align:middle}
#font-area img {width:100%; margin-top:-15px}
#size-area img {width:100%; margin-top:-24px}
#keyboard-span {text-align:center; padding-bottom:10px; width:auto}
#keyboard-span input {font-family:Arial, Helvetica, sans-serif; font-weight:300; font-size:13px; color:#666; background-color:#fff; margin:1px 1px 0 0; border:1px solid #ddd; cursor:pointer; height:25px; min-width:30px}
#imageup-area input {font-size:0.8em}
#imageup-area p {padding:0; margin:0}
#imageup-title {margin-bottom:10px !important}
#imageup-submit {margin-top:10px !important}
#main-reply {width:100%}
#pun-messages #post-form div.container {padding-left:2.3em}
#similar-topics {margin-top:1em}
#similar-topics div.container {padding-top:1.1em}
#similar-topics td {border:0; padding:0}
#similar-topics td.st-tcl {width:60%}
#similar-topics td.st-tc2 {width:25%; padding-right:1em; text-align:right}
#similar-topics td.st-tcr {width:15%; padding-right:1em; text-align:right}

/* New profile style
-------------------------------------------------------------*/
#viewprofile td {border:0; padding:0; overflow:hidden}
#profile-name strong {font-size:1.2em}
#profile-left strong {font-weight:bold !important}
#profile-left {width:30%; padding-top:0 !important}
#profile-left li,
#profile-left li * {padding-left:0; margin-left:0}
#profile-right {width:70%}
#profile-right li strong {padding-left:2em}
#profile-signature {padding:1.5em 1.5em 1em 1.5em}
#profile-signature ul {border-style:dashed; border-width:1px 0 0 0; margin:0; padding:1em 1em 0 1em}

/** Video-Button
---------------------------------------------------------------*/
#video-host-list {margin-top:.3em; line-height:1.8em}
#video-area-tinp, #image-area-tinp {margin:.5em 0; padding:.3em; border:#66a solid 1px; height:70px}
#video-area-msg, #image-source-list, #image-area-actions {line-height:2em}

p[class="checkfield"] img, div[class="checkfield"] img, fieldset[class="radiofield"] img {height:auto; max-height:50px}
.pa-fld1 img, .pa-fld2 img, .pa-fld3 img, .pa-fld4 img, .pa-fld5 img, .pa-fld6 img, .pa-fld7 img, .pa-fld8 img, .pa-fld9 img, .pa-fld10 img, .pa-fld11 img, .pa-fld12 img, .pa-fld13 img, .pa-fld14 img, .pa-fld15 img, .pa-fld16 img, .pa-fld17 img, .pa-fld18 img, .pa-fld19 img, .pa-fld20 img {vertical-align:text-top}

/** Image-Button
---------------------------------------------------------------*/
#image-area-tcon-computer {margin:0 0 1em}
#image-area-tcon-computer td {border:none !important; padding:0 !important}
#imageupload-left {width:140px}
#imageupload-right {width:380px}
#image-area-actions {text-align:right}
* html #imageQueue {height:expression( this.scrollHeight > 65 ? "66px" :"auto" )} /* sets max-height for IE */
* html #uploaded-images {height:expression( this.scrollHeight > 143 ? "144px" :"auto" )}
#imageQueue {max-height:72px; overflow-y:auto; margin-bottom:10px}
#uploaded-images {max-height:144px; overflow-y:auto}
#uploaded-images img {width:88px; height:66px; border:1px solid; margin-right:4px; cursor:pointer}
#upload-button-container, #image-width, #image-thumb-width, #image-insert-format, #insert-all-images-container {margin-top:10px}
#image-source-list a, #image-area-actions a {margin-right:15px; cursor:pointer}
#insert-image-tip {margin-top:10px}
#upload-button-container img {cursor:pointer; width:120px; height:30px}
#image_upload_input {position:absolute; z-index:-1; left:-9999px}
#selected-image-width, #selected-thumb-width {width:6em}
#imageupload-left input[type=button] {width:11em; text-align:center}
#upload-button-container input[type=button] {font-weight:bold}
#image-width, #image-thumb-width, #image-insert-format strong {font-size:.9em}
.uploadQueueItem {padding:.8em 1em; border:solid 1px #ddd; border-radius:5px; margin-bottom:.5em; background:rgba(238,238,238,0.22)}
.uploadQueueItem.error {border-color:rgba(255,0,0,0.25); background-color:rgba(255,0,0,0.08)}
.uploadQueueItem .cancel {font-size:20px; font-weight:700; font-family:Arial; float:right; margin:-.25em 0 0}
.uploadQueueItem .cancel a {text-decoration:none; color:#333!important}
.uploadProgress {display:block; width:98%; height:3px; margin:2px 0 0; background:#ddd; position:relative}
.uploadProgressBar {position:relative; background:#00adff; height:3px; width:.1%; transition:width .1s linear}

/** jQuery plugins
---------------------------------------------------------------*/
.tipsy {padding:5px; font-size:11px; font-family:tahoma,helvetica,verdana,arial; position:absolute; z-index:100000;}
.tipsy-inner {padding:5px 8px 4px; background-color:black; color:white; max-width:200px; text-align:center; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px}
.tipsy-arrow {position:absolute; width:0; height:0; border:solid 5px; border-color:transparent transparent black transparent}
.tipsy-n .tipsy-arrow {top:0; left:50%; margin-left:-5px; border-top:0}
.tipsy-nw .tipsy-arrow {top:0; left:11px !important; border-top:0}
.tipsy-ne .tipsy-arrow {top:0; left:auto !important; right:11px; border-top:0}
.tipsy-s .tipsy-arrow {bottom:0; left:50%; margin-left:-5px; border-color:black transparent transparent transparent; border-bottom:0}
.tipsy-sw .tipsy-arrow {bottom:0; left:11px !important; border-color:black transparent transparent transparent; border-bottom:0}
.tipsy-se .tipsy-arrow {bottom:0; left:auto !important; right:11px; border-color:black transparent transparent transparent; border-bottom:0}
.tipsy-e .tipsy-arrow {top:50%; margin-top:-5px; left:auto !important;right:0; border-color:transparent transparent transparent black; border-right:0}
.tipsy-w .tipsy-arrow {top:50%; margin-top:-5px; left:0 !important; border-color:transparent black transparent transparent; border-left:0}
.jGrowl {z-index:9999; color:#fff; font-size:12px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; position:fixed}
.jGrowl.top-left {left:0; top:0}
.jGrowl.top-right {right:0; top:0}
.jGrowl.bottom-left {left:0; bottom:0}
.jGrowl.bottom-right {right:0; bottom:0}
.jGrowl.center {top:0; width:50%; left:25%}
.jGrowl.center .jGrowl-closer,.jGrowl.center .jGrowl-notification {margin-left:auto; margin-right:auto}
.jGrowl-notification {background-color:#000; opacity:.9; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100)); -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100)); zoom:1; width:250px; padding:10px; margin:10px; text-align:left; display:none; border-radius:5px; min-height:40px}
.jGrowl-notification .ui-state-highlight,.jGrowl-notification .ui-widget-content .ui-state-highlight,.jGrowl-notification .ui-widget-header .ui-state-highlight {border:1px solid #000; background:#000; color:#fff}
.jGrowl-notification .jGrowl-header {font-weight:700; font-size:.85em}
.jGrowl-notification .jGrowl-close {background-color:transparent; color:inherit; border:none; z-index:99; float:right; font-weight:700; font-size:1em; cursor:pointer}
.jGrowl-closer {background-color:#000; opacity:.9; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100)); -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=(0.9*100)); zoom:1; width:250px; padding:10px; margin:10px; display:none; border-radius:5px; padding-top:4px; padding-bottom:4px; cursor:pointer; font-size:.9em; font-weight:700; text-align:center}
.jGrowl-closer .ui-state-highlight,.jGrowl-closer .ui-widget-content .ui-state-highlight,.jGrowl-closer .ui-widget-header .ui-state-highlight {border:1px solid #000; background:#000; color:#fff}
@media print {.jGrowl {display:none}}
.pun-modal {position:fixed; width:100%; height:100%; top:0; left:0; bottom:0; z-index:100000}
.pun-modal .modal-bg {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.5); cursor:pointer; z-index:110000}
.pun-modal .modal-inner {width:700px; max-width:94%; height:auto; max-height:44em; margin:12% auto 0; box-shadow:0 0 14px rgba(0,0,0,.3); position:relative; z-index:120000; overflow:hidden}
.pun-modal h2,.pun-modal h1 {max-width:700px; margin:0!important}
.pun-modal .container {padding:.6em 1em; max-height:40em; overflow:auto}
.pun-modal .closer {position:absolute; font-size:1.5em!important; line-height:.8em; right:.4em; padding:.3em!important; margin:-.3em!important; cursor:pointer; background:none 0 transparent!important}
.noscroll {overflow:hidden!important}

/** Social icons
---------------------------------------------------------------*/
.social {background-image:url('/i/social.1.png'); background-repeat:no-repeat; float:left; display:block; margin:3px 5px; width:16px; height:16px}
.social-facebook {background-position:0 0}
.social-google {background-position:-26px 0}
.social-mailru {background-position:-52px 0}
.social-odnoklassniki {background-position:-78px 0}
.social-twitter {background-position:-104px 0}
.social-vkontakte {background-position:-130px 0}
.social-yandex {background-position:-156px 0}
.social-youtube {background-position:-182px 0}
.social-delicious {background-position:-208px 0}
.social-digg {background-position:-234px 0}
.social-email {background-position:-260px 0}
.social-feed {background-position:-286px 0}
.social-instagram {background-position:-312px 0}
.social-linkedin {background-position:-338px 0}
.social-microsoft {background-position:-364px 0}
.social-myspace {background-position:-390px 0}
.social-pinterest {background-position:-416px 0}
.social-reddit {background-position:-442px 0}
.social-share {background-position:-468px 0}
.social-skype {background-position:-494px 0}
.social-stumbleupon {background-position:-520px 0}
.social-tumblr {background-position:-546px 0}
.social-yahoo {background-position:-572px 0}

.topic a.sharelink {float:right; margin-left:1em}
.post-share-tip {width:164px; height:124px}
.post-share-legend {background:rgba(255,255,255,0.2); text-align:center}
.post-share-tip span {font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color:#fff; font-size:13px; line-height:27px}
.post-share-icons {padding:10px}
.post-share-tip a {margin: 5px 10px}