BODY { BACKGROUND: #f1f0e7; FONT: 11px Verdana, Arial }
P {FONT: 10pt Verdana, Arial;COLOR: #000000;text-align: justify;}
UL { FONT: 10pt Verdana, Arial; COLOR: #000000 }
OL { FONT: 10pt Verdana, Arial; COLOR: #000000 }
BLOCKQUOTE { FONT: 10pt Arial, Verdana; COLOR: #000000 }
PRE { BACKGROUND: #ffffff; FONT: 10pt Courier, Tahoma, Arial; overflow: auto; }
TD { font: 8pt Verdana,Arial; color: #000000;    }
A { COLOR: #000000; text-decoration: underline; }
A.nav { color: #000000; text-decoration: none; }
A:hover { BACKGROUND: silver; TEXT-DECORATION: underline overline }
.updt { BACKGROUND-COLOR: #ffffff }
H2 { font-size: 16px; }
h1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18pt }
h5 { font-size: 9pt; }
.ctr {text-align: center;text-indent: 0pt;}
.n {font-family: "Times New Roman", Times, serif;background-color: #E3E0DB;font-size: 14px;text-align: justify;padding: 5pt;cursor: text;}
table.n {background-color: #ffffff;border: 1px solid #000000;}
.w {background-color: #FFFFFF;font-family: Verdana, Arial;font-size: 10pt;}
.warning {
	background-color: #ffffcc;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: center;
	vertical-align: middle;
}
.pl { font-family: "Palatino Linotype", Arial, Verdana; font-size: 13px; text-decoration: none; }
table.series th {
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	border: 1px black solid;
	background-color: #D2B48C;
}

.comment-header {
	border-top: 	1px black solid; 
	border-right: 	1px black solid;
	border-left: 	1px black solid;
	border-bottom: 	1px black solid;
	padding-top: 	3px;	
	padding-bottom: 3px;
	padding-left: 	5px;	
	padding-right:	5px;
	margin-top:		15px;
	background-color: #D2B48C;
}

.comment-body {
	border-right: 	1px black solid;
	border-left: 	1px black solid;	
	border-bottom: 	1px black solid;
	padding-top: 	5px;	
	padding-bottom: 5px;
	padding-left: 	5px;	
	padding-right:	5px;	
	font: 			10pt Verdana, Arial;
}

.comment-author {
	font-weight: bold;
}

.comment-textarea {
	width: 			600px; 	
	height: 		200px;
	border-width: 	1px;
	border-color: 	black;
	border-style:	solid;
	font:			10pt Verdana, Arial;
}

.comment-input {
	width: 300px;
}

.comment-buttons {
	width: 		600px;
	text-align: center;
	margin-top: 10px;
}

.list-comments {
	font: 11px Verdana, Arial;
	list-style-type: disc;
	padding-left: 16px;
}

.adv_title
{
	padding: 2px;
	font-size: 		10pt;
	font-weight:	bold;
	text-align: 	center;
	background-color: #fcf5e9;
	border-left: 	1px black solid;
	border-right: 	1px black solid;
	border-top: 	1px black solid;
	font-variant: 	small-caps;
	width: 90%;
}

.adv
{
	padding: 2px;
	border:	1px black solid;
	width: 90%;
}
