
#schetchik a img {opacity:0.1; 
                 -moz-opacity:0.1; 
                  filter:alpha(opacity=1);}

#schetchik a:hover img {opacity:1.0; 
                       -moz-opacity:1.0; 
                        filter:alpha(opacity=100);}
