body {color: black; background: white; margin: 0;}

a {color: #006890;}
a:active {color: #800000;}
a:visited {color: #003860;}

.document {text-align: justify}
dt {text-align: left}
pre {text-align: left; border: 1px solid; padding: 3px; width: 520px; overflow: auto; font-size: 9pt;}
a.head {font-family: Times; font-size: 9pt;}
A.plain {text-decoration: none; color: navy;}
.topic {color: #005050; font-family: Arial Cyr, Arial, sans-serif; font-size: 9pt; font-weight: bold;}
p.topic1 {font-family: Arial Cyr, Arial, sans-serif; font-size: 12pt; font-weight: bold;}
p.header {color: #000000; font-weight: bold;}
H1 {font-family: Arial Cyr, Arial, sans-serif; }
H2 {font-family: Arial Cyr, Arial, sans-serif; }
H3 {text-align: left; font-family: Arial Cyr, Arial, sans-serif; font-size: 16pt}
H4 {text-align: left; font-family: Arial Cyr, Arial, sans-serif; font-size: 14pt}
H5 {text-align: left; font-family: Arial Cyr, Arial, sans-serif; font-size: 12pt}
H6 {text-align: left; font-family: Arial Cyr, Arial, sans-serif; font-size: 11pt}

ul.column {list-style:inside; padding:0; margin: 0;}

.comment {margin-top: 24px}

.comments_menu {font-size: 14px; padding-bottom: 8px}
.comments_menu a {text-decoration: none}
.comments_menu_date {text-align: right}

.litlist {
    font-size: 80%;
}
.picture-caption {
    font-size: 90%;
    font-style: italic;
    text-align: center;
}
