.BannerResumeFriends_pic{background:url('https://img.superjob.ru/img/_redesign/ResumeBlankHR_resumefriends_banner_pic.svg?4') 0 0 no-repeat;height:88px;position:absolute;right:0;top:84px;width:126px}.no-svg
.BannerResumeFriends_pic{background-image:url('https://img.superjob.ru/img/_redesign/ResumeBlankHR_resumefriends_banner_pic.png?4')}