.Banner240x400{border-radius:2px;margin:0
auto;position:relative;width:240px}.Banner240x400
span{background-color:#f2f2f2;bottom: -6px;color:#778691;font-size:10px;left:50%;margin-left: -25px;padding:0
4px;position:absolute}.Banner240x400_wr{-moz-box-sizing:content-box;box-sizing:content-box;position:relative;width:240px;z-index:10}.Banner240x400_label{margin-bottom:6px;text-align:center}