﻿body{font-family:Tahoma,Arial,sans-serif;background-color:none}.noprint{display:none}.for_print{display:block}.BlankResumePrint_wr{font-size:8pt;line-height:13pt;margin:0
auto;padding:0;width:90%}.m_msie .m_colomn_left,
.m_firefox
.m_colomn_left{padding-left:0}.BlankResumePrint_top_line
td{font-size:8pt}.BlankResumePrint_top_line
td.m_colomn1{padding-left:0}.m_colomn3.fa-unlock_print{color:green}.m_colomn3.fa-unlock-alt_print{color:red}#BlankResumePrint_button{display:none}.m_headline{font-size:11pt}.m_under_headline{font-size:9pt}.BlankResumePrint_content{margin-bottom:0}.BlankResumePrint_block{padding-left:0;padding-right:130px}.BlankResumePrint_date{font-size:8pt}.BlankResumePrint_text{font-size:9pt}.BlankResumePrint_profession{font-size:14pt;line-height:16pt;background-color:#e9f0f3 !important}.BlankResumePrint_citizenship{font-size:10pt}.BlankResumePrint_location{font-size:10pt}.BlankResumePrint_dopinformation{font-size:10pt}.BlankResumePrint_fio{font-size:19pt}.BlankResumePrint_phones_email{font-size:10pt}.BlankResumePrint_phones_email
.fa{color:#5D737F}.BlankResumePrint_sidebar_content{font-size:9pt}.BlankResumePrint_sidebar_item_id,
.BlankResumePrint_sidebar_item_date{font-size:7pt}.BlankResumePrint_sidebar_headline{font-size:9pt}.BlankResumePrint_sidebar_item_text{font-size:8pt}.BlankResumePrint_sidebar_item_name{font-size:10pt}.BlankResumePrint_info_header{padding:0}.BlankResumePrint_covering_letter{margin:0;padding-bottom:20px}.BlankResumePrint_resume_title{margin:20px
0 20px}.BlankResumePrint_wr
.BlankResumePrint_custom_block.BlankResumePrint_comments{margin:20px
0 0}.BlankResumePrint_wr
.BlankResumePrint_custom_block{margin-left:0}