.BlankResumePrint_wr{font:13px/17px 'Roboto',Tahoma, Arial, sans-serif}.BlankResumePrint_print_btn,
.BlankResumePrint_print_btn:visited{display:inline-block;outline:0;text-decoration:none;border-radius:3px;text-align:left;background-image: -webkit-gradient(
linear,
left top,
left bottom,
color-stop(0, #FFFFFF),
color-stop(1, #F7F8F8)
);background-image: -o-linear-gradient(bottom, #FFF 0%, #F7F8F8 100%);background-image: -moz-linear-gradient(bottom, #FFF 0%, #F7F8F8 100%);background-image: -webkit-linear-gradient(bottom, #FFF 0%, #F7F8F8 100%);background-image: -ms-linear-gradient(bottom, #FFF 0%, #F7F8F8 100%);background-image:linear-gradient(to bottom, #FFF 0%, #F7F8F8 100%);border:1px
solid #bababb;color:#000;font-size:13px;line-height:18px;padding:6px
10px;margin:20px
0 0 20px}.BlankResumePrint_print_btn_ico{font-size:18px;line-height:18px;margin-right:5px}.for_print{display:none}.BlankResumePrint_wr{width:690px}.BlankResumePrint_top_line,
.BlankResumePrint_contact_information{width:100%}.BlankResumePrint_top_line{margin-bottom:24px}.BlankResumePrint_top_line_tr{border-top:#c2c2c2 solid 1px;border-bottom:#c2c2c2 solid 1px}.BlankResumePrint_top_line
td{padding:20px
0 20px 20px;vertical-align:middle;font-weight:300}.BlankResumePrint_top_line td:first-child{padding-left:0}.BlankResumePrint_top_line
td.m_colomn1{padding-left:20px}.m_colomn3.fa-unlock_print{color:green}.m_colomn3.fa-unlock-alt_print{color:red}.m_colspan_headline{padding-left:150px;padding-bottom:0}.m_colomn_right{width:110px;padding:20px
0 0 20px;text-align:right;vertical-align:top;font-size:10px}.m_colomn_left.m_padtop_none,
.m_colomn_right.m_padtop_none,
.m_padtop_none{padding-top:0}.m_colomn_left{padding:20px
0 20px 20px;font-size:11px}.BlankResumePrint_contact_information{margin-bottom:5px;background-color:#e9f0f3 !important;-webkit-print-color-adjust:exact;print-color-adjust:exact;width:100%}.BlankResumePrint_contact_information
.m_colomn_right{padding:20px}.BlankResumePrint_citizenship{margin-bottom:10px;font-size:12px;color:#354751}.BlankResumePrint_profession{font-size:18px;line-height:23px}.BlankResumePrint_profession
.BlankResumePrint_salary{background:#feefd8;color:#ae8d69;padding:2px
8px;font-size:14px;word-wrap:normal;display:inline-block;font-weight:bold}.BlankResumePrint_fio{font-size:28px;margin-bottom:7px;font-weight:300;line-height:28px}.BlankResumePrint_location{margin-bottom:10px}.BlankResumePrint_phones_email{font-size:13px;margin-bottom:10px}.BlankResumePrint_phones_email
.m_left{padding-right:40px}.BlankResumePrint_dopinformation{margin-bottom:5px}.BlankResumePrint_content{width:100%;margin-top:20px;margin-bottom:20px}.BlankResumePrint_sidebar{width:200px;padding-left:30px;padding-top:20px;margin-left:20px;margin-bottom:20px;float:right}.BlankResumePrint_sidebar_content{padding:15px;position:relative;font-size:9px;border:1px
dashed #ccc;background-color:#fff7e9 !important;-webkit-print-color-adjust:exact}.noprint
.BlankResumePrint_sidebar_content{opacity:0}.BlankResumePrint_sidebar
.BlankResumePrint_close_sidebar{background:url('https://img.superjob.ru/img/_redesign/png/ico_BlankResumeNoPrint_sidebar.png') no-repeat center center;-webkit-print-color-adjust:exact;display:block;width:200px;height:29px;margin-bottom:10px}.BlankResumePrint_sidebar.noprint
.BlankResumePrint_close_sidebar{background:url('https://img.superjob.ru/img/_redesign/png/ico_BlankResumePrint_sidebar.png')}.BlankResumePrint_sidebar_item + .BlankResumePrint_sidebar_item{margin-top:20px}.BlankResumePrint_sidebar_item_id,
.BlankResumePrint_sidebar_item_date{font-size:8px}.BlankResumePrint_sidebar_item_date{padding-left:10px}.BlankResumePrint_sidebar_headline{margin-bottom:10px;font-size:11px}.BlankResumePrint_sidebar_item_text{padding-left:10px;font-size:10px}.BlankResumePrint_sidebar_item_name{font-size:12px;font-weight:500}.BlankResumePrint_hr_events{border-top:none}.BlankResumePrint_hr_events.noprint{opacity:0.2}.BlankResumePrint_hr_events_list{margin-top:18px}.BlankResumePrint_block{padding-left:20px}.BlankResumePrint_block + .BlankResumePrint_block{margin-top:30px}.BlankResumePrint_block_item + .BlankResumePrint_block_item{margin-top:20px}.m_headline{font-size:14px;font-weight:bold;margin-bottom:5px}.m_under_headline{font-size:12px;margin-bottom:5px;color:#3c515e}.BlankResumePrint_date{font-size:12px;color:gray;margin-bottom:5px}.BlankResumePrint_text{font-size:12px}.m_drvstr.BlankResumePrint_text{font-size:14px;color:gray}.simplemodal-wrap{overflow:inherit!important}.BlankResumePrint_options{width:670px;padding:12px
0 24px;margin:0
0 0 20px}.BlankResumePrint_check{margin:24px
0 24px}.BlankResumePrint_check_item{display:block;margin:0
0 12px}.BlankResumePrint_check_item_label{display:inline-block;cursor:pointer}.BlankResumePrint_check_item_label
.BlankResumePrint_check_item_contol{vertical-align:bottom;width:14px;height:14px}.BlankResumePrint_info_header{padding:0
0 0 20px}.BlankResumePrint_covering_letter{}.BlankResumePrint_covering_letter_date{margin:6px
0 9px}.BlankResumePrint_resume_title{margin:20px
0 20px 20px}.BlankResumePrint_comments{margin-top:24px}.BlankResumePrint_comments_items{margin:20px
0 0 24px}.BlankResumePrint_comments_item{border-left:#979797 solid 1px;padding:0
0 0 12px}.BlankResumePrint_comments_item:first-child{margin:0}.hide-block{display:none}.BlankResumePrint_wr
.BlankResumePrint_custom_block{border-top:1px solid #c2c2c2;padding:20px
0 20px;margin:0
0 0 20px}.UploadPhotoForm{width:540px}.UploadPhotoForm_wr{padding:17px
20px 6px}.UploadPhotoForm_title{font:bold 28px/28px Arial;margin:0
0 25px}.UploadPhotoForm_howto,
.UploadPhotoForm_howto:visited{border-bottom:1px solid #bcbcbc;color:#bcbcbc;font:normal 11px/12px Verdana;text-decoration:none}.UploadPhotoForm_howto:hover{text-decoration:none;color:#E54B2F;border-color:#E54B2F}.UploadPhotoForm_ctrls{background:#f4f1da;position:relative;padding:19px
20px 24px}.UploadPhotoForm_remove{position:absolute;right:20px;top:28px}