.cbDefault{position:relative;display:block;height:22px}.cbDefault div.dropdownBt, .cbDefault div.filterBt, .cbDefault
div.progressBar{position:absolute;z-index:100;right:2px;top:2px;*top:3px;margin:0;padding:0;background-position:0 0;background-repeat:no-repeat;text-decoration:none;display:none}.cbDefault
div.dropdownBt{background-image:url('https://img.superjob.ru/img/input_arrow_down.gif');background-color:transparent;display:block;cursor:pointer;height:19px;width:23px}div.dropdown{position:absolute;display:none;overflow-x:hidden;overflow-y:auto;z-index:2000;border:#d5d5d5 1px solid;background-color:#fff;width:280px;-webkit-box-shadow:#b3b3b3 0px 2px 4px 0px;-moz-box-shadow:#b3b3b3 0px 2px 4px 0px;box-shadow:#b3b3b3 0px 2px 4px 0px}div.optionsHolder{position:relative;background-color:#fff}div.comboBoxOption,
div.comboBoxOptionGroup{position:absolute}.cbDefault
input{font-size:13px;height:18px;width:190px;line-height:18px;padding:0px
3px 0px 3px;vertical-align:middle;line-height:16px\9}@-moz-document url-prefix(){.cbDefault
input{height:20px}}.cbDefault
div.filterBt{background:transparent;width:0px}.cbDefault
div.progressBar{background-image:url('https://img.superjob.ru/img/progressbar.gif');background-color:#fff;right:20px;height:16px;width:16px;top:4px}div.comboBoxOption
span{white-space:nowrap}div.optionsHolder .selected, .cbDefault
.selected{background-color:#f4f1da;cursor:pointer}div.optionsHolder
.cbEmptyOption{color:#ccc}.cbOptionTitle{display:block;padding:5px
5px 4px 5px;color:#000}