.Footer{min-width:950px}.Footer_seo_text{border-bottom:1px solid #d9d9d9;padding:18px}.Footer_seo_text a,
.Footer_seo_text a:visited{border-bottom-color:#414141;color:#414141}.Footer_wrapper{padding:18px;display:flex;justify-content:flex-end;line-height:23px}.Footer_left{width:60%}.Footer_left a,
.Footer_left a:visited{border-bottom-color:#414141;color:#414141}.Footer_header_link,
.Footer
h2{display:inline-block;font-size:12px;font-weight:normal;margin-right:9px}.Footer_link,
.Footer_left
a{margin-right:9px;white-space:nowrap}.Footer_right{text-align:right;width:40%}.Footer_right a,
.Footer_right
span{margin-left:9px;white-space:nowrap}.Footer_right a,
.Footer_right
h2{border-bottom-color:#414141;color:#414141}