.GitHub{margin:0;width:80%}@media (max-width: 1260px){.GitHub{width:78%;}.github_color_lg{padding-right:120px}}.GitHub
.h1{background:url('https://img.superjob.ru/img/ico/git_logo.png') left center no-repeat;height:32px;margin-bottom:10px;position:relative}.GitHub_profile_link{background:url('https://img.superjob.ru/img/ico/github.png') left center no-repeat;bottom:0;font-size:12px;padding:5px
0 5px 28px;position:absolute;right:0}.GitHub_color_lgblock{white-space:nowrap;width:100%}.GitHub_color_lgblock
span{display:inline-block;line-height:3px;margin:0;text-indent: -9999px}.GitHub_color_lg{list-style:none;overflow:hidden}.GitHub_color_lg
li{float:left;height:21px;line-height:150%;margin:0
20px 0 0;padding:0
0 0 13px;position:relative;white-space:nowrap}.GitHub_color_lg li:first-child{margin-left:0}.GitHub_lg_name{color:#000}.GitHub_lg_percent{color:#A9A9A9}.GitHub_repos{position:relative}.GitHub_repos
ul{padding-left:0}.GitHub_count_repos{bottom:16px;color:#A9A9A9;position:absolute;right:0}.GitHub_bull{border-radius:6px;bottom: .5em;display:block;height:6px;left:0;position:absolute;width:6px}