article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary{display:block}audio,
canvas,
video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,
button,
input,
select,
textarea{font-family:sans-serif}body{margin:0}a:link,
a:active,
a:hover{outline:0}h1{font-size:2em;margin:0.67em 0}h2{font-size:1.5em;margin:0.83em 0}h3{font-size:1.17em;margin:1em
0}h4{font-size:1em;margin:1.33em 0}h5{font-size:0.83em;margin:1.67em 0}h6{font-size:0.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,
strong{font-weight:bold}blockquote{margin:1em
40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,
pre{margin:1em
0}code,
kbd,
pre,
samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,
q:after{content:'';content:none}small{font-size:80%}sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top: -0.5em}sub{bottom: -0.25em}dl,
menu,
ol,
ul{margin:1em
0}dd{margin:0
0 0 40px}menu,
ol,
ul{padding:0
0 0 40px}nav ul,
nav
ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px
solid #c0c0c0;margin:0
2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0;white-space:normal;*margin-left: -7px}button,
input,
select,
textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,
input{line-height:normal}button,
html input[type="button"],input[type="reset"],
input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],
input[disabled]{cursor:default}input[type="checkbox"],
input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}select:-moz-focusring{color:transparent;text-shadow:0 0 0 #000}.buy-buttons-wrapper{position:relative}@font-face{font-family:'rouble';src:url('https://img.superjob.ru/img/fonts/rouble-webfont.eot');src:url('https://img.superjob.ru/img/fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
url('https://img.superjob.ru/img/fonts/rouble-webfont.woff') format('woff'),
url('https://img.superjob.ru/img/fonts/rouble-webfont.ttf') format('truetype'),
url('https://img.superjob.ru/img/fonts/rouble-webfont.svg#als_rublregular') format('svg');font-weight:normal;font-style:normal}html{height:100%}body{background:#f2f2f2;font:normal 13px 'Roboto', 'Arial', sans-serif;height:100%}body.m_white{background:#fff}.lt-ie9
body{font:normal 13px 'Arial', sans-serif}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em
0;padding:0}audio,
canvas,
img,
video{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{font:normal 12px 'Roboto', 'Arial', sans-serif;resize:vertical}input{color:#222;font:normal 12px 'Roboto', 'Arial', sans-serif}.lt-ie9
input{font-family:'Arial',sans-serif}*, *:before, *:after{-moz-box-sizing:border-box;box-sizing:border-box}a{border-bottom-color:#007EFC;color:#007EFC}a:hover{border-bottom-color:#e54b2f;color:#e54b2f}td{vertical-align:top}:-ms-input-placeholder,
textarea:-ms-input-placeholder{color:#b8b8b8}input::-ms-clear, input::-ms-reveal{display:none}@media
print{.for_print{display:block !important}.noprint{display:none}}@media
print{.ue-tab-container{display:none}}