.HeaderUserMenu{display:inline-block}.HeaderUserMenu_item{display:inline-block;position:relative}.HeaderUserMenu_item + .HeaderUserMenu_item{margin-left:6px}.m_has_feedback.HeaderUserMenu_item + .HeaderUserMenu_item{margin-left:0}.HeaderUserMenu_link{display:inline-block;line-height:12px}.m_active.HeaderUserMenu_link{font-weight:bold}.m_cursor_default.HeaderUserMenu_link{cursor:default}.HeaderUserMenu_counter,
.HeaderUserMenu_counter:hover,
.HeaderUserMenu_counter:visited{background:#fd6500;border-radius:10px;color:#fff;display:inline-block;font-weight:bold;left: -7px;line-height:10px;min-width:19px;padding:4px
3px;position:relative;text-decoration:none;text-shadow:0 1px 1px #cb5100;top: -8px}