.HeaderContactPhoneBlock{display:inline-block;position:relative}.HeaderContactPhoneBlock_homepage_phone{display:inline-block;margin:0
10px 0 0}.HeaderContactPhoneBlock_ico{display:none;top: -1px}.HeaderMessagesCounter{background:#fd6500;border-radius:10px;color:#fff;display:inline-block;font-weight:bold;line-height:11px;padding:4px
6px;position:relative;text-decoration:none;text-shadow:0 1px 1px #cb5100}.HeaderMessagesCounterNumber{color:#fd6500;font-size:14px}.HeaderContactPhoneBlock_text{display:inline-block;line-height:normal}.m_morda .HeaderContactPhoneBlock_text,
.m_guest
.HeaderContactPhoneBlock_text{display:inline-block !important}.m_morda .HeaderContactPhoneBlock_ico,
.m_guest
.HeaderContactPhoneBlock_ico{display:none !important}.HeaderContactPhoneBlock_tooltip{display:none;right: -1px;top:22px;white-space:nowrap}.m_guest.m_search_page.InnerPageHeader
.HeaderContactPhoneBlock_tooltip{top:24px}.HeaderContactPhoneBlock_link + .HeaderContactPhoneBlock_link{padding-top:18px}@media screen and (max-width: 1130px){.HeaderContactPhoneBlock_text{display:none}.HeaderContactPhoneBlock_ico{display:inline-block}.m_emp.InnerPageHeader
.HeaderContactPhoneBlock_tooltip{right: -20px}.m_guest.InnerPageHeader
.HeaderContactPhoneBlock_tooltip{right: -1px}}@media screen and (max-width: 1281px){.m_expand_all.InnerPageHeader
.HeaderContactPhoneBlock_text{display:none}.m_expand_all.InnerPageHeader
.HeaderContactPhoneBlock_ico{display:inline-block}}@media screen and (max-width: 1281px){.m_search_page.InnerPageHeader
.HeaderContactPhoneBlock_text{display:none}.m_search_page.InnerPageHeader
.HeaderContactPhoneBlock_ico{display:inline-block}.m_search_page.InnerPageHeader
.HeaderContactPhoneBlock_tooltip{right: -20px}.m_guest.InnerPageHeader
.HeaderContactPhoneBlock_tooltip{right: -1px}}.lt-ie9
.HeaderContactPhoneBlock_text{display:none}.lt-ie9
.HeaderContactPhoneBlock_ico{display:inline-block}.lt-ie9 .m_emp.m_search_page.InnerPageHeader .HeaderContactPhoneBlock_tooltip,
.lt-ie9 .m_emp.InnerPageHeader
.HeaderContactPhoneBlock_tooltip{right: -20px}