.h_color_black,
a.h_color_black,
a.h_color_black:visited{border-bottom-color:#000;color:#000}.h_color_blue,
a.h_color_blue,
a.h_color_blue:visited,
.h_color_blue a,
.h_color_blue a:visited{border-bottom-color:#007efc;color:#007efc}.h_color_gray,
a.h_color_gray,
a.h_color_gray:visited{border-bottom-color:#969696;color:#969696}.h_color_gray_dark,
a.h_color_gray_dark,
a.h_color_gray_dark:visited{border-bottom-color:#414141;color:#414141}.h_color_gray_light,
a.h_color_gray_light,
a.h_color_gray_light:visited{border-bottom-color:#c8c8c8;color:#c8c8c8}.h_color_green,
a.h_color_green,
a.h_color_green:visited{border-bottom-color:#4dca43;color:#4dca43}.h_color_orange,
a.h_color_orange,
a.h_color_orange:visited{border-bottom-color:#f0826b;color:#f0826b}.h_color_red,
a.h_color_red,
a.h_color_red:visited{border-bottom-color:#fa6464;color:#fa6464}.h_color_white,
a.h_color_white,
a.h_color_white:visited{border-bottom-color:#fff;color:#fff}a.h_color_black:hover,
a.h_color_blue:hover,
.h_color_blue a:hover,
a.h_color_gray:hover,
a.h_color_gray_dark:hover,
a.h_color_gray_light:hover,
a.h_color_orange:hover,
a.h_color_red:hover,
a.h_color_white:hover{border-bottom-color:#e54b2f;color:#e54b2f}a.h_visited_link:visited,
.h_visited_links a:visited{color:#56118e}.h_border_dashed,a.h_border_dashed{border-bottom:1px dashed !important;text-decoration:none}.h_border_dotted,
a.h_border_dotted{border-bottom:1px dotted !important;text-decoration:none}.h_border_solid,
a.h_border_solid{border-bottom:1px solid !important;text-decoration:none}.h_border_none,
a.h_border_none{border:0;text-decoration:none}.h_font_weight_bold{font-weight:700}.h_font_weight_light{font-weight:300}.h_font_weight_medium{font-weight:500}.lt-ie9
.h_font_weight_medium{font-weight:700}.h_font_weight_normal{font-weight:400}.h_font_style_italic{font-style:italic}.h_first_letter_uppercase:first-letter{text-transform:uppercase}.h_text_align_left{text-align:left}.h_text_align_right{text-align:right}.h_text_align_center{text-align:center}.h_white_space_pre{white-space:pre}.h_white_space_nowrap{white-space:nowrap}.h_white_space_normal{white-space:normal}.h_word_wrap_break_word{word-wrap:break-word}.h_word_break_all{word-break:break-all}.h_vertical_align_baseline{vertical-align:baseline}.h_vertical_align_bottom{vertical-align:bottom}.h_vertical_align_middle{vertical-align:middle}.h_vertical_align_top{vertical-align:top}.h_display_none{display:none}.h_display_block{display:block}.h_display_inline_block{display:inline-block}.h_display_inline{display:inline}.h_overflow_hidden{overflow:hidden}.h_position_relative{position:relative}.h_float_left{float:left}.h_float_right{float:right}.h_clearfix:before,
.h_clearfix:after{content:' ';display:table}.h_clearfix:after{clear:both}.h_cursor_pointer{cursor:pointer}.h_loader{position:relative;z-index:401}.h_user_select_none{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.h_overflow_hidden{overflow:hidden}.h_text_overflow_ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.h_width_10{width:10%}.h_width_20{width:20%}.h_width_30{width:30%}.h_width_40{width:40%}.h_width_50{width:50%}.h_width_60{width:60%}.h_width_70{width:70%}.h_width_80{width:80%}.h_width_90{width:90%}.h_text_overflow_ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}