.InnerPageHeader *, *:before, *:after{-moz-box-sizing:border-box;box-sizing:border-box}.InnerPageHeader{text-align:center;height:57px}.pagecontainer
.InnerPageHeader{border-bottom:1px solid #D9D9D9;line-height:18px}.InnerPageHeader_left{float:left;font-size:0}.InnerPageHeader_manager{font-size:13px;margin:3px
0 0 10px;color:#fa6464}.InnerPageHeader_right{float:right;margin-top:12px}.InnerPageHeader_logo_wr{display:inline-block;margin: -8px 12px 0 0;vertical-align:top;width:106px}.InnerPageHeader_logo{background:url('https://img.superjob.ru/img/_redesign/svg/logo.svg?26012018') center no-repeat;background-size:contain;height:53px;width:106px}.InnerPageHeader_menu{display:inline-block;font-size:13px;margin:12px
0 0 12px;vertical-align:top}.InnerPageHeader_searchline{display:inline-block;text-align:left;vertical-align:top}.InnerPageHeader_contacts{display:inline-block;margin-right:10px;vertical-align:top}.InnerPageHeader_tariff{display:inline-block;text-align:left;vertical-align:top;margin-right:5px}.InnerPageHeader_login{position:relative;display:inline-block;vertical-align:top}.InnerPageHeader_messages{display:inline-block;height:32px;margin-right: -5px;position:relative;vertical-align:top}.InnerPageHeader_messages_counter{background:#fd6500;border-radius:10px;color:#fff;display:inline-block;font-weight:bold;left: -10px;line-height:10px;min-width:19px;padding:4px
3px;position:relative;text-decoration:none;text-shadow:0 1px 1px #cb5100;top: -8px}.InnerPageHeader_adv_envelope,
.InnerPageHeader_adv_message{display:none}.m_guest.m_search_page .InnerPageHeader_adv_envelope,
.m_guest
.InnerPageHeader_adv_envelope{cursor:pointer;display:inline-block;font-size:18px;left: -14px;text-decoration:none;top: -3px}.InnerPageHeader_adv_number{background-color:#ef5306;border-radius:18px;font-size:14px;height:18px;left:8px;line-height:18px;position:absolute;top: -7px;width:18px}.m_guest.m_search_page .InnerPageHeader_adv_message,
.m_guest
.InnerPageHeader_adv_message{left: -18px;top:24px;width:250px}