.l_page{min-height:100%}.l_page_wr{padding:0
0 150px}.m_old.l_page{padding-top:50px}.m_relative.l_page{position:relative}.l_header{background:#fff;border-bottom:1px solid #D9D9D9;padding:20px
20px 0;margin:0
auto;min-width:1003px;position:relative}.l_content{position:relative;min-width:1003px}.l_content_menu{background:#fff;border-bottom:1px solid #D9D9D9;height:60px}.l_footer{border-top:1px solid #D9D9D9;margin: -81px auto 0;min-width:1003px}.m_morda.l_header{border:0}.m_morda.l_content{margin:0
auto;max-width:1255px;min-width:1003px}.m_morda.l_footer{border-top:0;position:relative}.m_zarplatomer_test.l_header,
.m_zarplatomer_test.l_content{min-width:0}.m_errorpage.l_content{position:static}.m_zarplatomer_test.l_footer{display:none}.lt-ie9
.l_header{min-width:950px}.l_col_main_left{width:100%;float:left}.l_col_main_left_wr{padding-right:280px}.l_col_main_right{margin-left:205px}.l_col_sidebar_right{float:left;width:260px;margin:0px
0 0 -260px}.l_col_sidebar_left{float:left;width:195px}.m_form_block.l_cols
.l_col_main_left_wr{padding-right:313px}.m_form_block.l_cols
.l_col_sidebar_right{width:288px;margin-left: -288px}.m_nosidebar.l_cols{padding-right:280px}.m_minus_indent.l_cols{margin-left: -8px}