@media screen and (max-width: 1023px){.MobileHeadOnlyLayout{}.MobileHeadOnlyLayout_logo_wrapper{position:fixed;top: -3px;right:0;left:0;z-index:1;display:block;box-sizing:border-box;height:50px;padding-top:5px;text-align:center;border-bottom:1px solid #c8c8c8;background-color:#fff}.MobileHeadOnlyLayout_logo_content.MobileHeadOnlyLayout_logo_content{width:auto}.MobileHeadOnlyLayout_logo_content a img.MobileHeadOnlyLayout_logo,
.MobileHeadOnlyLayout_logo_content a:hover
.MobileHeadOnlyLayout_logo{height:26px;margin:12px
0 0}.MobileHeadOnlyLayout_arrow,
.MobileHeadOnlyLayout_HeaderMenu,
.MobileHeadOnlyLayout_search_input,
.MobileHeadOnlyLayout_header_menu,
.MobileHeadOnlyLayout_header_login{display:none}.MobileHeadOnlyLayout_side_menu{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:#fff;box-shadow:2px 0 5px rgba(0, 0, 0, .5);box-sizing:border-box;color:#fff;display:block;height:100%;height:calc(100% - 48px);max-height:100%;overflow:scroll;padding:85px
20px 20px !important;position:fixed;top:47px;-o-transition:left .3s ease-in-out, right .3s ease-in-out;transition:left .3s ease-in-out, right .3s ease-in-out;z-index:2;width:100%}.MobileHeadOnlyLayout_side_menu.m_left{left: -110%}.MobileHeadOnlyLayout_side_menu.m_right{right: -110%}.MobileHeadOnlyLayout_side_menu.m_menu_opened.m_left{left:0}.MobileHeadOnlyLayout_side_menu.m_menu_opened.m_right{right:0}.m_menu_opened.MobileHeadOnlyLayout_side_menu
.MobileHeadOnlyLayout_close{right:20px;top:20px}.m_menu_opened.MobileHeadOnlyLayout_side_menu
.MobileHeadOnlyLayout_close.m_left{right:auto;left:20px}.MobileHeadOnlyLayout_subscribe{float:none}.MobileHeadOnlyLayout_header_icon{position:fixed;left:26px;top:17px;z-index:4;width:20px;height:14px;cursor:pointer;background-image:url('https://img.superjob.ru/img/_icons/bars-gray-light-19x15.svg');background-repeat:no-repeat}.MobileHeadOnlyLayout_header{background:#fff;background-image:none;bottom:0;cursor:default;display:block;height:auto;left: -115%;overflow-x:hidden;overflow-y:auto;padding:20px;position:fixed;right:0;text-align:left;top:47px;-o-transition:left .2s ease-in-out;transition:left .2s ease-in-out;z-index:3;width:0}.m_menu_opened.MobileHeadOnlyLayout_header{left:0;width:auto}.MobileHeadOnlyLayout_logotable.MobileHeadOnlyLayout_logotable{height:auto}.m_menu_opened
.MobileHeadOnlyLayout_close{background-image:url('https://img.superjob.ru/img/_icons/close-gray-20x20.svg');background-position:center;background-repeat:no-repeat;border:1px
solid #c8c8c8;border-radius:5px;height:33px;position:absolute;width:33px;z-index:2}.m_menu_opened .MobileHeadOnlyLayout_close:hover,
.m_menu_opened .MobileHeadOnlyLayout_close:active{background-image:url('https://img.superjob.ru/img/_icons/close-gray-20x20-hover.svg');border-color:#e54b2f}.m_menu_opened.MobileHeadOnlyLayout_header
.MobileHeadOnlyLayout_close{right:20px;top:24px}.MobileHeadOnlyLayout_phone_block{display: -webkit-inline-flex;display: -ms-inline-flexbox;display:inline-flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;font-size:15px;margin-top:20px;line-height:30px}.MobileHeadOnlyLayout_phone_block
a{border-bottom:0;border-bottom-style:none !important;color:#08c;text-decoration:none}.m_menu_opened.MobileHeadOnlyLayout_header .MobileHeadOnlyLayout_HeaderMenu,
.m_menu_opened.MobileHeadOnlyLayout_header .MobileHeadOnlyLayout_header_menu,
.m_menu_opened.MobileHeadOnlyLayout_header
.MobileHeadOnlyLayout_header_login{display: -webkit-flex;display: -ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;float:none;text-align:left}.m_menu_opened.MobileHeadOnlyLayout_header .MobileHeadOnlyLayout_HeaderMenu div, .m_menu_opened.MobileHeadOnlyLayout_header .MobileHeadOnlyLayout_header_menu div, .m_menu_opened.MobileHeadOnlyLayout_header .MobileHeadOnlyLayout_header_login
div{text-align:left !important}.m_menu_opened.MobileHeadOnlyLayout_header .MobileHeadOnlyLayout_HeaderMenu a, .m_menu_opened.MobileHeadOnlyLayout_header .MobileHeadOnlyLayout_header_menu a, .m_menu_opened.MobileHeadOnlyLayout_header .MobileHeadOnlyLayout_header_login
a{color:#08c}.m_menu_opened.MobileHeadOnlyLayout_header
.MobileHeadOnlyLayout_HeaderMenu{margin-top:12px}.m_menu_opened.MobileHeadOnlyLayout_header .MobileHeadOnlyLayout_HeaderMenu
a{border-bottom:0;color:#08c;text-decoration:none}.m_menu_opened.MobileHeadOnlyLayout_header
.MobileHeadOnlyLayout_header_menu{border-bottom:1px solid #000;padding-bottom:20px;margin-top:15px}.m_menu_opened.MobileHeadOnlyLayout_header
.HeaderFeedbackBlock{margin-top:15px}.m_menu_opened.MobileHeadOnlyLayout_header .LoginForm_link,
.m_menu_opened.MobileHeadOnlyLayout_header
.HeaderMenu_link_more_toggle{display:none}.m_menu_opened.MobileHeadOnlyLayout_header
.HeaderMenu_link{font-size:15px;margin:15px
0 0}.m_menu_opened.MobileHeadOnlyLayout_header
.HeaderMenu_tooltip{position:static;display:block !important;padding:0;border:0;border-radius:0;font-size:15px}.m_menu_opened.MobileHeadOnlyLayout_header .HeaderMenu_tooltip:before,
.m_menu_opened.MobileHeadOnlyLayout_header .HeaderMenu_tooltip:after{display:none}.m_menu_opened.MobileHeadOnlyLayout_header
.LoginForm_text{margin:15px
0 0}.m_menu_opened.MobileHeadOnlyLayout_header
.header_feedback{margin:0}.m_menu_opened.MobileHeadOnlyLayout_header
.MobileHeadOnlyLayout_header_login{margin:15px
0 0}.m_menu_opened.MobileHeadOnlyLayout_header .MobileHeadOnlyLayout_header_login .HeaderUserMenu_link,
.m_menu_opened.MobileHeadOnlyLayout_header .MobileHeadOnlyLayout_header_login .header_feedback
a{color:#08c;font-size:15px;text-decoration:none;border-bottom:0}.m_menu_opened.MobileHeadOnlyLayout_header .MobileHeadOnlyLayout_header_login
.UserName{margin-top:15px;display: -webkit-flex;display: -ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start}.m_menu_opened.MobileHeadOnlyLayout_header .UserName > .UserName_client{margin-bottom:17px}.m_menu_opened.MobileHeadOnlyLayout_header
.UserName_logout{margin-top:15px}.MobileHeadOnlyLayout_pagecontainer,
.MobileHeadOnlyLayout_all,
.MobileHeadOnlyLayout.MobileHeadOnlyLayout{min-width:0}.MobileHeadOnlyLayout_header_login
.LoginForm_tooltip{position:static;display:block !important;padding:0;border:0;border-radius:0;font-size:15px;margin-top:20px}.MobileHeadOnlyLayout_header_login .LoginForm_tooltip:before,
.MobileHeadOnlyLayout_header_login .LoginForm_tooltip:after{display:none}.MobileHeadOnlyLayout_pagecontainer .pre_footer2,
.MobileHeadOnlyLayout_pagecontainer
.space3{display:none}.MobileHeadOnlyLayout_content.MobileHeadOnlyLayout_content{padding:130px
0 0}.MobileHeadOnlyLayout_pagecontainer
.navbar{padding-left:0;margin-left:0}.MobileHeadOnlyLayout_pagecontainer
.navnums{padding:0}.MobileHeadOnlyLayout_pagecontainer .navnums a,
.MobileHeadOnlyLayout_pagecontainer .navnums a:visited{padding-left:3px;padding-right:3px}.MobileHeadOnlyLayout_menu_btn_wrapper{background-color:#fff;border-bottom:1px solid #c8c8c8;box-sizing:border-box;display: -webkit-flex;display: -ms-flexbox;display:flex;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;left:0;padding:10px
18px;position:fixed;right:0;top:47px;width:100%;z-index:1}.MobileHeadOnlyLayout_menu_btn_wrapper.m_menu_opened{display:none}.MobileHeadOnlyLayout_menu_btn{width:33px;height:33px;border-radius:5px;background-repeat:no-repeat;background-position:center;background-image:url('https://img.superjob.ru/img/_icons/ellipsis-h-gray-light-15x6.svg')}.MobileHeadOnlyLayout_menu_btn:hover,
.MobileHeadOnlyLayout_menu_btn:active{border-color:#e54b2f;background-image:url('https://img.superjob.ru/img/_icons/ellipsis-h-gray-light-15x6-hover.svg')}.m_left.MobileHeadOnlyLayout_menu_btn{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}.MobileHeadOnlyLayout_table_wrapper{display:none}}.MobileHeadOnlyLayout_btn_wrapper{display:block;width:100%}.MobileHeadOnlyLayout_table_wrapper + .MobileHeadOnlyLayout_btn_wrapper,
.MobileHeadOnlyLayout_btn_wrapper + .MobileHeadOnlyLayout_table_wrapper{margin-top:10px}@media screen and (min-width: 1024px){.MobileHeadOnlyLayout_btn_wrapper{display:none}}@media screen and (max-width: 655px){.sj_social{margin-top:6px}}.MobileLayoutFooter.MobileLayoutFooter{min-width:0}.MobileLayoutFooter_wrapper.MobileLayoutFooter_wrapper{display:block}.MobileLayoutFooter_left.MobileLayoutFooter_left{width:100%;text-align:left}.MobileLayoutFooter_right.MobileLayoutFooter_right{width:100%;text-align:left}.MobileLayoutFooter_left + .MobileLayoutFooter_right{margin-top:20px}.MobileLayoutFooter_right.MobileLayoutFooter_right a,
.MobileLayoutFooter_right.MobileLayoutFooter_right
span{margin-left:0;margin-right:9px}