.PopupGiveResume{width:500px!important}.PopupGiveResume_user_list_left{display:inline-block;line-height:33px}.PopupGiveResume_user_list_input{display:inline-block;margin-left:6px;overflow:visible;position:relative;width:auto}.PopupGiveResume_user_list_input
.dropdown{background-color:#fff;border:#d5d5d5 1px solid;box-shadow:#b3b3b3 0 2px 4px 0;display:none;left:0!important;overflow-x:hidden;overflow-y:auto;position:absolute;width:364px !important;z-index:2000}.PopupGiveResume_user_list_input
input{font-size:13px;height:26px;line-height:19px;padding:0
3px 0 3px;vertical-align:middle;width:350px}.PopupGiveResume_comment_left{line-height:33px;display:inline-block}.PopupGiveResume_comment_input{position:relative;display:inline-block;overflow:visible;width:auto;margin-left:12px}.PopupGiveResume_comment_input
input.sj_input{font-size:13px;line-height:19px;width:350px;height:26px;padding:0
3px 0 3px;vertical-align:middle}.cbDefault
div.dropdownBt{background-color:transparent;background-image:url('https://img.superjob.ru/img/input_arrow_down.gif');cursor:pointer;display:block;height:19px;width:23px}