.PopupMoveResume{width:450px!important}.PopupMoveResume_folders_link{display:block;line-height:19px}.PopupMoveResume_folders_link_level1{padding:3px
10px 5px 20px}.PopupMoveResume_folders_link_level2{padding:3px
10px 5px 40px}.PopupMoveResume_folders_overflow{overflow:auto;overflow-y:auto!important;overflow-x:hidden;overflow: -moz-scrollbars-vertical;position:relative;zoom:1;height:expression(this.scrollHeight > 469 ? "470px" : "auto");max-height:470px}