.PopupInviteRejectSendMail{width:620px}.PopupInviteRejectSendMail_mail{width:100%}.PopupInviteRejectSendMail_mail_subject{width:100%}.m_error.PopupInviteRejectSendMail_mail_subject,
.m_error.PopupInviteRejectSendMail_message_textarea{border-color:#fa6464}.m_error.PopupInviteRejectSendMail_mail_subject{margin-top:6px}.PopupInviteRejectSendMail_left{padding:9px
10px 0 0;width:60px}.PopupInviteRejectSendMail_template{width:60px}.PopupInviteRejectSendMail_greeting{margin-bottom:5px;margin-top:12px}.PopupInviteRejectSendMail_message{padding:4px
0 6px}.PopupInviteRejectSendMail_message_textarea{height:200px}.PopupInviteRejectSendMail_select{margin-bottom:20px}.PopupInviteRejectSendMail_table{width:100%}.PopupInviteRejectSendMail_footer_cancel{padding:10px
0 0 15px;text-align:right}.PopupInviteRejectSendMail_footer{margin-top:20px}.PopupInviteRejectSendMail_tooltip_attvacancy{top:21px}.PopupInviteRejectSendMail_line{margin-top:10px}.PopupInviteRejectSendMail_attached_content{display:inline-block;margin-right:10px;max-width:470px;overflow:hidden;text-overflow:ellipsis;vertical-align:top;white-space:nowrap;zoom:1}.PopupInviteRejectSendMail_attach_vacancy{height:240px;overflow:hidden;width:547px}.PopupInviteRejectSendMail_attach_vacancy
.categories{float:left;height:100%;overflow-x:hidden;overflow-y:auto;width:165px}.PopupInviteRejectSendMail_attach_vacancy
.categories_item{color:#000;display:block;font-size:13px;overflow-x:hidden;text-decoration:none;text-overflow:ellipsis;transition:background .4s ease;white-space:nowrap;width:138px}.PopupInviteRejectSendMail_attach_vacancy
.categories_item.active{font-weight:500;cursor:default}.lt-ie9 .PopupInviteRejectSendMail_attach_vacancy
.categories_item.active{font-weight:700}.PopupInviteRejectSendMail_attach_vacancy .categories_item:hover{color:#e54b2f}.PopupInviteRejectSendMail_attach_vacancy
.vacancies{float:left;padding-left:10px}.PopupInviteRejectSendMail_attach_vacancy
.vacancy_list{height:196px;overflow-x:hidden;overflow-y:scroll;padding-bottom:6px;width:370px}.PopupInviteRejectSendMail_attach_vacancy
.vacancy_item{color:#000;display:block;font-size:13px;overflow:hidden;text-decoration:none !important;text-overflow:ellipsis;white-space:nowrap}.categories_item + .categories_item,
.vacancy_item + .vacancy_item{margin-top:12px}.PopupInviteRejectSendMail_attach_vacancy .vacancy_item:hover,
.PopupInviteRejectSendMail_attach_vacancy .vacancy_item:hover
.vacancy_code{color:#e54b2f}.PopupInviteRejectSendMail_attach_vacancy
.vacancy_code{color:#969696;font-size:11px;margin-right:6px}.PopupInviteRejectSendMail_attach_vacancy
.marker{background-color:#fddf94;font-weight:bold}.PopupInviteRejectSendMail_attach_vacancy
.msg{font:13px Arial, Helvetica, sans-serif;margin:10px
0 0 10px;text-align:center}.m_attach_vacancy_nocats,
.m_attach_vacancy_nocats
.vacancy_list{width:500px}.PopupInviteRejectSendMail_leftcol{padding:3px
10px 0 0}.PopupInviteRejectSendMail_overflow_small{max-height:250px;overflow-y:auto;position:relative;font-size:13px;padding-right:18px}.PopupInviteRejectSendMail_add_to_folder{display:none;left:38px;overflow:visible !important;top:21px}