.PopupResumeComplain{width:775px}.PopupResumeComplain_block + .PopupResumeComplain_block{margin-top:24px}.PopupResumeComplain_left{display:inline-block;margin-right:12px;width:130px}.PopupResumeComplain_right{display:inline-block;width:540px}.PopupResumeComplain_file{line-height:17px}.m_valign_top.PopupResumeComplain_left{vertical-align:top}.m_valign_middle.PopupResumeComplain_left{vertical-align:middle}.PopupResumeComplain_submit_btn{margin-right:24px}.PopupResumeComplain_checkbox{top:4px}.PopupResumeComplain_required_text{padding:0
84px;display:inline-block}