.ResumeBlankNew_alert{display:none}.ResumeBlankNew
.ResumeOpenContacts_wrapper{background-color:#fff;border-radius:3px;margin-bottom:6px;padding:18px}.ResumeBuyContactsForm_buy_confirm{display:none;height:100%;position:fixed;width:100%;z-index:1000}.ResumeBuyContactsForm_buy_confirm_overlay_container{left:50%;margin: -75px 0 0 -330px;position:fixed;top:50%;width:660px;z-index:500}.MobileSupportPopup{width:500px}.ResumeBlankHRToolbar_alert_link{color:#4e3d05}.dropdown-menu{background-color:#fff;border-bottom-right-radius:3px;border-bottom-left-radius:3px;border:1px
solid #8fc7ff;font-size:14px;list-style:none;margin:0;max-width:505px;min-width:160px;padding:6px
0;position:absolute;top:30px !important;width:100%;z-index:1}.dropdown-menu
a{color:#333;display:block;font-weight:400;line-height:1.42857143;max-width:503px;padding:3px
12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.dropdown-menu li:first-child{display:none}.dropdown-menu li.active
a{background-color:#007efc;color:#fff;cursor:pointer;outline:0;text-decoration:none}