.SimilarResumesNew_resume{display: -webkit-flex;display: -ms-flexbox;display:flex;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}.SimilarResumesNew_right{width:48px}.no-flexbox
.SimilarResumesNew_left{display:inline-block;width:222px}.no-flexbox
.SimilarResumesNew_right{display:inline-block;margin-left:6px;vertical-align:top}.SimilarResumesNew_avatar{border-radius:50%;height:48px;width:48px}.SimilarResumesNew_resumefriends_banner_button.SimilarResumesNew_resumefriends_banner_button{padding:0
30px}.SimilarResumesNew_resumefriends_banner_pic{background:url('https://img.superjob.ru/img/_redesign/Resumefriends_banner_pic.svg?15') 0 0 no-repeat;height:82px;position:absolute;right:0;top:93px;width:122px}.no-svg
.SimilarResumesNew_resumefriends_banner_pic{background-image:url('https://img.superjob.ru/img/_redesign/Resumefriends_banner_pic.png?15')}