.sj_btn,
.sj_btn:disabled,
.sj_btn:visited,
.sj_btn:hover,
.sj_btn:focus{border:0;border-radius:3px;cursor:pointer;display:inline-block;font-family:Roboto,Arial,sans-serif;font-size:15px;font-style:normal;font-weight:normal;height:33px;line-height:33px;outline:0;padding:0
10px;position:relative;text-align:center;text-decoration:none;-o-transition:all .2s;transition:all .2s;vertical-align:top}.sj_btn:active{opacity:1;outline:0}.m_stretch.sj_btn{display:block;width:100%}.m_green.sj_btn,
a.m_green.sj_btn,
.m_green.sj_btn:disabled{background:#4dca43;border:1px
solid #4dca43;color:#fff}.m_green.sj_btn:hover,
.m_green.sj_btn:focus,
a.m_green.sj_btn:hover,
a.m_green.sj_btn:focus,
.m_green.sj_btn:disabled:hover,
.m_green.sj_btn:disabled:focus{background-color:#50cc5c;border:1px
solid #50cc5c;color:#fff}.m_green.sj_btn:active, a.m_green.sj_btn:active, .m_green.sj_btn:disabled:active{background-color:#50cc5c;border:1px
solid #50cc5c;color:#b9eabd}.sj_btns_blue .sj_btn,
a.sj_btns_blue .sj_btn,
.sj_btns_blue .sj_btn:disabled,
.m_blue.sj_btn,
a.m_blue.sj_btn,
.m_blue.sj_btn:disabled{background:#007efc;border:1px
solid #007efc;color:#fff}.sj_btns_blue .sj_btn:hover,
.sj_btns_blue .sj_btn:focus,
a.sj_btns_blue .sj_btn:hover,
a.sj_btns_blue .sj_btn:focus,
.sj_btns_blue .sj_btn:disabled:hover,
.sj_btns_blue .sj_btn:disabled:focus,
.m_blue.sj_btn:hover,
.m_blue.sj_btn:focus,
a.m_blue.sj_btn:hover,
a.m_blue.sj_btn:focus,
.m_blue.sj_btn:disabled:hover,
.m_blue.sj_btn:disabled:focus{background-color:#2196f7;border:1px
solid #2196f7;color:#fff}.sj_btns_blue .sj_btn:active, a.sj_btns_blue .sj_btn:active, .sj_btns_blue .sj_btn:disabled:active, .m_blue.sj_btn:active, a.m_blue.sj_btn:active, .m_blue.sj_btn:disabled:active{background-color:#2196f7;border:1px
solid #2196f7;color:#a6d5fb}.m_transparent.sj_btn,
a.m_transparent.sj_btn,
.m_transparent.sj_btn:disabled{background:transparent;border:1px
solid #fff;color:#fff}.m_transparent.sj_btn:hover,
.m_transparent.sj_btn:focus,
a.m_transparent.sj_btn:hover,
a.m_transparent.sj_btn:focus,
.m_transparent.sj_btn:disabled:hover,
.m_transparent.sj_btn:disabled:focus{background-color:rgba(255, 255, 255, .4);border:1px
solid transparent;color:#fff}.m_transparent.sj_btn:active, a.m_transparent.sj_btn:active, .m_transparent.sj_btn:disabled:active{background-color:rgba(255, 255, 255, .4);border:1px
solid transparent;color:#d1d1d1}.sj_btns_white .sj_btn,
a.sj_btns_white .sj_btn,
.sj_btns_white .sj_btn:disabled,
.m_white.sj_btn,
a.m_white.sj_btn,
.m_white.sj_btn:disabled{background:#fff;border:1px
solid #007efc;color:#007efc}.sj_btns_white .sj_btn:hover,
.sj_btns_white .sj_btn:focus,
a.sj_btns_white .sj_btn:hover,
a.sj_btns_white .sj_btn:focus,
.sj_btns_white .sj_btn:disabled:hover,
.sj_btns_white .sj_btn:disabled:focus,
.m_white.sj_btn:hover,
.m_white.sj_btn:focus,
a.m_white.sj_btn:hover,
a.m_white.sj_btn:focus,
.m_white.sj_btn:disabled:hover,
.m_white.sj_btn:disabled:focus{background-color:#fff;border:1px
solid #2196f7;color:#2196f7}.sj_btns_white .sj_btn:active, a.sj_btns_white .sj_btn:active, .sj_btns_white .sj_btn:disabled:active, .m_white.sj_btn:active, a.m_white.sj_btn:active, .m_white.sj_btn:disabled:active{background-color:#fff;border:1px
solid #2196f7;color:#6db5fd}.m_link.sj_btn,
a.m_link.sj_btn,
.m_link.sj_btn:visited,
.m_link.sj_btn:active{background:0;border:0;box-shadow:none;height:25px;line-height:32px;padding:0;text-decoration:none;-o-transition:none;transition:none}.m_link.sj_btn:hover{height:25px;line-height:32px;opacity:1;padding:0;-o-transition:none;transition:none}.sj_btn
.sj_loader{display:none}.m_loading.sj_btn{position:relative}.m_loading.sj_btn
.sj_btn_content{display:block;visibility:hidden}.m_loading.sj_btn
.sj_loader{display:block;left:50%;margin: -4px 0 0 -4px;position:absolute;top:50%}.m_tab.sj_btn{border:1px
solid #414141;color:#000;font-size:15px;padding:0
30px}.m_tab.sj_btn:hover,
.m_tab.sj_btn:focus{background-color:#e6e6e6;box-shadow:none;opacity:1;outline:0}.m_tab.sj_btn:first-child{border-bottom-right-radius:0;border-right:0 !important;border-top-right-radius:0}.m_tab.sj_btn:last-child{border-bottom-left-radius:0;border-left:0 !important;border-top-left-radius:0}.m_tab.sj_btn:active,
.m_active.m_tab.sj_btn{background:#007efc;border-color:#007efc;color:#fff;position:relative;z-index:1}.m_active.m_tab.sj_btn:hover,
.m_active.m_tab.sj_btn:focus{background-color:#2196f7;color:#fff;opacity:1}.m_tab.sj_btn:not(.m_active) + .m_tab.sj_btn:not(.m_active):before{border-left:1px solid #414141;content:'';display:block;height:33px;left:0;position:absolute;top: -1px}.m_group.sj_btn{border:1px
solid #969696;border-radius:0;color:#000;float:left;margin-left: -1px}.m_group.sj_btn:first-child{border-radius:3px 0 0 3px;margin-left:0}.m_group.sj_btn:last-child{border-radius:0 3px 3px 0}.m_group.sj_btn:focus{color:#414141;opacity:1}.m_group.sj_btn.m_active,
.m_group.sj_btn.m_checked,
.m_group.sj_btn:hover{background:none;border:1px
solid #007efc;box-shadow:none;color:#007efc;position:relative;z-index:4}.m_group.sj_btn.m_invalid{border-color:#fa6464;box-shadow:none;position:relative;z-index:1}.sj_btn_group:before,
.sj_btn_group:after{content:' ';display:table}.sj_btn_group:after{clear:both}.sj_btn_group_dropdown{display:none;left: -1px;position:absolute;text-align:left;top:100%;z-index:100}.m_open.sj_btn_group_dropdown{display:block}.sj_btn_group_options{background:#fff;border:1px
solid #969696;line-height:25px;padding:12px}.sj_btn_tabs,
.sj_btn_group{font-size:0;position:relative}