.sj_flex{display: -moz-flex;display: -webkit-flex;display: -ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;font-size:15px;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;line-height:18px;margin:0
auto;width:960px}.sj_flex_col1{width:316px}.sj_flex_col1
.sj_flex{display: -webkit-flex;display: -ms-flexbox;display:flex;width:280px}.sj_flex_col1
.sj_flex_col1{width:126px}.sj_flex_col2{width:638px}.sj_flex_col2
.sj_flex{display: -webkit-flex;display: -ms-flexbox;display:flex;width:602px}.sj_flex_col2
.sj_flex_col1{width:280px}.sj_flex_col3{width:100%}.sj_flex_col3
.sj_flex{display: -webkit-flex;display: -ms-flexbox;display:flex;width:924px}.sj_flex_col3
.sj_flex_col1{width:280px}.sj_flex a,
.sj_flex a:visited{text-decoration:none}.no-flexbox
.sj_flex{font-size:0}.no-flexbox .sj_flex > .sj_flex{font-size:0}.no-flexbox .sj_flex > div{border:0;display:inline-block;position:relative;vertical-align:top}.no-flexbox .sj_flex > *{font-size:15px;line-height:18px}.no-flexbox .sj_flex .sj_flex_col1 + .sj_flex_col1,
.no-flexbox .sj_flex .sj_flex_col1 + .sj_flex_col2,
.no-flexbox .sj_flex .sj_flex_col2 + .sj_flex_col1,
.no-flexbox .sj_flex .sj_flex_col2 + .sj_flex_col2{margin-left:6px}.no-flexbox .sj_flex .sj_flex_col1 .sj_flex_col1 + .sj_flex_col1{margin-left:18px}.no-flexbox .sj_flex .sj_flex_col2 .sj_flex_col1 + .sj_flex_col1,
.no-flexbox .sj_flex .sj_flex_col3 .sj_flex_col1 + .sj_flex_col1{margin-left:42px}.opera12 .sj_flex_col1
.sj_flex_col1{width:127px}.sj_justify{display: -webkit-flex;display: -ms-flexbox;display:flex;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}.no-flexbox
.sj_justify{display:table;table-layout:fixed;width:100%}.no-flexbox .sj_justify > *{display:table-cell;text-align:right;width:20px}.no-flexbox .sj_justify > *:first-child{text-align:left;width:50px}