.sj_input{background:#fff;border:1px
solid #969696;border-radius:3px;display:inline-block;font-family:Roboto,Arial,sans-serif;font-size:14px;height:33px;line-height:18px;outline:none;padding:6px;position:relative;-o-transition:all .3s;transition:all .3s;width:100%}.sj_input:-ms-input-placeholder{color:#969696}.m_invalid.sj_input,
.m_empty.sj_input{border-color:#fa6464}.sj_input:focus{border-color:#8fc7ff}.sj_input[disabled]{background:#f2f2f2;border:1px
solid #969696;color:#969696}div.sj_input{border:1px
solid #ccc;height:33px;padding:6px
0}div.sj_input.m_password{padding:0;position:relative}div.sj_input.m_password
input{padding:6px}div.sj_input.m_password
.sj_icon{cursor:pointer;position:absolute;right:5px;top:8px}div.sj_input
input{background:#fff;border:0;border-radius:3px;font-size:14px;line-height:18px;padding:0
6px;width:100%}div.sj_input.m_disabled,
div.sj_input.m_disabled
input{background:#f2f2f2}div.sj_input input:focus{outline:0}