.sj_loader{-webkit-animation-delay:125ms;-o-animation-delay:125ms;animation-delay:125ms;margin:0
14px;position:relative}.sj_loader,
.sj_loader:before,
.sj_loader:after{-webkit-animation:bubble 1100ms forwards infinite;-o-animation:bubble 1100ms forwards infinite;animation:bubble 1100ms forwards infinite;border-radius:50%;display:inline-block;height:8px;opacity:1;vertical-align:top;width:8px}.sj_loader:before{content:'';left: -14px;position:absolute;top:0}.sj_loader:after{-webkit-animation-delay:250ms;-o-animation-delay:250ms;animation-delay:250ms;content:'';position:absolute;right: -14px;top:0}.sj_btns_white .sj_loader,
.sj_btns_white .sj_loader:before,
.sj_btns_white .sj_loader:after,
.m_blue.sj_loader,
.m_blue.sj_loader:before,
.m_blue.sj_loader:after{background:#007efc}.sj_btns_blue .sj_loader,
.sj_btns_blue .sj_loader:before,
.sj_btns_blue .sj_loader:after,
.m_white.sj_loader,
.m_white.sj_loader:before,
.m_white.sj_loader:after{background:#fff}@-webkit-keyframes
bubble{0%{opacity:1}50%{opacity:0}100%{opacity:1}}@-o-keyframes
bubble{0%{opacity:1}50%{opacity:0}100%{opacity:1}}@keyframes
bubble{0%{opacity:1}50%{opacity:0}100%{opacity:1}}