.sj_h1,
.sj_h2,
.sj_h3,
.sj_text{font-family:Roboto,Arial,Sans-serif;margin:0;padding:0}.sj_h1{font-size:30px;font-weight:300;line-height:38px;margin-bottom:24px}.m_b_0.sj_h1,
.m_b_0.sj_h2,
.m_b_0.sj_h3{margin-bottom:0}.m_b_2.sj_h1{margin-bottom:12px}.sj_h2{font-size:24px;font-weight:normal;line-height:28px;margin:0
0 12px}.m_light.sj_h2{font-weight:300}.sj_h3{font-size:18px;font-weight:normal;line-height:normal;margin:0
0 12px}.sj_h4{font-size:15px;font-weight:bold;line-height:18px;margin:0
0 12px}.m_b_0.sj_h1,
.m_b_0.sj_h2,
.m_b_0.sj_h3,
.m_b_0.sj_h4{margin-bottom:0}.m_b_3.sj_h2,
.m_b_3.sj_h3{margin-bottom:18px}.m_t_4.sj_h2,
.m_t_4.sj_h3{margin-top:24px}.m_t_3.sj_h4{margin-top:18px}.sj_text{font-size:15px;font-weight:normal;line-height:18px}.m_small.sj_text{font-size:13px;line-height:15px}.m_large.sj_text{font-size:24px;line-height:32px}.m_lower.sj_text{text-transform:lowercase}.m_upper.sj_text{text-transform:uppercase}.sj_join > span::after{content:', '}.sj_join > span:last-child::after{content:''}.sj_list
ul{list-style-type:none;margin:0
0 18px;padding:0}.sj_list ul li,
.sj_list ol ul
li{padding:0
0 0 18px;position:relative}.sj_list ul li,
.sj_list ol
li{margin:6px
0 6px 12px}.sj_list ul li:before{content:'\2014';left:0;position:absolute;top:0}.sj_rouble{display:inline-block;font-size:100%;position:relative}.sj_rouble:after{color:inherit;content:'=';display:inline-block;font-size:inherit;left: -20%;margin-top:17%;position:absolute;-webkit-transform:scale(1.2, .8);-ms-transform:scale(1.2, .8);-o-transform:scale(1.2, .8);transform:scale(1.2, .8);z-index:0}.sj_desktop_typo{font-size:15px;line-height:18px}.sj_desktop_typo_title{font-size:18px;font-weight:normal;line-height:16px;margin:18px
0 12px}.sj_desktop_typo
ol{counter-increment:outer;counter-reset:item;margin:0;padding-left:0}.sj_desktop_typo ol
li{display:block;padding:0
0 0 24px;position:relative}.sj_desktop_typo ol ul li,
.sj_desktop_typo ol ol ul
li{counter-reset:item;display:block;padding:0
0 0 24px;position:relative}.sj_desktop_typo ol li:before{content:counters(item, '.')'.';counter-increment:item;left:0;position:absolute;top:0}.sj_desktop_typo ol li + li{margin-top:12px}.sj_desktop_typo ol li + li
p{margin-top:24px}.sj_desktop_typo ol li li:before{font-size:15px;top:0}.sj_desktop_typo ol
ol{margin-top:12px}.sj_desktop_typo ol ol
li{padding-left:36px}.sj_desktop_typo ol ol ol
li{padding-left:48px}.sj_desktop_typo ol ol ol ul
li{padding-left:24px}.sj_desktop_typo
ul{list-style-type:none;margin:12px
0 0;padding-left:12px}.sj_desktop_typo ul
li{padding:0
0 0 18px;position:relative}.sj_desktop_typo ul li:before{content:'\2014';left:0;position:absolute;top:0}.sj_match_highlight{background-color:#fee3a0;font-weight:bold}.sj_match_highlight.m_no-background{background:transparent}