.sj-work-close-to-home{display:inline-block;position:relative}.sj-work-close-to-home_label{background-color:#007efc;border-radius:14px;color:#fff;cursor:pointer;display:inline-block;font-size:15px;line-height:18px;padding:2px
8px;white-space:nowrap}.sj-work-close-to-home_tooltip{width:300px;margin-top:5px}.sj-work-close-to-home_tooltip-header{font-size:18px;font-weight:normal;line-height:normal;margin-bottom:6px}.sj-work-close-to-home_tooltip-vacancy{margin-top:12px;font-size:13px;line-height:18px}.sj-work-close-to-home_tooltip-label{background-color:#007efc;border-radius:14px;color:#fff;cursor:pointer;display:inline-block;font-size:15px;line-height:18px;padding:2px
8px;white-space:nowrap;margin-top:6px}