.sj_l_page{min-height:100%;padding:0
0 80px}.sj_l_content_wr{padding:0
0 150px}.sj_l_header{background-color:#fff;background-position:bottom center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;margin:0
auto;padding:20px
50px 0;width:100%}.sj_l_content{margin:0
auto;min-width:0 !important;padding:0
20px;position:relative}.sj_l_content_menu{background:#fff;border-bottom:1px solid #d9d9d9;height:60px}.sj_l_footer{border-top:1px solid #d9d9d9;margin: -81px auto 0;width:100%}.flexbox
.sj_grid{display: -webkit-box;display: -webkit-flex;display: -moz-flex;display: -ms-flexbox;display: -o-flex;display:flex;margin:auto;max-width:1265px;min-width:960px;padding:20px}.flexbox .sj_grid > div:only-child{-webkit-box-flex:1 0 100%;-moz-box-flex:1 0 100%;-webkit-flex:1 0 100%;-ms-flex:1 0 100%;flex:1 0 100%}.flexbox
.sj_grid_sidebar{-webkit-box-flex:0 0 240px;-moz-box-flex:0 0 240px;-webkit-flex:0 0 240px;-ms-flex:0 0 240px;flex:0 0 240px;width:240px}.flexbox
.sj_grid_main{-webkit-box-flex:1 1 auto;-moz-box-flex:1 1 auto;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto}.flexbox .sj_grid_main + .sj_grid_sidebar{margin-left:24px}.flexbox .sj_grid_sidebar + .sj_grid_main{margin-left:24px}.no-flexbox
.sj_grid{margin:auto;max-width:1265px;min-width:960px;padding:20px;white-space:nowrap}.no-flexbox .sj_grid
div{white-space:normal}.no-flexbox
.sj_grid_main{display:inline-block;padding:0
264px 0 0;vertical-align:top;white-space:normal;width:100%}.no-flexbox
.sj_grid_sidebar{display:inline-block;margin-left:0;margin-right: -240px;position:relative;text-align:left;white-space:normal;width:240px}.no-flexbox .sj_grid_main + .sj_grid_sidebar{margin-left: -240px;margin-right:0}.no-flexbox .sj_grid_sidebar + .sj_grid_main{padding-left:264px;padding-right:0}@media (max-width: 768px){.sj_l_content{padding:0
10px;width:100%}}@media (min-width: 768px) and (max-width: 991px){.sj_l_content{width:100%}}@media (min-width: 992px) and (max-width: 1199px){.sj_l_content{width:90%}}@media (min-width: 1200px){.sj_l_content{max-width:1200px;width:85%}}.m_student_reg
.sj_l_page{padding-bottom:0}.m_student.sj_l_header{background-image:url('https://img.superjob.ru/img/students/students_header.jpg');background-position:center center;background-size:cover}.lt-ie9
.m_student.sj_l_header{background-image:url('https://img.superjob.ru/img/students/students_header_ie.jpg')}.m_company.sj_l_header{background-image:url('https://img.superjob.ru/img/students/company_header.jpg')}.lt-ie9
.m_company.sj_l_header{background-image:url('https://img.superjob.ru/img/students/company_header_ie.jpg')}.sj_layout{max-width:1260px;min-width:960px;padding:30px
20px;position:relative;width:100%}.m_left.sj_layout
.sj_layout_sidebar{left:20px;top:30px}.m_left.sj_layout
.sj_layout_content{padding-left:270px}.m_right.sj_layout
.sj_layout_sidebar{right:20px;top:30px}.m_right.sj_layout
.sj_layout_content{padding-right:270px}.m_indent.sj_layout
.sj_layout_content{padding-left:122px}.sj_layout_sidebar{position:absolute;width:240px}