.sj_msgs{position:fixed;right:10px;top:10px;width:280px;z-index:500}.sj_msg{border-radius:3px;font-size:13px;padding:13px
30px 13px 16px;position:relative;opacity:0;-webkit-transform:translate(0, 40px);-ms-transform:translate(0, 40px);-o-transform:translate(0, 40px);transform:translate(0, 40px);-webkit-transition:all .2s;-o-transition:all .2s;transition:all .2s}.sj_msg	+ .sj_msg{margin:10px
0 0}.sj_msg_close{background:url(https://img.superjob.ru/img/_redesign/blocks/sj_msg.svg) 0 0 no-repeat;cursor:pointer;height:10px;width:10px;position:absolute;top:10px;right:10px}.no-svg.sj_msg_close{background-image:url(https://img.superjob.ru/img/_redesign/blocks/sj_msg.png)}.m_black.sj_msg{background:#6e6e6e;background:rgba(110, 110, 110, .9);color:#fff}.m_black.sj_msg
.sj_msg_close{background-position:0 0}.m_black.sj_msg .sj_msg_close:hover{background-position: -11px 0}.m_open.sj_msg{opacity:1;-webkit-transform:translate(0, 0);-ms-transform:translate(0, 0);-o-transform:translate(0, 0);transform:translate(0, 0)}.m_close.sj_msg{opacity:0;-webkit-transform:translate(0, -40px);-ms-transform:translate(0, -40px);-o-transform:translate(0, -40px);transform:translate(0, -40px)}