.sj_base_font{font-size:62.5% !important;font:normal 62.5% 'Roboto', 'Arial', sans-serif !important}.sj_typo_h1,
.sj_typo_h2,
.sj_typo_h3,
.sj_typo_h4,
.sj_typo_p{color:#000;border:none;margin-bottom:10px}.sj_typo_h1{font-size:33px;line-height:36px;font-weight:300;margin-top:0}.sj_typo_h2{font-size:22px;line-height:24px;font-weight:300}.sj_typo_h3{font-size:18px;line-height:24px;font-weight:300}.sj_typo_h4{font-size:15px;font-weight:500;line-height:24px}.sj_typo_p{font-size:15px;line-height:24px}.sj_typo{font-size:13px;line-height:1.5em}.sj_typo_small{font-size:11px;line-height:14px}.sj_typo_medium{font-size:16px;line-height:100%}.sj_typo{counter-reset:outer}.sj_typo
ol{counter-increment:outer;counter-reset:item;padding-left:0}.sj_typo ol
li{position:relative;display:block;padding:0
0 0 20px;margin:0}.sj_typo ol li + li{margin-top:10px}.sj_typo ol li:before{content:counters(item, ".")".";left:0;position:absolute;top:0;counter-increment:item}.sj_typo ol > .sj_list_h1:before{top:14px}.sj_typo ol > .sj_list_h2:before{top:4px}.sj_typo ol > .sj_list_h3:before{top:4px}.sj_typo ol
ol{margin-top:10px}.sj_typo ol.sj_list_child
li{padding-left:30px;margin-left:0}.sj_typo ol.sj_list_child ol.sj_list_child
li{padding-left:40px}.sj_typo ol.sj_list_child ol.sj_list_child ol.sj_list_child
li{padding-left:50px}.sj_typo
ul{padding-left:0;margin:10px
0;list-style-type:none}.sj_typo ul li,.sj_typo ol ul li,.sj_typo ol.sj_list_child ul li,.sj_typo ol.sj_list_child ol.sj_list_child ul
li{counter-reset:item;position:relative;padding:0
0 0 16px;margin:0}.sj_typo ul li:before{content:'\2014';position:absolute;left:0;top:0}