.sj_textarea{background:#fff;border-radius:3px;border:1px
solid #969696;font:15px/20px 'Roboto', Arial;padding:7px;resize:none;outline:none;width:100%}.sj_textarea:focus{border-color:#93c8e2}.m_focus.sj_textarea{border-color:#93c8e2}.m_disabled.sj_textarea{background:#f2f2f2;border:1px
solid #ccc;color:#B3B3B3}.m_valid.sj_textarea{border-color:#7fc8a2}.m_invalid.sj_textarea,
.m_empty.sj_textarea{border-color:#f8ac91}.m_has_error_msg.m_empty.sj_textarea,
.m_has_error_msg.m_invalid.sj_textarea{border-radius:3px 3px 0 0}.m_invalid.sj_textarea + .sj_input_error, .m_invalid.sj_textarea + .sj_error,
.m_empty.sj_textarea + .sj_input_error, .m_empty.sj_textarea + .sj_error{overflow:visible;margin-top: -3px}.m_invalid.sj_textarea + .sj_input_error .sj_input_error_wr, .m_invalid.sj_textarea + .sj_error .sj_error_wr,
.m_empty.sj_textarea + .sj_input_error .sj_input_error_wr, .m_empty.sj_textarea + .sj_error
.sj_error_wr{height:33px}.m_wrappered.sj_textarea{padding:0px}.m_wrappered.sj_textarea
textarea{background:#fff;border-radius:3px;border:none;font:15px/20px 'Roboto', Arial;padding:7px;resize:none;outline:none;width:100%}