.sevenwidget{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition-duration: 0.218s;
	padding:10px;
	margin-top: 10px;
}

.sevenwidget p{
	font-size:13px;
	line-height: 19px;
	margin:7px 0 12px;
}

.sevenwidget:hover{
	box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 8px rgba(0, 0, 0, 0.3) ;
}

.zagolovok{
    border-left: 5px solid #fed823;
    border-right: 5px solid #fed823;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
    margin-bottom: 7px;
    padding-bottom: 10px;
    text-align: center;
}

.sevenwidget img{
max-height: 220px;
padding: 0!important;
margin-bottom: 7px;
border-radius: 4px;
width: 100%;
}

.sevenwidget:hover img{
    filter: saturate(1.7);
}

.poslecont{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	padding:8px;
	margin: 5px 0 5px 0;
  transition-duration: 0.218s;
}

.poslecont:hover{
	box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgba(0, 0, 0, 0.3) ;
}
.poslecont img{
max-height: 160px;
margin:7px;
  border-radius: 4px;

}

.poslecont:hover img{
      filter: saturate(1.5);
    transition-duration: 0.218s;
}

.poslecont a{
	font-size:20px;
}

.poslecont p{
	margin-bottom:10px;
}

.dalee{
text-align: center;
margin: 20px 0 10px 0;
}

.poslecont .dalee{
float:right;

}

.dalee a{
    font-size: 13px !important;
text-decoration:none!important;
}

.dalee a:hover{

}


div#block_sevenmb a
{
	text-decoration: underline;
	font-size: 18px;
	box-shadow: none;
/*  display: table;*/
    min-width: 300px;
    padding-bottom: 8px;
}

  div#block_sevenmb a:hover
{

	box-shadow: none;
/*        display: table;*/
    min-width: 300px;
padding-bottom: 8px;
}

div#block_sevenmb ul
{
	background:none;
	list-style: outside none none;
	margin: 0;
	padding: 0 0 0 2px;
}

div#block_sevenmb ul li
{
	background: none !important;
	background-image: none !important;
	padding: 5px;
    margin: 0 !important;
    position:unset;

}
div#block_sevenmb ul li::before
{
	background:none;

}

div#block_sevenmb ul li img
{
	float:left;
	padding: 0 10px 7px 0;
	margin-right: 10px;
}


div#block_sevenmb ul li div
{

}

@media (max-width: 500px) {
div#block_sevenmb ul li img
{
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
	display:block;
}
  
  #slideboxsevenmb .poslecont img {padding: 0 0 10px 0 !important}
  
  #slideboxsevenmb p {margin: 0px;}
  
  .poslecont a {font-size: 18px;}
  
  .poslecont {font-size: 13px; line-height: 21px;}
  
 #slideboxsevenmb img
{
    float: none !important;
    padding: 0 !important
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
	display:block;
}
  
}

div#sevenmbcont img{opacity: 1;}





.knopochka{text-decoration:none; text-align:center; 
 padding:11px 32px; 
 border:solid 1px #525252; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:13px Verdana, Geneva, sans-serif; 
 font-weight:bold; 
 color:#292929; 
 background-color:#ffda33; 
 background-image: -moz-linear-gradient(top, #ffda33 0%, #f2b100 100%); 
 background-image: -webkit-linear-gradient(top, #ffda33 0%, #f2b100 100%); 
 background-image: -o-linear-gradient(top, #ffda33 0%, #f2b100 100%); 
 background-image: -ms-linear-gradient(top, #ffda33 0% ,#f2b100 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b100', endColorstr='#f2b100',GradientType=0 ); 
 background-image: linear-gradient(top, #ffda33 0% ,#f2b100 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px -20px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px -20px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px -20px #ffffff;  
  
 text-shadow: -1px 1px 1px #ffffff; 
 filter: dropshadow(color=#ffffff, offx=-1, offy=1); }.knopochka:hover{
 padding:11px 32px; 
 border:solid 1px #005072; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:13px Verdana, Geneva, sans-serif; 
 font-weight:bold; 
 color:#292929!important; 
 background-color:#fae441; 
 background-image: -moz-linear-gradient(top, #fae441 0%, #ffd61f 100%); 
 background-image: -webkit-linear-gradient(top, #fae441 0%, #ffd61f 100%); 
 background-image: -o-linear-gradient(top, #fae441 0%, #ffd61f 100%); 
 background-image: -ms-linear-gradient(top, #fae441 0% ,#ffd61f 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd61f', endColorstr='#ffd61f',GradientType=0 ); 
 background-image: linear-gradient(top, #fae441 0% ,#ffd61f 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 text-shadow: -1px 1px 1px #ffffff; 
 filter: dropshadow(color=#ffffff, offx=-1, offy=1);}.knopochka:active{
 padding:11px 32px; 
 border:solid 1px #005072; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:13px Verdana, Geneva, sans-serif; 
 font-weight:bold; 
 color:#292929; 
 background-color:#f7be54; 
 background-image: -moz-linear-gradient(top, #f7be54 0%, #fac637 100%); 
 background-image: -webkit-linear-gradient(top, #f7be54 0%, #fac637 100%); 
 background-image: -o-linear-gradient(top, #f7be54 0%, #fac637 100%); 
 background-image: -ms-linear-gradient(top, #f7be54 0% ,#fac637 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac637', endColorstr='#fac637',GradientType=0 ); 
 background-image: linear-gradient(top, #f7be54 0% ,#fac637 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 text-shadow: -1px 1px 1px #ffffff; 
 filter: dropshadow(color=#ffffff, offx=-1, offy=1);}




#slideboxsevenmb{
    max-width:600px;
/*    height:100px;*/
    padding:10px;
    background-color:#fff;
    position:fixed;
/*    bottom:0px;*/
  right:-630px;  
    -moz-box-shadow:-2px 0px 5px #aaa;
    -webkit-box-shadow:-2px 0px 5px #aaa;
	box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgba(0, 0, 0, 0.3) ;
z-index:1000;
}

#slideboxsevenmb:hover {
	box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 25px rgba(0, 0, 0, 0.3) ;

}

#slideboxsevenmb a.close {
    background: transparent none repeat scroll 0 0;
/*    border: 1px solid #333;*/
    cursor: pointer;
    height: 13px;
    line-height: 13px;
    position: absolute;
    right: 10px;
    top: 12px;
  color: #555;
/*    width: 13px;*/
}


#slideboxsevenmb p
{
    font-size:15px;
    font-family: Arial,Helvetica,sans-serif;
    color:#555;
}

#slideboxsevenmb a{
  text-decoration:underline;
}

#slideboxsevenmb  .poslecont{
  box-shadow: none;
}

#slideboxsevenmb  .poslecont:hover{
  box-shadow: none;
}

#slideboxsevenmb .poslecont img {
float: left;
padding: 0 15px 40px 0;
}

/******/