}

body, html {
	background:#fff;
	color:#fff;
	font-family:Tahoma, sans-serif;
	font-size:12px;
	line-height:19px;
}

a {
	color:#197BD6;
	text-decoration:none;
}

headline {
	color:#197BD6;
	text-decoration:none;
PADDING-left: 1px;
}

feedburnerFeedBlock {
	color:#197BD6;
	text-decoration:none;
PADDING-left: 1px;
}


a:hover {
	color:#197BD6;
text-decoration:underline;
}

img {
	border:none;
}.nav {
	font-family:Tahoma;
	font-size:11px;
	color:rgb(108,125,136);
}
.addnews {
	color: #4b719e;
	font-size: 11px;
	font-family: tahoma;
	font-weight: bold;
	PADDING-RIGHT: 5px;
}
.newsbody {
	text-align: justify;
	font-family:verdana;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 16px;
	font-size:12px;
	color:#606D77;
PADDING: 10px 0px 3px 0px;
}
.news {
	text-align: justify;
	font-family:verdana;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 16px;
	font-size:12px;
	color:#606D77;
}
.newstitle {
	font-family:Tahoma;
	font-size:11px;
	color:rgb(255,255,255);
	margin-top:16px;
	margin-left:10px;
}

.lefttext {
	vertical-align: top;
	font-family:Tahoma;
	font-size:11px;
	color:#82919A;
	margin-top:6px;
	margin-left:30px;
}
.archives {
	vertical-align: top;
	font-family:Tahoma;
	font-size:11px;
	margin-top:6px;
	margin-left:20px;
	margin-bottom:10px;
}
.changeskin {
	vertical-align: top;
	font-family:Tahoma;
	font-size:11px;
	margin-top:6px;
	margin-bottom:10px;
	margin-left:45px;
}
.changeskin select {
	font-size:11px;
	font-family:Tahoma;
}
.archives a {
	font-family:Tahoma;
	font-size:11px;
	color:#197BD6;
}
.date {
	text-align: left;
	vertical-align: top;
	font-family:Tahoma;
	font-size:11px;
	color:#82919A;
}
.opros {
	vertical-align: top;
	font-family:Tahoma;
	font-size:11px;
	color:#82919A;
	margin-top:6px;
	margin-left:10px;
}
.quote {
	color: #000000;
	FONT: 10pt Verdana; 
	text-align:justify;
	background-color: lightyellow; 
	border-width:1; 
	border-color:rgb(190,190,190); 
	border-style:dotted;
	padding: 5px;
	}
.searchform {
	margin-top:12px;
	font-family:Tahoma;
	font-size:11px;
	color:#82919A;
}
.calendarview {
	vertical-align: top;
	margin-left:5px;
}
.weekday-active-v {
	color: #197BD6;
	font-family:tahoma;
	 font-size:11px;
}
.day-active-v {
	color: #197BD6;
	font-family:tahoma;
	 font-size:11px;
}
.calendar {
	 font-family:verdana;
	 font-size:11px;
	 color: #197BD6;
}
.calendar td, th {
	 font-family:verdana;
	 font-size:11px;
	 text-decoration: none;
}

.weekday {
	color: #804040;
	font-family:verdana;
	font-size:11px;
}
.weekday-active {
	color: #804040;
	font-family:verdana;
	font-size:11px;
}
.day-active {
	color: #197BD6;
	font-family:verdana;
	font-size:11px;
}
.day-active a,
.weekday-active a,
.day-active-v a,
.weekday-active-v a
 {
text-decoration: none;
}

.rating {
	background: #FFF;
	border: 1px solid #E0E0E0;
	color: #666666;
	font-family: Tahoma, helvetica, sans-serif;
	vertical-align: middle;
	font-size: 11px; 
	vertical-align: middle;
height:18px;
}
.bbcodes {
	background: #FFF;
	border: 1px solid #197BD6;
	color: #197BD6;
	font-family: Verdana, Tahoma, helvetica, sans-serif;
	padding: 2px;
	vertical-align: middle;
	font-size: 10px; 
	vertical-align: middle;
	margin:2px;
	width:80px;
	height: 21px;
}
.vote_title {
	color: #197BD6;
	font-size: 11px;
	font-family: tahoma;
    font-weight: bold;
}
.vote {
	color: #197BD6;
	font-size: 11px;
	font-family: tahoma;
}
.xfields textarea {
width:500px; height:90px; font-family:verdana; font-size:11px; border:1px solid #E0E0E0;
}
.xfields input {

width:250px; height:18px; font-family:verdana; font-size:11px; border:1px solid #E0E0E0;
}
.xfields select {
height:18px; font-family:verdana; font-size:11px; border:1px solid #E0E0E0;
}
.pm_head {
	FONT: 10pt Verdana; 
}
.pm_list {
	color: #888888;
	font-size: 11px;
	font-family: tahoma;
	}
.pm_list a {
	color: #82919A;
	font-size: 11px;
	font-family: tahoma;
}
#dropmenudiv{
border:1px solid black;
border-bottom-width: 0;
font:normal 10px Verdana;
background-color: #F4F4F4;
line-height:18px;
}

#dropmenudiv a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid black;
padding: 1px 0;
text-decoration: none;
font-weight: bold;
}

#dropmenudiv a:hover{ /*hover background color*/
background-color: #DEDEDE;
}
.header {
  font-family      : Verdana, Geneva, Arial, Helvetica, sans-serif;
  color            : #197BD6;
  font-size        : 10px;
  font-weight      : bold;
  margin-bottom    : 1px; 
  margin-left      : 2px;
 }
.footer {
  font-family      : Verdana, Geneva, Arial, Helvetica, sans-serif;
  color            : #FFFFFF;
  font-size        : 10px;
  color            : #FFFFFF;
  font-weight      : normal;
 }