BODY {
LINE-HEIGHT: 16px;
BACKGROUND-COLOR: #FFFFFF;
FONT-SIZE: 13px;
scrollbar-face-color: #408080;
scrollbar-hightlight-color: #316262;
scrollbar-shadow-color: #2E5A5A;
scrollbar-3dlight-color: #214343;
scrollbar-arrow-color: #FFFFFF;
scrollbar-darkshadow-color: #214141;
scrollbar-base-color: #408080
}
A:link {
COLOR: #003333; FONT-FAMILY: verdana
}
A:visited {
COLOR: #003333; FONT-FAMILY: verdana
}
A:hover {
COLOR: #4c6654; FONT-FAMILY: verdana
}
A.menu:active {
FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.menu:link {
FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.menu:visited {
FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.menu:hover {
FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #feffb1; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.menu_on:link {
FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #feffb1; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.menu_on:visited {
FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #feffb1; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.menu_on:hover {
FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #feffb1; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.copywrite {
FONT-SIZE: 10px; COLOR: #4c6659; FONT-FAMILY: verdana
}
TD {
FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: verdana; LINE-HEIGHT: 16px
}
h2 {
FONT-SIZE: 16px; COLOR: black; FONT-FAMILY: verdana; FONT-WEIGHT: bold;
}
.title {
FONT-WEIGHT: bold; width:70%; height:20; BACKGROUND-COLOR: #96D16B
}