BODY {
	MARGIN: 5px; BACKGROUND-COLOR: #f5f5f5
}
TD {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Arial
}
P {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana
}
.pagetext {
	DISPLAY: none; VISIBILITY: hidden; POSITION: relative; TOP: 0px
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Verdana;
line-height: 150%
}
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #0363a9; FONT-FAMILY: Verdana
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0363a9; FONT-FAMILY: Verdana
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana
}
A:link {
	FONT-SIZE: 14px; Verdana; color:#0066CC;
	}
A:visited {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana; color:#0066CC;
	}
A:hover {
	color:#0066CC;
	
}
HR {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; BACKGROUND: #ffffff; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset; HEIGHT: 1px
}
HR.separator {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: #00481d; BORDER-LEFT: 0px; WIDTH: 75px; BORDER-BOTTOM: 0px; HEIGHT: 1px
}
A.mainmenu:link {
	BORDER-TOP: #feb50e 1px solid; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, serif; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.mainmenu:visited {
	BORDER-TOP: #feb50e 1px solid; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, serif; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.mainlevel:link {
	BORDER-TOP: #feb50e 1px solid; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, serif; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.mainlevel:visited {
	BORDER-TOP: #feb50e 1px solid; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, serif; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.mainmenu:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #feb50e; TEXT-DECORATION: none
}
A.mainlevel:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #feb50e; TEXT-DECORATION: none
}
.latestnewswhite:link {
	FONT-SIZE: 11px; COLOR: #5a83d6; LINE-HEIGHT: 20px; LETTER-SPACING: 1px
}
.latestnewswhite:visited {
	FONT-SIZE: 11px; COLOR: #5a83d6; LINE-HEIGHT: 20px; LETTER-SPACING: 1px
}
.mod_docman_lister_linkwhite:link {
	FONT-SIZE: 10px; COLOR: #5a83d6; LINE-HEIGHT: 20px
}
.mod_docman_lister_linkwhite:visited {
	FONT-SIZE: 10px; COLOR: #5a83d6; LINE-HEIGHT: 25px
}
#contentwrapper {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #000000666; LINE-HEIGHT: 18px; PADDING-TOP: 5px; FONT-FAMILY: Verdana
}
#recommend {
	MARGIN: 5px 0px 0px
}
#gallerywrapper {
	MARGIN: 20px 20px 20px 15px
}
.contentheading {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff8400; LINE-HEIGHT: 24px; PADDING-TOP: 30px; FONT-FAMILY: Verdana; LETTER-SPACING: 1px; TEXT-ALIGN: left
}
.contentpagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff8400; PADDING-TOP: 30px; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
A.contentpagetitle:link {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff8400; PADDING-TOP: 30px; FONT-FAMILY: Verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.contentpagetitle:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff8400; PADDING-TOP: 30px; FONT-FAMILY: Verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
TABLE.contenttoc {
	COLOR: #333300
}
TABLE.contenttoc TD {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
A.toclink:hover {
	FONT-SIZE: 9px
}
A.toclink:visited {
	FONT-SIZE: 9px
}
A.toclink:link {
	FONT-SIZE: 9px
}
.contentdescription {
	FONT-SIZE: 11px; COLOR: #808080; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
A:link {
	color:#0066CC;
	
}
A:visited {
	color:#0066CC;
	
}
A:link {
	color:#0066CC;
	
}
A:visited {
	color:#0066CC;
	
}
A.weblinks:link {
	FONT-WEIGHT: normal; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.weblinks:visited {
	FONT-WEIGHT: normal; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.weblinks:hover {
	COLOR: #5a83d6; 
}
A.contentheading:link {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff8400; PADDING-TOP: 30px; FONT-FAMILY: Verdana; TEXT-ALIGN: left; 
}
A.contentheading:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff8400; PADDING-TOP: 30px; FONT-FAMILY: Verdana; TEXT-ALIGN: left; 
}
A.contentheading:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff8400; PADDING-TOP: 30px; FONT-FAMILY: Verdana; TEXT-ALIGN: left; 
}
TABLE.moduletable {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; MARGIN: 0px; BORDER-LEFT: #000000 0px solid; WIDTH: 100%; BORDER-BOTTOM: #000000 0px solid
}
TABLE.moduletable TH {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 100%; COLOR: #ffffff; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; HEIGHT: 22px; BACKGROUND-COLOR: #9bb1de; TEXT-ALIGN: left
}
TABLE.moduletable TD {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.componentheading {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff8400; PADDING-TOP: 30px; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
.button {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #97aedd
}
.readon {
	COLOR: #0000ff
}
.inputbox {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #ffffff; COLOR: #000099; FONT-FAMILY: Verdana
}
.category {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #5a83d6; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.category:link {
	FONT-WEIGHT: bold; COLOR: #5a83d6; 
}
A.category:visited {
	FONT-WEIGHT: bold; COLOR: #5a83d6;
}
A.category:hover {
	COLOR: #5a83d6; 
}
.sectiontableentry1 {
	MARGIN: 10px 5px; HEIGHT: 35px
}
.sectiontableentry2 {
	MARGIN: 10px 5px; HEIGHT: 35px; BACKGROUND-COLOR: #f8f8f8
}
TABLE.moduletablewhite .sectiontableentry2 {
	MARGIN: 0px; HEIGHT: 0px; BACKGROUND-COLOR: #ffffff
}
TABLE.moduletablewhite .sectiontableentry1 {
	MARGIN: 0px; HEIGHT: 0px
}
.sectiontableheader {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.frontpageheader {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #0077aa
}
.small {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #5a83d6; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.smalldark {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
UL {
	MARGIN: 0px
}
TABLE.searchintro {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
TABLE.contact {
	
}
TABLE.contact TD.icons {
	
}
TABLE.contact TD.details {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana
}
.pagenav {
	FONT-WEIGHT: bold; COLOR: #386593; TEXT-DECORATION: none
}
A.pagenav {
	FONT-WEIGHT: bold; COLOR: #386593; TEXT-DECORATION: none
}
A.pagenav:visited {
	FONT-WEIGHT: bold; COLOR: #386593; TEXT-DECORATION: none
}
A.pagenav:hover {
	FONT-WEIGHT: bold; COLOR: #0363a9
}
.moscode {
	BACKGROUND-COLOR: #f0f0f0
}
.message {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #0363a9; FONT-FAMILY: Verdana; TEXT-ALIGN: center
}
.smalllight {
	FONT-SIZE: 9px; COLOR: #adadad; FONT-FAMILY: Verdana
}
.createdate {
	FONT-SIZE: 9px; COLOR: #777777; FONT-FAMILY: Verdana; LETTER-SPACING: 1px
}
#emailForm {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #333333; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana
}
HR {
	COLOR: #ffffff; BACKGROUND-COLOR: #ffffff
}
.sitesearch {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fec238; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.sitesearch:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fec238; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.sitesearch:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fec238; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.pathway {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fec238; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pathway:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fec238; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pathway:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fec238; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.pathway:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.smalllight {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
TABLE.moduletablewhite {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; MARGIN: 0px 0px 14px; BORDER-LEFT: #000000 0px solid; WIDTH: 100%; BORDER-BOTTOM: #000000 0px solid
}
TABLE.moduletablewhite TH {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 100%; COLOR: #000; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; LETTER-SPACING: 2px; HEIGHT: 22px; BACKGROUND-COLOR: #f6f6f6; TEXT-ALIGN: left
}
TABLE.moduletablewhite TD {
	PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 15px; PADDING-TOP: 2px; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
TABLE.moduletableblue {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; MARGIN: 0px; BORDER-LEFT: #000000 0px solid; WIDTH: 100%; BORDER-BOTTOM: #000000 0px solid
}
TABLE.moduletableblue TH {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 100%; COLOR: #fff; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; LETTER-SPACING: 2px; HEIGHT: 22px; BACKGROUND-COLOR: #9bb1de; TEXT-ALIGN: left
}
TABLE.moduletableblue TD {
	PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #fff; LINE-HEIGHT: 15px; PADDING-TOP: 2px; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.date {
	PADDING-RIGHT: 30px; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana; LETTER-SPACING: 1px
}
TABLE.moduletableblue A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #fff; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Helvetica, serif
}
TABLE.moduletableblue A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #fff; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Helvetica, serif
}
TABLE.moduletablewhiteorange A:link {
	FONT-SIZE: 11px; COLOR: #ff8400
}
TABLE.moduletablewhiteorange TH {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 190px; COLOR: #000; LINE-HEIGHT: 22px; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; LETTER-SPACING: 2px; HEIGHT: 22px; BACKGROUND-COLOR: #f6f6f6; TEXT-ALIGN: left
}
.concurso {
	FONT-SIZE: 9px; COLOR: #777777; FONT-FAMILY: Verdana; LETTER-SPACING: 0px
}
A.concurso:link {
	FONT-WEIGHT: lighter; FONT-SIZE: 9px; COLOR: #5a83d6; TEXT-DECORATION: none
}
A.concurso:visited {
	FONT-WEIGHT: lighter; FONT-SIZE: 9px; COLOR: #5a83d6; TEXT-DECORATION: none
}