/*MULTI*/

.multi_ajax-loading
{
	background:url(../i/multi/ajax-loader.gif) 329px 10px no-repeat;
}

DIV#popwindow A.sp_button_multi
{
height:34px;
width:184px;
padding:0px;
float:right;
text-decoration:none;
background:url(../i/multi/button1.gif) top no-repeat;
cursor:pointer;
margin-right:10px;
}

DIV#popwindow A.sp_button_multi:hover
{
background:url(../i/multi/button1.gif) bottom no-repeat;
}

.sp_center_multi
{
width:100%;
height:352px;
background:url(../i/multi/center_bg.gif) top no-repeat #FFFFFF;
}

.sp_center_multi_loaded
{
width:1px;
height:1px;
background:url(../i/multi/center_bg_loaded.gif) top no-repeat #FFFFFF;
position:absolute;
}

.sp_center_multi .multi_title
{
	height:21px;
	border-bottom: solid 1px #E5E5E5;
	padding:82px 0px 0px 0px;
	margin:0px 19px 0px 19px;
}

.sp_center_multi .multi_title span.title
{
	color:#111111;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:18px;
}

.sp_center_multi .multi_title span.title strong
{
	color:#FF6600;
	font-weight:normal;
	font-size:18px;
}

.sp_center_multi .multi_title span.free
{
	color:#01C236;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-size:12px;
	font-style:italic;
	float:right;
	display:block;
	margin-top:5px;
}


.sp_center_multi_m1
{
float:left;
margin:13px 0px 0px 19px;
width:356px;
}

.sp_center_multi_m2
{
float:left;
margin:13px 0px 0px 0px;
width:290px;
}

#multi_info
{
font-family:"Tahoma", Arial, Helvetica, sans-serif;
font-weight:normal;
font-size:11px;
color:#666666;
margin-left:21px;
}

#multi_info span
{
color:#FF0000;
font-size:14px;
}

.sp_center_multi div.full_i
{
	width:320px;
	height:27px;
	border:none;
	padding:8px 5px 0px 10px;
	margin:0px 0px 10px 0px;
	background:url(../i/multi/input_i.gif) left top no-repeat #FFFFFF;
}

.sp_center_multi input.full_i
{
	width:305px;
	border:none;
	padding:0px;
	margin:0px;
	color:#262626;
	font-family:"Tahoma", Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:14px;
}

.sp_center_multi div.full
{
	width:320px;
	height:27px;
	border:none;
	padding:8px 5px 0px 10px;
	margin:0px 0px 10px 0px;
	background:url(../i/multi/input.gif) left top no-repeat #FFFFFF;
}

.sp_center_multi input.full
{
	width:305px;
	border:none;
	padding:0px;
	margin:0px;
	color:#262626;
	font-family:"Tahoma", Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:14px;
}

.sp_center_multi div.s_full
{
	width:225px;
	height:27px;
	padding:8px 0px 0px 10px;
	margin:0px 0px 10px 0px;
	background:url(../i/multi/input_small.gif) left top no-repeat #FFFFFF;
}

.sp_center_multi select.s_full
{
	width:205px;
	border:none;
	padding:0px 0px 0px 0px;
	color:#262626;
	font-family:"Tahoma", Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:14px;
}

.sp_center_multi div.three_title
{
	width:86px;
	height:27px;
	border:none;
	padding:8px 0px 0px 5px;
	color:#262626;
	font-family:"Tahoma", Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:14px;
	float:left;
}

.sp_center_multi div.three_data
{
	width:237px;
	height:27px;
	padding:8px 0px 0px 7px;
	margin:0px 0px 10px 0px;
	background:url(../i/multi/input_three.gif) left top no-repeat #FFFFFF;
	float:left;
}

.sp_center_multi select.three_data
{
	width:55px;
	border:none;
	padding:0px 0px 0px 0px;
	margin-right:17px;
	color:#262626;
	font-family:"Tahoma", Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:13px;
	float:left;
}

.sp_center_multi select.three_data2
{
	width:80px;
	border:none;
	padding:0px 0px 0px 0px;
	margin-right:21px;
	color:#262626;
	font-family:"Tahoma", Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:13px;
	float:left;
}

.sp_center_multi select.three_data3
{
	width:57px;
	border:none;
	padding:0px 0px 0px 0px;
	color:#262626;
	font-family:"Tahoma", Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:13px;
	float:left;
}

.sp_center_multi div.text_ar
{
	width:275px;
	height:117px;
	padding:8px 0px 0px 10px;
	margin:0px 0px 10px 0px;
	background:url(../i/multi/textarea.gif) left top no-repeat #FFFFFF;
}

.sp_center_multi textarea
{
	width:268px;
	height:112px;
	padding:0px 0px 0px 0px;
	color:#b5b5b5;
	font-family:"Tahoma", Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	border:none;
}

.sp_center_multi div.s_full2
{
	width:285px;
	height:25px;
	padding:10px 0px 0px 10px;
	margin:0px 0px 10px 0px;
	background:url(../i/multi/input_small2.gif) left top no-repeat #FFFFFF;
}

.sp_center_multi input.s_full2
{
	width:235px;
	border:none;
	padding:0px;
	margin:0px;
	color:#262626;
	font-family:"Tahoma", Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
}

.sp_center_multi span#fileSkinText
{
	width:120px;
	height:27px;
	border:none;
	padding:8px 0px 0px 5px;
	color:#b5b5b5;
	font-family:"Tahoma", Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	float:left;
}


.sp_center_multi select option
{
color:#262626;	
}

#multi_info div.m_info
{
	width:322px;
	height:34px;
	background:url(../i/multi/info.gif) left top no-repeat;
}




/*  FILE INPUT */

.sp_center_multi #File2
{
	position: absolute;
}
.sp_center_multi .customFile
{
	width: 219px;
	margin-left: -86px;
	cursor: default;
	height: 35px;
	z-index: 2;
	filter: alpha(opacity: 0);
	opacity: 0;
}
*+html .customFile
{
	margin-left: -145px;
}
.sp_center_multi .fakeButton
{
	position: absolute;
	z-index: 1;
	width: 133px;
	height: 35px;
	background: url(../i/multi/button.gif) no-repeat left top;
	float: left;
}

.sp_center_multi .blocker
{
	position: absolute;
	z-index: 3;
	width: 150px;
	height: 35px;
	background: url(../i/multi/transparent.gif);
	margin-left: -155px;
}
.sp_center_multi #FileName
{
	position: absolute;
	height: 30px;
	margin-left: 139px;
	font-family: Verdana;
	font-size: 9pt;
	color: #FF6600;
	margin-top: 1px;
	padding-top: 6px;
	padding-left: 0px;
	width:160px;
	overflow:hidden;
}
.sp_center_multi #activeBrowseButton
{
	background: url(../i/multi/button_active.gif) no-repeat left top;
	display: none;
}
		
/* \ FILE INPUT */