* {
	padding:0px;
	margin:0px;
}

div.clear {
	clear:both;
}

div.clear-l {
	clear:left;
}

div.clear-r {
	clear:right;
}

html {
	height:100%;
}

body {
	height:auto !important;
	height:100%;
	min-height:100%;
	min-width:1004px;
	background:#2e3d4e;
}

#body .body-left ul li, #body .body-left ol li{padding-bottom:10px}

#container {
	min-width:1004px;
	max-width:1200px;
	margin:0 auto;
	background:#fff;
}
/*
body {
	height:auto !important;
	height:100%;
	min-height:100%;
	min-width:1004px;
	max-width:1400px;
}

#container {
	min-width:1004px;
	max-width:1400px;
}


body {
	height:auto !important;
	height:100%;
	min-height:100%;
}

#container {
	width:1000px;
	position:relative;
	left:50%;
	margin-left:-500px;
}
*/
tbody {
  border-top: none;
}

/*********************************************************************/

#header {
	position:relative;
	height:76px;
	background:#0f60b3 url(images/header-line.jpg) repeat-x;
	padding:0px 29px 0px 29px;
	overflow:hidden;
}

#header .logo {
	float:left;
}

#header .user-online {
	float:right;
	margin-top:19px;

	font:12px Arial, Helvetica, sans-serif;
	color:#ffffff;
}

#header .user-online a {
	font:12px Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration:underline;
}

#header .user-online a:hover {
	text-decoration:none;
}

#header .top-menu {
	float:right;
	margin-top:14px;
	height:28px;
	position:relative;
	z-index:100;
	background:#4f84ba url(images/top-menu-line.jpg) repeat-x;
}

#header .top-menu .top-menu-l, #header .top-menu .top-menu-r {
	float:left;
	position:relative;
	z-index:200;
}

#header .top-menu .top-menu-content {
	float:left;
	height:28px;
}

#header .top-menu .top-menu-content ul.top-menu-links {
	list-style:none;
	list-style-image:none;
}

#header .top-menu .top-menu-content ul.top-menu-links li {
	float:left;
	padding:3px 6px 0px 6px;
	height:25px;
}

#header .top-menu .top-menu-content ul.top-menu-links li.active {
	float:left;
	padding:3px 5px 0px 5px;
	height:25px;
	border-left:1px solid #edf1f5;
	border-right:1px solid #edf1f5;
	background:#edf1f5 url(images/top-menu-line-h.jpg) repeat-x;
}

#header .top-menu .top-menu-content ul.top-menu-links li a, #header .top-menu .top-menu-content ul.top-menu-links li a.active {
	font:12px Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration:none;
}

#header .top-menu .top-menu-content ul.top-menu-links li a.active, #header .top-menu .top-menu-content ul.top-menu-links li a.active:hover {
	color:#333;
}

#header .top-menu .top-menu-content ul.top-menu-links li a:hover {
	color:#054486;
}

#header .top-menu .top-menu-feed, #header .top-menu .top-menu-contact {
	float:left;
	padding:0px 8px 0px 8px;
	height:28px;
}

#header .top-menu .top-menu-feed img, #header .top-menu .top-menu-contact img {
	margin-top:8px;
}

#header .top-menu .top-menu-contact {
	margin-right:3px;
}

#header .top-menu .top-menu-feed {
	margin-left:3px;
}


/*********************************************************************/

#header-bottom {
	height:40px;
	background:#cbea88 url(images/header-bottom-line.jpg) repeat-x;
	padding:0px 29px;
	overflow:hidden;

	font:12px Arial, Helvetica, sans-serif;
	color:#284B78;
}

#header-bottom a {
	font:12px Arial, Helvetica, sans-serif;
	color:#2d7d2d;
	text-decoration:underline;
}

#header-bottom a:hover {
	text-decoration:none;
}

#header-bottom form#user-login-form {
	padding:0px;margin:0px;
}

#header-bottom div {
	float:left;
	height:32px;
	padding:8px 0px 0px 0px;
}

#header-bottom div .form-item {
	float:left;
	margin:0px 8px 0px 0px;
	width:126px;
	height:22px;
	padding:1px 0px 0px 0px;
}

#header-bottom div .form-item input {
	padding:3px 2px;
	width:120px;
	margin:0;
	border:1px solid #7E9DB9;

	font:12px Arial, Helvetica, sans-serif;
	color:#9b9a9a;
}

#header-bottom .form-submit {
	float:left;

	font:12px Arial, Helvetica, sans-serif;
	color:#ffffff;
	background:#75ad01 url(images/submit-header.jpg) no-repeat;
	width:55px;
	height:19px;
	border:none;
	margin:3px 0px 0px 0px;
	padding:0px 0px 2px 0px;
	cursor:pointer;
}

#header-bottom .search-form {
	float:right;
	height:40px;
	margin:0px;
	padding:0px 0px 0px 0px;
}

#header-bottom .search-form div.search-form-edit {
	float:left;
	width:164px;
	height:21px;
	background:#ffffff url(images/search-edit.jpg) no-repeat;
	margin:0px; padding:4px 0px 0px 0px;
}

#header-bottom .search-form div.search-form-edit input.edit-sf {
	float:left;
	width:125px;
	font:12px Arial, Helvetica, sans-serif;
	color:#9b9a9a;
	border:1px solid #ffffff;
	margin-left:12px;
}

#header-bottom .search-form div.search-form-submit {
	float:left;
	padding:0px;
	margin:3px 0px 0px -24px;
}

#header-bottom .reg {
	margin:0px 0px 0px 20px;
	padding-top:12px;
	height:28px;
}

#header-bottom .reg2 {
	padding-top:12px;
	height:28px;
}



/*********************************************************************/

#body {
	padding:5px 0;
	position:relative;
	z-index:200;
}

#body .b-c-i-l, #body .b-c-i-lb {
	position:absolute;
	z-index:250;
	left:0px;
	width:20px;
	height:20px;
	overflow:hidden;
	font-size:1px;
}

#body .b-c-i-l, #body .b-c-i-r {
	top:0px;
}

#body .b-c-i-lb, #body .b-c-i-rb {
	bottom:0px;
}

#body .b-c-i-l, #body .b-c-i-r, #body .b-c-i-lb, #body .b-c-i-rb{display:none}

#body .b-c-i-r, #body .b-c-i-rb {
	position:absolute;
	z-index:250;
	right:0px;
	width:20px;
	height:20px;
	overflow:hidden;
	font-size:1px;
}

#body .b-c-body {
	min-height:50px;
	height:auto !important;
	height:50px;
	background:#ffffff;
	padding:14px 29px;
	margin:0px 0px;

}

#body #body-content {
	position:relative;
	z-index:225;
	padding:0px 0px;
}

#body #body-maps {
	margin-top:24px;
	position:relative;
	z-index:225;
}

#body #body-copy {
	position:relative;
	z-index:225;
	line-height:20px;
}

#body #body-copy .b-c-body {
	padding:25px 24px 25px 24px;
}

#body #body-copy .copy-left {
	width:330px;
	float:left;
}

#body #body-copy .copy-right {
	margin-left:330px;
}

#body #body-copy .ia-pegas a {
	display:block;
	width:95px;
	height:20px;
	background:url(images/ia-pegas.jpg) no-repeat;
	padding:30px 4px 0px 41px;

	font:13px "Times New Roman", Times, serif;
	color:#333333;
	text-decoration:none;
}

#body #body-copy .ia-pegas a:hover {
	text-decoration:underline;
}

/*********************************************************************/

#body .breadcrumb {
	padding:3px 0 0px 0;
	margin-bottom:10px;

	font:12px Arial, Helvetica, sans-serif;
	color:#333;
}

#body .breadcrumb a {
	font:12px Arial, Helvetica, sans-serif;
	color:#284B78;
	text-decoration:none;
}

#body .breadcrumb a:hover {
	text-decoration:underline;
	color:#2d7d2d;
}

/*********************************************************************/

#body #body-content .body-lft {
	float:left;
	width:160px;
	padding-right:20px;

	position:relative;
	z-index:250;
}

#body #body-content .body-right {
	float:left;
	width:340px;
	padding:0 0 10px 0;
	background:#ecf0f4;
}

body #body-content .body-left {margin:0;width:100%;float:left}
body.sidebars #body-content .body-left {margin:0px -360px 0 -180px;width:100%;float:left}
body.sidebar-left #body-content .body-left {margin:0 0 0 -180px;width:100%;float:left}
body.sidebar-right #body-content .body-left {margin:0 -360px 0 0;width:100%;float:left}

body #body-content .body-left2 {margin:0}
body.sidebars #body-content .body-left2 {margin:0px 380px 0 200px}
body.sidebar-left #body-content .body-left2 {margin:0 0 0 200px}
body.sidebar-right #body-content .body-left2 {margin:0 380px 0 0}

.clear-block:after, .node-form .standard, .profile, .theme-settings-bottom, .item-list .pager {
  clear: left;
}

/*********************************************************************/

#body #body-content .body-left .f-topic-list h2, #body #body-content .body-left .forums-stats h2 {
	font:14px Arial, Helvetica, sans-serif;
	color:#104e8e;
	margin:0px 0px 10px 0px;
}

#body #body-content .body-left .f-topic-list ul {
	list-style:none;
	list-style-type:none;
	margin-bottom:20px;
}

#body #body-content .body-left .f-topic-list ul li {
	background:url(images/topic-list.jpg) 0px 5px no-repeat;
	margin-left:-20px;
	padding-left: 15px;
}

#body #body-content .body-left .forums-stats .forums-stats-c {
	margin:0px 0px -15px 20px;
}


/*********************************************************************/

#body #body-content .block {
	margin:0px 15px 24px 10px;
}

#body #body-content .block .content {
}

#body #body-content .block .content h1, #body #body-content .block .content h2, #body #body-content .block .content h3 {
	font:14px Arial, Helvetica, sans-serif;
	color:#254589;
}
/*
#body #body-content .block .title-right_blocks-block_1 {
	background:#4398ef url(images/right_blocks-block_1.jpg) no-repeat;
	height:23px;
	padding:3px 0px 0px 0px;
	text-align:center;
}

#body #body-content .body-right .block-right_blocks-block_1 .content {
	background:#e6f3f9;
	border-left:1px solid #c3dce7;
	border-right:1px solid #c3dce7;
}

#body #body-content .body-right .block .title-right_blocks-block_2 {
	background:#ff930d url(images/right_blocks-block_2.jpg) no-repeat;
	height:23px;
	padding:3px 0px 0px 0px;
	text-align:center;
}

#body #body-content .body-right .block-right_blocks-block_2 .content {
	background:#fff4e8;
	border-left:1px solid #e8d0b2;
	border-right:1px solid #e8d0b2;
}

#body #body-content .body-right .block .title-right_blocks-block_3 {
	background:#8ac100 url(images/right_blocks-block_3.jpg) no-repeat;
	height:23px;
	padding:3px 0px 0px 0px;
	text-align:center;
}

#body #body-content .body-right .block-right_blocks-block_3 .content {
	background:#f3f9e3;
	border-left:1px solid #c3e07a;
	border-right:1px solid #c3e07a;
}

#body #body-content .block .title-block-default {
	background:#244487 url(images/block-default.jpg) no-repeat;
	height:23px;
	padding:4px 0px 0px 0px;
	text-align:center;
}
*/

#body #body-content .block .title-block-default {
	height:23px;
	padding:4px 0px 10px 0px;
	}

#body #body-content .block h2 {
	font:18px Arial, Helvetica, sans-serif;
	letter-spacing:-1px;
	color:#4e463f;
}

#body #body-content .block .bl-t {
	font-size:1px;
}

/*********************************************************************/

#body {
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	background:#48688b;
}

#body a {
color:#284B78;
font:13px Arial, Helvetica, sans-serif;
text-decoration:none;
text-indent:0;
}

#body a:hover {
	text-decoration:underline;
	color:#2d7d2d;
}

#body .body-lft a, #body .body-right a {
	font:12px Tahoma, Geneva, sans-serif;
	color:#5e6f79;
	font-weight:bold;
	text-decoration:none;
}

#body .body-lft a:hover, #body .body-right a:hover {
	text-decoration:underline;
	color:#2d7d2d;
}

/*********************************************************************/

#body .body-left .cont-c {
	margin:0px 0px;
	padding:18px 33px;
	border-left:1px solid #dbe5e8;
	border-right:1px solid #dbe5e8;
}

#body .body-left .cont-h {
	background:#366ba1 url(images/cont-line.jpg) repeat-x;
	height:26px;
}

#body .body-left .cont-h .cont-l-t {
	float:left;
}

#body .body-left .cont-h .cont-r-t {
	float:right;
}

#body .body-left .cont-h .cont-h-t {
	font:14px Arial, Helvetica, sans-serif;
	color:#ffffff;
	padding:5px 0px 0px 14px;
	float:left;
}

#body .body-left .cont-b {
	height:20px;
	background:#ffffff url(images/cont-b-line.jpg) 0px 1px repeat-x;
}

#body .body-left .cont-b .cont-l-b {
	float:left;
}

#body .body-left .cont-b .cont-r-b {
	float:right;
}

/*********************************************************************/

.block #sub-block {
	margin:12px 0px 0px 0px;
	padding:0px;
}

.block #sub-block .sub-edit1, .block #sub-block .sub-edit2 {
	width:113px;
	height:21px;
	padding:4px 0px 0px 13px;
	background:#ffffff url(images/sub-edit.jpg) no-repeat;
}

.block #sub-block .sub-edit1 {
	float:left;
}

.block #sub-block .sub-edit-input {
	width:100px;
	font:12px Arial, Helvetica, sans-serif;
	color:#9b9a9a;
	border:1px solid #ffffff;
}

.block #sub-block .sub-edit2 {
	float:right;
}

.block #sub-block .sub-submit {
	float:left;
	margin:12px 0px 0px 0px;
}

.block #sub-block .sub-submit .sub-submit-button {
	width:86px;
	height:19px;
	font:12px Arial, Helvetica, sans-serif;
	color:#ffffff;
	border:none;
	background:#ea5709 url(images/sub-button.jpg) no-repeat;
	padding-bottom:2px;
	cursor:pointer;
}

.block #sub-block .sub-archive {
	float:right;
	margin:14px 0px 0px 0px;
}

#body #body-content .body-right #block-block-1 .content h2, #body #body-content .body-right #block-poll-0 .content .title {
	font:12px Arial, Helvetica, sans-serif;
	color:#254589;
	margin-top:4px;
	font-weight:bold;
}

#body #body-content .body-right #block-poll-0 .content .poll .title {
	color:#1069c4;
}

#block-block-1 .content .view-oneself {
	padding:5px 0px 25px 0px;
}

#block-block-1 .content .view-oneself.view-display-id-block_3 {
	padding:5px 0px 0px 0px;
}

#block-block-1 .content .views-field-title a {
	font:12px Arial, Helvetica, sans-serif;
	color:#5095be;
	text-decoration:underline;
}

#block-block-1 .content .views-field-title a:hover {
	color:#a3a3a3;
	text-decoration:underline;
}

#block-block-1 .content .views-field-title {
	background:url(images/list.jpg) 0px 4px no-repeat;
	padding:0px 0px 0px 14px;
	margin:8px 0px 0px 0px;
}

/***************************POLL******************************************/

.poll .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}
.poll .bar .foreground {
  background-color: #1e3e7f;
  height: 1em;
  float: left; /* LTR */
}
.poll .links {
  text-align: center;
}
.poll .percent {
  text-align: right; /* LTR */
}
.poll .total {
  text-align: center;
}
.poll .vote-form {
  text-align: center;
}
.poll .vote-form .choices {
  text-align: left; /* LTR */
  margin: 0 auto;
  display: block;
}
.poll .vote-form .choices .title {
  font-weight: bold;
}
.poll .form-item {
	padding:3px 0px 0px 0px;
}
.poll .form-radio {
	margin:0px 5px 0px 0px;
}
.poll .form-radios {
	margin:0px 0px 17px 0px;
}
.poll .form-submit {
	 width:86px;
	 height:19px;
	 background:#254593 url(images/poll-button.jpg) no-repeat;
	 border:none;
	 font:12px Arial, Helvetica, sans-serif;
	 color:#ffffff;
	 padding:0px 0px 3px 0px;
	 cursor:pointer;
	 float:left;
	 margin-left:20px;
}
.node-form #edit-poll-more {
  margin: 0;
}
td.poll-chtext {
  width: 80%;
}
td.poll-chvotes .form-text {
  width: 85%;
}
.poll .poll-links {
	float:right;
	margin:2px 24px 0px 0px;
}

/***************************END**POLL******************************************/


#block-block-2 .content .rubric {
	background:url(images/list.jpg) 0px 4px no-repeat;
	padding:0px 0px 0px 14px;
	margin:3px 0px 0px 0px;
}

#block-block-2 .content .rubric a{font-weight:normal}

/***************************NODE*********************************************/

#body #body-content .body-left .node h2 {
	font:18px Tahoma;
	color:#000000;
	margin-bottom:16px;
}

#body #body-content .body-left .node h1 {
	font:22px Tahoma, Geneva, sans-serif;
	text-align:left;
	color:#666;
	margin-bottom:10px;
}

#body #body-content .body-left .node h2 a {
	font:16px Tahoma, Geneva, sans-serif;
	color:#284B78 ;
	text-decoration:none;
	font-weight:bold;
}

#body #body-content .body-left .node h2 a.topic-links {
	font:18px Arial, Helvetica, sans-serif;
	color:#2d7d2d;
	text-decoration:none;
}

#body #body-content .body-left .node h2 a.topic-links:hover {
	text-decoration:underline;
	color:#284b78;
}

#body #body-content .body-left .node h2 a:hover {
	color:#2d7d2d;
	text-decoration:underline;

}

#body #body-content .body-left .node {
	margin:0px 0px 20px 0px;
}

#body #body-content .body-left .node .panel-left img {
	float:left;
	margin:0px 10px 0px 0px;
}

#body #body-content .body-left .node img.img-center {
	float:none;
	margin:0px 0px 10px 0px;
	border:none;
}

#body #body-content .body-left {
	font:13px Verdana, Geneva, sans-serif;
	color:#333;
	line-height:20px;
	font-weight:400;
}

#body #body-content .body-left p {
	margin:0px 20px 15px 0px;
	text-indent: 0px;
}

#body #body-content .body-left ul {
	margin:0px 0px 0px 40px;
}

#body #body-content .body-left #comments {
	margin:20px 0px 0px 0px;
}

#body #body-content .body-left #comments h2.comments {
	font:18px Arial, Helvetica, sans-serif;
	color:#000000;
}

#body #body-content .body-left .comment {
	margin:30px 0px 0px 0px;
	padding-bottom:10px;
	border-bottom:4px solid #CCCCCC;
}

#body #body-content .body-left .links {
	margin:10px 0px 10px 0px;
}

#body #body-content .body-left .add-com {
	margin:0px 0px 0px -6px;
}

#body #body-content .body-left .add-com a, #body #body-content .body-left .download-link a {
	font-size:16px;
	text-align:left;
	font-weight:bold;
}

#body #body-content .body-left .node .tags {
	font:11px bold Arial, Helvetica, sans-serif;
	color:#717070;
	background:url(images/tags.jpg) 0px 0px no-repeat;
	padding-left:25px;
	margin-top:0px;
}

#body #body-content .body-left .node .tags a {
	font:12px bold  Verdana, Geneva, sans-serif;
	color:#717070;
	text-decoration:none;
}

#body #body-content .body-left .node .tags a:hover {
	color:#5095be;
	text-decoration:none;
}

#body #body-content .body-left .node .panel {
	position:relative;
	z-index:10;
	float:left;
	background:#e3eef3 url(images/panel-line.jpg) repeat-x;
	height:24px;
	margin:15px 0px 10px 0px;
}

#body #body-content .body-left .node .panel-left {
	float:left;
}

#body #body-content .body-left .node .panel-left-f, #body #body-content .body-left .node .panel-left-i {
	float:left;
	position:relative;
	z-index:20;
	margin-left:-8px;
	padding-top:4px;
	margin-right:10px;

	font:12px Arial, Helvetica, sans-serif;
	color:#717070;
	text-decoration:none;
}

#body #body-content .body-left .node .panel-left-i {
	margin-left:0px;
	color:#5a8917;
}

#body #body-content .body-left .node .panel-right {
	float:left;
	margin-right:-10px;
}

/***********************END*NODE*********************************************/


/***************************COMMENT******************************************/

.block-comments_recent-block .item-list {
	margin-top:12px;
}

.block-comments_recent-block .item-list ul li {
	list-style:none;
	list-style-type:none;
	background:url(images/coment-list.jpg) 0px 2px no-repeat;
	margin-left:-10px;
	margin-bottom:15px;
	padding-left:15px;

	line-height:18px;
}

#body #body-content .block-comments_recent-block .item-list ul li a:hover {
	color:#71980e;
	text-decoration:underline;
}

#body #body-content .block-comments_recent-block .item-list ul li .com-date {
	font:12px Arial, Helvetica, sans-serif;
	font-style:italic;
	color:#9f9f9f;
}


/*************************END*COMMENT****************************************/

#body #body-maps table tr td {
	vertical-align:top;
}

#body #body-maps a {
	font:12px Arial, Helvetica, sans-serif;
	color:#717070;
	text-decoration:none;
}

#body #body-maps a:hover {
	color:#5095be;
}

#body #body-maps .maps-menu {
	float:left;

	margin:18px 0px 10px 18px;
}

#body #body-maps h2 {
	font:16px Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#333333;

	margin:0px 0px 0px 0px;
}

#body #body-maps ul {
	list-style:none;
	list-style-type:none;
	margin-top:20px;
}

#body #body-maps ul li {
	margin:0px 0px 5px 0px;
}

#body #body-maps .maps-services, #body #body-maps .maps-forums, #body #body-maps .maps-tegs {
	float:left;
	margin:18px 0px 10px 18px;
}

#body #body-maps .maps-tegs {
	line-height:20px;
	margin-right:18px;
	text-align:justify;
}

/*********************************************************************/

#body a.tagadelic.level1, #body #body-maps a.tagadelic.level1 {
  font-size : 12px;
}
#body a.tagadelic.level2, #body #body-maps a.tagadelic.level2 {
  font-size : 14px;
}
#body a.tagadelic.level3, #body #body-maps a.tagadelic.level3 {
  font-size : 16px;
}
#body a.tagadelic.level4, #body #body-maps a.tagadelic.level4 {
  font-size : 18px;
}
#body a.tagadelic.level5, #body #body-maps a.tagadelic.level5 {
  font-size : 20px;
}
#body a.tagadelic.level6, #body #body-maps a.tagadelic.level6 {
  font-size : 22px;
}
#body a.tagadelic.level7, #body #body-maps a.tagadelic.level7 {
  font-size : 24px;
}
#body a.tagadelic.level8, #body #body-maps a.tagadelic.level8 {
  font-size : 26px;
}
#body a.tagadelic.level9, #body #body-maps a.tagadelic.level9 {
  font-size : 28px;
}
#body a.tagadelic.level10, #body #body-maps a.tagadelic.level10 {
  font-size : 30px;
}

/***************************PAGE*****************************************/

#body .pager {
	color:#717070;
	font:14px Arial, Helvetica, sans-serif;
	padding:0px;
	margin:30px 0px 0px 0px;
	text-align:center;
	height:50px;
}

#body .pager .uk-prev {
	margin:0px 10px 0px 0px;
	font-size:18px;
}

#body .pager .uk-next {
	margin:0px 0px 0px 10px;
	font-size:18px;
}

#body .pager .pager-first {
	margin:0px 0px 0px 0px;
	top:20px;
	position:relative;
}

#body .pager .pager-first a, #body .pager .pager-last a {
	color:#717070;
	font:12px Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

#body .pager .pager-first a:hover, #body .pager .pager-last a:hover {
	text-decoration:none;
}

#body .pager .pager-previous {
	margin:0px 0px 0px -50px;
}

#body .pager .pager-previous a, #body .pager .pager-next a {
	color:#1069c4;
	font:16px Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:underline;
}

#body .pager .pager-previous a:hover, #body .pager .pager-next a:hover {
	text-decoration:none;
}

#body .pager .pager-next {
	margin:0px -43px 0px 0px;
}

#body .pager .pager-last {
	margin:0px 0px 0px 0px;
	position:relative;
	top:20px;
}

#body .pager .pager-item a {
	color:#717070;
	font:14px Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

#body .pager .pager-item a:hover {
	color:#4d4d4d;
	text-decoration:none;
}

#body .pager .pager-item {
	margin:10px;
}

#body .pager .pager-ellipsis {
	color:#717070;
	font:14px Arial, Helvetica, sans-serif;
	margin:10px;
}

#body .pager .pager-current {
	color:#1069c4;
	font:16px Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin:10px;
}
.frnt-bottom{}
.frnt-bottom table{border:1px solid #dce0eb}
	.frnt-bottom table td{padding:10px}
	#body .frnt-bottom table td a{font-size:13px;color:#666666;line-height:150%}
	#body .frnt-bottom table td a:hover{color:#2d7d2d}
	
	.frnt-bottom strong{font:normal 13pt Tahoma, Geneva, sans-serif}
.plink{border:1px solid #dce0eb;padding:10px}
	#body .plink a{font-size:7pt;color:#666666}
	
.blad{}
	.blad .bgblad{background:#f4f4f4;padding:10px}
	#body .blad .download-link a{font-size:24px;color:#1069C4;vertical-align:top}
	#body .blad .download-link img{margin-top:-1px;padding-right:2px}
	.blad .download-link{}
	
.view-display-id-block_1{}
	#body .view-display-id-block_1 .views-field-tid a{color:#4D5D72; font-weight:normal}
	#body .view-display-id-block_1 .views-field-tid a:hover{color:#2d7d2d; font-weight:normal}
	#body .view-display-id-block_1 .views-field-title a{color:#284B78;}
	#body .view-display-id-block_1 .views-field-title a:hover{color:#2d7d2d}
	.view-display-id-block_1 .views-row{margin-bottom:15px; color:#4D5D72}
	
.view-display-id-block_2{}
	#body .view-display-id-block_2 .views-field-tid a{color:#4D5D72; font-weight:normal}
	#body .view-display-id-block_2 .views-field-tid a:hover{color:#2d7d2d; font-weight:normal}
	#body .view-display-id-block_2 .views-field-title a{color:#284B78; font-weight:bold}
	#body .view-display-id-block_2 .views-field-title a:hover{color:#2d7d2d}
	.view-display-id-block_2 .views-row{margin-bottom:15px; color:#4D5D72}
	
.view-display-id-block_3{}
	#body .view-display-id-block_3 .views-field-tid a{color:#4D5D72; font-weight:normal}
	#body .view-display-id-block_3 .views-field-tid a:hover{color:#2d7d2d; font-weight:normal}
	#body .view-display-id-block_3 .views-field-title a{color:#284B78; font-weight:bold}
	#body .view-display-id-block_3 .views-field-title a:hover{color:#2d7d2d}
	.view-display-id-block_3 .views-row{margin-bottom:15px; color:#4D5D72}
	
.zkleft{text-align:right;float:none}
.zkleft table{display:inline-block;border:solid 1px #eee}
.zkleft table td{text-align:left !important;vertical-align:top;padding:10px 0 3px 15px}
.zkleft table table td{border:none;padding:0}
.zkleft table td:first-child{width:100px}
.zkleft table td:first-child iframe{width:100px !important}
.zkleft table td .odkl-klass{position:relative;left:-17px;top:-2px}
.zkleft table td+td+td iframe{width:92px !imporant}
.zkleft table td+td{padding-left:13px}
.zkleft table td+td table td{padding-left:0}
.zkleft table td+td table td:first-child{width:1px}
.zkleft table td+td table{position:relative;left:-2px}

#up a, #up{}
#body .topic-links2{font-size:24px}
#hypercontext index table td{padding:10px 10px 10px 10px;border:1px solid #aaa}
#hypercontext pre{padding:10px 0 10px 15px;background:#f7f7f7; border:1px #eaeaea solid; margin-bottom:15px}
#container .top-info{color:#fff;height:20px;background:#3d77b2;line-height:20px;overflow:hidden;font-size:11px; padding:3px 0 2px 30px; font-family:Tahoma, Geneva, sans-serif}
#container .top-info a{color:#dcebfa; text-decoration:none}
#container .top-info a:hover{text-decoration:none; color:#fff}
hr{height:1px;border:none;background:#CCC;color:gray;margin:0}
#body .body-lft .item-list a, #body .body-right .item-list a{font-weight:normal}
#vk_like{width:140px  !important}
#vkwidget1_tt{z-index:111111 !important}