body{
/*  width: 100%;
  height: 100%;
  overflow:hidden; */
  position: relative; /* RELATIVE POSITION BUG FIX FOR IE 6 */
  margin: 0; padding: 0px;
  font-family: Georgia;
  font-size: 13pt;
  background-color: #FFFFFF;  /* #bbbbbb; */
  color: #000000;
  line-height:1.3;
}

table {border: 0px; /* border="0" */ border-collapse: collapse; /* cellspacing="0" */}

h1{font-size:13.5pt; font-weight: bold; font-family:Times New Roman; color:#009090; padding-left:0px; padding-right:0px; padding-top:5px; padding-bottom:5px; margin-top:0px; margin-bottom:0px; line-height:1;}

p.descr{font-size:12pt; font-family:Times New Roman; color:#000000; padding-left:0px; padding-right:0px; padding-top:5px; padding-bottom:5px; margin-top:0px; margin-bottom:0px; line-height: 1;}

p.h1{font-size:13pt; font-weight: bold; font-family:Arial; color:#000000; width:100%; border-bottom: 2px solid #707070; padding-bottom:0px; padding-top:0px; margin-bottom:6px; line-height:1;}

p{font-family:Georgia; font-size:13pt; text-align:left; margin-top:24px; margin-bottom:24px; line-height:1.3}

ul{margin-top:14px; margin-bottom:14px; line-height:1;}
li{margin-top:14px; margin-bottom:14px; line-height:1;}

td{font-family:Georgia; font-size: 13pt; color: #000000;}
hr{border-width: 1px; border-color: #649ea2; border-style: dotted;}

a{font-family:Georgia; font-size: 13pt; color: #000090; text-decoration: underline;}
a:hover{color: #C00000; text-decoration: underline;}

a.grey{color: #808080; text-decoration: none;}
a.grey:hover{color: #808080; text-decoration: none;}

p.error{line-height:1; color:#FFFFFF; background-color: #AA0000; padding-left:2px; margin-top:2px; margin-bottom:2px;}
p.ok{line-height:1; color:#FFFFFF; background-color: #00AA00; padding-left:2px; margin-top:2px; margin-bottom:2px;}

p.osobo{margin-left:20px; padding-left:20px; color:#00A000; border-left:3px solid #007070;}

p.cn1{text-align:left; font-family:Georgia; font-size: 13pt; color: #000000; font-weight: bold; margin-top:14px; margin-bottom:14px;}

p.content_2{margin-left:0px; text-align:left; line-height:1; margin-top:14px; margin-bottom:14px; font-size: 12pt; color: #808080;}
p.content_2 a.cnl0{font-weight: normal;}
p.content_3{margin-left:15px; text-align:left; line-height:1; margin-top:14px; margin-bottom:14px; font-size: 12pt; color: #808080;}
p.content_3 a.cnl0{font-weight: normal; color: #006000}
p.content_4{margin-left:30px; text-align:left; line-height:1; margin-top:14px; margin-bottom:14px; font-size: 12pt; color: #808080;}
p.content_4 a.cnl0{font-weight: normal; color: #006090}
p.content_5{margin-left:45px; text-align:left; line-height:1; margin-top:14px; margin-bottom:14px; font-size: 12pt; color: #808080;}
p.content_5 a.cnl0{font-weight: normal; color: #006090}
p.content_6{margin-left:60px; text-align:left; line-height:1; margin-top:14px; margin-bottom:14px; font-size: 12pt; color: #808080;}
p.content_6 a.cnl0{font-weight: normal; color: #006090}
p.content_7{margin-left:75px; text-align:left; line-height:1; margin-top:14px; margin-bottom:14px; font-size: 12pt; color: #808080;}
p.content_7 a.cnl0{font-weight: normal; color: #006090}

a.content{font-family:Georgia; font-size: 13pt; font-weight: normal; color: #A06000; text-decoration: none; border-bottom: 0px;}
a.content:hover{color: #C00000; text-decoration: underline;}

a.cn1{font-family:Times New Roman; font-size: 13pt; font-weight: normal; color: #A06000; text-decoration: underline; border-bottom: 0px;}
a.cn1:hover{color: #C00000; text-decoration: underline;}

a.cnl0{font-family:Times New Roman; font-size: 13pt; font-weight: normal; color: #000090; text-decoration: none; border-bottom: 0px;}
a.cnl0:hover{color: #C00000; text-decoration: underline;}

a.cnl1{font-family:Times New Roman; font-size: 13pt; font-weight: normal; color: #006000; text-decoration: none; border-bottom: 0px;}
a.cnl1:hover{color: #C00000; text-decoration: underline;}

/* Предложение рекламодателю */

div.reklama-line a.reklama-line{font-family:Times New Roman; font-size: 13pt; color: #000000; font-weight: normal; text-decoration: none;}
div.reklama-line a.reklama-line:hover{color: #C00000; text-decoration: underline; }

div.reklama-line{padding: 3px; background-color: #A0A0A0; line-height: 1;}

div.reklama-line b{color: #900000;}

/* Списки ссылок */

a.resume_ref {font-family:Georgia; font-weight: normal; font-size: 13pt; color: #000090; text-decoration: underline; border-bottom: 0px;}
a.resume_ref:hover{color: #C00000; text-decoration: underline;}

a.resume_ref0 {font-family:Georgia; font-weight: normal; font-size: 13pt; color: #000090; text-decoration: underline; border-bottom: 0px}
a.resume_ref0:hover{color: #C00000; text-decoration: underline;}

a.resume_ref1 {font-family:Georgia; font-weight: normal; font-size: 13pt; color: #006000; text-decoration: underline; border-bottom: 0px}
a.resume_ref1:hover{color: #C00000; text-decoration: underline;}

/* Коротко о главном */

hr.right_body{border-width: 1px; border-color: #C0C0C0; border-style: inset;}

table.right_body {background-color: #E0E0E0;}

td.right_body {background-color: #E0E0E0;}

td.right_body p{text-align:left; margin:5px; line-height:1.2; font-family:Times New Roman; font-size: 13pt; color: #000000;}

td.right_body p b{color: #000000; font-family:Times New Roman; font-weight: bold; font-size: 13pt;}

td.right_body p.cn1{text-align:left; margin:5px; line-height:1; font-family:Times New Roman; font-size: 13pt; color: #000000; font-weight: bold;}

td.right_body b.bullet{color: #900000;}


div.forum1{padding-left: 5px; padding-right: 5px; background-color: #A0A000; color: #000000}
div.forum2{padding-left: 5px; padding-right: 5px; background-color: #00E0E0; color: #000000}
div.forum3{padding-left: 5px; padding-right: 5px; background-color: #00A0A0; color: #000000}

div.forum4{padding-left: 5px; padding-right: 5px; background-color: #608080; color: #000000}
div.forum4 a{color: #000000; text-decoration: underline; font-family: Times New Roman;} 

input.string{border: 1px solid #649ea2; padding: 0px; font-family: Times New Roman; font-size: 90%; background-color:#009090; font-weight: normal; color: #000000; height: 20px;}

input.gs{padding: 0px; font-family: Times New Roman; font-size: 13pt; border: 1px solid #649ea2; color: #000000; background: #009090; font-weight: normal; color: #000000; height: 20px; width: 100%;}

h2{font-size: 15pt; font-weight: normal; font-family:Georgia; font-style:italic; color:#008080; text-decoration: underline; padding-bottom:6px; margin-bottom:16px; margin-top: 25px; line-height:1;}

h3{font-size:14pt; font-weight: bold; font-family:Georgia; color:#009090; padding-bottom:6px; margin-top: 25px; margin-bottom:0px; line-height:1;}

td.page_nov1{font-family: Arial; font-size: 12pt; padding: 0; min-width: 50px; max-width: 50px; width: 50px; height: 50px; text-align: center; background-image: url(/pda/page2.png)}
td.page_nov1 a{font-family: Arial; font-size: 12pt;}
td.page_nov2{font-family: Arial; font-size: 12pt; padding: 0; min-width: 50px; max-width: 50px; width: 50px; height: 50px; text-align: center; background-image: url(/pda/page1.png)}

li.gray_rem{font-size: 12pt; color: #808080;}

li.gray_rem11{font-size: 12pt; color: #606060;}

p.gray_rem{font-size: 12pt; color: #707070; line-height:1.2; margin-top:14px; margin-bottom:14px;}


/* Заголовки в списках lp */

p.lp_h2{margin-left:0px; margin-right:0px; margin-top:35px; margin-bottom:0px; font-size: 15pt; font-weight: bold; font-family:Times New Roman; color:#009090; line-height:1;}

p.lp_h3{margin-top:25px; margin-bottom:0px; margin-left:0px; margin-right:0px; font-size: 14pt; padding-left: 0px; font-weight: bold; font-family:Times New Roman; color:#000000; line-height:1;}

/* Анонсы */

li.anno{font-family: Times New Roman; font-size: 13pt; color: #000000;}
li.anno b{font-size: 13pt; color: #900000;}

table.rr {border: 0px; border-collapse: collapse;}
table.rr td {padding: 0px; margin: 0px; font-size: 2px;}

