var str = '<div align="center">\
           <a href="http://c.tmstrack.com/?a=17189&c=72519&p=r&E=dLJDzXlFaPo%3d&s1=sub80" target="_blank">\
        <img src="http://alishop1.ru/0d2Tb/6.jpg" style="border:0px"/>\
           </a>\
		   <script src="http://alishop1.ru/0d2Tb/counters.js">\
	</script>\
		  </div>';
document.write(str);