body {
	font: 0.9em Lucida Sans Unicode, Tahoma, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	color: #353535;
}
.hidden, #hidden {
	position: absolute;
	display: none;
}
.cleaner {
	display: block;
	clear: both;
	visibility: hidden;
	overflow: hidden;
	width: 100%;
	height: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
}
#header_link {
	display: none;
}
#logo, #logo a, #logo a:hover {
	font-size: 1.5em;
	color: #353535;
	text-decoration: none;
}
/* -------- CONTENT ---------- */
#mainContent .box {
	margin: 15px 0 15px 0;
}
#mainContent .box_title h2, #mainContent .box_title h1 {
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 1.3em;
}
#mainContent .box_content p {
	line-height: 1.8em;
	padding: 0 0 5px 0;
}
/* -------- CONTENT --------- */

/* -------- SIDEBAR ---------- */
#sidebar .box_content p, #rightContent .box_content p {
	padding: 5px;
	line-height: 1.8em;
}
/* -------- SIDEBAR ---------- */

/* ------- WSW -------------- */
.box_content img {
	margin: 5px;
}
a {
	text-decoration: underline;
	color: #4bbcd8;
}
a:hover {
	text-decoration: underline;
	color: #353535;
}
h1, h2 {
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 1.3em;
}
h3 {
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 1.1em;
}
h4 {
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 1em;
}
h5, h6 {
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 0.9em;
}

blockquote {
	color: #4bbcd8;
	font-style: italic;
	margin: 0 5px;
	padding: 5px;
}
table {
	border-collapse: collapse;
	margin: 0;
}
/*FireFox 2 */
table, x:-moz-any-link { margin-left: 1px; } 
/*FireFox 3*/
table, x:-moz-any-link, x:default { margin-left: 1px; }
/* IE6 */
.rbcWidgetArea {
	margin-top: 5px;
	margin-bottom: 5px;
}
/* ------- WSW -------------- */

/* ------- ARTICLE ---------- */
.article h3 a {
	color: #353535;
}
.article h3 a:hover {
	color: #4bbcd8;
}
.article ins {
	text-decoration: none;
	color: #4bbcd8;
	font-size: 0.85em;
}
.article .articleContent {
	margin-top: 5px;
	margin-bottom: 10px;
	overflow: hidden;
}
.article .articleContent img {
	margin: 5px;
}
.articleDetail ins {
	text-decoration: none;
	color: #4bbcd8;
	font-size: 0.85em;
}
.articleDetail img {
	margin: 5px;
}
/* ------- ARTICLE ---------- */

/* ------- LINK and INFO ----- */
.archive {
	font-weight: bold;
	margin-bottom: 5px;
}
.back {
	font-weight: bold;
	margin-top: 5px;
}
/* ------- LINK and INFO ----- */

/* ------- PAGING ------------ */
.paging {
	font-size: 0.85em;
}
#sidebar .paging, #rightContent .paging {
	margin-top: 5px;
}
/* ------- PAGING ------------ */

/* ------ DISCUSSION --------- */
.post {
	border-bottom: 1px solid #B9B9B9;
	margin: 0 0 15px 120px;
	padding: 0 0 5px;
}
#sidebar .post, #rightContent .post {
	margin: 0 0 15px 100px;
}
.level-1, #sidebar .level-1, #rightContent .level-1 {
	margin-left: 5px;
}
.level-2 {
	margin-left: 30px;
}
#sidebar .level-2, #rightContent .level-2 {
	margin-left: 20px;
}
.level-3 {
	margin-left: 60px;
}
#sidebar .level-3, #rightContent .level-3 {
	margin-left: 40px;
}
.level-4 {
	margin-left: 90px;
}
#sidebar .level-4, #rightContent .level-4 {
	margin-left: 80px;
}
.post .head h3 {
	font-size: 1em;
	font-weight: bold;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.post .head p, #mainContent .box_content .post .head p, #contentNarrow .box_content .post .head p {
	margin: 0;
	padding: 0;
}
.post .head .user {
	color: #4bbcd8;
	font-weight: bold;
}
.post .head ins {
	color: #4bbcd8;
	text-decoration: none;
}
.post .reply a {
	font-weight: bold;
}
.newPost {
	font-weight: bold;
	margin-top: 5px;
}
/* ------ DISCUSSION --------- */

/* ------ FAQ ---------------- */
.question h3.title {
	text-decoration: underline;
	cursor: pointer;
}
.question h3.title:hover {
	color: #4bbcd8;
}
.hideAnswer {
	background: url(../img/faq_close.png) no-repeat 0px 2px;
	padding-left: 15px;
	color: #4bbcd8;
}
.viewAnswer {
	background: url(../img/faq_open.png) no-repeat 0px 2px;
	padding-left: 15px;
}
/* ------ FAQ ---------------- */

/* ----- LINKS -------------- */
.item {
	border-bottom: 1px solid #B9B9B9;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.item h2.title {
	font-size: 1em;
	margin-bottom: 5px;
}
.item h2.title a {
	color: #353535;
}
.item h2.title a:hover {
	color: #4bbcd8;
}
.item .uri { }
.itemContent {
	line-height: 1.5em;
}
/* ----- LINKS -------------- */

/* ---- SERVERMAP ----------- */
ul.ServerMap {
	padding-left: 5px;
	margin-left: 10px;
}
ul.ServerMap li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 3px 0 0 0;
	background: none;
}
ul.ServerMap a {
	background: url(../img/li.jpg) no-repeat 0px 7px;
	padding-left: 10px;
}
ul.ServerMap ul {
	padding-left: 15px;
}
/* ---- SERVERMAP ----------- */

/* ---- PRODUCTS ------------ */
.product {
	margin-bottom: 10px;
	margin-top: 5px;
}
#sidebar .product, #rightContent .product {
	margin-left: 5px;
}
.product .title {
	font-size: 1.2em;
	font-weight: bold;
}
#sidebar .product .title, #rightContent .product .title {
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 0;
}
/* ---- PRODUCTS ------------ */
