html {
	height: 100%;
}
body {
	height: 100%;
	text-align: center;
	font: 0.80em Lucida Sans Unicode, Tahoma, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background: #8C8C8C;
	color: #353535;
	position: relative;
}
#body_bg {
	width: 100%;
	height: 96%;
	background: #8C8C8C;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}
#nonFooter {
	position: relative;
	min-height: 96%;
	padding-left: 15px;
	background: url(../img/body_bg.jpg) repeat-y center;
}
/* IE6 */
* html #nonFooter { height: 100%; }
h1, h2, h3, h4, h5, h6, h7, p, ul, ol, li, cite, hr, fieldset, img, dl, dt, dd {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style-type: none;
	list-style: none;
}
.hidden, #hidden {
	position: absolute;
	display: none;
}
.cleaner {
	display: block;
	clear: both;
	visibility: hidden;
	overflow: hidden;
	width: 100%;
	height: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
}
#site {
	width: 900px;
	background: #8C8C8C url(../img/body_bg.jpg) repeat-y center;
	margin: 0 auto;
	text-align: left;
	height: 100%;
	position: relative;
}
/* IE6 */
* html #site { height: 94%; }
#site_top {
	width: 900px;
	background: url(../img/head_bg.jpg) no-repeat top;
	padding-top: 5px;
	height: 100%;
}
/* IE6 */
* html #site_top { height: 94%; }

#waitingTable {
	background: #FFFFFF;
	width: 100%;
	height: 100%;
}
#waitingTable td {
	text-align: center;
	vertical-align: middle;
	background: #FFFFFF;
}

/* --------- FOOTER --------- */
#footer {
	background: url(../img/foot_bg.jpg) no-repeat bottom; 
	height: 40px;
	margin-top: -5px;
}
#footer_content {
	text-align: center;
	position: relative;
	background: url(../img/body_bg.jpg) repeat-y center;
	padding-bottom: 3px;
}
/* --------- FOOTER --------- */

/* --------- HEADER ------------ */
#header {
	width: 870px;
	height: 190px;
	*height: 210px;
}
#header_link {
	width: 840px;
	height: 30px;
	margin: 0 15px 0 15px;
	line-height: 30px;
	position: absolute;
	top: -30px;
	*top: 0px;
}
/* IE6 */
* html #header_link { top: 7px; }
#header_link table {
	float: right;
}
#header_link .link a {
	margin-right: 8px;
}
.homepage a {
	background: url(../img/homepage.jpg) no-repeat left;
	padding-left: 15px;
	color: #353535;
	text-decoration: underline;
}
.sitemap a {
	background: url(../img/sitemap.jpg) no-repeat left;
	padding-left: 15px;
	color: #353535;
	text-decoration: underline;
}
.rss a {
	background: url(../img/rss.jpg) no-repeat left;
	padding-left: 15px;
	color: #353535;
	text-decoration: underline;
}
.print a {
	background: url(../img/print.jpg) no-repeat left;
	padding-left: 15px;
	color: #353535;
	text-decoration: underline;
}
.homepage a:hover, .sitemap a:hover, .rss a:hover, .print a:hover {
	color: #479eb3;
	text-decoration: underline;
}
#header_box {
	width: 850px;
	height: 180px;
	margin: 30px 10px 0 10px;
	padding: 0;
}
#logozone {
	z-index: 11;
	position: absolute;
	color: #FFFFFF;
	margin: 10px 20px 10px 20px;
	width: 810px;
	overflow: hidden;
}
#logozone #logo {
	font-size: 2.5em;
	line-height: 1.5em;
	max-height: 100px;
	overflow: hidden;
}
#logozone #logo a, #logozone #logo a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
#logozone #moto {
	font-size: 1.2em;
	overflow: hidden;
}
/* --------- HEADER ---------- */

/* -------- LANGUAGE ---------- */

#languageSelect {
	padding: 0;
	margin: 0;
}
#languageSelectBody {
	margin: 0;
	padding: 0;
}
#languageSelect ul {
	display: none;
}
#languageFlags {
	padding: 0;
	margin: 0;
}
#languageSelect #languageFlags a {
	text-decoration: none;
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 0 0 0 7px;
	padding: 0;
	background: transparent center center no-repeat;
}
#languageList {
	padding: 0;
	margin: 0 0 0 5px;
	display: block;
	font-size: 0.9em;
	_font-size: 0.8em;
}
#languageList .separator {
	display: inline;
}
.languageSelectbox {
	border: 1px solid #479eb3;
	font-size: 0.85em;
	_font-size: 0.7em;
	height: 17px;
	_height: 15px;
	margin: 0 0 0 5px;
	padding: 0;
}
/* -------- LANGUAGE ---------- */

/* -------- CONTENT ---------- */
#main {
	width: 840px;
	margin: 10px 15px 5px 15px;
	padding: 0;
	overflow: hidden;
}
#mainContent {
	margin: 0 0 0 215px;
	padding: 0;
	float: left;
	width: 625px;
	min-height: 50px;
	overflow: hidden;
}
/* IE6 */
* html #mainContent { margin: 0 0 0 105px; }
#mainContent .box {
	margin: 0 0 20px 0;
}
#mainContent .box_title h2, #mainContent .box_title h1 {
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 1.3em;
}
#mainContent .box_content p {
	line-height: 1.8em;
	padding: 0 0 5px 0;
}
.box_content {
	overflow: hidden;
	padding: 0;
	margin: 0;
}
#contentNarrow {
	width: 410px;
	float: left;
	padding: 0;
	margin: 0;	
}
/* IE6 */
* html #contentNarrow { width: 425px; }
#rightContent {
	width: 200px;
	float: left;
	padding: 0;
	margin: 0 0 0 15px;
	overflow: hidden;
}
/* IE6 */
* html #rigtContent { margin: 0; }
#LeftBox {
	width: 305px;
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#RightBox {
	width: 305px;
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
	overflow: hidden;
}
#RightBox .content, #LeftBox .content {
	margin: 0;
	padding: 0;
}
/* -------- CONTENT --------- */

/* -------- SIDEBAR ---------- */
#sidebar {
	float: left;
   width: 200px;
   margin: 0 0 0 -840px;
	padding: 0;
	overflow: hidden;
}
#sidebar_content {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#sidebar .box, #rightContent .box {
	margin: 0 0 20px 0;
}
#sidebar .box_title, #rightContent .box_title {
	width: 200px;
	border-bottom: 2px solid #4bbcd8;
	margin-bottom: 7px;
}
#sidebar .box_title h2, #rightContent .box_title h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 5px;	
}
#sidebar .box_content p, #rightContent .box_content p {
	padding: 5px;
	line-height: 1.8em;
}
/* -------- SIDEBAR ---------- */

/* -------- MENU ------------- */
.menu {
	font-size: 1em;
	line-height: 1.8em;
	margin-left: 7px
}
.menu a {
	color: #353535;
	background: url(../img/li.jpg) no-repeat 0px 6px;
	padding-left: 10px;
	text-decoration: none;
}
.menu a:hover {
	color: #4bbcd8;
	text-decoration: underline;
}
ul.menu ul.level1 {
	margin-left: 10px;
	padding-left: 0;
}
ul.menu ul.level2 {
	margin-left: 20px;
	padding-left: 0;
}
ul.menu ul.level3, ul.menu ul.level4, ul.menu ul.level5, ul.menu ul.level6, {
	margin-left: 30px;
	padding-left: 0;
}
.box_content ul.menu {
	padding-left: 0;
}
.box_content ul.menu li {
	background: none;
	padding: 0;
}
.menu li.open a, .menu li.selected a, .menu li.activeSelected a {
	color: #4bbcd8;
	font-weight: bold;
}
.menu .open ul a {
	color: #353535;
	font-weight: normal;
}
.menu ul.level1 a, 
.menu ul.level2 a, 
.menu ul.level3 a,
.menu ul.level4 a, 
.menu ul.level5 a,
.menu ul.level1 li.selected li a, .menu ul.level1 li.activeSelected li a, 
.menu ul.level1 li.selected ul.level2 li.selected li a, .menu ul.level1 li.activeSelected ul.level2 li.activeSelected li a, 
.menu ul.level1 li.selected ul.level2 li.selected ul.level3 li.selected li a, .menu ul.level1 li.activeSelected ul.level2 li.activeSelected ul.level3 li.activeSelected li a, 
.menu ul.level1 li.selected ul.level2 li.selected ul.level3 li.selected ul.level4 li.selected li a, .menu ul.level1 li.activeSelected ul.level2 li.activeSelected ul.level3 li.activeSelected ul.level4 li.activeSelected li a, 
.menu ul.level1 li.selected ul.level2 li.selected ul.level3 li.selected ul.level4 li.selected ul.level5 li.selected li a, .menu ul.level1 li.activeSelected ul.level2 li.activeSelected ul.level3 li.activeSelected ul.level4 li.activeSelected ul.level5 li.activeSelected li a {
	color: #353535;
	font-weight: normal;
}
.menu ul.level1 li.selected a, .menu ul.level1 li.activeSelected a, 
.menu ul.level1 li.selected ul.level2 li.selected a, .menu ul.level1 li.activeSelected ul.level2 li.activeSelected a, 
.menu ul.level1 li.selected ul.level2 li.selected ul.level3 li.selected a, .menu ul.level1 li.activeSelected ul.level2 li.activeSelected ul.level3 li.activeSelected a, 
.menu ul.level1 li.selected ul.level2 li.selected ul.level3 li.selected ul.level4 li.selected a, .menu ul.level1 li.activeSelected ul.level2 li.activeSelected ul.level3 li.activeSelected ul.level4 li.activeSelected a,  
.menu ul.level1 li.selected ul.level2 li.selected ul.level3 li.selected ul.level4 li.selected ul.level5 li.selected a, .menu ul.level1 li.activeSelected ul.level2 li.activeSelected ul.level3 li.activeSelected ul.level4 li.activeSelected ul.level5 li.activeSelected a {
	color: #4bbcd8;
	font-weight: bold;
}
/* -------- MENU ------------- */

/* -------- TAGS ------------- */
ol.tags, .box_content ol.tags {
	margin: 5px 0 5px 0;
	text-align: center;
	font-size: 0.95em;
}
ol.tags li {
	padding: 0;
	color: #353535;
	list-style-type: none;
	list-style: none;	
	margin: 0 0.25em 0 0.25em;
	font-size: 1.2em;
	display: inline;
	text-align: left;
}
/* -------- TAGS ------------ */

/* -------- SEARCH ---------- */
#fulltextSearchText {
border: 1px solid #4bbcd8;
color: #353535;
margin-left: 5px;
margin-right: 5px;
width: 185px;
padding-right: 2px;
padding-left: 2px;
display:none;
}
#sidebar_content .box:nth-child(2) {
display: none;
}
#fulltextSearchText {
	border: 1px solid #4bbcd8;
	color: #353535;
	margin-left: 5px;
	margin-right: 5px;
	width: 185px;
	padding-right: 2px;
	padding-left: 2px;
}
/* IE6 */
* html #fulltextSearchText { margin-top: -10px; }
#fulltextSearch span {
	float: right;
	margin: 5px 2px 0 0;
	padding: 0;
}
/* FireFox 2 */
#fulltextSearch span, x:-moz-any-link { margin: 5px 4px 0 0; } 
/* FireFox 3 */
#fulltextSearch span, x:-moz-any-link, x:default { margin: 5px 4px 0 0; }
/* IE6 */
* html #fulltextSearch span {
	margin: 5px 11px 0 0;
}
.submit {
	background: #4bbcd8;
	border: none;
	color: #FFFFFF;
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 2px;
	*padding-bottom: 0;
	padding-top: 1px;
	cursor: pointer;
}
#fulltextSearchResult {
	padding-bottom: 5px;
	margin-bottom: 5px;
}
#fulltextSearchResult fieldset {
	border: none;
	margin: 0;
}
.search {
	margin-bottom: 5px;
	float: left;
	width: 230px;
}
#contentNarrow .search {
	width: 140px;
}
#LeftBox .search, #RightBox .search {
	width: 295px;
}
.search label, .type label {
	width: 230px;
	float: left;
	margin-bottom: 10px;
}
#contentNarrow .search label, #contentNarrow .type label {
	width: 140px;
}
#LeftBox .search label, #LeftBox .type label, #RightBox .search label, #RightBox .type label {
	width: 295px;
	margin-bottom: 3px;
}
.type {
	margin-bottom: 5px;
	float: left;
	width: 230px;
	margin-left: 15px;
}
#contentNarrow .type {
	width: 140px;
}
#LeftBox .type, #RightBox .type {
	width: 295px;
	margin-left: 0;
}
#fulltextSearchTextResult {
	border: 1px solid #4bbcd8;
	width: 230px;
}
#contentNarrow #fulltextSearchTextResult {
	width: 140px;
}
#LeftBox #fulltextSearchTextResult, #RightBox #fulltextSearchTextResult {
	width: 295px;
}
#fulltextSearchTypeResult {
	border: 1px solid #4bbcd8;
	width: 230px;
	*width: 232px;
}
/* IE6 */
* html #fulltextSearchTypeResult { width: 229px; }
#contentNarrow #fulltextSearchTypeResult {
	width: 140px;
	*width: 142px;
}
/* IE6 */
* html #contentNarroe #fulltextSearchTypeResult { 	width: 139px; }
#LeftBox #fulltextSearchTypeResult, #RightBox #fulltextSearchTypeResult {
	width: 295px;
	*width: 297px;
}
.btnarea {
	float: left;
	margin-left: 15px;
	*margin-left: 10px;
	margin-top: 24px;
}
#LeftBox .btnarea, #RightBox .btnarea {
	float: right;
	margin: 5px 10px 5px 0;
	*margin: 5px 4px 5px 0;
}
/* IE6*/
* html #LeftBox .btnarea { margin: 5px 3px 5px 0; }
* html #RigtBox .btnarea { margin: 5px 3px 5px 0; }
p.size, #mainContent .box_content p.size {
	line-height: 1.3em;
	font-size: 0.9em;
	padding-bottom: 0;
	padding-top: 3px;
}
/* -------- SEARCH ---------- */

/* -------- NAVIGATOR ------- */
#pageNavigator {
	margin-bottom: 10px;
}
.navigator {
	line-height: 1.8em;
}
.navigator span span {
	margin-left: 3px;
	margin-right: 3px;
}
/* -------- NAVIGATOR ------- */

/* ------- POOL ------------- */
.poll {
	margin-left: 5px;
}
.poll h3 {
	font-size: 0.9em;
	margin-bottom: 7px;
	_margin-bottom: 10px;
}
/* IE6 */
* html .poll h3 { margin-bottom: 10px; }
.poll img, .poll a img, .box_content .poll img, .box_content .poll a img {
	border: none;
	text-decoration: none;
	margin: 0;
}
.poll .pollbar a {
	border: none;
	text-decoration: none;
}
.poll .pollbar {
	margin-top: 3px;
	width: 100%;
}
#mainContent .poll .pollbar {
	margin-top: 3px;
	width: 99%;
}
.poll .question a {
	text-decoration: underline;
}
.poll .question a:hover {
	text-decoration: underline;
}
#mainContent .box_content .poll p, #sidebar .box_content .poll p {
	*line-height: 0.35em;
	margin: 0 0 8px;
	padding: 0;
}
/*FireFox 2 */
#mainContent .box_content .poll p, x:-moz-any-link { line-height: 1em; } 
/*FireFox 3*/
#mainContent .box_content .poll p, x:-moz-any-link, x:default { line-height: 1em; }
/*FireFox 2 */
#sidebar .box_content .poll p, x:-moz-any-link { line-height: 1em; } 
/*FireFox 3*/
#sidebar .box_content .poll p, x:-moz-any-link, x:default { line-height: 1em; }
/* IE6 */
* html #mainContent .box_content .poll p { line-height: 0.35em; margin: 0 0 10px; }
/* IE6 */
* html #sidebar .box_content .poll p { line-height: 0.35em; margin: 0 0 10px; }
/* ------- POOL ------------- */

/* ------- WSW -------------- */
.box_content img {
	margin: 5px;
}
a {
	color: #4bbcd8;
	text-decoration: underline;
}
a:hover {
	color: #353535;
	text-decoration: underline;
}
h1, h2 {
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 1.3em;
}
h3 {
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 1.1em;
}
h4 {
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 1em;
}
h5, h6 {
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 0.9em;
}
.box_content ol {
	margin-left: 40px;
}
.box_content ol li ol {
	margin-left: 20px;
}
.box_content ol li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: decimal;
	padding-bottom: 2px;
	padding-top: 2px;
}
.box_content ul {
	padding-left: 15px;
}
.box_content ul li {
	background: url(../img/li.jpg) no-repeat 0px 8px;
	padding: 2px 0 2px 10px;
}
blockquote {
	color: #4bbcd8;
	font-style: italic;
	margin: 0 5px;
	padding: 5px;
}
table {
	border-collapse: collapse;
	margin: 0;
}
/*FireFox 2 */
table, x:-moz-any-link { margin-left: 1px; } 
/*FireFox 3*/
table, x:-moz-any-link, x:default { margin-left: 1px; }
/* IE6 */
* html table { font-size: 0.9em; }
.modernTable {
	border-collapse: collapse;
	margin: 0;
}
/*FireFox 2 */
.modernTable , x:-moz-any-link { margin-left: 1px; } 
/*FireFox 3*/
.modernTable , x:-moz-any-link, x:default { margin-left: 1px; }
/* IE6 */
* html .modernTable { font-size: 0.9em; }
.modernTable thead tr td {
	background: #4bbcd8;
	border: 1px solid #4bbcd8;
	color: #ffffff;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
}
.modernTable tbody tr td {
	background: none;
	border: 1px solid #4bbcd8;
	color: #353535;
	padding-left: 8px;
	padding-right: 5px;
	margin: 0;
}
.rbcWidgetArea {
	margin-top: 5px;
	margin-bottom: 5px;
}
/* ------- WSW -------------- */

/* ------- ARTICLE ---------- */
#sidebar .article, #rightContent .article {
	overflow: hidden;
	margin: 0;
	padding: 0 5px 0 5px;
}
.article h3 a {
	color: #353535;
}
.article h3 a:hover {
	color: #4bbcd8;
}
.article ins {
	text-decoration: none;
	color: #4bbcd8;
	font-size: 0.85em;
}
.article .articleContent {
	margin-top: 5px;
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 1.8em;
}
.article .articleContent img {
	margin: 5px;
}
.articleDetail ins {
	text-decoration: none;
	color: #4bbcd8;
	font-size: 0.85em;
}
.articleDetail img {
	margin: 5px;
}
/* ------- ARTICLE ---------- */

/* ------- LINK and INFO ----- */
.archive {
	font-weight: bold;
	margin-bottom: 5px;
}
.pagingInfo {
	float: left;
}
#sidebar .pagingInfo, #rightContent .pagingInfo {
	float: none;
}
.back {
	font-weight: bold;
	margin-top: 5px;
}
.rbcTags h4 {
	display: block;
	float: left;
	margin: 4px 7px 0 0;
}
.rbcTags .tags {
	line-height: 1.8em;
	padding: 0 0 5px 0;
}
/* ------- LINK and INFO ----- */

/* ------- PAGING ------------ */
.paging {
	float: right;
	font-size: 0.85em;
}
#sidebar .paging, #rightContent .paging {
	margin-top: 5px;
	float: none;
}
.leftEnd, .left  {
	background: #4bbcd8;
	color: #ffffff;
	font-weight: bold;
	line-height: 1.5em;
	margin-right: 3px;
	padding: 0 2px 2px 2px;
	text-decoration: none;
}
.leftEnd:hover, .left:hover {
	color: #353535;
	text-decoration: none;
}

.paging  .selected {
	font-weight: bold;
	font-size: 1.2em;
}
.right, .rightEnd {
	background: #4bbcd8;
	color: #ffffff;
	font-weight: bold;
	line-height: 1.5em;
	margin-left: 3px;
	padding: 0 2px 2px 2px;
	text-decoration: none;
}
.rightEnd:hover, .right:hover {
	color: #353535;
	text-decoration: none;
}
.separator {
	display: none;
}
a .pageText {
	background: #4bbcd8;
	color: #ffffff;
	font-weight: bold;
	line-height: 1.5em;
	padding: 0 2px 2px 2px;
	text-decoration: none;
}
a:hover .pageText {
	color: #353535;
}
/* ------- PAGING ------------ */

/* ------ DISCUSSION --------- */
.diskuze fieldset {
	border: none;
	margin: 0;
}
.diskuze label {
	float: left;
	width: 193px;
	padding: 0 7px 0 0;
	margin-bottom: 10px;
}
#sidebar .diskuze label, #rightContent .diskuze label {
	width: 190px;
	margin-bottom: 3px;
	padding: 0;
}
#contentNarrow .diskuze label {
	width: 143px;
}
#LeftBox .diskuze label, #RightBox .diskuze label {
	width: 295px;
	margin-bottom: 3px;
	padding: 0;
}
.diskuze #postAuthor, .diskuze #postEmail, .diskuze #postTitle, .diskuze .feWebFormInput {
	border: 1px solid #4bbcd8;
	width: 410px;
	padding-left: 2px;
	padding-right: 2px;
	font: 0.95em Lucida Sans Unicode, Tahoma, Verdana, sans-serif;
}
#contentNarrow .diskuze #postAuthor, #contentNarrow .diskuze #postEmail, #contentNarrow .diskuze #postTitle, #contentNarrow .diskuze .feWebFormInput {
	width: 250px;
}
#sidebar .diskuze #postAuthor, #sidebar .diskuze #postEmail, #sidebar .diskuze #postTitle, #rightContent .diskuze #postAuthor, #rightContent .diskuze #postEmail, #rightContent .diskuze #postTitle, #sidebar .diskuze .feWebFormInput, #rightContent .diskuze .feWebFormInput {
	width: 190px;
	margin-bottom: 5px;
}
#LeftBox .diskuze #postAuthor, #LeftBox .diskuze #postEmail, #LeftBox .diskuze #postTitle, #RightBox .diskuze #postAuthor, #RightBox .diskuze #postEmail, #RightBox .diskuze #postTitle, #LeftBox .diskuze .feWebFormInput, #RightBox .diskuze .feWebFormInput {
	width: 295px;
	margin-bottom: 5px;
}
.diskuze #postText, .diskuze .feWebFormTextarea {
	border: 1px solid #4bbcd8;
	width: 410px;
	height: 100px;
	float: left;
	padding-left: 2px;
	padding-right: 2px;
	font: 0.95em Lucida Sans Unicode, Tahoma, Verdana, sans-serif;
}
/* IE6 */
* html .diskuze #postText, /* IE6 */
* html .diskuze .feWebFormTextarea { width: 413px; }
#sidebar .diskuze #postText, #rightContent .diskuze #postText, #sidebar .diskuze .feWebFormTextarea, #rightContent .diskuze .feWebFormTextarea {
	width: 190px;
}
#contentNarrow .diskuze #postText, #contentNarrow .diskuze .feWebFormTextarea {
	width: 250px;
}
#RightBox .diskuze #postText, #LeftBox .diskuze #postText, #RightBox .diskuze .feWebFormTextarea, #LeftBox .diskuze .feWebFormTextarea {
	width: 295px;
}
.diskuze .btn {
	float: right;
	margin-right: 6px;
	margin-top: 5px;
}
/* WebKit */
@media screen and (-webkit-min-device-pixel-ratio:0){
.diskuze .btn { margin-right: 8px; }
#contentNarrow .diskuze .btn, 
#sidebar .diskuze .btn, 
#rightContent .diskuze .btn, 
#LeftBox .diskuze .btn, 
#RightBox .diskuze .btn { margin-right: 4px; }
}
/*FireFox 2 */
.diskuze .btn , x:-moz-any-link { margin-right: 9px; }
#contentNarrow .diskuze .btn , x:-moz-any-link { margin-right: 4px; }
#sidebar .diskuze .btn , x:-moz-any-link { margin-right: 4px; }
#rightContent .diskuze .btn , x:-moz-any-link { margin-right: 4px; }
#LeftBox .diskuze .btn , x:-moz-any-link { margin-right: 4px; }
#RightBox .diskuze .btn , x:-moz-any-link { margin-right: 4px; }
/*FireFox 3*/
.diskuze .btn , x:-moz-any-link, x:default { margin-right: 9px; }
#contentNarrow .diskuze .btn , x:-moz-any-link, x:default { margin-right: 4px; }
#sidebar .diskuze .btn , x:-moz-any-link, x:default { margin-right: 4px; }
#rightContent .diskuze .btn , x:-moz-any-link, x:default { margin-right: 4px; }
#LeftBox .diskuze .btn , x:-moz-any-link, x:default { margin-right: 4px; }
#RightBox .diskuze .btn , x:-moz-any-link, x:default { margin-right: 4px; }
/* IE7, IE 8 */
.diskuze .btn { *margin-right: 4px; }
#contentNarrow .diskuze .btn, 
#sidebar .diskuze .btn, 
#rightContent .diskuze .btn, 
#LeftBox .diskuze .btn, 
#RightBox .diskuze .btn { *margin-right: 2px; }
/* IE6 */
* html .diskuze .btn { margin-right: 2px; }
* html #sidebar .diskuze .btn { margin-right: 3px; }
* html #rightContent .diskuze .btn { margin-right: 3px; }
* html #LeftBox .diskuze .btn { margin-right: 3px; }
* html #RightBox .diskuze .btn { margin-right: 3px; }
.formError {
	margin: 5px 0 5px 0;
}
ul.formError {
	margin: 0 0 15px 15px;
}
ul.formError li {
	background: url(../img/li.jpg) no-repeat 0px 6px;
	padding-left: 10px;
}
ul.formError li span {
	font-weight: bold;
}
.diskuze label.wrong {
	font-weight: bold;
	color: #F44949;
}
.diskuze input.wrong {
	font-weight: bold;
	border: 1px solid #F44949;
}
.post {
	border-bottom: 1px solid #B9B9B9;
	height: auto;
	margin: 0 0 15px 120px;
	overflow: hidden;
	padding: 0 0 5px;
}
#sidebar .post, #rightContent .post {
	margin: 0 0 15px 100px;
}
.level-1, #sidebar .level-1, #rightContent .level-1 {
	margin-left: 5px;
}
.level-2 {
	margin-left: 30px;
}
#sidebar .level-2, #rightContent .level-2 {
	margin-left: 20px;
}
.level-3 {
	margin-left: 60px;
}
#sidebar .level-3, #rightContent .level-3 {
	margin-left: 40px;
}
.level-4 {
	margin-left: 90px;
}
#sidebar .level-4, #rightContent .level-4 {
	margin-left: 80px;
}
.post .head h3 {
	font-size: 1em;
	font-weight: bold;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.post .head p, #mainContent .box_content .post .head p, #contentNarrow .box_content .post .head p {
	margin: 0;
	padding: 0;
}
.post .head .user {
	color: #4bbcd8;
	font-weight: bold;
}
.post .head ins {
	color: #4bbcd8;
	text-decoration: none;
}
.post .reply a {
	font-weight: bold;
}
.newPost {
	font-weight: bold;
	margin-top: 5px;
}
/* ------ DISCUSSION --------- */
#fulltextSearchText {
border: 1px solid #4bbcd8;
color: #353535;
margin-left: 5px;
margin-right: 5px;
width: 185px;
padding-right: 2px;
padding-left: 2px;
display:none;
}
#sidebar_content .box:nth-child(2) {
display: none;
}

/* ------ FAQ ---------------- */
.question h3.title {
	text-decoration: underline;
	cursor: pointer;
}
.question h3.title:hover {
	color: #4bbcd8;
}
.hideAnswer {
	background: url(../img/faq_close.png) no-repeat 0px 2px;
	padding-left: 15px;
	color: #4bbcd8;
}
.viewAnswer {
	background: url(../img/faq_open.png) no-repeat 0px 2px;
	padding-left: 15px;
}
/* ------ FAQ ---------------- */

/* ----- LINKS -------------- */
.item {
	border-bottom: 1px solid #B9B9B9;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.item h2.title {
	font-size: 1em;
	margin-bottom: 5px;
}
.item h2.title a {
	color: #353535;
}
.item h2.title a:hover {
	color: #4bbcd8;
}
.item .uri { }
.itemContent {
	line-height: 1.5em;
}
/* ----- LINKS -------------- */

/* ---- SERVERMAP ----------- */
ul.ServerMap {
	padding-left: 5px;
	margin-left: 10px;
}
ul.ServerMap li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 3px 0 0 0;
	background: none;
}
ul.ServerMap a {
	background: url(../img/li.jpg) no-repeat 0px 7px;
	padding-left: 10px;
}
ul.ServerMap ul {
	padding-left: 15px;
}
/* ---- SERVERMAP ----------- */

/* ---- PRODUCTS ------------ */
.product {
	margin-bottom: 10px;
	margin-top: 5px;
}
#sidebar .product, #rightContent .product {
	margin-left: 5px;
}
.product .title {
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 140px;
}
#sidebar .product .title, #rightContent .product .title {
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 0;
}
.product .title a {
	color:#353535;
}
.product .title a:hover {
	color: #4bbcd8;
}
.product .image {
	float: left;
	height: 100%;
	margin-top: -25px;
	width: 140px;
}
#sidebar .product .image, #rightContent .product .image {
	float: left;
	margin-top: 0;
	width: 200px;
}
.product .image a {
	border: none;
	text-decoration: none;
}
.product .image a img {
	border: 1px solid #4bbcd8;
	text-decoration: none;
}
.product .image a:hover img {
	border: 1px solid #353535;
	text-decoration: none;
}
.product .text {
	line-height: 1.5em;
	margin-left: 140px;
}
#sidebar .product .text, #rightContent .product .text {
	margin-left: 0;
	margin-top: 5px;
}
.productDetail { }
.productDetail .image {
	display: block;
	margin: 0;
	text-align: center;
}
.productDetail .image a {
	border: none;
	text-decoration: none;
}
.productDetail .image a img {
	border: 1px solid #4bbcd8;
	text-decoration: none;
}
.productDetail .image a:hover img {
	border: 1px solid #353535;
	text-decoration: none;
}
.productDetail .text {
	margin-top: 5px;
}
/* ---- PRODUCTS ------------ */

/* ---- PHOTOGALLERY -------- */
.photo118 a.photo {
	width: 118px;
	float: left;
	text-decoration: none;
}
.photo200 a.photo {
	width: 200px;
	float: left;
	text-decoration: none;
	margin: 0 0 10px 60px;
}
#sidebar .photo200 a.photo, #rightContent .photo200 a.photo {
	margin: 0 0 10px 0;
}
#sidebar .photo118 a.photo, #rightContent .photo118 a.photo {
	margin: 0 0 10px 40px;
}
#contentNarrow .photo118 a.photo {
	margin: 0 0 10px 15px;
}
#contentNarrow .photo200 a.photo {
	margin: 0 0 10px 100px;
}
#LeftBox .photo118 a.photo, #RightBox .photo118 a.photo {
	margin: 0 0 10px 20px;
}
#LeftBox .photo200 a.photo, #RightBox .photo200 a.photo {
	margin: 0 0 10px 50px;
}
a.photo {
	margin: 0 0 10px 25px;
	overflow: hidden;
	font-size: 85%;
	border: 1px solid #4bbcd8;
	cursor: pointer;
	font-weight: normal;
	text-align: center;
	padding-top: 5px;
	text-decoration: none;
}
a.photo:hover {
	border: 1px solid #353535;
	font-weight: normal;
	text-decoration: none;
}
a.photo .name {
	color: #4bbcd8;
	text-decoration: none;
}
a.photo:hover .name {
	border: none;
	font-weight: normal;
	color: #353535;
	text-decoration: none;
}
.photo118 a.photo span.image {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 118px;
	height: 118px;
	border: none;
}
.photo200 a.photo span.image {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border: none;
}
a.photo span.image span {
	*position: absolute;
	*top: 50%;
	*left: 50%;
}
a.photo span.image img {
	margin: 0;
	border: 0;
	border: none;
}
a.photo span.image img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;	
	*position: relative;
	*top: -50%;
	*left: -50%;
	*margin: 0;
	*overflow: hidden;
	border: none;
}
.photofull {
	margin-top: 15px;
	visibility: 
}
.photofull span.image {
	position: relative;
	display: block;
	margin: 0 auto 10px;
	text-align: center;
	width: 500px;
	height: 500px;
	border: 1px solid #4bbcd8;
}
/* IE6 */
* html .photofull span.image { margin: 0 0 0 50px; width: 502px; height: 502px; }
#contentNarrow .photofull span.image {
	width: 405px;
	height: 405px;
}
/* IE6 */
* html #contentNarrow .photofull span.image { width: 407px; height: 407px; margin: 0; }
#LeftBox .photofull span.image, #RightBox .photofull span.image {
	width: 300px;
	height: 300px;
}
/* IE6 */
* html #LeftBox .photofull span.image { width: 302px; height: 302px; margin: 0; }
* html #RightBox .photofull span.image { width: 302px; height: 302px; margin: 0; }
/* IE7 and IE8 */
.photofull span.image span {
	*position: absolute;
	*top: 50%;
	*left: 50%;
}
.photofull span.image img {
	margin: 0;
	border: 0;
}
.photofull span.image img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;	
	*position: relative;
	*top: -50%;
	*left: -50%;
	*margin: 0;
	*overflow: hidden;
}
.pagination {
	margin-bottom: 10px;
	margin-left: 56px;
}
/* IE6 */
* html .pagination { margin-left: 47px; }
#contentNarrow .pagination {
	margin-left: 0;
}
#LeftBox .pagination, #RightBox .pagination {
	margin-left: 0;
}
/* IE6 */
* html .pagination table { _font-size: 0.9em; }
.pagination .before {
	width: 150px;
}
#contentNarrow .pagination .before {
	width: 201px;
}
#LeftBox .pagination .before, #RightBox .pagination .before {
	width: 150px;
}
.pagination .control {
	width: 201px;
	text-align: center;
}
#contentNarrow .pagination .control {
	width: 402px;
	padding-top: 10px;
}
#LeftBox .pagination .control, #RightBox .pagination .control {
	width: 300px;
	padding-top: 10px;
}
.pagination .after {
	width: 150px;
	text-align: right;
}
#contentNarrow .pagination .after {
	width: 210px;
}
#LeftBox .pagination .after, #RightBox .pagination .after {
	width: 150px;
}
.pagination .prev {
	background: #4BBCD8;
	color: #FFFFFF;
	margin-right: 10px;
	margin-left: 3px;
	padding: 2px 10px;
	text-decoration: none;
	font-weight: bold;
}
.pagination .next {
	background: #4BBCD8;
	color: #FFFFFF;
	padding: 2px 10px;
	margin-left: 10px;
	margin-right: 3px;	
	text-decoration: none;	
	font-weight: bold;
}
.pagination .prev:hover, .pagination .next:hover {
	background: #4BBCD8;
	color: #000000;
	text-decoration: none;
}

#slideshowControl {
	background: #4BBCD8;
	color: #FFFFFF;
	padding: 2px 10px;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}
#slideshowControl:hover {
	background: #4BBCD8;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}
/* ---- PHOTOGALLERY -------- */

/* ------- USER LOGIN ------- */
.privateAccessForm {
	margin: 0 0 10px 0;
	overflow: hidden;
	padding: 0;
}
*html .privateAccessForm table {
	font-size: 0.9em;
}
.privateAccessForm h2 {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 7px;
}
.privateAccessForm form {
	margin-left: 10px;
}
.privateAccessForm p {
	margin: 5px 0 5px 0;
}
.privateAccessForm label {
	font-weight: bold;
	margin-left: 5px;
}
.privateAccessForm fieldset {
	border: none;
	margin: 0;
	padding: 10px;
}
.privateAccessForm #postUserName, .privateAccessForm #postPasswd {
	border:1px solid #4BBCD8;
	font-family:Lucida Sans Unicode,Tahoma,Verdana,sans-serif;
	height: 1.5em;
	margin: 0 0 5px 5px;
	width: 200px;
	padding-left:2px;
	padding-right:2px;
}
.privateAccessForm .error {
	margin: 10px 0 10px 10px;
	color: #4BBCD8;
}
#lostPasswordLink , .formSuffixLinks  {
	margin: 5px 0 0 0;
}
#lostPasswordLink a , .formSuffixLinks a  {
	color: #4BBCD8;
	text-decoration: underline;	
}
#lostPasswordLink a:hover , .formSuffixLinks a:hover  {
	color: #353535;
}
/* ------- USER LOGIN ------- */








/* -- forms ---------------------------------------- */

.rbcFormDescription
{
	margin: 0 0 15px;
}

.diskuze label.groupLabel {
	margin-bottom: 5px !important;
}

.diskuze .formTextarea {
	margin-bottom: 5px;
}

.diskuze .formTextarea label {
	display: block !important;
	position: relative;
}

.diskuze .choicesGroup {
	position: relative;
	float: right;
	width: 425px;
	margin: -5px 0 10px;
	padding: 0;
}

.diskuze .choicesGroup label {
	float: none !important; 
	display: inline !important;
	margin: 0 !important;
	font-weight: normal !important;
}

.diskuze .choicesGroup input {
	position: relative !important;
	top: 2px;
	float: none !important;
	width: auto !important;
	height: auto !important;
	background: transparent none !important;
	border: none !important;
	margin: 5px 0 !important;
}

.diskuze select {
	width: 415px;
	margin-bottom: 6px;
	padding: 2px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}

.fileInput {
	position: relative;
	width: 425px;
	margin-bottom: 6px;
	overflow: hidden;
	white-space: nowrap;
}

.fileInputBase {
	height: 0px;
	width: auto;
	overflow: hidden;
}

.ie .fileInputBase
{
	height: auto;
	width: auto;
	overflow: hidden;
}

.ie .fileInputBase input
{
	position: absolute;
	display: block;
	top: -1px;
	left: 0;
	width: 170px;
	height: 25px;
	font-size: 22px;
	z-index: 5;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.fileInputBase
	{
		height: auto;
		width: auto;
		overflow: hidden;
	}

	.fileInputBase input
	{
		position: absolute;
		display: block;
		top: -1px;
		left: 0;
		width: 170px;
		height: 25px;
		font-size: 22px;
		z-index: 5;
		opacity: 0;
		filter: alpha(opacity=0);
		cursor: pointer;
	}
}

.fileInputCover {
	position: relative;
	width: 425px;
	overflow: hidden;
}

.fileInputText {
	position: relative;
	top: 0;
	left: 0;
	padding: 0 0 0 7px;
	white-space: nowrap;
	z-index: 1;
	cursor: default;
}

.fileInputSelect {
	position: relative;
	display: inline-block;
	background-color: #4bbcd8;
	line-height: 23px;
	color: #fff;
	padding: 0 15px;
	cursor: pointer;
}

#contentNarrow .diskuze select, #contentNarrow .diskuze .fileInput, #contentNarrow .diskuze .fileInputCover, #contentNarrow .diskuze .choicesGroup {
	width: 256px;
}

#sidebar .diskuze select, #sidebar .diskuze .fileInput, #sidebar .diskuze .fileInputCover, #sidebar .diskuze .choicesGroup, 
#rightContent .diskuze select, #rightContent .diskuze .fileInput, #rightContent .diskuze .fileInputCover, #rightContent .diskuze .choicesGroup {
	float: none;
	clear: both;
	width: 196px;
	margin-bottom: 5px;
}

#LeftBox .diskuze select, #LeftBox .diskuze .fileInput, #LeftBox .diskuze .fileInputCover, #LeftBox .diskuze .choicesGroup, 
#RightBox .diskuze select, #RightBox .diskuze .fileInput, #RightBox .diskuze .fileInputCover, #RightBox .diskuze .choicesGroup {
	width: 301px;
	margin-bottom: 5px;
}

/* -- end: forms ----------------------------------- */

