
<script src="//s23.ucoz.net/cgi/uutils.fcg?a=get_preroll_cookie&r=0.161812853314807"></script><script type="text/javascript">
		var ucoz_rndid = 'an6G8IH';
		function uLiruCounter(counter){
			new Image().src = "//counter.yadro.ru/hit;"+counter+"?r"+escape(document.referrer)+((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";"+Math.random();
		}
		function uNewMyCounter(counter , unique , dT) {
			var add = '' ;
			if(unique) add += '&uq='+encodeURIComponent(unique) ;
			if(dT) add += '&dt='+encodeURIComponent(dT) ;
			new Image().src="http://188.120.226.43/stat/pixel.gif?host=ucoz&event="+counter+add+"&r="+Math.random();
		}
		function uOnDomOrLater(f){
			if(document.readyState == 'loading') {
				if(document.addEventListener) {
					document.addEventListener('DOMContentLoaded',f);
				} else {
					window.attachEvent('onload',f);
				}
			} else {
				setTimeout(f,0);
			}
		}
	
		    document.write('<div style="width:0px;height:0px;position:fixed;right:0px;top:0px;display:none;overflow:hidden;z-index:2147483640;margin:0;padding:0;background:none;" id="dVan6G8IH"><scr'+'ipt type="text/javascript" src="/abnl/?adsdata=IWTQI5lx1NNUDOXkcaqYgnS!hMpvYz8LbOxfk;ISrS0!RkNT6eL6ddRJQh9JzuSLU^GBZNgFk4B^ews20wKW^T6X7L4E7b721583RUH6rc5SQyUZwMDIXxY!UVuUeBWe1DcaKIFpXtA4jjGisF18J;qHM8VU!nLkAsHiZa!vTDSEZV9o"></scr'+'ipt></div>');
		    function resizeDiv(islasttry){
		
		        var WX,WY,BX,BY;
		        var o=document.getElementById("dVan6G8IH"),t,d;
		        if (!o) return;
		        if(typeof window.self_getsizes == 'function'){
		            var s=self_getsizes();
		            if(s.err==1 && !islasttry) return;
		            if(isNaN(s.BX)) s.BX==0;
		            if(isNaN(s.BY)) s.BY==0;
		            if(s.err==1){
		                if (!(t=document.getElementById("bannerXan6G8IH"))) return;
		                else s.BX=t.value;
		                if (!(t=document.getElementById("bannerYan6G8IH"))) return;
		                else s.BY=t.value;
		            }
		            BX=s.BX;
		            BY=s.BY;
		        }else{
		            if (!(t=document.getElementById("bannerXan6G8IH"))) return;
		            else BX=t.value;
		            if (!(t=document.getElementById("bannerYan6G8IH"))) return;
		            else BY=t.value;
		        }
		        if (!(t=document.getElementById("wrapperXan6G8IH"))) WX=0;
		        else WX=t.value;
		        if (!(t=document.getElementById("wrapperYan6G8IH"))) WY=0;
		        else WY=t.value;
		        d=document.getElementById("mainadsdvan6G8IH");
		        if(d){
		            if (BX<0) d.style.width="100%";
		            else if (BX>0) d.style.width=BX+"px";
		            if (BY<0) d.style.height="100%";
		            else if (BY>0) d.style.height=BY+"px";
		        }
		        BX=parseInt(BX)+parseInt(WX);
		        BY=parseInt(BY)+parseInt(WY);
		        if (BX<0) o.style.width="100%";
		        else if (BX>0) o.style.width=BX+"px";
		        if (BY<0) o.style.height="100%";
		        else if (BY>0) o.style.height=BY+"px";
		        o.style.display='';
		
		        return true;
		    }
		
		    function waitForIframe(triesCount){
		        if(triesCount>10) return;
		        if(typeof resizeDiv == 'function' && !resizeDiv(triesCount==10 ? 1 : 0)) return setTimeout(function() { waitForIframe(triesCount + 1); }, 500);
		    };
		    document.write('<scr'+'ipt type="text/javascript">waitForIframe(0);</scr'+'ipt>');
		</script><script type="text/javascript">
		var ucoz_rndid = 'an6G8IH';
		function uLiruCounter(counter){
			new Image().src = "//counter.yadro.ru/hit;"+counter+"?r"+escape(document.referrer)+((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";"+Math.random();
		}
		function uNewMyCounter(counter , unique , dT) {
			var add = '' ;
			if(unique) add += '&uq='+encodeURIComponent(unique) ;
			if(dT) add += '&dt='+encodeURIComponent(dT) ;
			new Image().src="http://188.120.226.43/stat/pixel.gif?host=ucoz&event="+counter+add+"&r="+Math.random();
		}
		function uOnDomOrLater(f){
			if(document.readyState == 'loading') {
				if(document.addEventListener) {
					document.addEventListener('DOMContentLoaded',f);
				} else {
					window.attachEvent('onload',f);
				}
			} else {
				setTimeout(f,0);
			}
		}
	
			function resizeFrame() {
				var WX, WY, BX, BY;
				var o = document.getElementById("iFan6G8IH") , t , d;
				if (!o) return;
				d = o.contentDocument;
				if (!(t = d.getElementById("wrapperXan6G8IH"))) WX = 0;
				else WX = t.value;
				if (!(t = d.getElementById("wrapperYan6G8IH"))) WY = 0;
				else WY = t.value;
				if (!(t = d.getElementById("bannerXan6G8IH"))) BX = 0;
				else BX = t.value;
				if (!(t = d.getElementById("bannerYan6G8IH"))) BY = 0;
				else BY = t.value;
				BX = parseInt(BX) + parseInt(WX);
				BY = parseInt(BY) + parseInt(WY);
				if (BX < 0) o.style.width = "100%";
				else if (BX > 0) o.style.width = BX + "px";
				if (BY < 0) o.style.height = "100%";
				else if (BY > 0) o.style.height = BY + "px";
				
			}
			document.write('<iframe style="position:fixed;right:0px;top:0px;z-index:2147483640;" height="0" width="0" onload="resizeFrame();" id="iFan6G8IH" frameborder="0" scrolling="no" src="/abnl/?adsdata=bHJ3x;gxCcxeea0cL891Y;d^h5rmZ6uD7C4uX6ZLnhEdgvqX!ypHvEhmgbV8cSOrPeSiQMcT6jlkCIXT2nmcLT1j3cyK8t4cmeQIwlcc8kb6INB;7J3QibUszCf1Du71HtTOcHfZDCe9bYCi0DPbknh1FfrR"></iframe>');
		</script><script type="text/javascript">new Image().src = "//counter.yadro.ru/hit;ucoz_abandoned_sites?r"+escape(document.referrer)+((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";"+Math.random();</script><script type="text/javascript">new Image().src = "//counter.yadro.ru/hit;ucoznet2?r"+escape(document.referrer)+((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";"+Math.random();</script><script type="text/javascript">document.write('<scr'+'ipt type="text/javascript" src="http://rot.spotsniper.ru/?src=u1"></scr'+'ipt>');</script><script type="text/javascript">new Image().src = "//counter.yadro.ru/hit;video_show?r"+escape(document.referrer)+((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";"+Math.random();</script><html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Универсальный программатор - Сделай сам  - ОПАСНО ДЛЯ ЖИЗНИ! - сделай сам</title>

<link type="text/css" rel="StyleSheet" href="/.s/src/css/621.css" />

	<link type="text/css" rel="stylesheet" href="/.s/src/base.css" />
	<link type="text/css" rel="stylesheet" href="/.s/src/layer7.css" />
	
	<script type="text/javascript" src="/.s/src/jquery-1.10.2.js"></script>
	
	<script type="text/javascript" src="/.s/src/uwnd.js?2"></script>
<script type="text/javascript" src="//s23.ucoz.net/cgi/uutils.fcg?a=uSD&ca=2&ug=999&r=0.54658750985433"></script>
	<script type="text/javascript">
		window.ulb = {photoPage: "Перейти на страницу с фотографией.",closeBtn: "Закрыть", error: "Запрошенный контент не может быть загружен. Пожалуйста, попробуйте позже.", next: "Вперед", prev: "Предыдущий", btnPlay: "Начать слайдшоу", btnToggle: "Изменить размер"}
	</script>
	<link type="text/css" rel="stylesheet" href="/.s/src/ulightbox/ulightbox.css" />
	<script type="text/javascript" src="/.s/src/ulightbox/ulightbox.js"></script>
	
<link type="text/css" rel="stylesheet" href="/.s/src/socCom.css" />
	<script type="text/javascript"   src="/.s/src/socCom.js"></script>
	<script type="text/javascript"   src="//s23.ucoz.net/cgi/uutils.fcg?a=soc_comment_get_data&site=2joludi7"></script>
	<script type="text/javascript" async defer src="https://www.google.com/recaptcha/api.js?onload=reCallback&render=explicit&hl=ru"></script>
	<script type="text/javascript">//------------UCOZ-JS-CODE-----------

	function reCallback() {
		$('.g-recaptcha').each(function(index, element ) {
			element.setAttribute('rcid', index );
			if ($(element).is(':empty') ) grecaptcha.render(element, {sitekey:element.getAttribute('data-sitekey'), theme:element.getAttribute('data-theme'), size:element.getAttribute('data-size') });
		});
	}
	function reReset(reset ) {
		reset && grecaptcha.reset(reset.previousElementSibling.getAttribute('rcid') );
		if (!reset ) for (rel in ___grecaptcha_cfg.clients ) grecaptcha.reset(rel );
	}
	
//------------UCOZ-JS-END-----------
</script>

	<style type="text/css">.UhideBlock{display:none; }
</style>
<script type="text/javascript">//<!--
	function uSocialLogin(t) {
		var params = { 'vkontakte':{ 'width':790, 'height':400 }, 'ok':{ 'width':710, 'height':390 }, 'facebook':{ 'width':950, 'height':520 }, 'yandex':{ 'width':870, 'height':515 }, 'google':{ 'width':700, 'height':600 }, 'twitter':{ 'width':800, 'height':400 } };
		var ref = escape(location.protocol + '//' + ('joludi7.at.ua' || location.hostname) + location.pathname + ((location.hash ? ( location.search ? location.search + '&' : '?' ) + 'rnd=' + Date.now() + location.hash : ( location.search || '' ))));
		// var ref = escape(location.href);
		window.open('/'+t+'?ref='+ref,'conwin','width='+params[t].width+',height='+params[t].height+',status=1,resizable=1,left='+parseInt((screen.availWidth/2)-(params[t].width/2))+',top='+parseInt((screen.availHeight/2)-(params[t].height/2)-20)+'screenX='+parseInt((screen.availWidth/2)-(params[t].width/2))+',screenY='+parseInt((screen.availHeight/2)-(params[t].height/2)-20));
		return false;
	}
//--></script>

<link type="text/css" rel="stylesheet" href="/.s/src/social.css" /><script type="text/javascript">var advideo_playlist_id=9999;</script><script type="text/javascript" src="//js.advideo.ru/aro.js" async></script><script src="//ucounter.ucoz.net/?src=ss2&data=Mjo5OjM4OjEwOTo1MzoyMjoyOTo5Mjo2Nzo3OTozMTo0Mzo0OToyOTo2MjoxOjUxOjgwOjEyNDo5NTozMDo0OjI6MTU6MTAyOjMzOjUyOjg0OjgzOjkxOjExNjo4MTo1MTozODoyNToxODo3Nzo3MjoxMToxMjU6OTc6ODA6ODA6OTM6OTk6NzoxMTg6OTU6MzA6ODo0OjM4Ojc0OjYwOjQ5OjI5OjkyOjE0OjMyOjg3OjM2Ojk1OjMwOjg6NDozODo5MzozOTo2MTo4NDoyMDoxMTo2MTo3MjoxMDM6MjQ6MToxNDoyMzozODo3Nzo1OToxMDk6ODg6ODI6ODk6MTA3OjY6MTE4Ojc3Ojk0OjgwOjY1Ojk1Ojc0OjMzOjM2OjU0OjA6MTI6NjI6NzA6MTI0Ojk1OjMwOjg6NDozODo5MTo0MTo2MjoxNDo5Mjo3ODozMzo5MTo1MzozODoyNzo5OjI1OjI5OjQ6MTEwOjM1OjA6MjE6NTU6NTQ6ODA6NTM6MzE6ODA6NzE6MzoxNjo3NzoyMzo2MDo3OjY6ODU6MzI6NzE6MTAzOjEwOjQ6MjE6NDc6Mjc6NzM6Mzk6MzU6ODQ=&r64=&cid=A1B100&cb=0.209222185331065" async></script><script type="text/javascript">(function (d, w, c) {(w[c] = w[c] || []).push(function() {try {w.yaCounter39883200 = new Ya.Metrika({id:39883200,clickmap:true,trackLinks:true,accurateTrackBounce:true,ut:"noindex"});} catch(e) { }});var n = d.getElementsByTagName("script")[0],s = d.createElement("script"),f = function () { n.parentNode.insertBefore(s, n); };s.type = "text/javascript";s.async = true;s.src = "https://mc.yandex.ru/metrika/watch.js";if (w.opera == "[object Opera]") {d.addEventListener("DOMContentLoaded", f, false);} else { f(); }})(document, window, "yandex_metrika_callbacks");</script>
</head>

<body style="background:#474747; margin:0px; padding:0px;">
<div id="utbr8214" rel="s23"></div>
<!--U1AHEADER1Z-->
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
<tr><td width="53" style="background:url(/.s/t/621/1.gif) #252525;"></td>
<td valign="top">
<table border="0" cellpadding="0" cellspacing="0" height="170" width="100%" style="background:url(/.s/t/621/2.gif) #373737;">
<tr><td rowspan="4" width="250"><img src="/.s/t/621/3.gif" border="0"></td>
<td height="21" colspan="2" align="right" style="padding-right:10px;color:#959595;">Четверг, 11.01.2018, 22:08</td></tr>
<tr><td height="114"><span style="color:#FFFFFF;font:20pt bold Verdana,Tahoma;"><b><!-- <logo> -->JOLUDI<!-- </logo> --></b></span></td><td width="50"><a href="http://joludi7.at.ua/" title="Главная"><img src="/.s/t/621/4.gif" border="0" alt="Главная"></a><br /><br /><a href="/register" title="Регистрация"><img src="/.s/t/621/6.gif" border="0" alt="Регистрация"></a><br /><br /><a href="javascript://" rel="nofollow" onclick="new _uWnd('LF', ' ', -250, -110, {autosize:1, closeonesc:1, resize:1 }, {url:'/index/40' } ); return false;" title="Вход"><img src="/.s/t/621/8.gif" border="0" alt="Вход"></a></td></tr>
<tr><td height="21" colspan="2" align="right" style="padding-right:10px;color:#959595;"><!--<s5212>-->Приветствую Вас<!--</s>--> <b>Гость</b> | <a href="http://joludi7.at.ua/load/rss/">RSS</a></td></tr>
<tr><td height="14" colspan="2"></td></tr>
</table>
<!--/U1AHEADER1Z-->

<table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding: 0 10px;"><tr><td width="100%" align="center">

<!-- <middle> -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top" width="210">

<!--U1CLEFTER1Z-->
<!-- <block1> -->

<table border="0" cellpadding="0" cellspacing="0" style="background:#A9B8C2;" width="210">
<tr><td height="52" style="background:url('/.s/t/621/9.gif') #FFFFFF;padding-top:14px; padding-left:35px;" valign="top"><b><!-- <bt> --><!--<s5184>-->Меню сайта<!--</s>--><!-- </bt> --></b></td></tr>
<tr><td style="background:url('/.s/t/621/10.gif') #A82F38;padding:0 10px;"><!-- <bc> --><div id="uMenuDiv1" class="uMenuV" style="position:relative;"><ul class="uMenuRoot">
<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="http://joludi.at.ua"><span>ГЛАВНАЯ</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>
<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/index/0-2"><span>видео</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>
<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/load"><span>Сделай сам </span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>
<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/publ"><span>Каталог статей</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>
<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/blog"><span>Блог</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>
<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/forum"><span>Форум</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>
<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/photo"><span>Фотоальбомы</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>
<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/gb"><span>Гостевая книга</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>
<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/index/0-3"><span>Обратная связь</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>
<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/board"><span>Доска объявлений</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li></ul></div><script type="text/javascript">$(function(){_uBuildMenu('#uMenuDiv1',0,document.location.href+'/','uMenuItemA','uMenuArrow',2500);})</script><!-- </bc> --></td></tr>
<tr><td><img src="/.s/t/621/11.gif" border="0"></td></tr>
</table>

<!-- </block1> -->

<!-- <block2> -->
<table border="0" cellpadding="0" cellspacing="0" style="background:#A9B8C2;" width="210">
<tr><td height="52" style="background:url('/.s/t/621/9.gif') #FFFFFF;padding-top:14px; padding-left:35px;" valign="top"><b><!-- <bt> -->время<!-- </bt> --></b></td></tr>
<tr><td style="background:url('/.s/t/621/10.gif') #A82F38;padding:0 10px;"><!-- <bc> --><script src="http://clock1.mytictac.com/private/mytictac.js?c=f223fe3dbd4e0d19677eeda814a0c131"></script>
<noscript><a href="http://www.mytictac.com/en/index.php">Free clock</a></noscript><!-- </bc> --></td></tr>
<tr><td><img src="/.s/t/621/11.gif" border="0"></td></tr>
</table>
<!-- </block2> -->

<!-- <block3> -->

<table border="0" cellpadding="0" cellspacing="0" style="background:#A9B8C2;" width="210">
<tr><td height="52" style="background:url('/.s/t/621/9.gif') #FFFFFF;padding-top:14px; padding-left:35px;" valign="top"><b><!-- <bt> --><!--<s5158>-->Форма входа<!--</s>--><!-- </bt> --></b></td></tr>
<tr><td style="background:url('/.s/t/621/10.gif') #A82F38;padding:0 10px;"><!-- <bc> --><div id="uidLogForm" align="center"><a href="javascript://" onclick="window.open('https://login.uid.me/?site=2joludi7&ref='+escape(location.protocol + '//' + ('joludi7.at.ua' || location.hostname) + location.pathname + ((location.hash ? ( location.search ? location.search + '&' : '?' ) + 'rnd=' + Date.now() + location.hash : ( location.search || '' )))),'uidLoginWnd','width=580,height=450,resizable=yes,titlebar=yes');return false;" class="login-with uid" title="Войти через uID" rel="nofollow"><i></i></a><a href="javascript://" onclick="return uSocialLogin('vkontakte');" class="login-with vkontakte" title="Войти через ВКонтакте" rel="nofollow"><i></i></a><a href="javascript://" onclick="return uSocialLogin('ok');" class="login-with ok" title="Войти через Однокласcники" rel="nofollow"><i></i></a><a href="javascript://" onclick="return uSocialLogin('facebook');" class="login-with facebook" title="Войти через Facebook" rel="nofollow"><i></i></a><a href="javascript://" onclick="return uSocialLogin('yandex');" class="login-with yandex" title="Войти через Яндекс" rel="nofollow"><i></i></a><a href="javascript://" onclick="return uSocialLogin('google');" class="login-with google" title="Войти через Google+" rel="nofollow"><i></i></a><a href="javascript://" onclick="return uSocialLogin('twitter');" class="login-with twitter" title="Войти через Twitter" rel="nofollow"><i></i></a></div><!-- </bc> --></td></tr>
<tr><td><img src="/.s/t/621/11.gif" border="0"></td></tr>
</table>

<!-- </block3> -->

<!-- <block4> -->

<table border="0" cellpadding="0" cellspacing="0" style="background:#A9B8C2;" width="210">
<tr><td height="52" style="background:url('/.s/t/621/9.gif') #FFFFFF;padding-top:14px; padding-left:35px;" valign="top"><b><!-- <bt> --><!--<s5351>-->Категории раздела<!--</s>--><!-- </bt> --></b></td></tr>
<tr><td style="background:url('/.s/t/621/10.gif') #A82F38;padding:0 10px;"><!-- <bc> --><table border="0" cellspacing="1" cellpadding="0" width="100%" class="catsTable"><tr><td style="width:100%" class="catsTd" valign="top" id="cid1"><a href="/load/1" class="catNameActive">Сделай сам</a> <span class="catNumData" style="unicode-bidi:embed;">[252]</span><div class="catDescr">Сделай сам - сайт, где все сделано руками. Вы сможете узнать, как что-то сделать своими руками дома, используя только подручные средства...........................  ДАННЫЙ САЙТ- представляет реальную угрозу для здоровья и жизни. Автор оставляет за собой право не нести ответственности за возможные нежелательные последствия после практического воплощения некоторых пиротехнических рецептов,самодельных устройств, и настоятельно рекомендует, в случае удовлетворения собственного любопытства и химического интереса осуществлять "рецепты" в минимальных количествах и строго следовать всем указанным и неуказанным, а так же подразумеваемых мерам предосторожности.  <a href="http://joludi.at.ua">мой сайт</a></div></td></tr></table><!-- </bc> --></td></tr>
<tr><td><img src="/.s/t/621/11.gif" border="0"></td></tr>
</table>

<!-- </block4> -->

<!-- <block5> -->

<table border="0" cellpadding="0" cellspacing="0" style="background:#A9B8C2;" width="210">
<tr><td height="52" style="background:url('/.s/t/621/9.gif') #FFFFFF;padding-top:14px; padding-left:35px;" valign="top"><b><!-- <bt> --><!--<s3163>-->Поиск<!--</s>--><!-- </bt> --></b></td></tr>
<tr><td style="background:url('/.s/t/621/10.gif') #A82F38;padding:0 10px;"><div align="center"><!-- <bc> --><div class="searchForm"><form onsubmit="this.sfSbm.disabled=true" method="get" style="margin:0" action="/search/"><div align="center" class="schQuery"><input type="text" name="q" maxlength="30" size="20" class="queryField" /></div><div align="center" class="schBtn"><input type="submit" class="searchSbmFl" name="sfSbm" value="Найти" /></div></form></div><!-- </bc> --></div></td></tr>
<tr><td><img src="/.s/t/621/11.gif" border="0"></td></tr>
</table>

<!-- </block5> -->
<!--/U1CLEFTER1Z-->

</td>

<td valign="top" style="padding:0px 10px 0px 10px;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td width="15" height="15"><img src="/.s/t/621/12.gif" border="0"></td><td style="background:url('/.s/t/621/13.gif');"></td><td width="15" height="15"><img src="/.s/t/621/14.gif" border="0"></td></tr>
<tr><td style="background:url('/.s/t/621/15.gif');"></td><td style="background:#FFFFFF;"><!-- <body> --><table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="80%"><a href="http://joludi7.at.ua/"><!--<s5176>-->Главная<!--</s>--></a> &raquo; <a href="/load/"><!--<s5182>-->Файлы<!--</s>--></a>  &raquo; <a href="/load/1">Сделай сам</a></td>
<td align="right" style="white-space: nowrap;"></td>
</tr>
</table>
<hr />
<div class="eTitle" style="padding-bottom:3px;">Универсальный программатор </div>
<table border="0" width="100%" cellspacing="0" cellpadding="2" class="eBlock">
<tr><td width="85%">
[ <a href="/load/0-0-0-164-20"><!--<s5223>-->Скачать с сервера<!--</s>--></a> (78.1Kb)

 ]
</td><td align="right" style="font-size:7pt;white-space: nowrap;">30.09.2009, 09:05</td></tr>
<tr><td class="eText" colspan="2"><div id="nativeroll_video_cont" style="display:none;"></div>
		<script>
			window.adb_site_type = 'ucoz';
			window.adb_showcrit = 1 ;
			window.adb_abandoned = 1 ;
			//window.ucoz_site_type = 'ucoz' ;
			window.adb_site_cat = '9-1' ;
		</script>
		<script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js" async></script>
	<div align="center"><p align="center"><span style="font-size: 14pt; color: rgb(105, 105, 105);"><strong><span style="font-size: 14pt; color: rgb(105, 105, 105);"><u>Универсальный программатор</u></span></strong></span></p><p align="center"><span style="font-size: 14pt; color: rgb(105, 105, 105);">Microchip
(Pic12, Pic16), Atmel (AVR, AT89), SPI EEPROM-и (25xxx), 16- и 8-бит
I2C EEPROM-и (24xxx, AT17xxx), 16- и 8-бит MicroWire EEPROM-и (93xxx)</span></p><p><!--IMG1--><span style="font-size: 14pt; color: rgb(105, 105, 105);"><a href="http://aes.at.ua/_pu/2/02915880.gif" target="_blank" title="Нажмите, для просмотра в полном размере..."><img style="border: 0pt none ; margin: 0pt; padding: 0pt;" src="http://aes.at.ua/_pu/2/s02915880.jpg" align=""></a></span><!--IMG1--></p><p><span style="font-size: 14pt; color: rgb(105, 105, 105);">Схема программатора:</span></p><p><span style="font-size: 14pt; color: rgb(105, 105, 105);"><img alt="" src="/82758572.gif" align="" border="0px"></span></p><span style="font-size: 14pt; color: rgb(105, 105, 105);">Распиновка микросхем:<br></span><div align="center"><span style="font-size: 14pt; color: rgb(105, 105, 105);"></span><img alt="" src="/88801819.jpg" align="" border="0px"><br><br><span style="font-size: 14pt; color: rgb(105, 105, 105);">После долгой расшифровки, вот печатка с деталями на ней:<br><img alt="" src="/27391307.jpg" align="" border="0px"><br><br></span><br><span style="font-size: 14pt; color: rgb(105, 105, 105);"></span><br><p><span style="font-size: 14pt; color: rgb(105, 105, 105);">ИС1 - 78L12, ИС2 - 78L05, ИС3 - 40106, ИС4 - MAX 232&nbsp;<br>Т1 - ВС 547, Т2 - ВС557, D1D4 - светодиоди,&nbsp;<br>D5 - 4.7 V, D6 - 1N4148&nbsp;<br>R1 - 1 к, R2 - 10 к, R3 - 3.3 к,&nbsp;<br>R4 - 120 , R5 - 1 к, R6 - 220 , R7 - 27 к, R8 - 4.7 к,&nbsp;<br>С1, С2, С3 - 100 nF, С4, С5, С6, С7 - 1 мкФ<br><br>Печатная плата (в общем архиве в конце статьи) МК-8-5<br></span></p><p><span style="font-size: 14pt; color: rgb(105, 105, 105);"><strong><span style="font-size: 14pt; color: rgb(105, 105, 105);">Управляющие программы:</span></strong></span></p><p><span style="font-size: 14pt; color: rgb(105, 105, 105);"><span style="font-size: 14pt; color: rgb(105, 105, 105);">PonyProg или ICProg</span></span></p><p><span style="font-size: 14pt; color: rgb(105, 105, 105);"><span style="font-size: 14pt; color: rgb(105, 105, 105);"><img alt="" src="/65397831.gif" align="" border="0px"></span></span></p><p><br><span style="font-size: 14pt; color: rgb(105, 105, 105);"><span style="font-size: 14pt; color: rgb(105, 105, 105);"></span></span></p><span style="font-size: 14pt; color: rgb(105, 105, 105);"><strong><span style="font-size: 14pt; color: rgb(105, 105, 105);"><span style="font-size: 14pt; color: rgb(105, 105, 105);">Приставка для AVR<br><img alt="" src="/66517556.jpg" align="" border="0px"><br><img alt="" src="/47751480.jpg" align="" border="0px"><br><br></span></span></strong></span><p><span style="font-size: 14pt; color: rgb(105, 105, 105);">R1 - 47k, С1 - 15nF, С2 - 100nF<br>8-pin, 18-pin, 28-pin</span></p><p><span style="font-size: 14pt; color: rgb(105, 105, 105);">Печатная плата (в общем архиве в конце статьи) МК-9-4</span></p><p align="center"><span style="font-size: 14pt; color: rgb(105, 105, 105);"><strong><span style="font-size: 14pt; color: rgb(105, 105, 105);"><span style="font-size: 14pt; color: rgb(105, 105, 105);">Приставка для ЕЕPROM-памяти серии 93XXX и 25ХХХ</span></span></strong></span></p><p align="center"><br><span style="font-size: 14pt; color: rgb(105, 105, 105);"><strong><span style="font-size: 14pt; color: rgb(105, 105, 105);"><span style="font-size: 14pt; color: rgb(105, 105, 105);"></span></span></strong></span></p><p align="center"><span style="font-size: 14pt; color: rgb(105, 105, 105);"><strong><span style="font-size: 14pt; color: rgb(105, 105, 105);"><span style="font-size: 14pt; color: rgb(105, 105, 105);"><img alt="" src="/91651213.jpg" align="" border="0px"></span></span></strong></span></p><p align="center"><br><span style="font-size: 14pt; color: rgb(105, 105, 105);"><strong><span style="font-size: 14pt; color: rgb(105, 105, 105);"><span style="font-size: 14pt; color: rgb(105, 105, 105);"></span></span></strong></span></p><p align="center"><span style="font-size: 14pt; color: rgb(105, 105, 105);"><strong><span style="font-size: 14pt; color: rgb(105, 105, 105);"><span style="font-size: 14pt; color: rgb(105, 105, 105);"><img alt="" src="/37591578.jpg" align="" border="0px"></span></span></strong></span></p><p align="center"><br><span style="font-size: 14pt; color: rgb(105, 105, 105);"><strong><span style="font-size: 14pt; color: rgb(105, 105, 105);"><span style="font-size: 14pt; color: rgb(105, 105, 105);"></span></span></strong></span></p><p><span style="font-size: 14pt; color: rgb(105, 105, 105);">С1 - 100 nF</span></p><p><span style="font-size: 14pt; color: rgb(105, 105, 105);">Печатная плата (в общем архиве в конце статьи) МК-9-5</span></p><p align="center"><span style="font-size: 14pt; color: rgb(105, 105, 105);"><strong><span style="font-size: 14pt; color: rgb(105, 105, 105);">Приставка для ЕЕPROM-памяти, серия 24ХХХ</span></strong></span></p><p align="center"><br><span style="font-size: 14pt; color: rgb(105, 105, 105);"><strong><span style="font-size: 14pt; color: rgb(105, 105, 105);"></span></strong></span></p><p align="center"><span style="font-size: 14pt; color: rgb(105, 105, 105);"><strong><span style="font-size: 14pt; color: rgb(105, 105, 105);"><img alt="" src="/13974056.jpg" align="" border="0px"></span></strong></span></p><p align="center"><br><span style="font-size: 14pt; color: rgb(105, 105, 105);"><strong><span style="font-size: 14pt; color: rgb(105, 105, 105);"></span></strong></span></p><p align="center"><span style="font-size: 14pt; color: rgb(105, 105, 105);"><strong><span style="font-size: 14pt; color: rgb(105, 105, 105);"><img alt="" src="/52228407.jpg" align="" border="0px"><br></span></strong></span></p><font color="#696969"><span style="font-size: 14pt;"><a href="http://aes.at.ua/11/1/avrmcr8.rar" target="null">Скачать</a> все печатные платы</span><br><br><span style="font-size: 14pt; color: rgb(105, 105, 105);"></span></font></div></div></td></tr>
<tr><td class="eDetails1" colspan="2"><div style="float:right">
		<style type="text/css">
			.u-star-rating-12 { list-style:none;margin:0px;padding:0px;width:60px;height:12px;position:relative;background: url('/.s/img/stars/3/12.png') top left repeat-x }
			.u-star-rating-12 li{ padding:0px;margin:0px;float:left }
			.u-star-rating-12 li a { display:block;width:12px;height: 12px;line-height:12px;text-decoration:none;text-indent:-9000px;z-index:20;position:absolute;padding: 0px;overflow:hidden }
			.u-star-rating-12 li a:hover { background: url('/.s/img/stars/3/12.png') left center;z-index:2;left:0px;border:none }
			.u-star-rating-12 a.u-one-star { left:0px }
			.u-star-rating-12 a.u-one-star:hover { width:12px }
			.u-star-rating-12 a.u-two-stars { left:12px }
			.u-star-rating-12 a.u-two-stars:hover { width:24px }
			.u-star-rating-12 a.u-three-stars { left:24px }
			.u-star-rating-12 a.u-three-stars:hover { width:36px }
			.u-star-rating-12 a.u-four-stars { left:36px }
			.u-star-rating-12 a.u-four-stars:hover { width:48px }
			.u-star-rating-12 a.u-five-stars { left:48px }
			.u-star-rating-12 a.u-five-stars:hover { width:60px }
			.u-star-rating-12 li.u-current-rating { top:0 !important; left:0 !important;margin:0 !important;padding:0 !important;outline:none;background: url('/.s/img/stars/3/12.png') left bottom;position: absolute;height:12px !important;line-height:12px !important;display:block;text-indent:-9000px;z-index:1 }
		</style><script type="text/javascript">
var usrarids = {};
function ustarrating(id, mark) {
	if (!usrarids[id]) {
		usrarids[id] = 1;
		$(".u-star-li-"+id).hide();
		_uPostForm('', {type:'POST', url:'/load/', data:{'a':'65','id':id,'mark':mark,'mod':'load','ajax':'2'}});
	}
}
</script><ul id="uStarRating164" class="uStarRating164 u-star-rating-12" title="Рейтинг: 5.0/2">
<li class="u-current-rating uCurStarRating164" id="uCurStarRating164" style="width:100%;"></li>
<li class="u-star-li-164"><a href="#" onclick="ustarrating('164',1);return false;" class="u-one-star">1</a></li>
<li class="u-star-li-164"><a href="#" onclick="ustarrating('164',2);return false;" class="u-two-stars">2</a></li>
<li class="u-star-li-164"><a href="#" onclick="ustarrating('164',3);return false;" class="u-three-stars">3</a></li>
<li class="u-star-li-164"><a href="#" onclick="ustarrating('164',4);return false;" class="u-four-stars">4</a></li>
<li class="u-star-li-164"><a href="#" onclick="ustarrating('164',5);return false;" class="u-five-stars">5</a></li></ul></div>
<!--<s3179>-->Категория<!--</s>-->: <a href="/load/1">Сделай сам</a> | <!--<s3178>-->Добавил<!--</s>-->: <a href="javascript://" rel="nofollow" onclick="window.open('/index/8-1', 'up1', 'scrollbars=1,top=0,left=0,resizable=1,width=700,height=375'); return false;">JOLUDI</a>

</td></tr>
<tr><td class="eDetails2" colspan="2"><!--<s3177>-->Просмотров<!--</s>-->: <b>4503</b> | <!--<s3181>-->Загрузок<!--</s>-->: <b>333</b>
| <!--<s3039>-->Комментарии<!--</s>-->: <b>2</b>
| <!--<s3119>-->Рейтинг<!--</s>-->: <b><span id="entRating164">5.0</span></b>/<b><span id="entRated164">2</span></b></td></tr>
</table>



<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td width="60%" height="25"><!--<s5183>-->Всего комментариев<!--</s>-->: <b>1</b></td><td align="right" height="25"></td></tr>
<tr><td colspan="2">
			<div class="com-order-block">
				<label class="com-order-wrap">
					<span class="com-order-title">Порядок вывода комментариев:</span>
					<select class="com-order-select">
						<option value="" selected="selected">По умолчанию</option>
						<option value="desc" >Сначала новые</option>
						<option value="asc" >Сначала старые</option>
					</select>
				</label>
			</div>
			<script type="text/javascript">
				setTimeout(function() {
					$('.com-order-select').change(function() {
						var elem = $(this);
						var oldValue = ( /2joludi7comOrder=(asc|desc)/.exec(document.cookie) || {} )[1] || '';
						var newValue = elem.val();
						console.log(oldValue, newValue);
						if( newValue == oldValue ) {
							return;
						};
						document.cookie = '2joludi7comOrder=' + encodeURIComponent(newValue) + '; path=/; expires=' + (new Date((new Date).getTime() + 1000*60*60*24*365)).toGMTString();
						window.console && console.info && console.info('comment order changed: "' + oldValue + '" >> "' + newValue + '"');
						// elem.parents('.com-order-wrap').eq(0).find('.com-order-apply').fadeIn().removeClass('com-order-apply-hidden').addClass('com-order-apply-visible');
						newValue = newValue || 'default';
						location.search = location.search
							? /[?&]comments_order=([^&]*)/.test(location.search)
								? location.search.replace(/comments_order=([^&]*)/, 'comments_order=' + newValue)
								: location.search + '&comments_order=' + newValue
							: '?comments_order=' + newValue;
					});
				}, 100);
			</script>
		
			<div id="myGrid" style="display:none;"><img alt="" src="/.s/img/ma/m/i3.gif" /></div>
			<script type="text/javascript">
				function spages(p,link) {
					document.location.href = atob(link);
				}
			</script>
			<a name="comments"></a>
			<div id="newEntryT"></div>
			<div id="allEntries"><div class="comEnt report-spam-target " id="comEnt858" style=" ">
<table itemscope itemtype="https://schema.org/Review" border="0" cellpadding="0" cellspacing="0" width="100%" class="cBlock1"><tr><td style="padding:3px;"><div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product"><meta itemprop="name" content="Универсальный программатор"></div><div style="float:right;font-size:11px;font-family:Arial,sans-serif;"><img alt="" src="/.s/img/icon/thumbu2_.png" title="Хороший пост" style="margin: 0 4px;vertical-align: middle;opacity: .5;">0<img alt="" src="/.s/img/icon/thumbd2_.png" title="Плохой пост" style="margin: 0 4px;vertical-align: middle;opacity: .5;"><span id="report-spam-wrap-858" class="report-spam-wrap"><a class="report-spam-btn" data-message-id="858" data-not-spam="0" href="javascript://">Спам</a></span></div><div class="cTop" style="text-align:left;"><a href="#ent858" onclick="if (document.getElementById('comEnt858')){$('body').scrollTo( { top:$('#comEnt858').offset().top-22, left:0}, 500 );return false;}" name="ent858"><b>1</b></a>
<span itemprop="author" itemscope itemtype="https://schema.org/Person"><b itemprop="name">Александр</b></span> &nbsp; <span itemprop="datePublished" content="13.01.2013 18:02" style="font-size:7pt;unicode-bidi:embed;">(13.01.2013 18:02)</span>

</div>
<div itemprop="reviewBody" class="cMessage" style="text-align:left;clear:both;padding:2px 0;">При скачивании пишет &quot;данной страницы не существует&quot; перезалейте пожалуйста хотябы на яндекс</div>

</td></tr></table><br />
</div><div style="width:auto;*width:100%;margin-left:20px;" id="appEntry858"><b></b></div></div>
			<div id="newEntryB"></div><script type="text/javascript">
			
		if( !window.uCoz ) window.uCoz = {};
		if( !uCoz.spam ) uCoz.spam = {};
		if( !uCoz.spam.sign ) uCoz.spam.sign = {};

		if( !uCoz.spam.config ) uCoz.spam.config = {};

		uCoz.spam.config.scopeID  = 0;
		uCoz.spam.config.idPrefix = 'comEnt';

		uCoz.spam.sign.spam            = 'Спам';
		uCoz.spam.sign.notSpam         = 'Не спам';
		uCoz.spam.sign.hidden          = 'Спам-сообщение скрыто.';
		uCoz.spam.sign.shown           = 'Спам-сообщение показано.';
		uCoz.spam.sign.show            = 'Показать';
		uCoz.spam.sign.hide            = 'Скрыть';
		uCoz.spam.sign.admSpam         = 'Разрешить жалобы';
		uCoz.spam.sign.admSpamTitle    = 'Разрешить пользователям сайта помечать это сообщение как спам';
		uCoz.spam.sign.admNotSpam      = 'Это не спам';
		uCoz.spam.sign.admNotSpamTitle = 'Пометить как не-спам, запретить пользователям жаловаться на это сообщение';

		

		uCoz.spam.moderPanelNotSpamClick = function(elem) {
			var waitImg = $('<img align="absmiddle" src="/.s/img/fr/EmnAjax.gif">');
			var elem = $(elem);
			elem.find('img').hide();
			elem.append(waitImg);
			var messageID = elem.attr('data-message-id');
			var notSpam   = elem.attr('data-not-spam') ? 0 : 1; // invert - 'data-not-spam' should contain CURRENT 'notspam' status!
			$.post('/index/', {
				a          : 101,
				scope_id   : uCoz.spam.config.scopeID,
				message_id : messageID,
				not_spam   : notSpam
			}).then(function(response) {
				waitImg.remove();
				elem.find('img').show();
				if( response.error ) {
					alert(response.error);
					return;
				};
				if( response.status == 'admin_message_not_spam' ) {
					elem.attr('data-not-spam', true).find('img').attr('src', '/.s/img/spamfilter/notspam-active.gif');
					$('#del-as-spam-' + messageID).hide();
				} else {
					elem.removeAttr('data-not-spam').find('img').attr('src', '/.s/img/spamfilter/notspam.gif');
					$('#del-as-spam-' + messageID).show();
				};
				//console.log(response);
			});
			return false;
		};


		uCoz.spam.report = function(scopeID, messageID, notSpam, callback, context) {
			return $.post('/index/', {
				a: 101,
				scope_id   : scopeID,
				message_id : messageID,
				not_spam   : notSpam
			}).then(function(response) {
				if( callback ) {
					callback.call(context || window, response, context);
				} else {
					window.console && console.log && console.log('uCoz.spam.report: message #' + messageID, response);
				};
			});
		};

		uCoz.spam.reportDOM = function(event) {
			if( event.preventDefault ) event.preventDefault();
			var elem      = $(this);
			if( elem.hasClass('spam-report-working') ) return false;
			var scopeID   = uCoz.spam.config.scopeID;
			var messageID = elem.attr('data-message-id');
			var notSpam   = elem.attr('data-not-spam');
			var target    = elem.parents('.report-spam-target').eq(0);
			var height    = target.outerHeight(true);
			var margin    = target.css('margin-left');
			elem.html('<img src="/.s/img/wd/1/ajaxs.gif">').addClass('report-spam-working');
			uCoz.spam.report(scopeID, messageID, notSpam, function(response, context) {
				context.elem.text('').removeClass('report-spam-working');
				window.console && console.log && console.log(response); // DEBUG
				response.warning && window.console && console.warn && console.warn( 'uCoz.spam.report: warning: ' + response.warning, response );
				if( response.warning && !response.status ) {
					// non-critical warnings, may occur if user reloads cached page:
					if( response.warning == 'already_reported' ) response.status = 'message_spam';
					if( response.warning == 'not_reported'     ) response.status = 'message_not_spam';
				};
				if( response.error ) {
					context.target.html('<div style="height: ' + context.height + 'px; line-height: ' + context.height + 'px; color: red; font-weight: bold; text-align: center;">' + response.error + '</div>');
				} else if( response.status ) {
					if( response.status == 'message_spam' ) {
						context.elem.text(uCoz.spam.sign.notSpam).attr('data-not-spam', '1');
						var toggle = $('#report-spam-toggle-wrapper-' + response.message_id);
						if( toggle.length ) {
							toggle.find('.report-spam-toggle-text').text(uCoz.spam.sign.hidden);
							toggle.find('.report-spam-toggle-button').text(uCoz.spam.sign.show);
						} else {
							toggle = $('<div id="report-spam-toggle-wrapper-' + response.message_id + '" class="report-spam-toggle-wrapper" style="' + (context.margin ? 'margin-left: ' + context.margin : '') + '"><span class="report-spam-toggle-text">' + uCoz.spam.sign.hidden + '</span> <a class="report-spam-toggle-button" data-target="#' + uCoz.spam.config.idPrefix + response.message_id + '" href="javascript://">' + uCoz.spam.sign.show + '</a></div>').hide().insertBefore(context.target);
							uCoz.spam.handleDOM(toggle);
						};
						context.target.addClass('report-spam-hidden').fadeOut('fast', function() {
							toggle.fadeIn('fast');
						});
					} else if( response.status == 'message_not_spam' ) {
						context.elem.text(uCoz.spam.sign.spam).attr('data-not-spam', '0');
						$('#report-spam-toggle-wrapper-' + response.message_id).fadeOut('fast');
						$('#' + uCoz.spam.config.idPrefix + response.message_id).removeClass('report-spam-hidden').show();
					} else if( response.status == 'admin_message_not_spam' ) {
						elem.text(uCoz.spam.sign.admSpam).attr('title', uCoz.spam.sign.admSpamTitle).attr('data-not-spam', '0');
					} else if( response.status == 'admin_message_spam' ) {
						elem.text(uCoz.spam.sign.admNotSpam).attr('title', uCoz.spam.sign.admNotSpamTitle).attr('data-not-spam', '1');
					} else {
						alert('uCoz.spam.report: unknown status: ' + response.status);
					};
				} else {
					context.target.remove(); // no status returned by the server - remove message (from DOM).
				};
			}, { elem: elem, target: target, height: height, margin: margin });
			return false;
		};

		uCoz.spam.handleDOM = function(within) {
			within = $(within || 'body');
			within.find('.report-spam-wrap').each(function() {
				var elem = $(this);
				elem.parent().prepend(elem);
			});
			within.find('.report-spam-toggle-button').not('.report-spam-handled').click(function(event) {
				if( event.preventDefault ) event.preventDefault();
				var elem    = $(this);
				var wrapper = elem.parents('.report-spam-toggle-wrapper');
				var text    = wrapper.find('.report-spam-toggle-text');
				var target  = elem.attr('data-target');
				target      = $(target);
				target.slideToggle('fast', function() {
					if( target.is(':visible') ) {
						wrapper.addClass('report-spam-toggle-shown');
						text.text(uCoz.spam.sign.shown);
						elem.text(uCoz.spam.sign.hide);
					} else {
						wrapper.removeClass('report-spam-toggle-shown');
						text.text(uCoz.spam.sign.hidden);
						elem.text(uCoz.spam.sign.show);
					};
				});
				return false;
			}).addClass('report-spam-handled');
			within.find('.report-spam-remove').not('.report-spam-handled').click(function(event) {
				if( event.preventDefault ) event.preventDefault();
				var messageID = $(this).attr('data-message-id');
				del_item(messageID, 1);
				return false;
			}).addClass('report-spam-handled');
			within.find('.report-spam-btn').not('.report-spam-handled').click(uCoz.spam.reportDOM).addClass('report-spam-handled');
			window.console && console.log && console.log('uCoz.spam.handleDOM: done.');
            try { if (uCoz.manageCommentControls) { uCoz.manageCommentControls() } } catch(e) { window.console && console.log && console.log('manageCommentControls: fail.'); }
			return this;
		};
	
			uCoz.spam.handleDOM();
		</script></td></tr>
<tr><td colspan="2" align="center"></td></tr>
<tr><td colspan="2" height="10"></td></tr>
</table>



<div align="center" class="commReg"><!--<s5237>-->Добавлять комментарии могут только зарегистрированные пользователи.<!--</s>--><br />[ <a href="/register"><!--<s3089>-->Регистрация<!--</s>--></a> | <a href="javascript://" rel="nofollow" onclick="new _uWnd('LF', ' ', -250, -110, {autosize:1, closeonesc:1, resize:1 }, {url:'/index/40' } ); return false;"><!--<s3087>-->Вход<!--</s>--></a> ]</div>

<!-- </body> --></td><td style="background:url('/.s/t/621/16.gif');"></td></tr>
<tr><td width="15" height="15"><img src="/.s/t/621/17.gif" border="0"></td><td style="background:url('/.s/t/621/18.gif');"></td><td width="15" height="15"><img src="/.s/t/621/19.gif" border="0"></td></tr>
</table>
</td>

<td valign="top" width="210">
<!--U1DRIGHTER1Z-->
<!-- <block9640> -->
<table border="0" cellpadding="0" cellspacing="0" style="background:#A9B8C2;" width="210">
<tr><td height="52" style="background:url('/.s/t/621/9.gif') #FFFFFF;padding-top:14px; padding-left:35px;" valign="top"><b><!-- <bt> -->СДЕЛАЙ САМ<!-- </bt> --></b></td></tr>
<tr><td style="background:url('/.s/t/621/10.gif') #A82F38;padding:0 10px;"><!-- <bc> --><a href="http://joludi7.at.ua/"><img src="http://joludi7.at.ua/a_759a1d0236436.jpg" border="0" alt="" /></a><!-- </bc> --></td></tr>
<tr><td><img src="/.s/t/621/11.gif" border="0"></td></tr>
</table>
<!-- </block9640> -->

<!-- <block6> -->

<!-- </block6> -->

<!-- <block7> -->

<!-- </block7> -->

<!-- <block9> -->
<table border="0" cellpadding="0" cellspacing="0" style="background:#A9B8C2;" width="210">
<tr><td height="52" style="background:url('/.s/t/621/9.gif') #FFFFFF;padding-top:14px; padding-left:35px;" valign="top"><b><!-- <bt> --><!--<s5195>-->Статистика<!--</s>--><!-- </bt> --></b></td></tr>
<tr><td style="background:url('/.s/t/621/10.gif') #A82F38;padding:0 10px;"><div align="center"><!-- <bc> --><hr /><div class="tOnline" id="onl1">Онлайн всего: <b>1</b></div> <div class="gOnline" id="onl2">Гостей: <b>1</b></div> <div class="uOnline" id="onl3">Пользователей: <b>0</b></div>
<script type='text/javascript' language='javascript'>
r=escape(document.referrer); u=escape(document.URL);
s=(typeof(screen)=='undefined')?'':screen.width+'x'+screen.height+'x'+(screen.colorDepth?screen.colorDepth:screen.pixelDepth);
</script>
<table cellpadding="0" cellspacing="0" border="0" width="88" height="31" style="line-height:0;width:88px;"><tr style="height:10px;">
<td style="padding:0;width:38px;height:10px;"><a href="http://www.24log.de" target="_blank"><img src="http://counter.24log.ru/buttons/24/bg24-10_1.gif" width="38" height="10" border="0" alt="Besucherzahler" title="Besucherzahler " style="margin:0;padding:0;" /></a></td>
<td style="padding:0;width:50px;height:10px;"><a href="http://www.russianwoman.ca/index.php?Language=French" target="_blank"><img src="http://counter.24log.ru/buttons/24/bg24-10_3.gif" width="50" height="10" border="0" alt="belles femmes russes" style="margin:0;padding:0;"></a></td></tr>
<tr style="height:21px;"><td style="padding:0;width:38px;height:21px"><a href="http://www.24log.ru" target="_blank"><img src="http://counter.24log.ru/buttons/24/bg24-10_2.gif" width="38" height="21" alt="счетчик посещений" title="счетчик посещений" border="0" style="margin:0;padding:0;" /></a></td>
<script type='text/javascript' language='javascript'>
document.write('<td style="padding:0px;width:50px;height:21px;"><a href="http://www.24log.ru/rating/rating.php?c=16" target="_blank"><img border="0" width="50" height="21" src="http://counter.24log.ru/counter?id=105109&t=24&st=10&r='+r+'&s='+s+'&u='+u+'&rnd='+Math.random()+'" alt="Рейтинг: Разное" title="Показано число просмотров всего и за сегодня" style="margin:0;padding:0;" /></a></td>');
</script></tr></table><NOSCRIPT><a href="http://www.1russianbrides.com">single russian girls seeking serious relationship with men from USA</a></NOSCRIPT>
<!--Rating@Mail.ru counter-->
<a target="_top" href="http://top.mail.ru/jump?from=1712881">
<img src="http://d2.c2.ba.a1.top.mail.ru/counter?id=1712881;t=99" 
border="0" height="18" width="88" alt="Рейтинг@Mail.ru"></a>
<!--// Rating@Mail.ru counter-->
<script type="text/javascript">
document.write('<img '+
'src="http://counting.kmindex.ru/0.gif?uid=171289&r='+escape(document.referrer)+
'&'+Math.random()+'" width="1" height="1" border="0">')
</script><table cellpadding="0" cellspacing="0" border="0" style="line-height:10px;">
<tr><td colspan="2" style="padding:0;"><a href="http://www.24log.de" target="_blank"><img border="0" src="http://counter.24log.ru/buttons/cl4/49-0.gif" alt="html counter" title="" style="margin:0;padding:0;" /></a><a href="http://www.24log.ru" target="_blank"><img border="0" src="http://counter.24log.ru/count4_105109_49_1_5.pcx" alt="счетчик посетителей сайта" title="счетчик для сайта" style="margin:0;padding:0;" /></a></td></tr></table>
<noscript><table><tr><td style="padding:0px;"><font size="2" color="#EEEEEE"><a href="http://www.1russianbrides.com">young single mail order brides from Russia</a></font></td><td style="padding:0px;"><font size="1" color="#EDEBEE"><a href="http://www.1russianbrides.com">sexy russian mail order brides</a></font></td></tr></table></noscript>
<!-- ws.md v.7.13 -->
<script language='javascript' type='text/javascript'><!--
js="1.0";d=document;j="N";
if (self!=top){fr=1;r=escape(parent.document.referrer);}else{fr=0;r=escape(d.referrer);}
d.cookie="b=b"; c=0; if (d.cookie) { c=1; }
n=(navigator.appName.substring(0,2)=="Mi")?0:1;
z="&c="+c+"&fr="+fr+"&w="+window.innerWidth+"x"+window.innerHeight;
//--></script>
<script language='javascript1.1' type='text/javascript'><!--
js="1.1";j=navigator.javaEnabled()?"1":"0";z+="&j="+j;
//--></script>
<script language='javascript1.2' type='text/javascript'><!--
js="1.2";px=(n==0)?screen.colorDepth:screen.pixelDepth;z+="&s="+screen.width+'x'+screen.height+"&d="+px;
//--></script>
<script language='javascript1.3' type='text/javascript'><!--
js="1.3";
//--></script>
<script language=javascript type='text/javascript'><!--
z+="&js="+js+"&i=3410&l="+escape(window.location.href)+"&r="+r;
link='<a href=http://ws.md/in/3410/ target=_blank><img src="http://b88x15nc.ws.md/c.png?i=3410&p=14'+z+'" alt="Catalog-Moldova - Ranker, Statistics" border=0 width=88 height=15></a>';
d.write(link);
//--></script>
<!-- ws.md -->

<link rel="stylesheet" type="text/css" href="http://romale80.ucoz.ru/translation/romestyle.css">
<script type="text/javascript" src="http://romale80.ucoz.ru/translation/rome.js"></script>
<div class="chromestyle" id="chromemenu">
<ul>
<li><a href="http://romale80.ucoz.ru/translation/button.html" rel="dropmenu2" onclick="window.open('http://romale80.ucoz.ru/translation/button.html', '_blank', 'width=600,height=500,top=100,left=100,resizable=1,scrollbars=yes');return(false);" target="_blank"></a></li>
</ul>
</div>
<div id="dropmenu1" class="dropmenudiv">
</div>
<div id="dropmenu2" class="dropmenudiv" style="width: 300px;">
<form action="http://www.google.com/translate">
<script language="JavaScript">
document.write ("<input name=u value="+location.href+" type=hidden>")
</script><!-- </bc> --></div></td></tr>
<tr><td><img src="/.s/t/621/11.gif" border="0"></td></tr>
</table>
<!-- </block9> -->

<!-- <block10> -->
<table border="0" cellpadding="0" cellspacing="0" style="background:#A9B8C2;" width="210">
<tr><td height="52" style="background:url('/.s/t/621/9.gif') #FFFFFF;padding-top:14px; padding-left:35px;" valign="top"><b><!-- <bt> -->.<!-- </bt> --></b></td></tr>
<tr><td style="background:url('/.s/t/621/10.gif') #A82F38;padding:0 10px;"><!-- <bc> --><script type="text/javascript" src="/widget/?12;%D0%9E%D0%9F%D0%90%D0%A1%D0%9D%D0%9E"></script>
<script type='text/javascript' src='http://dosugcz.biz/b?size=6&arr=93&catgry=1&id=1079426&t=_blank'></script><!-- </bc> --></td></tr>
<tr><td><img src="/.s/t/621/11.gif" border="0"></td></tr>
</table>
<!-- </block10> -->
<!--/U1DRIGHTER1Z-->
<!-- -->
</td>
</tr>
</table>
<!-- </middle> -->
</td></tr></table>

<!--U1BFOOTER1Z-->
<table border="0" cellpadding="0" cellspacing="0" height="47" width="100%" style="background:url('/.s/t/621/20.gif');">
<tr><td width="50%" align="center" style="color:#B7B7B7;"><!-- <copy> -->Copyright MyCorp &copy; 2018<!-- </copy> --></td>
<td width="50%" align="center" style="color:#B7B7B7;"><!-- "' --><span class="pbncFBzG">Сделать <a href="http://www.ucoz.ru/">бесплатный сайт</a> с <a href="http://www.ucoz.ru/">uCoz</a></span></td></tr>
</table>
<!--/U1BFOOTER1Z-->

</td><td width="53" style="background:url(/.s/t/621/21.gif) #252525;"></td>
</tr></table>

</body>

</html>



<!-- 0.02992 (s23)27958 -->