/* Almost the wordpress admin css, with modifications to remove non grey colors and make it work hopefully across many themes - offered as a option for the front end if your site has no table or pagination css */

.csvlink,
.perpage-box { 
	clear:both;
}
.csvlink, .refreshlink { 
	float: left;
}
.search-box {
		float: right;
}

a.credits { 
	float: right; color:#777;
}

.userlist .tbody  {
	width: 100%;
}
.userlist .tbody .vcard {

}
.userlistfooter {
	clear: both;
}

#userslist2 .tbody .vcard {
	float: left;
	width: 280px;
	padding: 5px; 
}

.userlist .tbody .vcard .td {
	display: block;
	overflow: hidden;
}
#userslist2 .tbody .vcard .td1 {
	float: left;
	width: 100px;
}

#userslist {
	overflow-x:scroll;
	clear: both;
	
}
form#userlist {
	width: 100%;
}

/* the wordpress admin table css, */
table.userlist {
border-radius:3px;
border-spacing:0;
border-style:solid;
border-color:#ddd;
border-width:1px;
clear:both;
margin:auto;
width:100%;
z-index: 100;
}
.userlist * {
word-wrap:break-word;
}
.userlist thead tr th, .userlist tfoot tr th {
background:#eee scroll left top;
color:#222;
}
.userlist td, .userlist th {
border-color:#ddd;
}
.userlist th, .userlist td {
overflow:hidden;
}
.userlist th,.userlist td {
line-height:1.3em;
padding:7px 7px 8px;
text-align:left;
}
.userlist td, .userlist th {
border-bottom-style:solid;
border-bottom-width:1px;
}
.userlist .site-mature a {
	color: #660066; /* purple */
}

.userlist .site-deleted a{
	color: #996666; /* kind of pale purple*/
}
.userlist .site-archived a{
	color: FFCC99; /* sunset */
}
.userlist .site-spammed a{
	color: #990000; /* red */
}
.site-spammed .view,.site-archived .view, .site-deleted .view,.site-mature .view {
	background-color:#FECAC2;
}
/* ---------------------------------------- */
/* filtering form styles */
form#userlist label {
	display: block;
	float: left;
	width: 150px;
}
form#userlist .perpage-box label {
	width: auto;
	
}
form#userlist .perpage-box  {
	margin: 0 auto;	
}
/* ---------------------------------------- */
#user_totals {
	clear: both; float: right;
}
/* ---------------------------------------- */
/* Custom navigation styles */
#filter_buttons,
#user_navigation {
	clear: both;
	float: right;
	padding: 5px 0px;
}

/* ---------------------------------------- */
/* Pagination styles */
.tablenav {
clear:both;
padding: 3px;
margin-bottom: 3px;
background: #fff;
border-radius:3px;  
border-spacing:0;
border-style:solid;
border-width:1px;
border-color: #fff;
font-size:11px;
text-align: right;
}
.tablenav .tablenav-pages {
color:#555555;
}

.tablenav .displaying-num {
/*display:block; /* extra */
color:#777777;
font-size:12px;
font-style:italic;
margin-right:10px;
padding-bottom: 3px;
}
.tablenav .tablenav-pages a {
background:#EEEEEE;
color: #666;
/* border-color:#E3E3E3; */
}
.tablenav .tablenav-pages a, .tablenav-pages span.current {
border:1px solid;
padding:3px 6px;
text-decoration:none;
}
.tablenav .next, .tablenav .prev {
border-color:transparent;
/* color:#21759B; */
}
a.page-numbers {
border-bottom-style:solid;
border-bottom-width:2px;
font-weight:bold;
margin-right:1px;
padding:0 2px;
}
.tablenav .tablenav-pages .current {
background:#DFDFDF none;
border-color:#D3D3D3;
}
.tablenav .dots {
border-color:transparent;
}
.tablenav-pages br { 
/* fix those annoying themes or other plugins that insist on adding wpautop filter to post shortcode content */
	display: none
}
/*------------------------------ the widget */
.widget-container table.userlist,
.widget-container table.userlist tr ,
.widget-container table.userlist td {
	border: 0px;
}
.widget-container table.userlist td {
	padding: 2px;
}
table.ui-datepicker-calendar {
	background: #fff;
}
/*------------------------------ avatars */
.avatar img {
-moz-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
box-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
filter:filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=3, color=#808080);

}
span.avatar {
	margin-right: 6px;
}
/*------------------------------ names, not in table */
span.display_name {
	font-weight:bold;
	font-size: large;
}
/*------------------------------ names, not in table */
span.user_registered a:hover {
 color: red;
  position: relative;	
}
span.user_registered a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}