@charset "utf-8";
dl.slides {
	display:block;
	padding:0;
	margin:0;
	list-style:none;
	position:relative;
	z-index:100;
	float:left;
}
dl.slides dt {
	font:bold 14px arial, sans-serif;
	color:#800;
	padding:0 1px;
	background: url(glass.gif) repeat-y;
}
dl.slides dd {
	margin:0;
	padding:0;
}
dl.slides dd a {
	display:block;
	height:1px;
	background: url(glass.gif) repeat-y;
	color:#000;
	padding:0 4px;
	text-decoration:none;
	font:normal 14px arial, sans-serif;
}
dl.slides dd a:hover {
	text-decoration:underline;
}
dl.slides dd a img {
	display:block;
	z-index:-1;
	border:1px solid #888;
	position:absolute;
	left:15;
	top:5px;
	width:360px;
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	transform: rotate(-360deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
dl.slides dd a:hover img {
	left:-390px;
	top:-240px;
	width:1000px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
.clear {
	clear:both;
}


.normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.krasn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FF0000;
}
.zelen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #006400;
}
.sinii {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000066;
}
.rozovii {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #BD00EC;
}
.jeltii {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFF00;
}
.belii {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}
.Bnormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.Bkrasn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FF0000;
}
.Bzelen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #006400;
}
.Bsinii {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000066;
}
.Brozovii {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #BD00EC;
}
.Bjeltii {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFF00;
}
.Bbelii {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}
.Mnormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.Mkrasn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FF0000;
}
.Mzelen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #006400;
}
.Msinii {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000066;
}
.Mrozovii {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #BD00EC;
}
.Mjeltii {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFF00;
}
.Mbelii {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}
.Dekor {
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
	height: auto;
	width: auto;
	border: medium dotted #FF0000;
}
A:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #0000FF;
	text-decoration: none;
}
A:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #009900;
}
A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
	background-color: #000000;
	border: medium none #FF0000;
}
.SPAM {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #E6E6E6;
}
.FORMUL_UP {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	height: auto;
	vertical-align: super;
}
