body {
background-color: #ffffff;
}

table.thinframe {
border-top: 1px solid black;
border-left: 1px solid black;
margin-bottom: 20px;
}

table.thinframe tr th {
border-right: 1px solid black;
font-family: helvetica;
background-color: #e8e8e8;
padding: 2px 4px 2px 4px;
}

table.thinframe tr th.btmbrd {
border-right: 1px solid black;
border-bottom: 1px solid black;
font-family: helvetica;
background-color: #e8e8e8;
padding: 2px 4px 2px 4px;
}

table.thinframe tr td {
border-right: 1px solid black;
border-bottom: 1px solid black;
vertical-align: top;
padding: 4px;
}

td.checked {
background-color: #80ff80;
text-align: center;
}

img {
border: 0;
}

p {
text-indent: 1.5em;
text-align: justify;
}

div.pcon {
text-align: justify;
margin-top: 9px;
}

div.invitation {
background-color: #f0f0f0;
border: 1px solid #c0c0c0;
float: right;
font-family: Arial, Verdana, sans-serif;
padding: 10px;
margin: 20px;
font-size: 75%;
text-align: center;
color: #000000;
}

a {
text-decoration: none;
color: #0000c0;
}

a:visited {
text-decoration: none;
color: #0000c0;
}
