/* Размещённый здесь CSS будет применяться к теме оформления Monobook */

/*
Настройка #searchGoButton нужна чтобы в окошке поиска кнопки не разбивались на 2 строки
*/
#searchGoButton {
    padding-left: 0em;
    padding-right: 0em;
    font-weight: bold;
    font-size: 85%;
}

body.page-Заглавная_страница #t-cite,
body.page-Заглавная_страница #lastmod, 
body.page-Заглавная_страница #siteSub, 
body.page-Заглавная_страница #contentSub, 
body.page-Заглавная_страница h1.firstHeading {
  display: none !important;
}

/*
Убрать закладки "править" в данной схеме
аналогично строчке в LocalSettings.php
$wgDefaultUserOptions['user' ]['editsection']	= true; // показать вкладку Править для группы 'user' 
*/
#ca-edit { display: none; }