/*GENERAL EXT*/
#accordion1
{
	margin-bottom: 10px;
}
#accordion1 .custom P
{
	padding-right: 10px;
}
/*VERTICAL ACCORDION*/
.accordion-ver > UL, .accordion-hor > UL
{
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.accordion-ver > UL > LI
{
	display: block;
	margin: 0;
	list-style: none;
	clear: left;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #F0F0F0;
	background: #CCCCCC;
	=margin-bottom: -4px;
	/*IE6 e IE7*/
}
.accordion-ver > UL > LI:hover
{
	cursor: pointer;
}
.accordion-ver > UL > LI.last
{
	border: 0;
}
.accordion-ver > UL > LI > H1
{
	position: absolute;
	display: block;
	float: left;
	margin: 0;
	padding: 0 0 0 10px;
	top: 0;
	left: 0;
	font-size: inherit;
	text-decoration: none;
	text-transform: inherit;
	color: #000;
}
.accordion-ver > UL > LI > H1:hover
{
	cursor: pointer;
}
.accordion-ver > UL > LI > DIV
{
	display: none;
	background: #EEEEEE;
	overflow: hidden;
}
.accordion-ver:hover > UL > LI:hover > DIV
{
	cursor: default;
}
.accordion-ver > UL > LI > DIV > SPAN
{
	padding: 10px;
	display: block;
	text-align: left !important;
	line-height: normal;
}
.accordion-ver > UL > LI > SPAN.numericTab
{
	position: absolute;
	display: block;
	top: 0;
	padding: 0 10px 0 0;
	float: right;
	margin: 0;
	right: 0;
	font-size: 15px;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #000;
	background: #CCCCCC;
}
.accordion-ver > UL > LI > I
{
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	padding: 0 10px 0 0;
	float: right;
	margin: 0;
	font-size: 18px;
	text-decoration: none;
	color: #000;
}
/*HORIZONTAL ACCORDION*/
.accordion-hor > UL > LI
{
	display: block;
	margin: 0;
	list-style: none;
	overflow: hidden;
	float: left;
	padding: 0;
	position: relative;
	border-right: 1px solid #F0F0F0;
	background: #CCCCCC;
}
.accordion-hor > UL > LI:hover
{
	cursor: pointer;
}
.accordion-hor > UL > LI.last
{
	border: 0;
}
.accordion-hor > UL > LI > H1
{
	position: absolute;
	display: block;
	float: left;
	/*margin-top: 0;*/
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	width: 100%;
	top: 30px;
	text-align: left;
	font-size: 15px;
	text-decoration: none;
	text-transform: inherit;
	color: #000;
	/*CSS3 TRANSFORM ROTATE & TRANSLATE FOR H1*/
	white-space: nowrap;
	-moz-transform: rotate(90.0deg) translate(-40px,0px);
	/*FF3.5+*/
	-moz-transform-origin: 0 100%;
	-o-transform: rotate(90.0deg) translate(-40px,0px);
	/*Opera 10.5*/
	-o-transform-origin: 0 100%;
	-webkit-transform: rotate(90.0deg) translate(-40px,0px);
	/*Saf3.1+, Chrome*/
	-webkit-transform-origin: 0 100%;
	transform: rotate(90.0deg) translate(-40px, 0px);
	/*Saf3.1+, Chrome*/
	transform-origin: 0 100%;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0);
	/*IE6,IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)";
	/*IE8*/
}
.accordion-hor > UL > LI > H1:hover
{
	cursor: pointer;
}
.accordion-hor > UL > LI > DIV
{
	position: relative;
	display: block;
	float: left;
	overflow: hidden;
	=top: 0px;
	/*IE7 Hack*/
	=left: 0px;
	/*IE7 Hack*/
	margin: 0;
	background: #EEEEEE;
}
.accordion-hor:hover > UL > LI:hover > DIV
{
	cursor: default;
}
.accordion-hor > UL > LI > DIV > SPAN
{
	padding: 10px;
	display: block;
	text-align: left !important;
	line-height: normal;
}
.accordion-hor > UL > LI > SPAN.numericTab
{
	position: absolute;
	display: block;
	bottom: 0;
	padding: 10px 0;
	float: left;
	margin: 0;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	color: #000;
	background: #CCCCCC;
}
.accordion-hor > UL > LI > I
{
	position: absolute;
	display: block;
	bottom: 0;
	padding: 10px 0;
	float: left;
	margin: 0;
	font-size: 18px;
	text-decoration: none;
	color: #000;
}
