.codrops-header
{
	margin: 0 auto;
	padding: 2em 0 0;
	text-align: center;
}
.codrops-header H1
{
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
}
.codrops-header H1 SPAN
{
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 0.6em;
	opacity: 0.7;
}
/*To Navigation Style*/
.codrops-top
{
	width: 100%;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.69em;
	line-height: 2.2;
	background: #FFF;
}
.codrops-top A
{
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
}
.codrops-top SPAN.right
{
	float: right;
}
.codrops-top SPAN.right A
{
	display: block;
	float: left;
}
.codrops-icon:before
{
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: codropsicons;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}
.codrops-icon-drop:before
{
	content: "\e001";
}
.codrops-icon-prev:before
{
	content: "\e004";
}
.codrops-demos
{
	margin: 30px auto 0;
	padding: 30px 0;
}
.codrops-demos A, SECTION BUTTON
{
	display: inline-block;
	background: #A9A9A9;
	color: #FFF;
	font-weight: 400;
	/*padding: 10px 20px;*/
	margin: 5px;
	/*text-transform: uppercase;*/
	border-radius: 2px;
	letter-spacing: 1px;
}
.codrops-demos A:hover, .codrops-demos A:active, .codrops-demos A.current-demo
{
	background: #777;
}
SECTION
{
	/*padding: 1em 2em 5em;*/
	text-align: center;
	/*font-size: 1.5em;*/
}
SECTION P
{
	/*max-width: 600px;*/
	margin: 0 auto;
	/*padding: 20px 0;*/
}
SECTION BUTTON
{
	border: none;
	/*padding: 15px 30px;*/
	padding: 5px;
	outline: none;
	background: #85B91E;
}
.related > A
{
	border: 1px solid #99CC33;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	color: #99CC33;
	opacity: 0.8;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
	-webkit-backface-visibility: hidden;
}
.related A:hover
{
	border-color: #82B222;
	color: #82B222;
}
.related A IMG
{
	max-width: 100%;
}
.related A H3
{
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
	font-size: 65%;
	font-weight: 400;
}
@media screen and (max-width: 25em)
{
	.codrops-icon SPAN
	{
		display: none;
	}
}
