/*NEWSFLASH*/
.pl-category
{
	color: #59595A !important;
	font-weight: normal !important;
}
A.pl-title
{
	text-decoration: underline;
	text-transform: none !important;
	font-weight: normal !important;
}
UL.pl_handles LI A
{
	margin-top: -10px !important;
	margin: 0px;
}
/*SHOWNEWS COLOR*/
.well._color1 .pl-title, .well._color2 .pl-title, .well._color3 .pl-title, .well._color4 .pl-title, .well._color5 .pl-title
{
	color: #FFFFFF !important;
	text-decoration: underline;
}
.well._color1 .pl-category, .well._color2 .pl-category, .well._color3 .pl-category, .well._color4 .pl-category, .well._color5 .pl-category
{
	color: #FFFFFF !important;
	text-decoration: underline;
}
.pl-cs .pl-inner A
{
	text-decoration: underline !important;
}
/*LOGIN REGISTER MODULE*/
#login_register_module
{
}
#login_register_module .plus-userpanel
{
}
#login_register_module .plus-button A
{
	font-size: 10pt;
	font-weight: normal;
	color: #CCCCCC;
	text-decoration: underline;
}
#login_register_module .plus-button A:hover
{
	text-decoration: none;
}
/*ACCORDION*/
.plus-accordion-default > .plus-toggler SPAN.plus-title
{
	padding-left: 0px !important;
}
.plus-element
{
	margin-top: 10px;
}
.plus-element H4
{
	display: none !important;
}
