/*DISABLE DROPDOWN LIST FOR SMALL DEVICES*/
#hor_nav SELECT
{
  display: none;
}
/*GENERAL*/
.container_nav_outer
{
  height: 45px;
  padding-top: 10px;
}
#hor_nav
{
  position: relative;
  height: 45px;
  background-repeat: repeat;
  display: inline-block;
}
/*EXPAND INLINE BLOCK 100%*/
#hor_nav
{
  width: 100%;
}
/*//EXPAND INLINE BLOCK 100%*/
#hor_nav UL
{
  margin: 0;
  height: 30px;
}
#hor_nav LI
{
  list-style: none;
  float: left;
  padding-left: 0;
  position: relative;
  background-repeat: repeat-x;
  background-position: center right;
}
/*PADDING-TOP + PADDING BOTTOM + HEIGHT = #hor_nav height*/
#hor_nav LI A
{
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  border-right: 0px;
  font-size: 15px;
  background-image: none;
  background-repeat: repeat-x;
  background-position: center right;
  text-transform: inherit;
  font-weight: inherit;
  height: 25px;
  padding-top: 15px;
  padding-bottom: 5px;
}
/*// PADDING-TOP + PADDING BOTTOM + HEIGHT = #hor_nav height*/
#hor_nav LI.active A
{
  background-color: inherit;
  color: inherit;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center right;
}
#hor_nav .active.first A
{
}
#hor_nav LI A:hover, #hor_nav LI:hover A, #hor_nav LI.sfHover A
{
  text-decoration: none;
}
#hor_nav LI UL
{
  position: absolute;
  width: auto;
  left: -999em;
  margin-left: -1px;
  border: 0;
  border-top: 0;
  z-index: 20000;
}
#hor_nav LI UL UL
{
  margin: -31px 0 0 100%;
}
#hor_nav LI:hover UL UL, #hor_nav LI:hover UL UL UL, #hor_nav LI:hover UL UL UL UL, #hor_nav LI.sfHover UL UL, #hor_nav LI.sfHover UL UL UL, #hor_nav LI.sfHover UL UL UL UL
{
  left: -999em;
}
#hor_nav LI LI
{
  padding: 0;
  height: auto;
  min-width: 100%;
  white-space: nowrap;
  width: auto;
  z-index: 1100;
}
/*SUB ITEMS HEIGHT*/
#hor_nav LI LI A, #hor_nav LI LI.active A, #hor_nav LI LI A:hover
{
  margin: 0;
  height: 35px;
  line-height: 35px;
  background: inherit;
  padding-top: 0px;
  padding-bottom: 0px;
}
#hor_nav LI LI A, #hor_nav LI.active LI A
{
  font-weight: normal;
}
#hor_nav LI:hover UL, #hor_nav LI.sfHover UL
{
  left: 1px;
}
#hor_nav LI LI:hover UL, #hor_nav LI LI LI:hover UL, #hor_nav LI LI LI LI:hover UL, #hor_nav LI LI.sfHover UL, #hor_nav LI LI LI.sfHover UL, #hor_nav LI LI LI LI.sfHover UL
{
  left: 0;
}
/*PARENT DROPDOWN ITEMS*/
#hor_nav .deeper.parent .dropdown-toggle .caret
{
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  margin-top: 5px;
  margin-left: 3px;
  display: none !important;
}
/*SUBMENU  ACTIVE  RADIUS - DO NOT CHANGE THIS*/
#hor_nav .deeper.parent UL LI
{
  border-radius: 0px;
}
