@media (max-width: 290px)
{
	#search_module .search .inputbox
	{
		max-width: 50px !important;
	}
}
@media (max-width: 480px)
{
	#search_module
	{
		float: right !important;
	}
	.camera_caption > DIV
	{
		font-size: 12px !important;
	}
	#social_bm_outer
	{
		display: none !important;
	}
	#wowslider-container1 .ws-title SPAN
	{
		font-size: 14px !important;
	}
}
@media (max-width: 640px)
{
	#side_tabs
	{
		display: none;
	}
}
@media (max-width: 767px)
{
	#wowslider-container1 .ws-title
	{
		margin-bottom: 15% !important;
	}
	#logo_inner IMG
	{
		width: 29% !important;
	}
	.well
	{
		margin-bottom: 10px !important;
	}
	#wrapper_fullscreen
	{
		margin-right: 1% !important;
		margin-left: 1% !important;
	}
	.module-panel
	{
		display: none;
	}
	#hor_nav UL
	{
		display: none;
	}
	#hor_nav SELECT
	{
		display: inline-block;
		width: auto;
		min-height: 45px;
		border: 0px;
		margin-bottom: 0px;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 9pt;
		color: #333333;
		background-color: transparent;
		background-image: url(../images/menu_img/rs_arrow.png);
		background-repeat: no-repeat;
		background-position: left center;
		padding-left: 20px;
		text-indent: 50px;
	}
	#plus-login-panel
	{
		width: 200px !important;
	}
	#plus-register-panel
	{
		width: 280px !important;
	}
	#plus-logout-panel
	{
		width: 300px !important;
	}
	#login_module .inputbox
	{
		width: 100px !important;
	}
	#plus-member-registration INPUT
	{
		width: 100px !important;
	}
	#trigger-overlay
	{
		display: none;
	}
}
@media (max-width: 979px)
{
	#wrapper_fullscreen
	{
		margin-right: 3% !important;
		margin-left: 3% !important;
	}
	#well_inner #search_module .search .inputbox
	{
		width: 105px !important;
	}
	#well_inner #search_module .search .inputbox:focus
	{
		width: 105px !important;
	}
}
@media (max-width: 900px)
{
	#wowslider-container1 .ws_images IMG
	{
		height: auto !important;
	}
}
