/*Overlay style*/
.overlay
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.9);
	z-index: 999 !important;
}
/*Overlay closing cross*/
.overlay .overlay-close
{
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	/*text-indent: 200%;*/
	color: transparent;
	outline: none;
	z-index: 100;
}
/*Menu style*/
.overlay NAV
{
	/*text-align: center;*/
	position: relative;
	top: 50%;
	height: 60%;
	width: 90%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.overlay UL
{
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}
.overlay UL LI
{
	display: block;
	/*height: 20%;*/
	height: calc(100% / 5);
	/*min-height: 54px;*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.overlay UL LI A
{
	font-size: inherit;
	font-weight: inherit;
	display: block;
	color: #FFF;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.overlay UL LI A:hover, .overlay UL LI A:focus
{
	color: #F0F0F0;
}
/*Effects*/
.overlay-door
{
	visibility: hidden;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.5s 0.3s, visibility 0s 0.8s;
}
.overlay-door.open
{
	visibility: visible;
	width: 100%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}
.overlay-door NAV
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}
.overlay-door NAV, .overlay-door .overlay-close
{
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}
.overlay-door.open NAV, .overlay-door.open .overlay-close
{
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
.overlay-door.close NAV, .overlay-door.close .overlay-close
{
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
@media screen and (max-height: 30.5em)
{
	.overlay NAV
	{
		height: 70%;
		font-size: 34px;
	}
	.overlay UL LI
	{
		min-height: 34px;
	}
}
