/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu *
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu LI
{
	position: relative;
}
.sf-menu UL
{
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > LI
{
	float: left;
}
.sf-menu LI:hover > UL, .sf-menu LI.sfHover > UL
{
	display: block;
}
.sf-menu A
{
	display: block;
	position: relative;
}
.sf-menu UL UL
{
	top: 0;
	left: 100%;
}
/*** DEMO SKIN ***/
.sf-menu
{
	float: left;
	margin-bottom: 1em;
}
.sf-menu UL
{
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
	min-width: 12em;
	/*allow long menu items to determine submenu width*/
	=width: 12em;
	/*no auto sub width for IE7, see white-space comment below*/
}
.sf-menu A
{
	border-left: 1px solid #FFF;
	border-top: 1px solid #DFEEFF;
	/*fallback colour must use full shorthand*/
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	padding: 0.75em 1em;
	text-decoration: none;
	zoom: 1;
	/*IE7*/
}
.sf-menu A
{
	color: #13A;
}
.sf-menu LI
{
	background: #BDD2FF;
	white-space: nowrap;
	=white-space: normal;
	-webkit-transition: background .2s;
	transition: background 0.2s;
}
.sf-menu UL LI
{
	background: #AABDE6;
}
.sf-menu UL UL LI
{
	background: #9AAEDB;
}
.sf-menu LI:hover, .sf-menu LI.sfHover
{
	background: #CFDEFF;
	/*only transition out, not in*/
	-webkit-transition: none;
	transition: none;
}
/*** arrows  **/
.sf-arrows .sf-with-ul
{
	padding-right: 2.5em;
	=padding-right: 1em;
}
/*styling for both css and generated arrows*/
.sf-arrows .sf-with-ul:after
{
	content: '';
	position: absolute;
	top: 50%;
	right: 0.6em;
	margin-top: inherit;
	height: 0;
	width: 0;
	/*order of following 3 rules important for fallbacks to work*/
	border: 5px solid transparent;
	border-top-color: rgba(255, 255, 255, 0.5);
}
.sf-arrows > LI > .sf-with-ul:focus:after, .sf-arrows > LI:hover > .sf-with-ul:after, .sf-arrows > .sfHover > .sf-with-ul:after
{
	border-top-color: #FFFFFF;
}
/*styling for right-facing arrows*/
.sf-arrows UL .sf-with-ul:after
{
	margin-top: -5px;
	margin-right: -7px;
	border-color: transparent;
	border-left-color: rgba(255, 255, 255, 0.5);
	display: inherit;
}
.sf-arrows UL LI > .sf-with-ul:focus:after, .sf-arrows UL LI:hover > .sf-with-ul:after, .sf-arrows UL .sfHover > .sf-with-ul:after
{
	border-left-color: #FFFFFF;
}
